<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/RDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [5]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'AA.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx']

In [6]:
AA = os.path.join(path,'Shade_AA.xlsx')
print(AA)

/content/drive/My Drive/shadeimg/SVM shade/Shade_AA.xlsx

In [7]:
BB = os.path.join(path,'Shade_BB.xlsx')
print(BB)

/content/drive/My Drive/shadeimg/SVM shade/Shade_BB.xlsx

In [8]:
CC = os.path.join(path,'Shade_CC.xlsx')
print(CC)

/content/drive/My Drive/shadeimg/SVM shade/Shade_CC.xlsx

In [9]:
DD = os.path.join(path,'Shade_DD.xlsx')
print(DD)

/content/drive/My Drive/shadeimg/SVM shade/Shade_DD.xlsx

In [10]:
import numpy as np

In [11]:
from sklearn import metrics

In [12]:
from sklearn import datasets

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
clf=RandomForestClassifier(n_estimators=100)

#AA

##A1

In [16]:
table_A1= pd.read_excel(AA, sheet_name='A1')
table_A1

           R-ref       G-ref  ...  Setting                                       Img
0     237.172985  225.596383  ...     Set1  219558E6-E67A-4672-9E46-3D084D0D2032.png
1     239.246246  221.661797  ...     Set1  DDC4DC8E-B6F3-4C8E-B168-D77C99A200B0.png
2     237.328788  211.283256  ...     Set1  9C42EB3E-DDE7-43A2-91AE-4DCE60FCDAA9.png
3     236.773314  209.917864  ...     Set1  6305881D-3DFD-4ECE-BD1D-C5376038CD26.png
4     238.599951  222.450207  ...     Set1  07475504-D2B5-4A4F-960A-6AA5AE0EFFCF.png
...          ...         ...  ...      ...                                       ...
3195  219.796364  220.248600  ...     Set4  95DD0EB2-20EB-404E-BA97-3740D2D0DF96.png
3196  215.312718  216.245759  ...     Set4  2F670532-3760-42FC-A982-1670FEE99E66.png
3197  215.690610  216.009902  ...     Set4  547F5541-94BD-48D5-BD5B-25CBEFA4B8C9.png
3198  213.749290  210.436328  ...     Set4  E9149994-C281-48DA-AF5B-7A13ECD7E307.png
3199  211.214674  204.185537  ...     Set4  D360D9A0-603E-4947-A8FE-72EB861A079A.png

[3200 rows x 16 columns]

###RGB

In [17]:
RGB_A1 = table_A1.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [18]:
X_A1_RGB = np.array(RGB_A1)

In [19]:
y_A1_RGB =  table_A1.iloc[:,13:14]

In [20]:
y_A1_RGB = np.array(y_A1_RGB)

In [21]:
X_test_A1_RGB , X_train_A1_RGB , y_test_A1_RGB, y_train_A1_RGB = train_test_split(X_A1_RGB, y_A1_RGB, test_size=80, train_size=320)

In [22]:
clf.fit(X_train_A1_RGB, y_train_A1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [23]:
y_pred_A1_RGB = clf.predict(X_test_A1_RGB)

In [24]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))

Accuracy: 0.16875

###HSV

In [25]:
HSV_A1 = table_A1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [26]:
X_A1_HSV = np.array(HSV_A1)

In [27]:
y_A1_HSV =  table_A1.iloc[:,13:14]

In [28]:
y_A1_HSV = np.array(y_A1_HSV)

In [29]:
X_test_A1_HSV , X_train_A1_HSV , y_test_A1_HSV, y_train_A1_HSV = train_test_split(X_A1_HSV, y_A1_HSV, test_size=80, train_size=320)

In [30]:
clf.fit(X_train_A1_HSV, y_train_A1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [31]:
y_pred_A1_HSV = clf.predict(X_test_A1_HSV)

In [32]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))

Accuracy: 0.16875

##A2

In [33]:
table_A2= pd.read_excel(AA, sheet_name='A2')
table_A2

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  77308B8C-A458-48C0-A0EF-DD05DD0AEA75.png
1     231.726077  211.455077  ...     Set1  DD37E60E-8484-48E3-8FB4-7E94B71553F4.png
2     226.100641  197.575278  ...     Set1  0ED6DB80-7C02-41B3-88E9-CB382B96B37C.png
3     230.612531  207.562373  ...     Set1  8B551D28-1E87-49BD-9E20-8B3F5F08FE8E.png
4     232.133431  209.823472  ...     Set1  C12D1E9C-5BFA-4DD7-9D3F-194378F9673D.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4                                       NaN
3196  235.903985  218.940670  ...     Set4                                       NaN
3197  232.175960  216.874036  ...     Set4                                       NaN
3198  231.726077  211.455077  ...     Set4                                       NaN
3199  226.100641  197.575278  ...     Set4                                       NaN

[3200 rows x 16 columns]

###RGB

In [34]:
RGB_A2 = table_A2.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [35]:
X_A2_RGB = np.array(RGB_A2)

In [36]:
y_A2_RGB =  table_A2.iloc[:,13:14]

In [37]:
y_A2_RGB = np.array(y_A2_RGB)

In [38]:
X_test_A2_RGB , X_train_A2_RGB , y_test_A2_RGB, y_train_A2_RGB = train_test_split(X_A2_RGB, y_A2_RGB, test_size=80, train_size=320)

In [39]:
clf.fit(X_train_A2_RGB, y_train_A2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [40]:
y_pred_A2_RGB = clf.predict(X_test_A2_RGB)

In [41]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))

Accuracy: 0.29375

###HSV

In [42]:
HSV_A2 = table_A2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [43]:
X_A2_HSV = np.array(HSV_A2)

In [44]:
y_A2_HSV =  table_A2.iloc[:,13:14]

In [45]:
y_A2_HSV = np.array(y_A2_HSV)

In [46]:
X_test_A2_HSV , X_train_A2_HSV , y_test_A2_HSV, y_train_A2_HSV = train_test_split(X_A2_HSV, y_A2_HSV, test_size=80, train_size=320)

In [47]:
clf.fit(X_train_A2_HSV, y_train_A2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [48]:
y_pred_A2_HSV = clf.predict(X_test_A2_HSV)

In [49]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))

Accuracy: 0.384375

##A3

In [50]:
table_A3= pd.read_excel(AA, sheet_name='A3')
table_A3

           R-ref       G-ref  ...  Setting                                       Img
0     240.865271  224.637854  ...     Set1  BAD1342F-482E-488F-8241-A393B4779E26.png
1     234.887834  223.690123  ...     Set1  0E4BF624-DA48-45D7-8CEF-1F893F3E36A9.png
2     237.374726  219.960149  ...     Set1  A5A67F7B-D2B1-4729-8A0B-9BE2F2DF55C6.png
3     240.543706  213.146498  ...     Set1  35D1BEA8-E650-4D83-9D61-17AD65EABD39.png
4     240.498498  229.602062  ...     Set1  18FE9FE4-F848-465E-B7FE-7792C8A083CB.png
...          ...         ...  ...      ...                                       ...
3195  215.312718  216.245759  ...     Set4  B83176D1-07D1-4ED0-AAE9-FCD4574B5C77.png
3196  215.690610  216.009902  ...     Set4  7240B378-683D-473E-892E-7495463896C9.png
3197  213.749290  210.436328  ...     Set4  39327F65-2360-4CAA-96AB-CED449DA5C6F.png
3198  211.214674  204.185537  ...     Set4  B8C1AF4E-061D-4CB7-BFB5-69B3DE73FE89.png
3199  221.403052  217.426426  ...     Set4  7E6D5A19-5AB2-4317-83F1-CC56829025EB.png

[3200 rows x 16 columns]

###RGB

In [51]:
RGB_A3 = table_A3.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [52]:
X_A3_RGB = np.array(RGB_A3)

In [53]:
y_A3_RGB =  table_A3.iloc[:,13:14]

In [54]:
y_A3_RGB = np.array(y_A3_RGB)

In [55]:
X_test_A3_RGB , X_train_A3_RGB , y_test_A3_RGB, y_train_A3_RGB = train_test_split(X_A3_RGB, y_A3_RGB, test_size=80, train_size=320)

In [56]:
clf.fit(X_train_A3_RGB, y_train_A3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [57]:
y_pred_A3_RGB = clf.predict(X_test_A3_RGB)

In [58]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))

Accuracy: 0.1625

###HSV

In [59]:
HSV_A3 = table_A3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [60]:
X_A3_HSV = np.array(HSV_A3)

In [61]:
y_A3_HSV =  table_A3.iloc[:,13:14]

In [62]:
y_A3_HSV = np.array(y_A3_HSV)

In [63]:
X_test_A3_HSV , X_train_A3_HSV , y_test_A3_HSV, y_train_A3_HSV = train_test_split(X_A3_HSV, y_A3_HSV, test_size=80, train_size=320)

In [64]:
clf.fit(X_train_A3_HSV, y_train_A3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [65]:
y_pred_A3_HSV = clf.predict(X_test_A3_HSV)

In [66]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))

Accuracy: 0.2

##A3.5

In [67]:
table_A3_5= pd.read_excel(AA, sheet_name='A3_5')
table_A3_5

           R-ref       G-ref  ...  Setting                                       Img
0     235.799935  224.516030  ...     Set1  2DD07CB7-0413-41D5-BE23-51CA3C9164F5.png
1     238.009577  218.146498  ...     Set1  F28F074F-5B54-424C-8E70-EC56E06FC3E0.png
2     238.416687  212.713660  ...     Set1  6ABA4B94-D8B3-48BA-B1FA-6B5A081F40D1.png
3     239.417986  227.436572  ...     Set1  6B5870DF-9D32-4295-9D0E-F1DDA4ABD18F.png
4     239.556448  216.784027  ...     Set1  9EBCADA0-A39C-4692-B684-A967FE6F59B5.png
...          ...         ...  ...      ...                                       ...
3195  219.796364  220.248600  ...     Set4  3367950A-D8A9-40C8-801E-72E22D395C34.png
3196  215.312718  216.245759  ...     Set4  8BF2D842-EF44-47AB-AACC-56808B9B00FA.png
3197  215.690610  216.009902  ...     Set4  B9FB43E3-E88F-4DC7-BED4-D118E33499A7.png
3198  213.749290  210.436328  ...     Set4  F878BBCC-20A9-4948-A808-241864171B0C.png
3199  211.214674  204.185537  ...     Set4  990B353E-3527-4CD2-975B-05FF3A87C10F.png

[3200 rows x 16 columns]

###RGB

In [68]:
RGB_A3_5 = table_A3_5.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [69]:
X_A3_5_RGB = np.array(RGB_A3_5)

In [70]:
y_A3_5_RGB =  table_A3_5.iloc[:,13:14]

In [71]:
y_A3_5_RGB = np.array(y_A3_5_RGB)

In [72]:
X_test_A3_5_RGB , X_train_A3_5_RGB , y_test_A3_5_RGB, y_train_A3_5_RGB = train_test_split(X_A3_5_RGB, y_A3_5_RGB, test_size=80, train_size=320)

In [73]:
clf.fit(X_train_A3_5_RGB, y_train_A3_5_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [74]:
y_pred_A3_5_RGB = clf.predict(X_test_A3_5_RGB)

In [75]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))

Accuracy: 0.159375

###HSV

In [76]:
HSV_A3_5 = table_A1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [77]:
X_A3_5_HSV = np.array(HSV_A3_5)

In [78]:
y_A3_5_HSV =  table_A3_5.iloc[:,13:14]

In [79]:
y_A3_5_HSV = np.array(y_A3_5_HSV)

In [80]:
X_test_A3_5_HSV , X_train_A3_5_HSV , y_test_A3_5_HSV, y_train_A3_5_HSV = train_test_split(X_A3_5_HSV, y_A3_5_HSV, test_size=80, train_size=320)

In [81]:
clf.fit(X_train_A3_5_HSV, y_train_A3_5_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [82]:
y_pred_A3_5_HSV = clf.predict(X_test_A3_5_HSV)

In [83]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))

Accuracy: 0.190625

##A4

In [84]:
table_A4= pd.read_excel(AA, sheet_name='A4')
table_A4

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1     231.726077  211.455077  ...     Set1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2     226.100641  197.575278  ...     Set1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3     230.612531  207.562373  ...     Set1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4     232.133431  209.823472  ...     Set1  606F71D4-DD41-4252-B152-C019C53AE874.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
3196  235.903985  218.940670  ...     Set4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
3197  232.175960  216.874036  ...     Set4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
3198  231.726077  211.455077  ...     Set4  4A3A9795-2840-4478-8A47-89091756F7E2.png
3199  226.100641  197.575278  ...     Set4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[3200 rows x 16 columns]

###RGB

In [85]:
RGB_A4 = table_A4.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [86]:
X_A4_RGB = np.array(RGB_A4)

In [87]:
y_A4_RGB =  table_A4.iloc[:,13:14]

In [88]:
y_A4_RGB = np.array(y_A4_RGB)

In [89]:
X_test_A4_RGB , X_train_A4_RGB , y_test_A4_RGB, y_train_A4_RGB = train_test_split(X_A4_RGB, y_A4_RGB, test_size=80, train_size=320)

In [90]:
clf.fit(X_train_A4_RGB, y_train_A4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [91]:
y_pred_A4_RGB = clf.predict(X_test_A4_RGB)

In [92]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))

Accuracy: 0.34375

###HSV

In [93]:
HSV_A4 = table_A4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [94]:
X_A4_HSV = np.array(HSV_A4)

In [95]:
y_A4_HSV =  table_A4.iloc[:,13:14]

In [96]:
y_A4_HSV = np.array(y_A4_HSV)

In [97]:
X_test_A4_HSV , X_train_A4_HSV , y_test_A4_HSV, y_train_A4_HSV = train_test_split(X_A4_HSV, y_A4_HSV, test_size=80, train_size=320)

In [98]:
clf.fit(X_train_A4_HSV, y_train_A4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [99]:
y_pred_A4_HSV = clf.predict(X_test_A4_HSV)

In [100]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))

Accuracy: 0.4125

#BB

##B1

In [101]:
table_B1= pd.read_excel(BB, sheet_name='B1')
table_B1

           R-ref       G-ref  ...  Setting                                       Img
0     235.799935  224.516030  ...     Set1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1     238.009577  218.146498  ...     Set1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2     238.416687  212.713660  ...     Set1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3     239.417986  227.436572  ...     Set1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4     239.556448  216.784027  ...     Set1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png
...          ...         ...  ...      ...                                       ...
3195  219.796364  220.248600  ...     Set4  74703385-5AA7-490D-B51D-AFC0FB7A986C.png
3196  215.312718  216.245759  ...     Set4  3A448ACD-EAB0-4285-AF50-6A6B22782A93.png
3197  215.690610  216.009902  ...     Set4  11372242-96D9-4D23-BC32-C0E8379737A6.png
3198  213.749290  210.436328  ...     Set4  9F910090-FA0A-42A5-86BE-4AEBA5175FC0.png
3199  211.214674  204.185537  ...     Set4  F3A7B984-E4F8-4BF3-BDA6-81CF31EE6D7D.png

[3200 rows x 16 columns]

###RGB

In [102]:
RGB_B1 = table_B1.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [103]:
X_B1_RGB = np.array(RGB_B1)

In [104]:
y_B1_RGB =  table_B1.iloc[:,13:14]

In [105]:
y_B1_RGB = np.array(y_B1_RGB)

In [106]:
X_test_B1_RGB , X_train_B1_RGB , y_test_B1_RGB, y_train_B1_RGB = train_test_split(X_B1_RGB, y_B1_RGB, test_size=80, train_size=320)

In [107]:
clf.fit(X_train_B1_RGB, y_train_B1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [108]:
y_pred_B1_RGB = clf.predict(X_test_B1_RGB)

In [109]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))

Accuracy: 0.146875

###HSV

In [110]:
HSV_B1 = table_B1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [111]:
X_B1_HSV = np.array(HSV_B1)

In [112]:
y_B1_HSV =  table_B1.iloc[:,13:14]

In [113]:
y_B1_HSV = np.array(y_B1_HSV)

In [114]:
X_test_B1_HSV , X_train_B1_HSV , y_test_B1_HSV, y_train_B1_HSV = train_test_split(X_B1_HSV, y_B1_HSV, test_size=80, train_size=320)

In [115]:
clf.fit(X_train_B1_HSV, y_train_B1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [116]:
y_pred_B1_HSV = clf.predict(X_test_B1_HSV)

In [117]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))

Accuracy: 0.146875

##B2

In [118]:
table_B2= pd.read_excel(BB, sheet_name='B2')
table_B2

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  8844784E-18F2-4180-BD56-22527F5B506A.png
1     231.726077  211.455077  ...     Set1  9B82482F-3CCB-4D36-88DF-53EE592260BA.png
2     226.100641  197.575278  ...     Set1  EBE10373-8135-4270-894B-9887BE25C44D.png
3     230.612531  207.562373  ...     Set1  E371B8FC-E57F-49E3-8AF4-9DF8FDBFA8F3.png
4     232.133431  209.823472  ...     Set1  238A6F42-0DF6-424E-9279-99FE08A655A8.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  02517FFF-D929-4E27-ACB8-20C8F13BAE87.png
3196  235.903985  218.940670  ...     Set4  4DF000AA-D32F-40DF-A2DA-318515B01B63.png
3197  232.175960  216.874036  ...     Set4  976D4924-5C2B-4E8D-97B8-B6A27664091A.png
3198  231.726077  211.455077  ...     Set4  CADBBAEF-2109-470B-A58D-7F59A19534CD.png
3199  226.100641  197.575278  ...     Set4  BA693C32-D00A-4AA9-96D8-25720E26157C.png

[3200 rows x 16 columns]

###RGB

In [119]:
RGB_B2 = table_B2.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [120]:
X_B2_RGB = np.array(RGB_B2)

In [121]:
y_B2_RGB =  table_B2.iloc[:,13:14]

In [122]:
y_B2_RGB = np.array(y_B2_RGB)

In [123]:
X_test_B2_RGB , X_train_B2_RGB , y_test_B2_RGB, y_train_B2_RGB = train_test_split(X_B2_RGB, y_B2_RGB, test_size=80, train_size=320)

In [124]:
clf.fit(X_train_B2_RGB, y_train_B2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [125]:
y_pred_B2_RGB = clf.predict(X_test_B2_RGB)

In [126]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))

Accuracy: 0.31875

###HSV

In [127]:
HSV_B2 = table_B2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [128]:
X_B2_HSV = np.array(HSV_B2)

In [129]:
y_B2_HSV =  table_B2.iloc[:,13:14]

In [130]:
y_B2_HSV = np.array(y_B2_HSV)

In [131]:
X_test_B2_HSV , X_train_B2_HSV , y_test_B2_HSV, y_train_B2_HSV = train_test_split(X_B2_HSV, y_B2_HSV, test_size=80, train_size=320)

In [132]:
clf.fit(X_train_B2_HSV, y_train_B2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [290]:
y_pred_B2_HSV = clf.predict(X_test_B2_HSV)

In [291]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))

Accuracy: 0.325

##B3

In [135]:
table_B3= pd.read_excel(BB, sheet_name='B3')
table_B3

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  768ECDBF-055D-4AF1-9FB6-59F1D54C18F2.png
1     231.726077  211.455077  ...     Set1  A2B09945-ABB4-4B6C-8880-C0859637306B.png
2     226.100641  197.575278  ...     Set1  5C57C433-024F-4E4A-B661-2A33A270EE9D.png
3     230.612531  207.562373  ...     Set1  6D8E199E-9FF6-46BF-A7CA-D491A179F0EB.png
4     232.133431  209.823472  ...     Set1  09286B35-9904-4EE4-8AF2-92443DF8DA7D.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  FF51B534-D123-4EDC-9698-512268B65867.png
3196  235.903985  218.940670  ...     Set4  687AE017-A410-496A-9B9B-6A9FD3E326A4.png
3197  232.175960  216.874036  ...     Set4  5ADEE1DD-D8E0-4919-A19D-069AB7914B91.png
3198  231.726077  211.455077  ...     Set4  B1D08D81-83F8-499F-8E19-BB24994B89F1.png
3199  226.100641  197.575278  ...     Set4  48613D2F-02B3-4562-B1E2-D5C16CDE3EE0.png

[3200 rows x 16 columns]

###RGB

In [136]:
RGB_B3 = table_B3.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [137]:
X_B3_RGB = np.array(RGB_B3)

In [138]:
y_B3_RGB =  table_B3.iloc[:,13:14]

In [139]:
y_B3_RGB = np.array(y_B3_RGB)

In [140]:
X_test_B3_RGB , X_train_B3_RGB , y_test_B3_RGB, y_train_B3_RGB = train_test_split(X_B3_RGB, y_A3_RGB, test_size=80, train_size=320)

In [141]:
clf.fit(X_train_B3_RGB, y_train_B3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [142]:
y_pred_B3_RGB = clf.predict(X_test_B3_RGB)

In [143]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))

Accuracy: 0.346875

###HSV

In [144]:
HSV_B3 = table_B3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [145]:
X_B3_HSV = np.array(HSV_B3)

In [146]:
y_B3_HSV =  table_B3.iloc[:,13:14]

In [147]:
y_B3_HSV = np.array(y_B3_HSV)

In [148]:
X_test_B3_HSV , X_train_B3_HSV , y_test_B3_HSV, y_train_B3_HSV = train_test_split(X_B3_HSV, y_B3_HSV, test_size=80, train_size=320)

In [149]:
clf.fit(X_train_B3_HSV, y_train_B3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [150]:
y_pred_B3_HSV = clf.predict(X_test_B3_HSV)

In [151]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))

Accuracy: 0.3125

##B4

In [152]:
table_B4= pd.read_excel(BB, sheet_name='B4')
table_B4

           R-ref       G-ref  ...  Setting                                       Img
0     237.172985  225.596383  ...     Set1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1     239.246246  221.661797  ...     Set1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2     237.328788  211.283256  ...     Set1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3     236.773314  209.917864  ...     Set1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4     238.599951  222.450207  ...     Set1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png
...          ...         ...  ...      ...                                       ...
3195  219.796364  220.248600  ...     Set4  E8ED1D38-6C16-42ED-A658-58070626D8F1.png
3196  215.312718  216.245759  ...     Set4  094AD7F5-5108-42D2-83AE-4B037D362173.png
3197  215.690610  216.009902  ...     Set4  1047654A-B1CA-45B5-9EA7-8FDBE1B2C704.png
3198  213.749290  210.436328  ...     Set4  2AC65698-9959-467C-BF00-EC65879EEB15.png
3199  211.214674  204.185537  ...     Set4  B736DF83-AEA3-4E3C-94D7-E81EB850FD08.png

[3200 rows x 16 columns]

###RGB

In [153]:
RGB_B4 = table_B4.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [154]:
X_B4_RGB = np.array(RGB_B4)

In [155]:
y_B4_RGB =  table_B4.iloc[:,13:14]

In [156]:
y_B4_RGB = np.array(y_B4_RGB)

In [157]:
X_test_B4_RGB , X_train_B4_RGB , y_test_B4_RGB, y_train_B4_RGB = train_test_split(X_B4_RGB, y_B4_RGB, test_size=80, train_size=320)

In [158]:
clf.fit(X_train_B4_RGB, y_train_B4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [159]:
y_pred_B4_RGB = clf.predict(X_test_B4_RGB)

In [160]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))

Accuracy: 0.16875

###HSV

In [161]:
HSV_B4 = table_B4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [162]:
X_B4_HSV = np.array(HSV_B4)

In [163]:
y_B4_HSV =  table_B4.iloc[:,13:14]

In [164]:
y_B4_HSV = np.array(y_B4_HSV)

In [165]:
X_test_B4_HSV , X_train_B4_HSV , y_test_B4_HSV, y_train_B4_HSV = train_test_split(X_B4_HSV, y_B4_HSV, test_size=80, train_size=320)

In [166]:
clf.fit(X_train_B4_HSV, y_train_B4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [167]:
y_pred_B4_HSV = clf.predict(X_test_B4_HSV)

In [168]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))

Accuracy: 0.21875

#CC

##C1

In [169]:
table_C1= pd.read_excel(CC, sheet_name='C1')
table_C1

           R-ref       G-ref  ...  Setting                                       Img
0     235.799935  224.516030  ...     Set1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1     238.009577  218.146498  ...     Set1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2     238.416687  212.713660  ...     Set1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3     239.417986  227.436572  ...     Set1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4     239.556448  216.784027  ...     Set1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png
...          ...         ...  ...      ...                                       ...
3195  219.796364  220.248600  ...     Set4  F5353A8F-C3DA-49EB-8703-FE4D5E4FB54D.png
3196  215.312718  216.245759  ...     Set4  E2AE5BAB-42F7-4FEA-B83B-C1BB26EF45AB.png
3197  215.690610  216.009902  ...     Set4  3E52E4A6-956C-4393-A0F0-6856D436D35D.png
3198  213.749290  210.436328  ...     Set4  E214531D-5D8E-4221-B946-5C9CCD1063F7.png
3199  211.214674  204.185537  ...     Set4  3629EEB4-D148-4445-A00D-48AAA98C7F77.png

[3200 rows x 16 columns]

###RGB

In [170]:
RGB_C1 = table_B1.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [171]:
X_C1_RGB = np.array(RGB_C1)

In [172]:
y_C1_RGB =  table_C1.iloc[:,13:14]

In [173]:
y_C1_RGB = np.array(y_C1_RGB)

In [174]:
X_test_C1_RGB , X_train_C1_RGB , y_test_C1_RGB, y_train_C1_RGB = train_test_split(X_C1_RGB, y_C1_RGB, test_size=80, train_size=320)

In [175]:
clf.fit(X_train_C1_RGB, y_train_C1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [176]:
y_pred_C1_RGB = clf.predict(X_test_C1_RGB)

In [177]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))

Accuracy: 0.178125

###HSV

In [178]:
HSV_C1 = table_C1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [179]:
X_C1_HSV = np.array(HSV_C1)

In [180]:
y_C1_HSV =  table_C1.iloc[:,13:14]

In [181]:
y_C1_HSV = np.array(y_C1_HSV)

In [182]:
X_test_C1_HSV , X_train_C1_HSV , y_test_C1_HSV, y_train_C1_HSV = train_test_split(X_C1_HSV, y_C1_HSV, test_size=80, train_size=320)

In [183]:
clf.fit(X_train_C1_HSV, y_train_C1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [184]:
y_pred_C1_HSV = clf.predict(X_test_C1_HSV)

In [185]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))

Accuracy: 0.1625

##C2

In [186]:
table_C2= pd.read_excel(CC, sheet_name='C2')
table_C2

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  94B8BCF4-0790-415E-94D6-F74A6D812F9C.png
1     231.726077  211.455077  ...     Set1  6C2D0804-8381-4BFF-BF38-C0AC1273E618.png
2     226.100641  197.575278  ...     Set1  8BD8561A-0908-4A45-9B23-E1BB2A03640B.png
3     230.612531  207.562373  ...     Set1  6021A5FE-EFB1-4650-84F4-27408DAFC2BA.png
4     232.133431  209.823472  ...     Set1  1D2C4DD2-FF5D-446F-ADC8-BB6C6E19BF79.png
...          ...         ...  ...      ...                                       ...
3195  227.208912  204.784677  ...     Set4  59EF4224-39B2-41CA-8A14-279C72EAE105.png
3196  227.348430  209.548413  ...     Set4  ADFBFD6B-EDBD-4658-A799-E4CC1524A572.png
3197  228.715039  210.816573  ...     Set4  D919581E-CAD5-4BF6-9DA9-368BA4900F90.png
3198  219.748641  196.876877  ...     Set4  8254092E-E246-4572-81B9-62F1A8C01DC7.png
3199  216.765685  186.699862  ...     Set4  A6E5EDF5-CEF0-4E19-9101-A003BDC0202C.png

[3200 rows x 16 columns]

###RGB

In [187]:
RGB_C2 = table_C2.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [188]:
X_C2_RGB = np.array(RGB_C2)

In [189]:
y_C2_RGB =  table_C2.iloc[:,13:14]

In [190]:
y_C2_RGB = np.array(y_C2_RGB)

In [191]:
X_test_C2_RGB , X_train_C2_RGB , y_test_C2_RGB, y_train_C2_RGB = train_test_split(X_C2_RGB, y_C2_RGB, test_size=80, train_size=320)

In [192]:
clf.fit(X_train_C2_RGB, y_train_C2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [193]:
y_pred_C2_RGB = clf.predict(X_test_C2_RGB)

In [194]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))

Accuracy: 0.165625

###HSV

In [195]:
HSV_C2 = table_C2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [196]:
X_C2_HSV = np.array(HSV_C2)

In [197]:
y_C2_HSV =  table_C2.iloc[:,13:14]

In [198]:
y_C2_HSV = np.array(y_C2_HSV)

In [199]:
X_test_C2_HSV , X_train_C2_HSV , y_test_C2_HSV, y_train_C2_HSV = train_test_split(X_C2_HSV, y_C2_HSV, test_size=80, train_size=320)

In [200]:
clf.fit(X_train_C2_HSV, y_train_C2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [201]:
y_pred_C2_HSV = clf.predict(X_test_C2_HSV)

In [202]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))

Accuracy: 0.190625

##C3

In [203]:
table_C3= pd.read_excel(CC, sheet_name='C3')
table_C3

           R-ref       G-ref  ...  Setting                                       Img
0     229.674702  206.699294  ...     Set1  8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1     226.000406  203.723886  ...     Set1  A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2     224.442172  206.266618  ...     Set1  D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3     223.874199  201.225956  ...     Set1  B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4     209.855856  179.533723  ...     Set1  DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  98856006-89F4-4308-AE65-1EFE2F5AF75B.png
3196  235.903985  218.940670  ...     Set4  DF600DAA-CD96-43F9-A4C9-A4624F36BE2A.png
3197  232.175960  216.874036  ...     Set4  7DD857D9-3B5F-4A89-ACEC-40C55B638E29.png
3198  231.726077  211.455077  ...     Set4  5510740D-C9BA-424D-A6C2-B6457D11DF44.png
3199  226.100641  197.575278  ...     Set4  AA66EF79-D604-4A8C-8A95-3D1FB6BCF443.png

[3200 rows x 16 columns]

###RGB

In [204]:
RGB_C3 = table_C3.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [205]:
X_C3_RGB = np.array(RGB_C3)

In [206]:
y_C3_RGB =  table_C3.iloc[:,13:14]

In [207]:
y_C3_RGB = np.array(y_C3_RGB)

In [208]:
X_test_C3_RGB , X_train_C3_RGB , y_test_C3_RGB, y_train_C3_RGB = train_test_split(X_C3_RGB, y_C3_RGB, test_size=80, train_size=320)

In [209]:
clf.fit(X_train_C3_RGB, y_train_C3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [210]:
y_pred_C3_RGB = clf.predict(X_test_C3_RGB)

In [211]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))

Accuracy: 0.165625

###HSV

In [212]:
HSV_C3 = table_C3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [213]:
X_C3_HSV = np.array(HSV_C3)

In [214]:
y_C3_HSV =  table_C3.iloc[:,13:14]

In [215]:
y_C3_HSV = np.array(y_C3_HSV)

In [216]:
X_test_C3_HSV , X_train_C3_HSV , y_test_C3_HSV, y_train_C3_HSV = train_test_split(X_C3_HSV, y_C3_HSV, test_size=80, train_size=320)

In [217]:
clf.fit(X_train_C3_HSV, y_train_C3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [218]:
y_pred_C3_HSV = clf.predict(X_test_C3_HSV)

In [219]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))

Accuracy: 0.240625

##C4

In [220]:
table_C4= pd.read_excel(CC, sheet_name='C4')
table_C4

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1     231.726077  211.455077  ...     Set1  0323B3D5-373A-4B67-8908-4387145AD384.png
2     226.100641  197.575278  ...     Set1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3     230.612531  207.562373  ...     Set1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4     232.133431  209.823472  ...     Set1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  3A4875C4-4B88-4FF9-B801-4DB7423AB6A4.png
3196  235.903985  218.940670  ...     Set4  FA4C9517-6C8B-45B7-A5A5-31166E270623.png
3197  232.175960  216.874036  ...     Set4  155490BC-336A-49B8-8DB0-3E44C79233C8.png
3198  231.726077  211.455077  ...     Set4  040EA918-F713-44A1-915E-B36CD47D9BAD.png
3199  226.100641  197.575278  ...     Set4  E3B87A4E-202B-4EB9-B387-E65384E26706.png

[3200 rows x 16 columns]

###RGB

In [221]:
RGB_C4 = table_C4.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [222]:
X_C4_RGB = np.array(RGB_C4)

In [223]:
y_C4_RGB =  table_C4.iloc[:,13:14]

In [224]:
y_C4_RGB = np.array(y_C4_RGB)

In [225]:
X_test_C4_RGB , X_train_C4_RGB , y_test_C4_RGB, y_train_C4_RGB = train_test_split(X_C4_RGB, y_C4_RGB, test_size=80, train_size=320)

In [226]:
clf.fit(X_train_C4_RGB, y_train_C4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [227]:
y_pred_C4_RGB = clf.predict(X_test_C4_RGB)

In [228]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))

Accuracy: 0.396875

###HSV

In [229]:
HSV_C4 = table_C4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [230]:
X_C4_HSV = np.array(HSV_C4)

In [231]:
y_C4_HSV =  table_C4.iloc[:,13:14]

In [232]:
y_C4_HSV = np.array(y_C4_HSV)

In [233]:
X_test_C4_HSV , X_train_C4_HSV , y_test_C4_HSV, y_train_C4_HSV = train_test_split(X_C4_HSV, y_C4_HSV, test_size=80, train_size=320)

In [234]:
clf.fit(X_train_C4_HSV, y_train_C4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [235]:
y_pred_C4_HSV = clf.predict(X_test_C4_HSV)

In [236]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))

Accuracy: 0.371875

#DD

##D2

In [237]:
table_D2= pd.read_excel(DD, sheet_name='D2')
table_D2

           R-ref       G-ref  ...  Setting                                       Img
0     229.674702  206.699294  ...     Set1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1     226.000406  203.723886  ...     Set1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2     224.442172  206.266618  ...     Set1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3     223.874199  201.225956  ...     Set1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4     209.855856  179.533723  ...     Set1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  930BCBF0-9910-4884-8228-F2A135105AD6.png
3196  235.903985  218.940670  ...     Set4  B811B91C-FF15-4F72-AF53-4D0A2346EF9E.png
3197  232.175960  216.874036  ...     Set4  EFCF8DF7-D986-4A84-B87F-B7C96CBEB72C.png
3198  231.726077  211.455077  ...     Set4  F62B2418-6BD9-4E8F-AA84-7F33573893C9.png
3199  226.100641  197.575278  ...     Set4  66E2C493-32D2-491F-854C-A1D9067414F4.png

[3200 rows x 16 columns]

###RGB

In [238]:
RGB_D2 = table_D2.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [239]:
X_D2_RGB = np.array(RGB_D2)

In [240]:
y_D2_RGB =  table_D2.iloc[:,13:14]

In [241]:
y_D2_RGB = np.array(y_D2_RGB)

In [242]:
X_test_D2_RGB , X_train_D2_RGB , y_test_D2_RGB, y_train_D2_RGB = train_test_split(X_D2_RGB, y_D2_RGB, test_size=80, train_size=320)

In [243]:
clf.fit(X_train_D2_RGB, y_train_D2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [244]:
y_pred_D2_RGB = clf.predict(X_test_D2_RGB)

In [245]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))

Accuracy: 0.1875

###HSV

In [246]:
HSV_D2 = table_D2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [247]:
X_D2_HSV = np.array(HSV_D2)

In [248]:
y_D2_HSV =  table_D2.iloc[:,13:14]

In [249]:
y_D2_HSV = np.array(y_D2_HSV)

In [250]:
X_test_D2_HSV , X_train_D2_HSV , y_test_D2_HSV, y_train_D2_HSV = train_test_split(X_D2_HSV, y_D2_HSV, test_size=80, train_size=320)

In [251]:
clf.fit(X_train_D2_HSV, y_train_D2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [252]:
y_pred_D2_HSV = clf.predict(X_test_D2_HSV)

In [253]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))

Accuracy: 0.228125

##D3

In [254]:
table_D3= pd.read_excel(DD, sheet_name='D3')
table_D3

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  57601EF7-37D5-4783-A278-238D30F60912.png
1     231.726077  211.455077  ...     Set1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2     226.100641  197.575278  ...     Set1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3     230.612531  207.562373  ...     Set1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4     232.133431  209.823472  ...     Set1  714E83ED-391B-480A-85E8-DC4AB8864683.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  10CE35C5-6743-4EEA-98A9-680ECFAEEC9D.png
3196  235.903985  218.940670  ...     Set4  944DB7CA-D69F-4E46-BD49-456D2156BCD0.png
3197  232.175960  216.874036  ...     Set4  A632E1CE-7393-43EB-8D28-77A0DB3FB2FB.png
3198  231.726077  211.455077  ...     Set4  9FBF239E-E5C8-4445-AA48-402EB3B8A4E4.png
3199  226.100641  197.575278  ...     Set4  70F2BDFA-31E1-4B8C-98B7-FD92D3194389.png

[3200 rows x 16 columns]

###RGB

In [255]:
RGB_D3 = table_D3.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [256]:
X_D3_RGB = np.array(RGB_D3)

In [257]:
y_D3_RGB =  table_D3.iloc[:,13:14]

In [258]:
y_D3_RGB = np.array(y_D3_RGB)

In [259]:
X_test_D3_RGB , X_train_D3_RGB , y_test_D3_RGB, y_train_D3_RGB = train_test_split(X_D3_RGB, y_D3_RGB, test_size=80, train_size=320)

In [260]:
clf.fit(X_train_D3_RGB, y_train_D3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [261]:
y_pred_D3_RGB = clf.predict(X_test_D3_RGB)

In [262]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

Accuracy: 0.25

###HSV

In [263]:
HSV_D3 = table_D3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [264]:
X_D3_HSV = np.array(HSV_D3)

In [265]:
y_D3_HSV =  table_D3.iloc[:,13:14]

In [266]:
y_D3_HSV = np.array(y_D3_HSV)

In [267]:
X_test_D3_HSV , X_train_D3_HSV , y_test_D3_HSV, y_train_D3_HSV = train_test_split(X_D3_HSV, y_D3_HSV, test_size=80, train_size=320)

In [268]:
clf.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [269]:
y_pred_D3_HSV = clf.predict(X_test_D3_HSV)

In [270]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.275

##D4

In [271]:
table_D4= pd.read_excel(DD, sheet_name='D4')
table_D4

           R-ref       G-ref  ...  Setting                                       Img
0     240.865271  224.637854  ...     Set1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1     234.887834  223.690123  ...     Set1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2     237.374726  219.960149  ...     Set1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3     240.543706  213.146498  ...     Set1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4     240.498498  229.602062  ...     Set1  72376331-D805-4BAC-AE50-7A04A6729880.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  4B26C027-BBB5-43B7-AD79-12A17199C662.png
3196  235.903985  218.940670  ...     Set4  D0B2410F-4D19-428D-ACAB-853194360AB9.png
3197  232.175960  216.874036  ...     Set4  239381EF-714F-4EC1-9D07-36CEF09D68A1.png
3198  231.726077  211.455077  ...     Set4  CA6B7419-61FE-4110-9EC1-CCD71F2B7962.png
3199  226.100641  197.575278  ...     Set4  B54B3165-ED2D-4BAB-A9A0-CACAC9F50D49.png

[3200 rows x 16 columns]

###RGB

In [272]:
RGB_D4 = table_D4.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [273]:
X_D4_RGB = np.array(RGB_D4)

In [274]:
y_D4_RGB =  table_D4.iloc[:,13:14]

In [275]:
y_D4_RGB = np.array(y_D4_RGB)

In [276]:
X_test_D4_RGB , X_train_D4_RGB , y_test_D4_RGB, y_train_D4_RGB = train_test_split(X_D4_RGB, y_D4_RGB, test_size=80, train_size=320)

In [277]:
clf.fit(X_train_D4_RGB, y_train_D4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [278]:
y_pred_D4_RGB = clf.predict(X_test_D4_RGB)

In [279]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

Accuracy: 0.340625

###HSV

In [280]:
HSV_D4 = table_D4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Shade-ref','Setting','Img','Shade'], axis=1)

In [281]:
X_D4_HSV = np.array(HSV_D4)

In [282]:
y_D4_HSV =  table_D4.iloc[:,13:14]

In [283]:
y_D4_HSV = np.array(y_D4_HSV)

In [284]:
X_test_D4_HSV , X_train_D4_HSV , y_test_D4_HSV, y_train_D4_HSV = train_test_split(X_D4_HSV, y_D4_HSV, test_size=80, train_size=320)

In [285]:
clf.fit(X_train_D4_HSV, y_train_D4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [286]:
y_pred_D4_HSV = clf.predict(X_test_D4_HSV)

In [287]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

Accuracy: 0.34375

#สรุปผล

##RGB

In [288]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

A1 มี Accuracy เท่ากับ: 0.16875
A2 มี Accuracy เท่ากับ: 0.29375
A3 มี Accuracy เท่ากับ: 0.1625
A3.5 มี Accuracy เท่ากับ: 0.159375
A4 มี Accuracy เท่ากับ: 0.34375
B1 มี Accuracy เท่ากับ: 0.146875
B2 มี Accuracy เท่ากับ: 0.31875
B3 มี Accuracy เท่ากับ: 0.346875
B4 มี Accuracy เท่ากับ: 0.16875
C1 มี Accuracy เท่ากับ: 0.178125
C2 มี Accuracy เท่ากับ: 0.165625
C3 มี Accuracy เท่ากับ: 0.165625
C4 มี Accuracy เท่ากับ: 0.396875
D2 มี Accuracy เท่ากับ: 0.1875
D3 มี Accuracy เท่ากับ: 0.25
D4 มี Accuracy เท่ากับ: 0.340625

##HSV

In [292]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

A1 มี Accuracy เท่ากับ: 0.16875
A2 มี Accuracy เท่ากับ: 0.459375
A3 มี Accuracy เท่ากับ: 0.2
A3.5 มี Accuracy เท่ากับ: 0.190625
A4 มี Accuracy เท่ากับ: 0.4125
B1 มี Accuracy เท่ากับ: 0.146875
B2 มี Accuracy เท่ากับ: 0.325
B3 มี Accuracy เท่ากับ: 0.3125
B4 มี Accuracy เท่ากับ: 0.21875
C1 มี Accuracy เท่ากับ: 0.1625
C2 มี Accuracy เท่ากับ: 0.190625
C3 มี Accuracy เท่ากับ: 0.240625
C4 มี Accuracy เท่ากับ: 0.371875
D2 มี Accuracy เท่ากับ: 0.228125
D3 มี Accuracy เท่ากับ: 0.275
D4 มี Accuracy เท่ากับ: 0.34375