<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/RDF_set1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [5]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerCC.xlsx',
 'Color-checkerDD.xlsx',
 'Color-checkerBB.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting1.xlsx',
 'Setting2.xlsx',
 'Setting3.xlsx',
 'Setting4.xlsx']

In [24]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [11]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [12]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [13]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [14]:
import numpy as np

In [15]:
from sklearn import metrics

In [16]:
from sklearn import datasets

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [95]:
clf=RandomForestClassifier()

#AA

##A1

In [628]:
table_A1Set1 = pd.read_excel(Set1 , sheet_name='A1Set1 ')
table_A1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.261911  226.772178  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1  238.432676  226.124909  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2  238.783134  226.525201  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3  238.943430  226.796039  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4  238.848145  226.354679  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png

[5 rows x 16 columns]

In [629]:
table_A1Set2 = pd.read_excel(Set2, sheet_name='A1Set2 ')
table_A1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.261911  226.772178  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1  238.432676  226.124909  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2  238.783134  226.525201  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3  238.943430  226.796039  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4  238.848145  226.354679  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png

[5 rows x 16 columns]

In [630]:
table_A1Set3 = pd.read_excel(Set3, sheet_name='A1Set3 ')
table_A1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  242.097708  230.045066  ...    A1  6CF2D4E8-1C13-4476-96FB-D618BCB119B7.png
1  241.384713  229.412879  ...    A1  787BE769-CA68-44C2-8899-D23018025CD8.png
2  241.642094  229.601301  ...    A1  E6125B9A-16C0-48C4-8EDD-9B488919BCCF.png
3  241.836053  229.881216  ...    A1  116812E7-7A6A-414F-876F-107C8BEF7D33.png
4  241.718434  229.483100  ...    A1  EF1A70C0-9B72-43EF-9272-24C3A1D0BFA8.png

[5 rows x 16 columns]

In [631]:
table_A1Set4 = pd.read_excel(Set4, sheet_name='A1Set4 ')
table_A1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  231.203768  214.152486  ...    A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1  226.316628  208.979118  ...    A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2  231.688520  213.571581  ...    A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3  232.097902  213.545843  ...    A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4  231.566045  212.888889  ...    A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png

[5 rows x 16 columns]

###RGB

In [632]:
print(table_A1Set1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [633]:
RGB_A1_Set1 = table_A1Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [634]:
RGB_A1_Set2 = table_A1Set2

In [635]:
RGB_A1_Set3 = table_A1Set3

In [636]:
RGB_A1_Set4 = table_A1Set4

In [637]:
RGB_A1_concat0 = pd.concat([RGB_A1_Set2,RGB_A1_Set3])

In [638]:
RGB_A1_concat1 = pd.concat([RGB_A1_concat0,RGB_A1_Set4])

In [639]:
RGB_A1_concat2 = RGB_A1_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [640]:
X_test_A1_RGB = np.array(RGB_A1_Set1)

In [641]:
y_A1_RGB =  table_Set1.iloc[:,14:15]

In [642]:
y_test_A1_RGB = np.array(y_A1_RGB)

In [643]:
X_train_A1_RGB = np.array(RGB_A1_concat2)

In [644]:
y_train_A1RGB = RGB_A1_concat1.iloc[:,14:15]

In [645]:
y_train_A1_RGB = np.array(y_train_A1RGB)

In [646]:
X_train_A1_RGB.shape

(2400, 6)

In [647]:
y_train_A1_RGB.shape

(2400, 1)

In [648]:
clf.fit(X_train_A1_RGB, y_train_A1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [649]:
y_pred_A1_RGB = clf.predict(X_test_A1_RGB)

In [650]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))

Accuracy: 1.0

###HSV

In [651]:
print(table_Set1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [652]:
HSV_A1_Set1 = table_A1Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [653]:
HSV_A1_concat2 = RGB_A1_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [654]:
X_test_A1_HSV = np.array(HSV_A1_Set1)

In [655]:
y_A1_HSV =  table_Set1.iloc[:,14:15]

In [656]:
y_test_A1_HSV = np.array(y_A1_RGB)

In [657]:
X_train_A1_HSV = np.array(HSV_A1_concat2)

In [658]:
y_train_A1HSV = RGB_A1_concat1.iloc[:,14:15]

In [659]:
y_train_A1_HSV = np.array(y_train_A1HSV)

In [660]:
X_train_A1_HSV.shape

(2400, 6)

In [661]:
y_train_A1_HSV.shape

(2400, 1)

In [662]:
clf.fit(X_train_A1_HSV, y_train_A1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [663]:
y_pred_A1_HSV = clf.predict(X_test_A1_HSV)

In [664]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))

Accuracy: 1.0

##A2

In [665]:
table_A2Set1 = pd.read_excel(Set1 , sheet_name='A2Set1')
table_A2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.776127  228.569056  ...    A1  77308B8C-A458-48C0-A0EF-DD05DD0AEA75.png
1  240.009518  227.942113  ...    A1  DD37E60E-8484-48E3-8FB4-7E94B71553F4.png
2  240.346445  228.310120  ...    A1  0ED6DB80-7C02-41B3-88E9-CB382B96B37C.png
3  240.529040  228.597708  ...    A1  8B551D28-1E87-49BD-9E20-8B3F5F08FE8E.png
4  240.453768  228.207459  ...    A1  C12D1E9C-5BFA-4DD7-9D3F-194378F9673D.png

[5 rows x 16 columns]

In [666]:
table_A2Set2 = pd.read_excel(Set2, sheet_name='A2Set2')
table_A2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  242.097708  230.045066  ...    A1  498C8AAA-DF5D-452F-A34B-1BE1778A67FB.png
1  241.384713  229.412879  ...    A1  B6610BED-38BC-4978-B8A1-991530002FFD.png
2  241.642094  229.601301  ...    A1  FB80505B-1B14-48B6-9D07-03D0B6E36E03.png
3  241.836053  229.881216  ...    A1  7B8A2CF0-D4CF-40A3-B74E-B1AA9E33011E.png
4  241.718434  229.483100  ...    A1  E2D4FFA2-090A-4B46-B8C8-57E88EBAD5D2.png

[5 rows x 16 columns]

In [667]:
table_A2Set3 = pd.read_excel(Set3, sheet_name='A2Set3 ')
table_A2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.261911  226.772178  ...    A1  3055D600-52FE-426B-8FB7-F22AD0D97955.png
1  238.432676  226.124909  ...    A1  94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
2  238.783134  226.525201  ...    A1  61347A1C-5E5B-48EE-BB2D-AA9068046272.png
3  238.943430  226.796039  ...    A1  65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
4  238.848145  226.354679  ...    A1  86927B90-BCE2-4CA1-8556-398BF4B5A60E.png

[5 rows x 16 columns]

In [668]:
table_A2Set4 = pd.read_excel(Set4, sheet_name='A2Set4')
table_A2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  231.203768  214.152486  ...    A1  FE70379B-BE7C-4C2F-8F6B-BEC1809BF9B3.png
1  226.316628  208.979118  ...    A1  BA3AFF8D-AAA7-4A26-A99D-58E7730257A4.png
2  231.688520  213.571581  ...    A1  0F941597-744A-4ADE-973D-21AB168D1129.png
3  232.097902  213.545843  ...    A1  A63282AB-FC26-4DE4-8787-9276F2B800C0.png
4  231.566045  212.888889  ...    A1  D5F0E3B1-E9A0-4496-8806-ABEB0B70C533.png

[5 rows x 16 columns]

###RGB

In [669]:
print(table_A2Set1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [670]:
RGB_A2_Set1 = table_A2Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [671]:
RGB_A2_Set2 = table_A2Set2

In [672]:
RGB_A2_Set3 = table_A2Set3

In [673]:
RGB_A2_Set4 = table_A2Set4

In [674]:
RGB_A2_concat0 = pd.concat([RGB_A2_Set2,RGB_A2_Set3])

In [675]:
RGB_A2_concat1 = pd.concat([RGB_A2_concat0,RGB_A2_Set4])

In [676]:
print(RGB_A2_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img', 'Set4'],
      dtype='object')

In [677]:
RGB_A2_concat2 = RGB_A2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [678]:
X_test_A2_RGB = np.array(RGB_A2_Set1)

In [679]:
y_A2_RGB =  table_A2Set1.iloc[:,14:15]

In [680]:
y_test_A2_RGB = np.array(y_A2_RGB)

In [681]:
X_train_A2_RGB = np.array(RGB_A2_concat2)

In [682]:
y_train_A2RGB = RGB_A2_concat1.iloc[:,14:15]

In [683]:
y_train_A2_RGB = np.array(y_train_A2RGB)

In [684]:
X_train_A2_RGB.shape

(2400, 6)

In [685]:
y_train_A2_RGB.shape

(2400, 1)

In [686]:
clf.fit(X_train_A2_RGB, y_train_A2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [687]:
y_pred_A2_RGB = clf.predict(X_test_A2_RGB)

In [688]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))

Accuracy: 0.95625

###HSV

In [689]:
print(table_A2Set1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [690]:
HSV_A2_Set1 = table_A2Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [691]:
HSV_A2_concat2 = RGB_A2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [692]:
X_test_A2_HSV = np.array(HSV_A2_Set1)

In [693]:
y_A2_HSV =  table_A2Set1.iloc[:,14:15]

In [694]:
y_test_A2_HSV = np.array(y_A2_RGB)

In [695]:
X_train_A2_HSV = np.array(HSV_A2_concat2)

In [696]:
y_train_A2HSV = RGB_A2_concat1.iloc[:,14:15]

In [697]:
y_train_A2_HSV = np.array(y_train_A2HSV)

In [698]:
X_train_A2_HSV.shape

(2400, 6)

In [699]:
y_train_A2_HSV.shape

(2400, 1)

In [700]:
clf.fit(X_train_A2_HSV, y_train_A2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [701]:
y_pred_A2_HSV = clf.predict(X_test_A2_HSV)

In [702]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))

Accuracy: 0.0625

##A3

In [703]:
table_A3Set1 = pd.read_excel(Set1 , sheet_name='A3Set1 ')
table_A3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  242.097708  230.045066  ...    A1  BAD1342F-482E-488F-8241-A393B4779E26.png
1  241.384713  229.412879  ...    A1  0E4BF624-DA48-45D7-8CEF-1F893F3E36A9.png
2  241.642094  229.601301  ...    A1  A5A67F7B-D2B1-4729-8A0B-9BE2F2DF55C6.png
3  241.836053  229.881216  ...    A1  35D1BEA8-E650-4D83-9D61-17AD65EABD39.png
4  241.718434  229.483100  ...    A1  18FE9FE4-F848-465E-B7FE-7792C8A083CB.png

[5 rows x 16 columns]

In [704]:
table_A3Set2 = pd.read_excel(Set2, sheet_name='A3Set2 ')
table_A3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.103730  217.411713  ...    A1  DF15ABDE-6706-4DBF-B915-3A5A55675BE9.png
1  231.010587  213.546620  ...    A1  03CE5312-9117-494B-A20A-C13DED940437.png
2  234.168706  216.933664  ...    A1  9B833AEA-985E-456A-9772-D946B2ED95FF.png
3  234.541472  216.721251  ...    A1  D252705C-04AF-4E1A-8A27-F9EC7B5B9877.png
4  234.573524  216.957168  ...    A1  F93D031B-458C-4AC3-88ED-14FB49A9A804.png

[5 rows x 16 columns]

In [705]:
table_A3Set3 = pd.read_excel(Set3, sheet_name='A3Set3 ')
table_A3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  243.562937  231.555264  ...    A1  66373A06-43CB-4E73-84DA-6B504F4F1C45.png
1  242.855769  230.894619  ...    A1  F87BFB23-54A6-48EC-95AB-B690B56F7934.png
2  243.108197  231.144231  ...    A1  67DEF170-ED6C-468A-AC90-9DF1ED4C4091.png
3  243.268454  231.407828  ...    A1  861A0A06-2BEB-4C2D-9ECD-F753ACF6F036.png
4  243.186869  231.041278  ...    A1  BC54DA9B-E07D-4E21-8DB1-CC714427C684.png

[5 rows x 16 columns]

In [706]:
table_A3Set4 = pd.read_excel(Set4, sheet_name='A3Set4')
table_A3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.077603  204.519328  ...    A1  DC980AD2-81DD-4EAE-80D5-0CDDA83B06E7.png
1  231.544599  214.478370  ...    A1  5D10BAC5-8F2F-4EAC-86CE-FBA2AB6F50DD.png
2  226.812191  209.496226  ...    A1  E974AE96-AD14-4660-857A-2B63C16E8EB1.png
3  232.169223  214.141790  ...    A1  16DB511D-570A-4F94-808B-93F9C47B4CE9.png
4  232.451830  213.986852  ...    A1  1035897E-D1B4-4245-BE07-6C461520AF33.png

[5 rows x 16 columns]

###RGB

In [707]:
RGB_A3_Set1 = table_A3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [708]:
RGB_A3_Set2 = table_A3Set2

In [709]:
RGB_A3_Set3 = table_A3Set3

In [710]:
RGB_A3_Set4 = table_A3Set4

In [711]:
RGB_A3_concat0 = pd.concat([RGB_A3_Set2,RGB_A3_Set3])

In [712]:
RGB_A3_concat1 = pd.concat([RGB_A3_concat0,RGB_A3_Set4])

In [725]:
RGB_A3_concat2 = RGB_A3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [726]:
X_test_A3_RGB = np.array(RGB_A3_Set1)

In [727]:
y_A3_RGB =  table_A3Set1.iloc[:,14:15]

In [728]:
y_test_A3_RGB = np.array(y_A3_RGB)

In [729]:
X_train_A3_RGB = np.array(RGB_A3_concat2)

In [730]:
y_train_A3RGB = RGB_A3_concat1.iloc[:,14:15]

In [731]:
y_train_A3_RGB = np.array(y_train_A3RGB)

In [732]:
X_train_A3_RGB.shape

(2400, 6)

In [733]:
y_train_A3_RGB.shape

(2400, 1)

In [734]:
clf.fit(X_train_A3_RGB, y_train_A3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [735]:
y_pred_A3_RGB = clf.predict(X_test_A3_RGB)

In [736]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))

Accuracy: 0.98125

###HSV

In [737]:
print(table_A3Set1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [738]:
HSV_A3_Set1 = table_A3Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [739]:
HSV_A3_concat2 = RGB_A3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [740]:
X_test_A3_HSV = np.array(HSV_A3_Set1)

In [741]:
y_A3_HSV =  table_A3Set1.iloc[:,14:15]

In [742]:
y_test_A3_HSV = np.array(y_A3_RGB)

In [743]:
X_train_A3_HSV = np.array(HSV_A3_concat2)

In [744]:
y_train_A3HSV = RGB_A3_concat1.iloc[:,14:15]

In [745]:
y_train_A3_HSV = np.array(y_train_A3HSV)

In [746]:
X_train_A3_HSV.shape

(2400, 6)

In [747]:
y_train_A3_HSV.shape

(2400, 1)

In [748]:
clf.fit(X_train_A3_HSV, y_train_A3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [749]:
y_pred_A3_HSV = clf.predict(X_test_A3_HSV)

In [750]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))

Accuracy: 0.98125

##A3.5

In [751]:
table_A3_5Set1 = pd.read_excel(Set1 , sheet_name='A3.5Set1 ')
table_A3_5Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  235.604172  216.610178  ...    A1  2DD07CB7-0413-41D5-BE23-51CA3C9164F5.png
1  243.562937  231.555264  ...    A1  F28F074F-5B54-424C-8E70-EC56E06FC3E0.png
2  242.855769  230.894619  ...    A1  6ABA4B94-D8B3-48BA-B1FA-6B5A081F40D1.png
3  243.108197  231.144231  ...    A1  6B5870DF-9D32-4295-9D0E-F1DDA4ABD18F.png
4  243.268454  231.407828  ...    A1  9EBCADA0-A39C-4692-B684-A967FE6F59B5.png

[5 rows x 16 columns]

In [752]:
table_A3_5Set2 = pd.read_excel(Set2, sheet_name='A3.5Set2 ')
table_A3_5Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.548368  219.008547  ...    A1  59331E47-9409-4752-859C-BD69B64F2FC6.png
1  239.642580  227.445610  ...    A1  271B26B6-1BC4-4A50-9198-127569C8BF3D.png
2  238.823135  226.798660  ...    A1  101CF038-4C3A-400E-9C2C-6CC2F63DEEEF.png
3  239.165016  227.221057  ...    A1  4CA308BF-F5D3-47CB-A3C0-4D0D3CBD97AA.png
4  239.322261  227.482032  ...    A1  C05E2226-6B18-40E3-966D-02DE782F3404.png

[5 rows x 16 columns]

In [753]:
table_A3_5Set3 = pd.read_excel(Set3, sheet_name='A3.5Set3  ')
table_A3_5Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.491259  215.427253  ...    A1  DD92C3DE-FED4-405C-A9BE-F6CB3CC67D3C.png
1  229.007673  211.568959  ...    A1  475DD7D4-D0A4-4875-8A88-515EC0BE2FEA.png
2  232.717852  214.911616  ...    A1  6A134D80-DECF-4205-B3F2-0FC7F87D6F47.png
3  233.155497  214.801573  ...    A1  3AF27BD7-16A3-47B3-A9D2-6F28AB0A73D4.png
4  233.052253  214.682595  ...    A1  F1DEE804-F5D7-48D6-A2AF-FB7B10C7C006.png

[5 rows x 16 columns]

In [754]:
table_A3_5Set4 = pd.read_excel(Set4, sheet_name='A3.5Set4')
table_A3_5Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.276520  204.980440  ...    A1  EA18B729-21CA-4CBD-9CD9-87A230B62A73.png
1  235.425991  219.263695  ...    A1  6F63F3BD-AD91-4D05-A01E-F262738EC089.png
2  232.456488  215.038753  ...    A1  C25C23A8-8D33-471D-9F99-1D7F0A5A2256.png
3  235.684538  218.972611  ...    A1  C7840948-E4E4-4326-9CA7-7249FD51E66F.png
4  235.963481  218.680458  ...    A1  6D2686E5-1F1E-46F5-8307-2588684AE288.png

[5 rows x 16 columns]

###RGB

In [755]:
RGB_A3_5_Set1 = table_A3_5Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [756]:
RGB_A3_5_Set2 = table_A3_5Set2

In [757]:
RGB_A3_5_Set3 = table_A3_5Set3

In [758]:
RGB_A3_5_Set4 = table_A3_5Set4

In [759]:
RGB_A3_5_concat0 = pd.concat([RGB_A3_5_Set2,RGB_A3_5_Set3])

In [760]:
RGB_A3_5_concat1 = pd.concat([RGB_A3_5_concat0,RGB_A3_5_Set4])

In [771]:
RGB_A3_5_concat2 = RGB_A3_5_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [772]:
X_test_A3_5_RGB = np.array(RGB_A3_5_Set1)

In [773]:
y_A3_5_RGB =  table_A3_5Set1.iloc[:,14:15]

In [774]:
y_test_A3_5_RGB = np.array(y_A3_5_RGB)

In [775]:
X_train_A3_5_RGB = np.array(RGB_A3_5_concat2)

In [776]:
y_train_A3_5RGB = RGB_A3_5_concat1.iloc[:,14:15]

In [777]:
y_train_A3_5_RGB = np.array(y_train_A3_5RGB)

In [778]:
X_train_A3_5_RGB.shape

(2400, 6)

In [779]:
y_train_A3_5_RGB.shape

(2400, 1)

In [780]:
clf.fit(X_train_A3_5_RGB, y_train_A3_5_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [781]:
y_pred_A3_5_RGB = clf.predict(X_test_A3_5_RGB)

In [782]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))

Accuracy: 0.85

###HSV

In [783]:
HSV_A3_5_Set1 = table_A3_5Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [784]:
HSV_A3_5_concat2 = RGB_A3_5_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [785]:
X_test_A3_5_HSV = np.array(HSV_A3_5_Set1)

In [786]:
y_A3_5_HSV =  table_A3_5Set1.iloc[:,14:15]

In [787]:
y_test_A3_5_HSV = np.array(y_A3_5_RGB)

In [788]:
X_train_A3_5_HSV = np.array(HSV_A3_5_concat2)

In [789]:
y_train_A3_5HSV = RGB_A3_5_concat1.iloc[:,14:15]

In [790]:
y_train_A3_5_HSV = np.array(y_train_A3_5HSV)

In [791]:
clf.fit(X_train_A3_5_HSV, y_train_A3_5_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [792]:
y_pred_A3_5_HSV = clf.predict(X_test_A3_5_HSV)

In [793]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))

Accuracy: 0.7625

##A4

In [794]:
table_A4Set1 = pd.read_excel(Set1 , sheet_name='A4Set1 ')
table_A4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.491259  215.427253  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1  229.007673  211.568959  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2  232.717852  214.911616  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3  233.155497  214.801573  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4  233.052253  214.682595  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png

[5 rows x 16 columns]

In [795]:
table_A4Set2 = pd.read_excel(Set2, sheet_name='A4Set2 ')
table_A4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  230.051476  207.380148  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1  227.640929  204.685800  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2  227.260198  205.114608  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3  227.652098  206.428419  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4  229.170357  206.154526  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png

[5 rows x 16 columns]

In [796]:
table_A4Set3 = pd.read_excel(Set3, sheet_name='A4Set3 ')
table_A4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  226.000406  203.723886  ...    A1  F712701E-BE7E-4095-A77E-B995819EFFFD.png
1  226.466845  205.043665  ...    A1  CECCAFE3-FE35-40E3-A23C-E30AC0ED7305.png
2  228.276520  204.980440  ...    A1  030A48A3-45A8-46B5-BA6E-40DBF7924561.png
3  235.425991  219.263695  ...    A1  56F3B9ED-032B-4568-94F8-A20F8E7C590B.png
4  232.456488  215.038753  ...    A1  B39AAD6D-AA02-4E9A-9387-6545DE9848CE.png

[5 rows x 16 columns]

In [797]:
table_A4Set4 = pd.read_excel(Set4, sheet_name='A4Set4')
table_A4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  226.825466  208.749223  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1  229.180847  211.616647  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2  230.488636  212.745241  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3  224.159091  206.104895  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4  225.504759  207.478341  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png

[5 rows x 16 columns]

###RGB

In [798]:
print(RGB_A4_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img', 'Set4'],
      dtype='object')

In [799]:
RGB_A4_Set1 = table_A4Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [800]:
RGB_A4_Set2 = table_A4Set2

In [801]:
RGB_A4_Set3 = table_A4Set3

In [802]:
RGB_A4_Set4 = table_A4Set4

In [803]:
RGB_A4_concat0 = pd.concat([RGB_A4_Set2,RGB_A4_Set3])

In [804]:
RGB_A4_concat1 = pd.concat([RGB_A4_concat0,RGB_A4_Set4])

In [805]:
RGB_A4_concat2 = RGB_A4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [806]:
X_test_A4_RGB = np.array(RGB_A4_Set1)

In [807]:
y_A4_RGB =  table_A4Set1.iloc[:,14:15]

In [808]:
y_test_A4_RGB = np.array(y_A4_RGB)

In [809]:
X_train_A4_RGB = np.array(RGB_A4_concat2)

In [810]:
y_train_A4_RGB = RGB_A4_concat1.iloc[:,14:15]

In [811]:
y_train_A4_RGB = np.array(y_train_A4_RGB)

In [812]:
X_train_A4_RGB.shape

(2400, 6)

In [813]:
y_train_A4_RGB.shape

(2400, 1)

In [814]:
clf.fit(X_train_A4_RGB, y_train_A4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [815]:
y_pred_A4_RGB = clf.predict(X_test_A4_RGB)

In [816]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))

Accuracy: 0.71375

###HSV

In [1229]:
HSV_A4_Set1 = table_A4Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1230]:
HSV_A4_concat2 = RGB_A4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [1231]:
X_test_A4_HSV = np.array(HSV_A4_Set1)

In [1232]:
y_A4_HSV =  table_A4Set1.iloc[:,14:15]

In [1233]:
y_test_A4_HSV = np.array(y_A4_RGB)

In [1234]:
X_train_A4_HSV = np.array(HSV_A4_concat2)

In [1235]:
y_train_A4HSV = RGB_A4_concat1.iloc[:,14:15]

In [1236]:
y_train_A4_HSV = np.array(y_train_A4HSV)

In [1237]:
clf.fit(X_train_A4_HSV, y_train_A4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1238]:
y_pred_A4_HSV = clf.predict(X_test_A4_HSV)

In [1239]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))

Accuracy: 0.68875

#BB

##B1

In [828]:
table_B1Set1 = pd.read_excel(Set1 , sheet_name='B1Set1 ')
table_B1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.313326  216.689200  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1  236.874709  224.246018  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2  233.620047  221.292735  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3  237.811480  225.270882  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4  236.552836  224.011752  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png

[5 rows x 16 columns]

In [829]:
table_B1Set2 = pd.read_excel(Set2, sheet_name='B1Set2')
table_B1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.815031  217.558477  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1  232.727620  216.042529  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2  226.770067  210.563347  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3  225.828017  205.090171  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4  224.204123  203.246003  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png

[5 rows x 16 columns]

In [830]:
table_B1Set3 = pd.read_excel(Set3, sheet_name='B1Set3 ')
table_B1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1  233.620047  221.292735  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2  237.811480  225.270882  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3  236.552836  224.011752  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4  233.531080  221.732129  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png

[5 rows x 16 columns]

In [831]:
table_B1Set4 = pd.read_excel(Set4, sheet_name='B1Set4')
table_B1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.081682  221.755051  ...    A1  FE8C5C61-E1C3-43CD-89CA-1CC9F2F64918.png
1  235.952117  219.916764  ...    A1  D3A831B0-6702-4ED8-BCD2-DF3E93AE96AA.png
2  232.103632  215.131022  ...    A1  8A8341B2-51DF-4C76-9E21-423D884578F9.png
3  229.841492  209.444444  ...    A1  73445C43-E3BF-421B-9A97-1F1182DFFF9A.png
4  228.368395  207.523019  ...    A1  56FEB49F-EF2D-4F39-A5BC-CCD039F7C855.png

[5 rows x 16 columns]

###RGB

In [832]:
RGB_B1_Set1 = table_B1Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [833]:
RGB_B1_Set2 = table_B1Set2

In [834]:
RGB_B1_Set3 = table_B1Set3

In [835]:
RGB_B1_Set4 = table_B1Set4

In [836]:
RGB_B1_concat0 = pd.concat([RGB_B1_Set2,RGB_B1_Set3])

In [837]:
RGB_B1_concat1 = pd.concat([RGB_B1_concat0,RGB_B1_Set4])

In [838]:
print(RGB_B1_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [839]:
RGB_B1_concat2 = RGB_B1_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [840]:
X_test_B1_RGB = np.array(RGB_B1_Set1)

In [841]:
y_B1_RGB =  table_B1Set1.iloc[:,14:15]

In [842]:
y_test_B1_RGB = np.array(y_B1_RGB)

In [843]:
X_train_B1_RGB = np.array(RGB_B1_concat2)

In [844]:
y_train_B1RGB = RGB_B1_concat1.iloc[:,14:15]

In [845]:
y_train_B1_RGB = np.array(y_train_B1RGB)

In [846]:
X_train_B1_RGB.shape

(2415, 6)

In [847]:
y_train_B1_RGB.shape

(2415, 1)

In [848]:
clf.fit(X_train_B1_RGB, y_train_B1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [849]:
y_pred_B1_RGB = clf.predict(X_test_B1_RGB)

In [850]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))

Accuracy: 0.9788819875776398

###HSV

In [851]:
HSV_B1_Set1 = table_B1Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [852]:
HSV_B1_concat2 = RGB_B1_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [853]:
X_test_B1_HSV = np.array(HSV_B1_Set1)

In [854]:
y_B1_HSV =  table_B1Set1.iloc[:,14:15]

In [855]:
y_test_B1_HSV = np.array(y_B1_RGB)

In [856]:
X_train_B1_HSV = np.array(HSV_B1_concat2)

In [857]:
y_train_B1HSV = RGB_B1_concat1.iloc[:,14:15]

In [858]:
y_train_B1_HSV = np.array(y_train_B1HSV)

In [859]:
X_train_B1_HSV.shape

(2415, 6)

In [860]:
y_train_B1_HSV.shape

(2415, 1)

In [861]:
clf.fit(X_train_B1_HSV, y_train_B1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [862]:
y_pred_B1_HSV = clf.predict(X_test_B1_HSV)

In [863]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))

Accuracy: 0.9788819875776398

##B2

In [864]:
table_B2Set1 = pd.read_excel(Set1 , sheet_name='B2Set1 ')
table_B2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  8844784E-18F2-4180-BD56-22527F5B506A.png
1  233.620047  221.292735  ...    A1  9B82482F-3CCB-4D36-88DF-53EE592260BA.png
2  237.811480  225.270882  ...    A1  EBE10373-8135-4270-894B-9887BE25C44D.png
3  236.552836  224.011752  ...    A1  E371B8FC-E57F-49E3-8AF4-9DF8FDBFA8F3.png
4  233.531080  221.732129  ...    A1  238A6F42-0DF6-424E-9279-99FE08A655A8.png

[5 rows x 16 columns]

In [865]:
table_B2Set2 = pd.read_excel(Set2, sheet_name='B2Set2 ')
table_B2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  B1DA559A-D9F1-4AF3-8AF2-1244D61DE126.png
1  233.620047  221.292735  ...    A1  A92BD83A-0BC5-475A-806D-12AED89C8F25.png
2  237.811480  225.270882  ...    A1  3A2804B8-CBAC-40D4-9EC0-8EF3D3C52A9D.png
3  236.552836  224.011752  ...    A1  CFB4F284-CE02-4550-B81A-53E093EE4FBA.png
4  233.531080  221.732129  ...    A1  1A61C771-989D-4734-8138-2EC30D0E65DC.png

[5 rows x 16 columns]

In [866]:
table_B2Set3 = pd.read_excel(Set3, sheet_name='B2Set3  ')
table_B2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  250FC647-07B6-4795-B3EF-E2E97F609E10.png
1  233.620047  221.292735  ...    A1  829D716F-ABCB-494F-942F-92D985E969FC.png
2  237.811480  225.270882  ...    A1  31E84E1C-8996-478A-8C5B-DEB651BD8B7B.png
3  236.552836  224.011752  ...    A1  1096FB39-AC69-47B0-A58C-D5EAF4178133.png
4  233.531080  221.732129  ...    A1  561D36AA-0D94-45A1-88BE-C705DA5140C7.png

[5 rows x 16 columns]

In [867]:
table_B2Set4 = pd.read_excel(Set4, sheet_name='B2Set4')
table_B2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.592366  217.212024  ...    A1  5B0F9488-7F08-4BCE-A32E-55154984960A.png
1  232.555458  215.691822  ...    A1  0E6453D8-FF6B-407E-97CD-CD738C98FDF2.png
2  226.305750  210.198524  ...    A1  080A292F-0B63-4933-A09A-199874BA4870.png
3  225.616841  204.899087  ...    A1  3638FEC4-42D0-4824-AD26-F7E587220698.png
4  224.022339  203.058372  ...    A1  8D6E4CD1-034D-487B-80CB-3AE03EE1D093.png

[5 rows x 16 columns]

###RGB

In [868]:
RGB_B2_Set1 = table_B2Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [869]:
RGB_B2_Set2 = table_B2Set2

In [870]:
RGB_B2_Set3 = table_B2Set3

In [871]:
RGB_B2_Set4 = table_B2Set4

In [872]:
RGB_B2_concat0 = pd.concat([RGB_B2_Set2,RGB_B2_Set3])

In [873]:
RGB_B2_concat1 = pd.concat([RGB_B2_concat0,RGB_B2_Set4])

In [874]:
print(RGB_B2_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [875]:
RGB_B2_concat2 = RGB_B2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [876]:
X_test_B2_RGB = np.array(RGB_B2_Set1)

In [877]:
y_B2_RGB =  table_B2Set1.iloc[:,14:15]

In [878]:
y_test_B2_RGB = np.array(y_B2_RGB)

In [879]:
X_train_B2_RGB = np.array(RGB_B2_concat2)

In [880]:
y_train_B2RGB = RGB_B2_concat1.iloc[:,14:15]

In [881]:
y_train_B2_RGB = np.array(y_train_B2RGB)

In [882]:
X_train_B2_RGB.shape

(2415, 6)

In [883]:
y_train_B2_RGB.shape

(2415, 1)

In [884]:
clf.fit(X_train_B2_RGB, y_train_B2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [885]:
y_pred_B2_RGB = clf.predict(X_test_B2_RGB)

In [886]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))

Accuracy: 1.0

###HSV

In [887]:
HSV_B2_Set1 = table_B2Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [888]:
HSV_B2_concat2 = RGB_B2_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [889]:
X_test_B2_HSV = np.array(HSV_B2_Set1)

In [890]:
y_B2_HSV =  table_B2Set1.iloc[:,14:15]

In [891]:
y_test_B2_HSV = np.array(y_B2_RGB)

In [892]:
X_train_B2_HSV = np.array(HSV_B2_concat2)

In [893]:
y_train_B2HSV = RGB_B2_concat1.iloc[:,14:15]

In [894]:
y_train_B2_HSV = np.array(y_train_B2HSV)

In [895]:
X_train_B2_HSV.shape

(2415, 6)

In [896]:
y_train_B2_HSV.shape

(2415, 1)

In [897]:
clf.fit(X_train_B2_HSV, y_train_B2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [898]:
y_pred_B2_HSV = clf.predict(X_test_B2_HSV)

In [899]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))

Accuracy: 1.0

##B3

In [900]:
table_B3Set1 = pd.read_excel(Set1 , sheet_name='B3Set1 ')
table_B3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  768ECDBF-055D-4AF1-9FB6-59F1D54C18F2.png
1  233.620047  221.292735  ...    A1  A2B09945-ABB4-4B6C-8880-C0859637306B.png
2  237.811480  225.270882  ...    A1  5C57C433-024F-4E4A-B661-2A33A270EE9D.png
3  236.552836  224.011752  ...    A1  6D8E199E-9FF6-46BF-A7CA-D491A179F0EB.png
4  233.531080  221.732129  ...    A1  09286B35-9904-4EE4-8AF2-92443DF8DA7D.png

[5 rows x 16 columns]

In [901]:
table_B3Set2 = pd.read_excel(Set2, sheet_name='B3Set2')
table_B3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.881605  224.382867  ...    A1  8E815009-4D5A-4F6E-B73E-3F02EEDF518E.png
1  238.117716  222.694736  ...    A1  71FB6161-2220-4F52-9DB9-988BEA1E6318.png
2  233.842075  216.756216  ...    A1  CE22D8CA-7FD1-4E9E-9A9A-6C3591E3B041.png
3  231.565365  211.148407  ...    A1  9311AA58-DD49-4827-BE81-DE9122D40F36.png
4  230.061772  209.351593  ...    A1  706F5A48-1CDB-468B-A380-D9DBE49855CB.png

[5 rows x 16 columns]

In [902]:
table_B3Set3 = pd.read_excel(Set3, sheet_name='B3Set3 ')
table_B3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.730963  217.195319  ...    A1  D30CE1BD-7348-4D4B-8B2A-9CF508F40709.png
1  239.266414  216.745435  ...    A1  A3174F21-0003-438F-AB9B-C9E9E4403930.png
2  239.713869  217.283508  ...    A1  F6329A93-CE40-40BD-82AD-EE38250C7659.png
3  239.313326  216.689200  ...    A1  0EA3962C-C625-411B-83E6-FE457309A3FA.png
4  236.874709  224.246018  ...    A1  EC8C9E12-CC68-4397-BBD7-6F464DD8A7F6.png

[5 rows x 16 columns]

In [903]:
table_B3Set4 = pd.read_excel(Set4, sheet_name='B3Set4')
table_B3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.081682  221.755051  ...    A1  5C22556A-CB1C-49A8-B0F9-3013F60CF097.png
1  235.952117  219.916764  ...    A1  AEB14259-1749-43ED-901D-F78CF34D6098.png
2  232.103632  215.131022  ...    A1  0D6EAE6C-73F2-4F11-86DF-9A77825BE847.png
3  229.841492  209.444444  ...    A1  214213DB-44A4-43C8-8270-BDECBDE6838F.png
4  228.368395  207.523019  ...    A1  28A87DF6-4327-4573-AB9A-73CB7077ED8E.png

[5 rows x 16 columns]

###RGB

In [904]:
RGB_B3_Set1 = table_B3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [905]:
RGB_B3_Set2 = table_B3Set2

In [906]:
RGB_B3_Set3 = table_B3Set3

In [907]:
RGB_B3_Set4 = table_B3Set4

In [908]:
RGB_B3_concat0 = pd.concat([RGB_B3_Set2,RGB_B3_Set3])

In [909]:
RGB_B3_concat1 = pd.concat([RGB_B3_concat0,RGB_B3_Set4])

In [910]:
print(RGB_B3_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [911]:
RGB_B3_concat2 = RGB_B3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [912]:
X_test_B3_RGB = np.array(RGB_B3_Set1)

In [913]:
y_B3_RGB =  table_B3Set1.iloc[:,14:15]

In [914]:
y_test_B3_RGB = np.array(y_B3_RGB)

In [915]:
X_train_B3_RGB = np.array(RGB_B3_concat2)

In [916]:
y_train_B3RGB = RGB_B3_concat1.iloc[:,14:15]

In [917]:
y_train_B3_RGB = np.array(y_train_B3RGB)

In [918]:
clf.fit(X_train_B3_RGB, y_train_B3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [919]:
y_pred_B3_RGB = clf.predict(X_test_B3_RGB)

In [920]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))

Accuracy: 0.9006211180124224

###HSV

In [921]:
HSV_B3_Set1 = table_B3Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [922]:
HSV_B3_concat2 = RGB_B3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [923]:
X_test_B3_HSV = np.array(HSV_B3_Set1)

In [924]:
y_B3_HSV =  table_B3Set1.iloc[:,14:15]

In [925]:
y_test_B3_HSV = np.array(y_B3_RGB)

In [926]:
X_train_B3_HSV = np.array(HSV_B3_concat2)

In [927]:
y_train_B3HSV = RGB_B3_concat1.iloc[:,14:15]

In [928]:
y_train_B3_HSV = np.array(y_train_B3HSV)

In [929]:
X_train_B3_HSV.shape

(2415, 6)

In [930]:
y_train_B3_HSV.shape

(2415, 1)

In [931]:
clf.fit(X_train_B3_HSV, y_train_B3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [932]:
y_pred_B3_HSV = clf.predict(X_test_B3_HSV)

In [933]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))

Accuracy: 0.8795031055900621

##B4

In [934]:
table_B4Set1 = pd.read_excel(Set1 , sheet_name='B4Set1 ')
table_B4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.266414  216.745435  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1  239.713869  217.283508  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2  239.313326  216.689200  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3  236.874709  224.246018  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4  233.620047  221.292735  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png

[5 rows x 16 columns]

In [935]:
table_B4Set2 = pd.read_excel(Set2, sheet_name='B4Set2 ')
table_B4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.081682  221.755051  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1  235.952117  219.916764  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2  232.103632  215.131022  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3  229.841492  209.444444  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4  228.368395  207.523019  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png

[5 rows x 16 columns]

In [936]:
table_B4Set3 = pd.read_excel(Set3, sheet_name='B4Set3 ')
table_B4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.313326  216.689200  ...    A1  15CF7C81-C401-4F9B-A9D6-BFF17DD5A41E.png
1  236.874709  224.246018  ...    A1  BB30E369-CADD-4E81-BE42-6B37C089DFDF.png
2  233.620047  221.292735  ...    A1  41EAF1E9-C9E9-4D7E-968E-75700ECAA674.png
3  237.811480  225.270882  ...    A1  C637E1DF-0ECB-4622-A3DD-67CDD073DACD.png
4  236.552836  224.011752  ...    A1  CD93A518-E887-42EC-8254-4B50FE6F9E71.png

[5 rows x 16 columns]

In [937]:
table_B4Set4 = pd.read_excel(Set4, sheet_name='B4Set4')
table_B4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.372863  219.322844  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1  233.941239  217.435800  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2  229.438908  212.935606  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3  227.790890  207.271659  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4  226.350816  205.394134  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png

[5 rows x 16 columns]

###RGB

In [938]:
RGB_B4_Set1 = table_B4Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [939]:
RGB_B4_Set2 = table_B4Set2

In [940]:
RGB_B4_Set3 = table_B4Set3

In [941]:
RGB_B4_Set4 = table_B4Set4

In [942]:
RGB_B4_concat0 = pd.concat([RGB_B4_Set2,RGB_B4_Set3])

In [943]:
RGB_B4_concat1 = pd.concat([RGB_B4_concat0,RGB_B4_Set4])

In [944]:
print(RGB_B4_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [945]:
RGB_B4_concat2 = RGB_B4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [946]:
X_test_B4_RGB = np.array(RGB_B4_Set1)

In [947]:
y_B4_RGB =  table_B4Set1.iloc[:,14:15]

In [948]:
y_test_B4_RGB = np.array(y_B4_RGB)

In [949]:
X_train_B4_RGB = np.array(RGB_B4_concat2)

In [950]:
y_train_B4RGB = RGB_B4_concat1.iloc[:,14:15]

In [951]:
y_train_B4_RGB = np.array(y_train_B4RGB)

In [952]:
clf.fit(X_train_B4_RGB, y_train_B4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [953]:
y_pred_B4_RGB = clf.predict(X_test_B4_RGB)

In [954]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))

Accuracy: 1.0

###HSV

In [955]:
HSV_B4_Set1 = table_B4Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [956]:
HSV_B4_concat2 = RGB_B4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [957]:
X_test_B4_HSV = np.array(HSV_B4_Set1)

In [958]:
y_B4_HSV =  table_B4Set1.iloc[:,14:15]

In [959]:
y_test_B4_HSV = np.array(y_B4_RGB)

In [960]:
X_train_B4_HSV = np.array(HSV_B4_concat2)

In [961]:
y_train_B4HSV = RGB_B4_concat1.iloc[:,14:15]

In [962]:
y_train_B4_HSV = np.array(y_train_B4HSV)

In [963]:
X_train_B4_HSV.shape

(2415, 6)

In [964]:
y_train_B4_HSV.shape

(2415, 1)

In [965]:
clf.fit(X_train_B4_HSV, y_train_B4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [966]:
y_pred_B4_HSV = clf.predict(X_test_B4_HSV)

In [967]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))

Accuracy: 0.9465838509316771

#CC

##C1

In [968]:
table_C1Set1 = pd.read_excel(Set1 , sheet_name='C1Set1 ')
table_C1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.821037  225.705543  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1  239.015096  225.933366  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2  239.849931  227.537051  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3  239.325785  226.816573  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4  236.398182  225.056083  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png

[5 rows x 16 columns]

In [969]:
table_C1Set2 = pd.read_excel(Set2, sheet_name='C1Set2')
table_C1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.518454  218.775253  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1  239.236500  226.574106  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2  239.455614  226.906080  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3  240.266900  228.472222  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4  239.647145  227.612568  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png

[5 rows x 16 columns]

In [970]:
table_C1Set3 = pd.read_excel(Set3, sheet_name='C1Set3 ')
table_C1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.518454  218.775253  ...    A1  1E917833-3707-473C-843B-5D63B350CBC4.png
1  239.236500  226.574106  ...    A1  A3CA5A69-EA09-4AC6-8695-83F9567E6484.png
2  239.455614  226.906080  ...    A1  80A2301F-B67E-45B2-BC09-8FA4D1A48A1F.png
3  240.266900  228.472222  ...    A1  78E24865-B50B-4EFD-BF2F-3CFD4D484A5A.png
4  239.647145  227.612568  ...    A1  4540C001-2AE9-44DB-BA99-C2A8E72A0F28.png

[5 rows x 16 columns]

In [971]:
table_C1Set4 = pd.read_excel(Set4, sheet_name='C1Set4')
table_C1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  241.886752  229.539627  ...    A1  2CF6DEF9-DF65-4D3E-BEC7-C1664402B848.png
1  242.135781  229.859848  ...    A1  D8408792-B96F-425D-B030-680398046CC9.png
2  242.884227  231.409771  ...    A1  A142A91A-E63C-40DA-A92E-5F3C75892CCC.png
3  242.349359  230.585082  ...    A1  B0BB3A91-5BC2-4617-8DCD-521894FD9820.png
4  239.753497  228.713967  ...    A1  B072BB25-1641-4167-A1A0-0570DB6D6C4B.png

[5 rows x 16 columns]

###RGB

In [972]:
RGB_C1_Set1 = table_C1Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [973]:
RGB_C1_Set2 = table_C1Set2

In [974]:
RGB_C1_Set3 = table_C1Set3

In [975]:
RGB_C1_Set4 = table_C1Set4

In [976]:
RGB_C1_concat0 = pd.concat([RGB_C1_Set2,RGB_C1_Set3])

In [977]:
RGB_C1_concat1 = pd.concat([RGB_C1_concat0,RGB_C1_Set4])

In [978]:
RGB_C1_concat2 = RGB_B1_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [979]:
X_test_C1_RGB = np.array(RGB_C1_Set1)

In [980]:
y_C1_RGB =  table_C1Set1.iloc[:,14:15]

In [981]:
y_test_C1_RGB = np.array(y_C1_RGB)

In [982]:
X_train_C1_RGB = np.array(RGB_C1_concat2)

In [983]:
y_train_C1RGB = RGB_C1_concat1.iloc[:,14:15]

In [984]:
y_train_C1_RGB = np.array(y_train_C1RGB)

In [985]:
X_train_C1_RGB.shape

(2415, 6)

In [986]:
y_train_C1_RGB.shape

(2415, 1)

In [987]:
clf.fit(X_train_C1_RGB, y_train_C1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [988]:
y_pred_C1_RGB = clf.predict(X_test_C1_RGB)

In [989]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))

Accuracy: 0.115527950310559

###HSV

In [990]:
HSV_C1_Set1 = table_C1Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [991]:
HSV_C1_concat2 = RGB_C1_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [992]:
X_test_C1_HSV = np.array(HSV_C1_Set1)

In [993]:
y_C1_HSV =  table_C1Set1.iloc[:,14:15]

In [994]:
y_test_C1_HSV = np.array(y_C1_RGB)

In [995]:
X_train_C1_HSV = np.array(HSV_C1_concat2)

In [996]:
y_train_C1HSV = RGB_C1_concat1.iloc[:,14:15]

In [997]:
y_train_C1_HSV = np.array(y_train_C1HSV)

In [998]:
clf.fit(X_train_C1_HSV, y_train_C1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [999]:
y_pred_C1_HSV = clf.predict(X_test_C1_HSV)

In [1000]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))

Accuracy: 0.9204968944099379

##C2

In [1001]:
table_C2Set1 = pd.read_excel(Set1 , sheet_name='C2Set1')
table_C2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  243.100913  230.901030  ...    A1  94B8BCF4-0790-415E-94D6-F74A6D812F9C.png
1  243.442211  231.243784  ...    A1  6C2D0804-8381-4BFF-BF38-C0AC1273E618.png
2  243.966006  232.617910  ...    A1  8BD8561A-0908-4A45-9B23-E1BB2A03640B.png
3  243.670552  232.004759  ...    A1  6021A5FE-EFB1-4650-84F4-27408DAFC2BA.png
4  241.015152  230.078866  ...    A1  1D2C4DD2-FF5D-446F-ADC8-BB6C6E19BF79.png

[5 rows x 16 columns]

In [1002]:
table_C2Set2 = pd.read_excel(Set2, sheet_name='C2Set2')
table_C2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.821037  225.705543  ...    A1  374ED3C9-7FB3-4644-A77B-ABBC2258721E.png
1  239.015096  225.933366  ...    A1  64D55779-CEF4-4F38-97BC-1A3DE682F831.png
2  239.849931  227.537051  ...    A1  F118F5AE-2FE5-4E9C-9041-D0E6CBA214C1.png
3  239.325785  226.816573  ...    A1  8D1015B6-7F0D-4679-A728-EF724A18B2DB.png
4  236.398182  225.056083  ...    A1  A98B9E63-26D7-49D1-A84B-0E4BC3823C9A.png

[5 rows x 16 columns]

In [1003]:
table_C2Set3 = pd.read_excel(Set3, sheet_name='C2Set3 ')
table_C2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  243.100913  230.901030  ...    A1  DAB2B542-FF26-450C-BCEE-FBBC6F0F0A5A.png
1  243.442211  231.243784  ...    A1  8D944785-B0B9-442C-9A61-E154610BF547.png
2  243.966006  232.617910  ...    A1  0F8A345A-32E7-44C0-A010-1E1E53B041D7.png
3  243.670552  232.004759  ...    A1  B7E55179-C0B2-42BB-8575-1A1AA5F17A1A.png
4  241.015152  230.078866  ...    A1  5A6D201F-9F7E-44D9-8B97-2AE2BDD7E590.png

[5 rows x 16 columns]

In [1004]:
table_C2Set4 = pd.read_excel(Set4, sheet_name='C2Set4')
table_C2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  241.886752  229.539627  ...    A1  97434DCB-317D-460E-B141-4F5F00BD8237.png
1  242.135781  229.859848  ...    A1  86674BAB-7B95-47B9-B2F4-6A08EA9A553C.png
2  242.884227  231.409771  ...    A1  36D924E3-369D-4810-8013-7F212B48F6E7.png
3  242.349359  230.585082  ...    A1  7656ABAF-7260-4953-A918-AB1E537D8E13.png
4  239.753497  228.713967  ...    A1  19D7369E-892D-44FC-A9F2-7C097487F05A.png

[5 rows x 16 columns]

###RGB

In [1005]:
RGB_C2_Set1 = table_C2Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1006]:
RGB_C2_Set2 = table_C2Set2

In [1007]:
RGB_C2_Set3 = table_C2Set3

In [1008]:
RGB_C2_Set4 = table_C2Set4

In [1009]:
RGB_C2_concat0 = pd.concat([RGB_C2_Set2,RGB_C2_Set3])

In [1010]:
RGB_C2_concat1 = pd.concat([RGB_C2_concat0,RGB_C2_Set4])

In [1022]:
RGB_C2_concat2 = RGB_C2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1012]:
X_test_C2_RGB = np.array(RGB_C2_Set1)

In [1013]:
y_C2_RGB =  table_C2Set1.iloc[:,14:15]

In [1014]:
y_test_C2_RGB = np.array(y_B2_RGB)

In [1025]:
X_train_C2_RGB = np.array(RGB_C2_concat2)

In [1016]:
y_train_C2RGB = RGB_C2_concat1.iloc[:,14:15]

In [1017]:
y_train_C2_RGB = np.array(y_train_C2RGB)

In [1020]:
y_train_C2_RGB.shape

(2415, 1)

In [1027]:
clf.fit(X_train_C2_RGB, y_train_C2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1028]:
y_pred_C2_RGB = clf.predict(X_test_C2_RGB)

In [1029]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))

Accuracy: 0.9975155279503105

###HSV

In [1030]:
HSV_C2_Set1 = table_C2Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1031]:
HSV_C2_concat2 = RGB_C2_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1032]:
X_test_C2_HSV = np.array(HSV_C2_Set1)

In [1033]:
y_C2_HSV =  table_C2Set1.iloc[:,14:15]

In [1034]:
y_test_C2_HSV = np.array(y_C2_RGB)

In [1035]:
X_train_C2_HSV = np.array(HSV_C2_concat2)

In [1036]:
y_train_C2HSV = RGB_C2_concat1.iloc[:,14:15]

In [1037]:
y_train_C2_HSV = np.array(y_train_C2HSV)

In [1038]:
clf.fit(X_train_C2_HSV, y_train_C2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1039]:
y_pred_C2_HSV = clf.predict(X_test_C2_HSV)

In [1040]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))

Accuracy: 0.9962732919254659

##C3

In [1041]:
table_C3Set1 = pd.read_excel(Set1 , sheet_name='C3Set1')
table_C3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.689782  228.253497  ...    A1  8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1  241.482032  229.891414  ...    A1  A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2  240.742521  228.815559  ...    A1  D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3  238.366453  227.380439  ...    A1  B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4  238.000194  226.535062  ...    A1  DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png

[5 rows x 16 columns]

In [1042]:
table_C3Set2 = pd.read_excel(Set2, sheet_name='C3Set2')
table_C3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  241.886752  229.539627  ...    A1  458C8A30-28C6-4609-91F0-D2469DFEDA5B.png
1  242.135781  229.859848  ...    A1  07704C9B-608B-41B4-A3A4-C6DF8E2A8EC4.png
2  242.884227  231.409771  ...    A1  945887F0-416B-4C86-B18E-603E66F21AC1.png
3  242.349359  230.585082  ...    A1  3B522047-038B-4387-9487-718BC435AF50.png
4  239.753497  228.713967  ...    A1  EC132633-69E1-4804-B8DA-446EFB6FF262.png

[5 rows x 16 columns]

In [1043]:
table_C3Set3 = pd.read_excel(Set3, sheet_name='C3Set3 ')
table_C3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.434246  227.901127  ...    A1  3FC4EFF4-2124-46E0-8229-DA2B35001036.png
1  240.689782  228.253497  ...    A1  E523862E-01DF-42D9-93CB-972A4CA079DB.png
2  241.482032  229.891414  ...    A1  C69133CE-D8A7-45E8-AA2C-E958093BB83D.png
3  240.742521  228.815559  ...    A1  F9412807-4065-46FC-B596-D5BA2113D00B.png
4  238.366453  227.380439  ...    A1  8A94704C-925E-4B15-8701-ED2E2A7AE8F7.png

[5 rows x 16 columns]

In [1044]:
table_C3Set4 = pd.read_excel(Set4, sheet_name='C3Set4')
table_C3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.236500  226.574106  ...    A1  D4EECEDB-5CA4-46C9-B28C-63893A5BAF78.png
1  239.455614  226.906080  ...    A1  E89E9E85-D827-4D54-98B4-0E0F3DD6FDD0.png
2  240.266900  228.472222  ...    A1  D1227CC3-C06E-4905-A0CF-6A7B8EEFC412.png
3  239.647145  227.612568  ...    A1  45839274-7758-459E-B7AB-079108195369.png
4  236.769231  226.019619  ...    A1  4B027C83-D177-47FD-BBAE-4F98F0F0B1F0.png

[5 rows x 16 columns]

###RGB

In [1045]:
RGB_C3_Set1 = table_C3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1046]:
RGB_C3_Set2 = table_C3Set2

In [1047]:
RGB_C3_Set3 = table_C3Set3

In [1048]:
RGB_C3_Set4 = table_C3Set4

In [1049]:
RGB_C3_concat0 = pd.concat([RGB_C3_Set2,RGB_C3_Set3])

In [1050]:
RGB_C3_concat1 = pd.concat([RGB_C3_concat0,RGB_C3_Set4])

In [1051]:
print(RGB_C3_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [1052]:
RGB_C3_concat2 = RGB_C3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1053]:
X_test_C3_RGB = np.array(RGB_C3_Set1)

In [1054]:
y_C3_RGB =  table_C3Set1.iloc[:,14:15]

In [1055]:
y_test_C3_RGB = np.array(y_C3_RGB)

In [1056]:
X_train_C3_RGB = np.array(RGB_C3_concat2)

In [1057]:
y_train_C3RGB = RGB_C3_concat1.iloc[:,14:15]

In [1058]:
y_train_C3_RGB = np.array(y_train_C3RGB)

In [1059]:
clf.fit(X_train_C3_RGB, y_train_C3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1060]:
y_pred_C3_RGB = clf.predict(X_test_C3_RGB)

In [1061]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))

Accuracy: 0.901863354037267

###HSV

In [1062]:
HSV_C3_Set1 = table_C3Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1063]:
HSV_C3_concat2 = RGB_C3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1064]:
X_test_C3_HSV = np.array(HSV_C3_Set1)

In [1065]:
y_C3_HSV =  table_C3Set1.iloc[:,14:15]

In [1066]:
y_test_C3_HSV = np.array(y_C3_RGB)

In [1067]:
X_train_C3_HSV = np.array(HSV_C3_concat2)

In [1068]:
y_train_C3HSV = RGB_C3_concat1.iloc[:,14:15]

In [1069]:
y_train_C3_HSV = np.array(y_train_C3HSV)

In [1070]:
clf.fit(X_train_C3_HSV, y_train_C3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1071]:
y_pred_C3_HSV = clf.predict(X_test_C3_HSV)

In [1072]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))

Accuracy: 0.901863354037267

##C4

In [1073]:
table_C4Set1 = pd.read_excel(Set1 , sheet_name='C4Set1')
table_C4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.689782  228.253497  ...    A1  8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1  241.482032  229.891414  ...    A1  A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2  240.742521  228.815559  ...    A1  D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3  238.366453  227.380439  ...    A1  B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4  238.000194  226.535062  ...    A1  DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png

[5 rows x 16 columns]

In [1074]:
table_C4Set2 = pd.read_excel(Set2, sheet_name='C4Set2')
table_C4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.434246  227.901127  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1  240.689782  228.253497  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2  241.482032  229.891414  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3  240.742521  228.815559  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4  238.366453  227.380439  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png

[5 rows x 16 columns]

In [1075]:
table_C4Set3 = pd.read_excel(Set3, sheet_name='C4Set3 ')
table_C4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.927350  222.384810  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1  241.886752  229.539627  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2  242.135781  229.859848  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3  242.884227  231.409771  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4  242.349359  230.585082  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png

[5 rows x 16 columns]

In [1076]:
table_C4Set4 = pd.read_excel(Set4, sheet_name='C4Set4')
table_C4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.689782  228.253497  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1  241.482032  229.891414  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2  240.742521  228.815559  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3  238.366453  227.380439  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4  238.000194  226.535062  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png

[5 rows x 16 columns]

###RGB

In [1077]:
RGB_C4_Set1 = table_C4Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1078]:
RGB_C4_Set2 = table_C4Set2

In [1079]:
RGB_C4_Set3 = table_C4Set3

In [1080]:
RGB_C4_Set4 = table_C4Set4

In [1081]:
RGB_C4_concat0 = pd.concat([RGB_C4_Set2,RGB_C4_Set3])

In [1082]:
RGB_C4_concat1 = pd.concat([RGB_C4_concat0,RGB_C4_Set4])

In [1083]:
print(RGB_C4_concat1.columns)

Index(['R-ref', 'G-ref', 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad', 'H-ref',
       'S-ref', 'V-ref', 'H-Shad', 'S-Shad', 'V-Shad', 'Setting', 'Ref',
       'Shad', 'Img'],
      dtype='object')

In [1084]:
RGB_C4_concat2 = RGB_C4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1085]:
X_test_C4_RGB = np.array(RGB_C4_Set1)

In [1086]:
y_C4_RGB =  table_C4Set1.iloc[:,14:15]

In [1087]:
y_test_C4_RGB = np.array(y_C4_RGB)

In [1088]:
X_train_C4_RGB = np.array(RGB_C4_concat2)

In [1089]:
y_train_C4RGB = RGB_C4_concat1.iloc[:,14:15]

In [1090]:
y_train_C4_RGB = np.array(y_train_C4RGB)

In [1091]:
clf.fit(X_train_C4_RGB, y_train_C4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1092]:
y_pred_C4_RGB = clf.predict(X_test_C4_RGB)

In [1093]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))

Accuracy: 0.8745341614906832

###HSV

In [1094]:
HSV_C4_Set1 = table_C4Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1095]:
HSV_C4_concat2 = RGB_C4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1096]:
X_test_C4_HSV = np.array(HSV_C4_Set1)

In [1097]:
y_C4_HSV =  table_C4Set1.iloc[:,14:15]

In [1098]:
y_test_C4_HSV = np.array(y_C4_RGB)

In [1099]:
X_train_C4_HSV = np.array(HSV_C4_concat2)

In [1100]:
y_train_C4HSV = RGB_C4_concat1.iloc[:,14:15]

In [1101]:
y_train_C4_HSV = np.array(y_train_C4HSV)

In [1102]:
clf.fit(X_train_C4_HSV, y_train_C4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1103]:
y_pred_C4_HSV = clf.predict(X_test_C4_HSV)

In [1104]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))

Accuracy: 0.8745341614906832

#DD

##D2

In [1105]:
table_D2Set1 = pd.read_excel(Set1 , sheet_name='D2Set1')
table_D2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1  233.194140  219.034007  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2  228.266131  215.102914  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3  233.271975  219.056732  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4  234.316776  220.035711  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png

[5 rows x 16 columns]

In [1106]:
table_D2Set2 = pd.read_excel(Set2, sheet_name='D2Set2')
table_D2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.509907  214.456585  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1  233.302836  214.512723  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2  232.516220  214.503399  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3  232.603244  214.845183  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4  232.526030  204.917638  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png

[5 rows x 16 columns]

In [1107]:
table_D2Set3 = pd.read_excel(Set3, sheet_name='D2Set3 ')
table_D2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.423757  222.193570  ...    A1  3AADDE41-0882-4926-9B9C-6656A010A4EE.png
1  236.370435  222.197552  ...    A1  714B814C-2029-4CEC-A3D1-65155C21DB01.png
2  232.111888  218.542929  ...    A1  FF69DBAD-BCEF-42E0-83C9-26D79EA6F346.png
3  236.398504  222.261558  ...    A1  D42344C1-B458-48E7-AD35-55850D1E18D6.png
4  237.294386  223.289336  ...    A1  72143F35-55D4-4615-B8A3-072FC23D36C0.png

[5 rows x 16 columns]

In [1108]:
table_D2Set4 = pd.read_excel(Set4, sheet_name='D2Set4')
table_D2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57BFDCD4-3FCB-482B-8F6D-695AB03BA132.png
1  233.194140  219.034007  ...    A1  A825D098-CB80-4BA0-A769-BC31330B5A5C.png
2  228.266131  215.102914  ...    A1  320A36C6-A45F-4855-9C69-70F4995F981B.png
3  233.271975  219.056732  ...    A1  F5718C08-AC9E-4216-9E16-B19FC8625FC9.png
4  234.316776  220.035711  ...    A1  55184FAB-0359-4CF4-99A1-A38B75A169D0.png

[5 rows x 16 columns]

###RGB

In [1109]:
RGB_D2_Set1 = table_D2Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1110]:
RGB_D2_Set2 = table_D2Set2

In [1111]:
RGB_D2_Set3 = table_D2Set3

In [1112]:
RGB_D2_Set4 = table_D2Set4

In [1113]:
RGB_D2_concat0 = pd.concat([RGB_D2_Set2,RGB_D2_Set3])

In [1114]:
RGB_D2_concat1 = pd.concat([RGB_D2_concat0,RGB_D2_Set4])

In [1115]:
RGB_D2_concat2 = RGB_D2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1116]:
X_test_D2_RGB = np.array(RGB_D2_Set1)

In [1117]:
y_D2_RGB =  table_D2Set1.iloc[:,14:15]

In [1118]:
y_test_D2_RGB = np.array(y_D2_RGB)

In [1119]:
X_train_D2_RGB = np.array(RGB_D2_concat2)

In [1120]:
y_train_D2RGB = RGB_D2_concat1.iloc[:,14:15]

In [1121]:
y_train_D2_RGB = np.array(y_train_D2RGB)

In [1122]:
clf.fit(X_train_D2_RGB, y_train_D2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1123]:
y_pred_D2_RGB = clf.predict(X_test_D2_RGB)

In [1124]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))

Accuracy: 1.0

###HSV

In [1125]:
HSV_D2_Set1 = table_D2Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1126]:
HSV_D2_concat2 = RGB_D2_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1127]:
X_test_D2_HSV = np.array(HSV_D2_Set1)

In [1128]:
y_D2_HSV =  table_D2Set1.iloc[:,14:15]

In [1129]:
y_test_D2_HSV = np.array(y_D2_RGB)

In [1130]:
X_train_D2_HSV = np.array(HSV_D2_concat2)

In [1131]:
y_train_D2HSV = RGB_D2_concat1.iloc[:,14:15]

In [1132]:
y_train_D2_HSV = np.array(y_train_D2HSV)

In [1133]:
clf.fit(X_train_D2_HSV, y_train_D2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1134]:
y_pred_D2_HSV = clf.predict(X_test_D2_HSV)

In [1135]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))

Accuracy: 1.0

##D3

In [1136]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [1137]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [1138]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [1139]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

###RGB

In [1140]:
RGB_D3_Set1 = table_D3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1141]:
RGB_D3_Set2 = table_D3Set2

In [1142]:
RGB_D3_Set3 = table_D3Set3

In [1143]:
RGB_D3_Set4 = table_D3Set4

In [1144]:
RGB_D3_concat0 = pd.concat([RGB_D3_Set2,RGB_D3_Set3])

In [1145]:
RGB_D3_concat1 = pd.concat([RGB_D3_concat0,RGB_D3_Set4])

In [1146]:
RGB_D3_concat2 = RGB_D3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1147]:
X_test_D3_RGB = np.array(RGB_D3_Set1)

In [1148]:
y_D3_RGB =  table_D3Set1.iloc[:,14:15]

In [1149]:
y_test_D3_RGB = np.array(y_D3_RGB)

In [1150]:
X_train_D3_RGB = np.array(RGB_D3_concat2)

In [1151]:
y_train_D3RGB = RGB_D3_concat1.iloc[:,14:15]

In [1152]:
y_train_D3_RGB = np.array(y_train_D3RGB)

In [1153]:
clf.fit(X_train_D3_RGB, y_train_D3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1154]:
y_pred_D3_RGB = clf.predict(X_test_D3_RGB)

In [1155]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

Accuracy: 1.0

###HSV

In [1156]:
HSV_D3_Set1 = table_D3Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1157]:
HSV_D3_concat2 = RGB_D3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1158]:
X_test_D3_HSV = np.array(HSV_D3_Set1)

In [1159]:
y_D3_HSV =  table_D3Set1.iloc[:,14:15]

In [1160]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [1161]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [1162]:
y_train_D3HSV = RGB_D3_concat1.iloc[:,14:15]

In [1163]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [1164]:
clf.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1165]:
y_pred_D3_HSV = clf.predict(X_test_D3_HSV)

In [1166]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 1.0

##D4

In [1167]:
table_D4Set1 = pd.read_excel(Set1 , sheet_name='D4Set1')
table_D4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.088190  223.843531  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1  238.053030  223.947455  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2  233.654332  219.933955  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3  238.016026  223.854701  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4  238.780109  224.845183  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png

[5 rows x 16 columns]

In [1168]:
table_D4Set2 = pd.read_excel(Set2, sheet_name='D4Set2')
table_D4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.805556  220.733877  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1  230.391123  217.092269  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2  234.894037  220.797106  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3  235.779332  221.742521  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4  235.799048  221.630439  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png

[5 rows x 16 columns]

In [1169]:
table_D4Set3 = pd.read_excel(Set3, sheet_name='D4Set3 ')
table_D4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1  233.355381  219.439880  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2  228.504662  215.655983  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3  233.467172  219.479118  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4  234.509615  220.490385  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png

[5 rows x 16 columns]

In [1170]:
table_D4Set4 = pd.read_excel(Set4, sheet_name='D4Set4')
table_D4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.090618  212.450078  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1  236.429487  207.597222  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2  240.356449  212.529138  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3  239.986791  212.474650  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4  237.050699  208.271465  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png

[5 rows x 16 columns]

###RGB

In [1200]:
RGB_D4_Set1 = table_D4Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1201]:
RGB_D4_Set2 = table_D4Set2

In [1202]:
RGB_D4_Set3 = table_D4Set3

In [1203]:
RGB_D4_Set4 = table_D4Set4

In [1204]:
RGB_D4_concat0 = pd.concat([RGB_D4_Set2,RGB_D4_Set3])

In [1205]:
RGB_D4_concat1 = pd.concat([RGB_D4_concat0,RGB_D4_Set4])

In [1206]:
RGB_D4_concat2 = RGB_D4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1207]:
X_test_D4_RGB = np.array(RGB_D4_Set1)

In [1208]:
y_D4_RGB =  table_D4Set1.iloc[:,14:15]

In [1209]:
y_test_D4_RGB = np.array(y_D4_RGB)

In [1210]:
X_train_D4_RGB = np.array(RGB_D4_concat2)

In [1211]:
y_train_D4RGB = RGB_D4_concat1.iloc[:,14:15]

In [1212]:
y_train_D4_RGB = np.array(y_train_D4RGB)

In [1213]:
clf.fit(X_train_D4_RGB, y_train_D4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1214]:
y_pred_D4_RGB = clf.predict(X_test_D4_RGB)

In [1215]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

Accuracy: 0.9813664596273292

###HSV

In [1216]:
HSV_D4_Set1 = table_D4Set1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1217]:
HSV_D4_concat2 = RGB_D4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [1218]:
X_test_D4_HSV = np.array(HSV_D4_Set1)

In [1219]:
y_D4_HSV =  table_D4Set1.iloc[:,14:15]

In [1220]:
y_test_D4_HSV = np.array(y_D4_RGB)

In [1221]:
X_train_D4_HSV = np.array(HSV_D4_concat2)

In [1222]:
y_train_D4HSV = RGB_D4_concat1.iloc[:,14:15]

In [1223]:
y_train_D4_HSV = np.array(y_train_D4HSV)

In [1224]:
clf.fit(X_train_D4_HSV, y_train_D4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [1225]:
y_pred_D4_HSV = clf.predict(X_test_D4_HSV)

In [1226]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

Accuracy: 0.9813664596273292

#Accuracy

##RGB

In [1227]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

A1 มี Accuracy เท่ากับ: 1.0
A2 มี Accuracy เท่ากับ: 0.95625
A3 มี Accuracy เท่ากับ: 0.98125
A3.5 มี Accuracy เท่ากับ: 0.85
A4 มี Accuracy เท่ากับ: 0.71375
B1 มี Accuracy เท่ากับ: 0.9788819875776398
B2 มี Accuracy เท่ากับ: 1.0
B3 มี Accuracy เท่ากับ: 0.9006211180124224
B4 มี Accuracy เท่ากับ: 1.0
C1 มี Accuracy เท่ากับ: 0.115527950310559
C2 มี Accuracy เท่ากับ: 0.9975155279503105
C3 มี Accuracy เท่ากับ: 0.901863354037267
C4 มี Accuracy เท่ากับ: 0.8732919254658386
D2 มี Accuracy เท่ากับ: 1.0
D3 มี Accuracy เท่ากับ: 1.0
D4 มี Accuracy เท่ากับ: 0.9813664596273292

##HSV

In [1240]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

A1 มี Accuracy เท่ากับ: 1.0
A2 มี Accuracy เท่ากับ: 0.0625
A3 มี Accuracy เท่ากับ: 0.98125
A3.5 มี Accuracy เท่ากับ: 0.77125
A4 มี Accuracy เท่ากับ: 0.68875
B1 มี Accuracy เท่ากับ: 0.9788819875776398
B2 มี Accuracy เท่ากับ: 1.0
B3 มี Accuracy เท่ากับ: 0.8795031055900621
B4 มี Accuracy เท่ากับ: 0.9465838509316771
C1 มี Accuracy เท่ากับ: 0.9204968944099379
C2 มี Accuracy เท่ากับ: 0.9962732919254659
C3 มี Accuracy เท่ากับ: 0.901863354037267
C4 มี Accuracy เท่ากับ: 0.8732919254658386
D2 มี Accuracy เท่ากับ: 1.0
D3 มี Accuracy เท่ากับ: 1.0
D4 มี Accuracy เท่ากับ: 0.9813664596273292