<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/RF2_set3_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

In [ ]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [ ]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting4.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting2.xlsx',
 'D3set51.csv',
 'Setting1.xlsx',
 'CheckerDD.xlsx',
 'Setting3.xlsx',
 'Setting6.xlsx',
 'Setting5.xlsx',
 'checkerShad_A .xlsx',
 'checkerShad_B.xlsx',
 'checkerShad_C.xlsx',
 'D3Set5-61.xlsx',
 'checkerShad_D.xlsx',
 'Color-checkerDD.xlsx',
 'Datapoint_1.xlsx',
 'Datapoint_2.xlsx',
 'Datapoint_3.xlsx',
 'Datapoint_4.xlsx',
 'Datapoint_6.xlsx',
 'Datapoint_5.xlsx']

In [ ]:
Set1 = os.path.join(path,'Datapoint_1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_1.xlsx

In [ ]:
Set2 = os.path.join(path,'Datapoint_2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_2.xlsx

In [ ]:
Set3 = os.path.join(path,'Datapoint_3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_3.xlsx

In [ ]:
Set4 = os.path.join(path,'Datapoint_4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_4.xlsx

In [ ]:
import numpy as np

In [ ]:
from sklearn import metrics

In [ ]:
from sklearn import datasets

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#AA

##A1

In [ ]:
table_A1Set1 = pd.read_excel(Set1 , sheet_name='A1_1')
table_A1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.489003  226.557990  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1  238.912751  225.914942  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2  239.195520  226.261586  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3  239.019317  226.444282  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4  238.941644  225.877932  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png

[5 rows x 16 columns]

In [ ]:
table_A1Set2 = pd.read_excel(Set2, sheet_name='A1_2')
table_A1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.568460  217.780781  ...    A1  34F0629C-69B1-4125-85F4-7E496A7847A0.png
1  230.780050  213.803182  ...    A1  75D1D3E7-592F-475B-9A9A-875F69F08B32.png
2  235.041880  218.480886  ...    A1  0269AD27-018D-4F5C-8420-0138CBE2F66D.png
3  235.433163  218.008279  ...    A1  23588608-16F4-4103-ABCE-12D22092B61E.png
4  234.928171  218.422125  ...    A1  7FD4DE28-0FF8-4A06-A8F0-172F77C0E69C.png

[5 rows x 16 columns]

In [ ]:
table_A1Set3 = pd.read_excel(Set3, sheet_name='A1_3')
table_A1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  225.702135  224.767714  ...    A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1  225.748559  224.811947  ...    A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2  225.281146  224.703595  ...    A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3  224.369856  224.142196  ...    A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4  224.761302  224.014690  ...    A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png

[5 rows x 16 columns]

In [ ]:
table_A1Set4 = pd.read_excel(Set4, sheet_name='A1_4')
table_A1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.408246  232.043828  ...    A1  2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1  227.936775  225.815843  ...    A1  89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2  227.494278  226.130022  ...    A1  9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3  233.777778  232.819414  ...    A1  13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4  227.613100  226.014285  ...    A1  89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf1 =RandomForestClassifier()

In [ ]:
RGB_A1_Set1 = table_A1Set1

In [ ]:
RGB_A1_Set4 = table_A1Set4

In [ ]:
RGB_A1_Set2 = table_A1Set2

In [ ]:
RGB_A1_Set3 = table_A1Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A1_concat0 = pd.concat([RGB_A1_Set1,RGB_A1_Set2,RGB_A1_Set4])

In [ ]:
RGB_A1_concat2 = RGB_A1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A1_RGB = np.array(RGB_A1_Set3)

In [ ]:
y_A1_RGB =  table_A1Set3.iloc[:,14:15]

In [ ]:
y_test_A1_RGB = np.array(y_A1_RGB)

In [ ]:
X_train_A1_RGB = np.array(RGB_A1_concat2)

In [ ]:
y_train_A1RGB = RGB_A1_concat0.iloc[:,14:15]

In [ ]:
y_train_A1_RGB = np.array(y_train_A1RGB)

In [ ]:
clf1.fit(X_train_A1_RGB, y_train_A1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A1_RGB = clf1.predict(X_test_A1_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))

Accuracy: 0.5

###HSV

In [ ]:
clf2=RandomForestClassifier()

In [ ]:
HSV_A1_Set3 = table_A1Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A1_concat2 = RGB_A1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A1_HSV = np.array(HSV_A1_Set3)

In [ ]:
y_A1_HSV =  table_A1Set3.iloc[:,14:15]

In [ ]:
y_test_A1_HSV = np.array(y_A1_RGB)

In [ ]:
X_train_A1_HSV = np.array(HSV_A1_concat2)

In [ ]:
y_train_A1HSV = RGB_A1_concat0.iloc[:,14:15]

In [ ]:
y_train_A1_HSV = np.array(y_train_A1HSV)

In [ ]:
clf2.fit(X_train_A1_HSV, y_train_A1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A1_HSV = clf2.predict(X_test_A1_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))

Accuracy: 0.19876543209876543

##A2

In [ ]:
table_A2Set1 = pd.read_excel(Set1 , sheet_name='A2_1')
table_A2Set1.head()

      R-ref     G-ref  ...  Shad                                       Img
0  236.8857  219.6456  ...    A1  3055D600-52FE-426B-8FB7-F22AD0D97955.png
1  236.5746  219.3545  ...    A1  94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
2  236.5240  219.3535  ...    A1  61347A1C-5E5B-48EE-BB2D-AA9068046272.png
3  236.4670  219.8862  ...    A1  65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
4  238.0596  222.0011  ...    A1  86927B90-BCE2-4CA1-8556-398BF4B5A60E.png

[5 rows x 16 columns]

In [ ]:
table_A2Set2 = pd.read_excel(Set2, sheet_name='A2_2')
table_A2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  222.796770  200.285204  ...    A1  77308B8C-A458-48C0-A0EF-DD05DD0AEA75.png
1  221.262398  199.009009  ...    A1  DD37E60E-8484-48E3-8FB4-7E94B71553F4.png
2  221.463923  199.526905  ...    A1  0ED6DB80-7C02-41B3-88E9-CB382B96B37C.png
3  221.655547  199.446717  ...    A1  8B551D28-1E87-49BD-9E20-8B3F5F08FE8E.png
4  222.655872  200.651327  ...    A1  C12D1E9C-5BFA-4DD7-9D3F-194378F9673D.png

[5 rows x 16 columns]

In [ ]:
table_A2Set3 = pd.read_excel(Set3, sheet_name='A2_3')
table_A2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  225.514731  220.905771  ...    A1  FE70379B-BE7C-4C2F-8F6B-BEC1809BF9B3.png
1  231.205097  227.413603  ...    A1  BA3AFF8D-AAA7-4A26-A99D-58E7730257A4.png
2  225.359062  220.997240  ...    A1  0F941597-744A-4ADE-973D-21AB168D1129.png
3  224.590131  220.659281  ...    A1  A63282AB-FC26-4DE4-8787-9276F2B800C0.png
4  230.846198  227.143414  ...    A1  D5F0E3B1-E9A0-4496-8806-ABEB0B70C533.png

[5 rows x 16 columns]

In [ ]:
table_A2Set4 = pd.read_excel(Set4, sheet_name='A2_4')
table_A2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.260774  227.901956  ...    A1  32311BEA-0470-4D35-AE74-307331146F6B.png
1  233.393231  227.774856  ...    A1  7F5A3DCA-19B2-4D09-8A4E-518F576D12C6.png
2  225.906339  220.894408  ...    A1  ADD7F30E-6D84-4B3A-9E24-47AD358C03B3.png
3  225.443389  220.425209  ...    A1  513F7C8E-CA13-40B5-9634-5F151E841C6B.png
4  232.792062  227.933853  ...    A1  06F92E7E-7005-426D-A897-6EB6FF43717C.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf3=RandomForestClassifier()

In [ ]:
RGB_A2_Set3 = table_A2Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A2_Set4 = table_A2Set4

In [ ]:
RGB_A2_Set2 = table_A2Set2

In [ ]:
RGB_A2_Set1 = table_A2Set1

In [ ]:
RGB_A2_concat0 = pd.concat([RGB_A2_Set4,RGB_A2_Set2,RGB_A2_Set1])

In [ ]:
RGB_A2_concat2 = RGB_A2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A2_RGB = np.array(RGB_A2_Set3)

In [ ]:
y_A2_RGB =  table_A2Set3.iloc[:,14:15]

In [ ]:
y_test_A2_RGB = np.array(y_A2_RGB)

In [ ]:
X_train_A2_RGB = np.array(RGB_A2_concat2)

In [ ]:
y_train_A2RGB = RGB_A2_concat0.iloc[:,14:15]

In [ ]:
y_train_A2_RGB = np.array(y_train_A2RGB)

In [ ]:
clf3.fit(X_train_A2_RGB, y_train_A2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A2_RGB = clf3.predict(X_test_A2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))

Accuracy: 0.73875

###HSV

In [ ]:
clf4=RandomForestClassifier()

In [ ]:
HSV_A2_Set3 = table_A2Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A2_concat2 = RGB_A2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A2_HSV = np.array(HSV_A2_Set3)

In [ ]:
y_A2_HSV =  table_A2Set2.iloc[:,14:15]

In [ ]:
y_test_A2_HSV = np.array(y_A2_RGB)

In [ ]:
X_train_A2_HSV = np.array(HSV_A2_concat2)

In [ ]:
y_train_A2HSV = RGB_A2_concat0.iloc[:,14:15]

In [ ]:
y_train_A2_HSV = np.array(y_train_A2HSV)

In [ ]:
clf4.fit(X_train_A2_HSV, y_train_A2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A2_HSV = clf4.predict(X_test_A2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))

Accuracy: 0.0625

##A3

In [ ]:
table_A3Set1 = pd.read_excel(Set1 , sheet_name='A3_1')
table_A3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  235.066066  216.606120  ...    A1  BAD1342F-482E-488F-8241-A393B4779E26.png
1  235.814301  217.723318  ...    A1  0E4BF624-DA48-45D7-8CEF-1F893F3E36A9.png
2  235.728756  217.884506  ...    A1  A5A67F7B-D2B1-4729-8A0B-9BE2F2DF55C6.png
3  236.672673  218.868923  ...    A1  35D1BEA8-E650-4D83-9D61-17AD65EABD39.png
4  238.918919  221.687769  ...    A1  18FE9FE4-F848-465E-B7FE-7792C8A083CB.png

[5 rows x 16 columns]

In [ ]:
table_A3Set2 = pd.read_excel(Set2, sheet_name='A3_2')
table_A3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.163136  220.169873  ...    A1  66373A06-43CB-4E73-84DA-6B504F4F1C45.png
1  243.948056  226.590293  ...    A1  F87BFB23-54A6-48EC-95AB-B690B56F7934.png
2  244.562049  228.064199  ...    A1  67DEF170-ED6C-468A-AC90-9DF1ED4C4091.png
3  244.414820  226.857560  ...    A1  861A0A06-2BEB-4C2D-9ECD-F753ACF6F036.png
4  240.356302  221.176203  ...    A1  BC54DA9B-E07D-4E21-8DB1-CC714427C684.png

[5 rows x 16 columns]

In [ ]:
table_A3Set3 = pd.read_excel(Set3, sheet_name='A3_3')
table_A3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.753591  236.544355  ...    A1  DC980AD2-81DD-4EAE-80D5-0CDDA83B06E7.png
1  230.952277  227.044315  ...    A1  5D10BAC5-8F2F-4EAC-86CE-FBA2AB6F50DD.png
2  239.044315  235.193004  ...    A1  E974AE96-AD14-4660-857A-2B63C16E8EB1.png
3  236.327490  231.408165  ...    A1  16DB511D-570A-4F94-808B-93F9C47B4CE9.png
4  236.119390  231.342099  ...    A1  1035897E-D1B4-4245-BE07-6C461520AF33.png

[5 rows x 16 columns]

In [ ]:
table_A3Set4 = pd.read_excel(Set4, sheet_name='A3_4')
table_A3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  227.620242  222.732165  ...    A1  099CF1A3-858D-4BA2-A8BC-C91A564396D7.png
1  233.414414  229.274085  ...    A1  9469517A-8B99-4786-9686-2CFEE6A31CE0.png
2  233.672916  228.515948  ...    A1  25B0DFEE-A7FC-43BC-A6B7-BB7D513F07E8.png
3  226.789465  221.794822  ...    A1  12160C42-A338-4723-AF9C-E0040D3CEFF9.png
4  233.572843  228.452317  ...    A1  B37CF291-B0F8-4DAB-B072-5B8DA68A31B5.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf5=RandomForestClassifier()

In [ ]:
RGB_A3_Set3 = table_A3Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A3_Set4 = table_A3Set4

In [ ]:
RGB_A3_Set2 = table_A3Set2

In [ ]:
RGB_A3_Set1 = table_A3Set1

In [ ]:
RGB_A3_concat = pd.concat([RGB_A3_Set4,RGB_A3_Set2,RGB_A3_Set1])

In [ ]:
RGB_A3_concat2 = RGB_A3_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_RGB = np.array(RGB_A3_Set3)

In [ ]:
y_A3_RGB =  table_A3Set3.iloc[:,14:15]

In [ ]:
y_test_A3_RGB = np.array(y_A3_RGB)

In [ ]:
X_train_A3_RGB = np.array(RGB_A3_concat2)

In [ ]:
y_train_A3RGB = RGB_A3_concat.iloc[:,14:15]

In [ ]:
y_train_A3_RGB = np.array(y_train_A3RGB)

In [ ]:
clf5.fit(X_train_A3_RGB, y_train_A3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_RGB = clf5.predict(X_test_A3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))

Accuracy: 0.335

###HSV

In [ ]:
clf6=RandomForestClassifier()

In [ ]:
HSV_A3_Set3 = table_A3Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A3_concat2 = RGB_A3_concat.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_HSV = np.array(HSV_A3_Set3)

In [ ]:
y_A3_HSV =  table_A3Set3.iloc[:,14:15]

In [ ]:
y_test_A3_HSV = np.array(y_A3_RGB)

In [ ]:
X_train_A3_HSV = np.array(HSV_A3_concat2)

In [ ]:
y_train_A3HSV = RGB_A3_concat.iloc[:,14:15]

In [ ]:
y_train_A3_HSV = np.array(y_train_A3HSV)

In [ ]:
clf6.fit(X_train_A3_HSV, y_train_A3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_HSV = clf6.predict(X_test_A3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))

Accuracy: 0.295

##A3.5

In [ ]:
clf7=RandomForestClassifier()

In [ ]:
table_A3_5Set1 = pd.read_excel(Set1 , sheet_name='A3.5_1')
table_A3_5Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.521954  209.560425  ...    A1  2DD07CB7-0413-41D5-BE23-51CA3C9164F5.png
1  238.063794  210.368071  ...    A1  F28F074F-5B54-424C-8E70-EC56E06FC3E0.png
2  237.652463  210.789303  ...    A1  6ABA4B94-D8B3-48BA-B1FA-6B5A081F40D1.png
3  237.005763  210.512134  ...    A1  6B5870DF-9D32-4295-9D0E-F1DDA4ABD18F.png
4  237.200877  211.312393  ...    A1  9EBCADA0-A39C-4692-B684-A967FE6F59B5.png

[5 rows x 16 columns]

In [ ]:
table_A3_5Set2 = pd.read_excel(Set2, sheet_name='A3.5_2')
table_A3_5Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  230.525850  201.762276  ...    A1  DD92C3DE-FED4-405C-A9BE-F6CB3CC67D3C.png
1  227.598003  195.522928  ...    A1  475DD7D4-D0A4-4875-8A88-515EC0BE2FEA.png
2  230.512783  201.153965  ...    A1  6A134D80-DECF-4205-B3F2-0FC7F87D6F47.png
3  231.764629  202.156562  ...    A1  3AF27BD7-16A3-47B3-A9D2-6F28AB0A73D4.png
4  231.882721  202.259963  ...    A1  F1DEE804-F5D7-48D6-A2AF-FB7B10C7C006.png

[5 rows x 16 columns]

In [ ]:
table_A3_5Set3 = pd.read_excel(Set3, sheet_name='A3.5_3')
table_A3_5Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.789790  227.862511  ...    A1  EA18B729-21CA-4CBD-9CD9-87A230B62A73.png
1  225.381868  217.347861  ...    A1  6F63F3BD-AD91-4D05-A01E-F262738EC089.png
2  225.723074  217.551497  ...    A1  C25C23A8-8D33-471D-9F99-1D7F0A5A2256.png
3  234.848227  227.721938  ...    A1  C7840948-E4E4-4326-9CA7-7249FD51E66F.png
4  234.453291  227.748722  ...    A1  6D2686E5-1F1E-46F5-8307-2588684AE288.png

[5 rows x 16 columns]

In [ ]:
table_A3_5Set4 = pd.read_excel(Set4, sheet_name='A3.5_4')
table_A3_5Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  219.071829  202.284636  ...    A1  59331E47-9409-4752-859C-BD69B64F2FC6.png
1  218.764143  202.356140  ...    A1  271B26B6-1BC4-4A50-9198-127569C8BF3D.png
2  218.561399  202.688499  ...    A1  101CF038-4C3A-400E-9C2C-6CC2F63DEEEF.png
3  220.439818  205.936206  ...    A1  4CA308BF-F5D3-47CB-A3C0-4D0D3CBD97AA.png
4  220.497038  206.076942  ...    A1  C05E2226-6B18-40E3-966D-02DE782F3404.png

[5 rows x 16 columns]

###RGB

In [ ]:
RGB_A3_5_Set3 = table_A3_5Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A3_5_Set4 = table_A3_5Set4

In [ ]:
RGB_A3_5_Set2 = table_A3_5Set2

In [ ]:
RGB_A3_5_Set1 = table_A3_5Set1

In [ ]:
RGB_A3_5_concat0 = pd.concat([RGB_A3_5_Set4,RGB_A3_5_Set2,RGB_A3_5_Set1])

In [ ]:
RGB_A3_5_concat2 = RGB_A3_5_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_5_RGB = np.array(RGB_A3_5_Set3)

In [ ]:
y_A3_5_RGB =  table_A3_5Set3.iloc[:,14:15]

In [ ]:
y_test_A3_5_RGB = np.array(y_A3_5_RGB)

In [ ]:
X_train_A3_5_RGB = np.array(RGB_A3_5_concat2)

In [ ]:
y_train_A3_5RGB = RGB_A3_5_concat0.iloc[:,14:15]

In [ ]:
y_train_A3_5_RGB = np.array(y_train_A3_5RGB)

In [ ]:
clf7.fit(X_train_A3_5_RGB, y_train_A3_5_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_5_RGB = clf7.predict(X_test_A3_5_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))

Accuracy: 0.07

###HSV

In [ ]:
clf8=RandomForestClassifier()

In [ ]:
HSV_A3_5_Set3 = table_A3_5Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A3_5_concat2 = RGB_A3_5_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_5_HSV = np.array(HSV_A3_5_Set3)

In [ ]:
y_A3_5_HSV =  table_A3_5Set3.iloc[:,14:15]

In [ ]:
y_test_A3_5_HSV = np.array(y_A3_5_RGB)

In [ ]:
X_train_A3_5_HSV = np.array(HSV_A3_5_concat2)

In [ ]:
y_train_A3_5HSV = RGB_A3_5_concat0.iloc[:,14:15]

In [ ]:
y_train_A3_5_HSV = np.array(y_train_A3_5HSV)

In [ ]:
clf8.fit(X_train_A3_5_HSV, y_train_A3_5_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_5_HSV = clf8.predict(X_test_A3_5_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))

Accuracy: 0.125

##A4

In [ ]:
table_A4Set1 = pd.read_excel(Set1 , sheet_name='A4_1')
table_A4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  231.225793  207.225306  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1  231.522523  206.851798  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2  230.894895  204.879961  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3  231.246084  206.003815  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4  232.597760  207.029868  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png

[5 rows x 16 columns]

In [ ]:
table_A4Set2 = pd.read_excel(Set2, sheet_name='A4_2')
table_A4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.645078  185.742553  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1  224.198361  193.866813  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2  218.432595  186.328626  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3  219.579093  187.970700  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4  219.786056  187.681357  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png

[5 rows x 16 columns]

In [ ]:
table_A4Set3 = pd.read_excel(Set3, sheet_name='A4_3')
table_A4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  226.313936  219.841084  ...    A1  F712701E-BE7E-4095-A77E-B995819EFFFD.png
1  227.121987  220.647269  ...    A1  CECCAFE3-FE35-40E3-A23C-E30AC0ED7305.png
2  218.324811  210.629089  ...    A1  030A48A3-45A8-46B5-BA6E-40DBF7924561.png
3  226.866001  220.431296  ...    A1  56F3B9ED-032B-4568-94F8-A20F8E7C590B.png
4  226.753997  220.355166  ...    A1  B39AAD6D-AA02-4E9A-9387-6545DE9848CE.png

[5 rows x 16 columns]

In [ ]:
table_A4Set4 = pd.read_excel(Set4, sheet_name='A4_4')
table_A4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  211.018505  198.340476  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1  207.639964  195.072559  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2  210.950329  198.417417  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3  210.858697  198.275383  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4  207.614561  195.007142  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf9=RandomForestClassifier()

In [ ]:
RGB_A4_Set3 = table_A4Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A4_Set4 = table_A4Set4

In [ ]:
RGB_A4_Set2 = table_A4Set2

In [ ]:
RGB_A4_Set1 = table_A4Set1

In [ ]:
RGB_A4_concat0 = pd.concat([RGB_A4_Set4,RGB_A4_Set2,RGB_A4_Set1])

In [ ]:
RGB_A4_concat2 = RGB_A4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A4_RGB = np.array(RGB_A4_Set3)

In [ ]:
y_A4_RGB =  table_A4Set3.iloc[:,14:15]

In [ ]:
y_test_A4_RGB = np.array(y_A4_RGB)

In [ ]:
X_train_A4_RGB = np.array(RGB_A4_concat2)

In [ ]:
y_train_A4_RGB = RGB_A4_concat0.iloc[:,14:15]

In [ ]:
y_train_A4_RGB = np.array(y_train_A4_RGB)

In [ ]:
clf9.fit(X_train_A4_RGB, y_train_A4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A4_RGB = clf9.predict(X_test_A4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))

Accuracy: 0.2975

###HSV

In [ ]:
clf10=RandomForestClassifier()

In [ ]:
HSV_A4_Set3 = table_A4Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A4_concat2 = RGB_A4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A4_HSV = np.array(HSV_A4_Set3)

In [ ]:
y_A4_HSV =  table_A4Set3.iloc[:,14:15]

In [ ]:
y_test_A4_HSV = np.array(y_A4_RGB)

In [ ]:
X_train_A4_HSV = np.array(HSV_A4_concat2)

In [ ]:
y_train_A4HSV = RGB_A4_concat0.iloc[:,14:15]

In [ ]:
y_train_A4_HSV = np.array(y_train_A4HSV)

In [ ]:
clf10.fit(X_train_A4_HSV, y_train_A4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A4_HSV = clf10.predict(X_test_A4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))

Accuracy: 0.40375

#BB

##B1

In [ ]:
table_B1Set1 = pd.read_excel(Set1 , sheet_name='B1_1')
table_B1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.492330  224.346725  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1  230.950735  219.930769  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2  235.713497  225.486892  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3  234.890350  224.554500  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4  231.349403  220.936531  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png

[5 rows x 16 columns]

In [ ]:
table_B1Set2 = pd.read_excel(Set2, sheet_name='B1_2')
table_B1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.072072  226.369694  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1  236.722669  224.961286  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2  232.850418  219.467738  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3  230.301680  213.231394  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4  229.089603  211.857398  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png

[5 rows x 16 columns]

In [ ]:
table_B1Set3 = pd.read_excel(Set3, sheet_name='B1_3')
table_B1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.826232  235.225875  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1  225.319049  227.629819  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2  232.356546  234.578119  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3  232.310851  234.612288  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4  232.525282  234.866975  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png

[5 rows x 16 columns]

In [ ]:
table_B1Set4 = pd.read_excel(Set4, sheet_name='B1_4')
table_B1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  224.326759  221.108839  ...    A1  FE8C5C61-E1C3-43CD-89CA-1CC9F2F64918.png
1  229.503693  229.352812  ...    A1  D3A831B0-6702-4ED8-BCD2-DF3E93AE96AA.png
2  222.500609  223.042529  ...    A1  8A8341B2-51DF-4C76-9E21-423D884578F9.png
3  228.807077  230.561156  ...    A1  73445C43-E3BF-421B-9A97-1F1182DFFF9A.png
4  229.235695  230.981089  ...    A1  56FEB49F-EF2D-4F39-A5BC-CCD039F7C855.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf11=RandomForestClassifier()

In [ ]:
RGB_B1_Set3 = table_B1Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B1_Set4 = table_B1Set4

In [ ]:
RGB_B1_Set2 = table_B1Set2

In [ ]:
RGB_B1_Set1 = table_B1Set1

In [ ]:
RGB_B1_concat0 = pd.concat([RGB_B1_Set4,RGB_B1_Set2,RGB_B1_Set1])

In [ ]:
RGB_B1_concat2 = RGB_B1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B1_RGB = np.array(RGB_B1_Set3)

In [ ]:
y_B1_RGB =  table_B1Set3.iloc[:,14:15]

In [ ]:
y_test_B1_RGB = np.array(y_B1_RGB)

In [ ]:
X_train_B1_RGB = np.array(RGB_B1_concat2)

In [ ]:
y_train_B1RGB = RGB_B1_concat0.iloc[:,14:15]

In [ ]:
y_train_B1_RGB = np.array(y_train_B1RGB)

In [ ]:
clf11.fit(X_train_B1_RGB, y_train_B1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B1_RGB = clf11.predict(X_test_B1_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))

Accuracy: 0.06049382716049383

###HSV

In [ ]:
clf12=RandomForestClassifier()

In [ ]:
HSV_B1_Set3 = table_B1Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B1_concat2 = RGB_B1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B1_HSV = np.array(HSV_B1_Set3)

In [ ]:
y_B1_HSV =  table_B1Set3.iloc[:,14:15]

In [ ]:
y_test_B1_HSV = np.array(y_B1_RGB)

In [ ]:
X_train_B1_HSV = np.array(HSV_B1_concat2)

In [ ]:
y_train_B1HSV = RGB_B1_concat0.iloc[:,14:15]

In [ ]:
y_train_B1_HSV = np.array(y_train_B1HSV)

In [ ]:
clf12.fit(X_train_B1_HSV, y_train_B1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B1_HSV = clf12.predict(X_test_B1_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))

Accuracy: 0.06296296296296296

##B2

In [ ]:
table_B2Set1 = pd.read_excel(Set1 , sheet_name='B2_1')
table_B2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.290967  216.284149  ...    A1  8844784E-18F2-4180-BD56-22527F5B506A.png
1  237.340151  219.935882  ...    A1  9B82482F-3CCB-4D36-88DF-53EE592260BA.png
2  237.162730  219.137651  ...    A1  EBE10373-8135-4270-894B-9887BE25C44D.png
3  237.743365  219.889619  ...    A1  E371B8FC-E57F-49E3-8AF4-9DF8FDBFA8F3.png
4  237.651084  219.381706  ...    A1  238A6F42-0DF6-424E-9279-99FE08A655A8.png

[5 rows x 16 columns]

In [ ]:
table_B2Set2 = pd.read_excel(Set2, sheet_name='B2_2')
table_B2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.642156  217.433001  ...    A1  B1DA559A-D9F1-4AF3-8AF2-1244D61DE126.png
1  229.238049  209.590618  ...    A1  A92BD83A-0BC5-475A-806D-12AED89C8F25.png
2  230.516598  212.658794  ...    A1  3A2804B8-CBAC-40D4-9EC0-8EF3D3C52A9D.png
3  234.527311  217.314910  ...    A1  CFB4F284-CE02-4550-B81A-53E093EE4FBA.png
4  230.832481  211.934421  ...    A1  1A61C771-989D-4734-8138-2EC30D0E65DC.png

[5 rows x 16 columns]

In [ ]:
table_B2Set3 = pd.read_excel(Set3, sheet_name='B2_3')
table_B2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  235.322376  234.603117  ...    A1  250FC647-07B6-4795-B3EF-E2E97F609E10.png
1  235.070205  234.469442  ...    A1  829D716F-ABCB-494F-942F-92D985E969FC.png
2  235.587452  234.897817  ...    A1  31E84E1C-8996-478A-8C5B-DEB651BD8B7B.png
3  235.561318  234.892217  ...    A1  1096FB39-AC69-47B0-A58C-D5EAF4178133.png
4  234.912669  234.182534  ...    A1  561D36AA-0D94-45A1-88BE-C705DA5140C7.png

[5 rows x 16 columns]

In [ ]:
table_B2Set4 = pd.read_excel(Set4, sheet_name='B2_4')
table_B2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  230.024024  223.702053  ...    A1  5B0F9488-7F08-4BCE-A32E-55154984960A.png
1  221.614236  222.497930  ...    A1  0E6453D8-FF6B-407E-97CD-CD738C98FDF2.png
2  224.173687  218.290561  ...    A1  080A292F-0B63-4933-A09A-199874BA4870.png
3  223.656927  219.788491  ...    A1  3638FEC4-42D0-4824-AD26-F7E587220698.png
4  223.816005  220.383086  ...    A1  8D6E4CD1-034D-487B-80CB-3AE03EE1D093.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf13=RandomForestClassifier()

In [ ]:
RGB_B2_Set3 = table_B2Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B2_Set4 = table_B2Set4

In [ ]:
RGB_B2_Set2 = table_B2Set2

In [ ]:
RGB_B2_Set1 = table_B2Set1

In [ ]:
RGB_B2_concat0 = pd.concat([RGB_B2_Set4,RGB_B2_Set2,RGB_B2_Set1])

In [ ]:
RGB_B2_concat2 = RGB_B2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B2_RGB = np.array(RGB_B2_Set3)

In [ ]:
y_B2_RGB =  table_B2Set3.iloc[:,14:15]

In [ ]:
y_test_B2_RGB = np.array(y_B2_RGB)

In [ ]:
X_train_B2_RGB = np.array(RGB_B2_concat2)

In [ ]:
y_train_B2RGB = RGB_B2_concat0.iloc[:,14:15]

In [ ]:
y_train_B2_RGB = np.array(y_train_B2RGB)

In [ ]:
clf13.fit(X_train_B2_RGB, y_train_B2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B2_RGB = clf13.predict(X_test_B2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))

Accuracy: 0.08271604938271605

###HSV

In [ ]:
clf14=RandomForestClassifier()

In [ ]:
HSV_B2_Set3 = table_B2Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B2_concat2 = RGB_B2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B2_HSV = np.array(HSV_B2_Set3)

In [ ]:
y_B2_HSV =  table_B2Set3.iloc[:,14:15]

In [ ]:
y_test_B2_HSV = np.array(y_B2_RGB)

In [ ]:
X_train_B2_HSV = np.array(HSV_B2_concat2)

In [ ]:
y_train_B2HSV = RGB_B2_concat0.iloc[:,14:15]

In [ ]:
y_train_B2_HSV = np.array(y_train_B2HSV)

In [ ]:
clf14.fit(X_train_B2_HSV, y_train_B2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B2_HSV = clf14.predict(X_test_B2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))

Accuracy: 0.11604938271604938

##B3

In [ ]:
table_B3Set1 = pd.read_excel(Set1 , sheet_name='B3_1')
table_B3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.494684  208.533398  ...    A1  768ECDBF-055D-4AF1-9FB6-59F1D54C18F2.png
1  233.706923  204.090821  ...    A1  A2B09945-ABB4-4B6C-8880-C0859637306B.png
2  237.440711  210.784839  ...    A1  5C57C433-024F-4E4A-B661-2A33A270EE9D.png
3  237.416768  209.644509  ...    A1  6D8E199E-9FF6-46BF-A7CA-D491A179F0EB.png
4  236.176041  208.513270  ...    A1  09286B35-9904-4EE4-8AF2-92443DF8DA7D.png

[5 rows x 16 columns]

In [ ]:
table_B3Set2 = pd.read_excel(Set2, sheet_name='B3_2')
table_B3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.164110  212.604496  ...    A1  8E815009-4D5A-4F6E-B73E-3F02EEDF518E.png
1  233.094960  210.277169  ...    A1  71FB6161-2220-4F52-9DB9-988BEA1E6318.png
2  232.942050  210.142846  ...    A1  CE22D8CA-7FD1-4E9E-9A9A-6C3591E3B041.png
3  234.085626  211.622677  ...    A1  9311AA58-DD49-4827-BE81-DE9122D40F36.png
4  231.313449  208.378297  ...    A1  706F5A48-1CDB-468B-A380-D9DBE49855CB.png

[5 rows x 16 columns]

In [ ]:
table_B3Set3 = pd.read_excel(Set3, sheet_name='B3_3')
table_B3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.340313  233.514569  ...    A1  D30CE1BD-7348-4D4B-8B2A-9CF508F40709.png
1  237.545978  233.754160  ...    A1  A3174F21-0003-438F-AB9B-C9E9E4403930.png
2  237.174336  233.405243  ...    A1  F6329A93-CE40-40BD-82AD-EE38250C7659.png
3  237.443146  233.671131  ...    A1  0EA3962C-C625-411B-83E6-FE457309A3FA.png
4  237.280497  233.369207  ...    A1  EC8C9E12-CC68-4397-BBD7-6F464DD8A7F6.png

[5 rows x 16 columns]

In [ ]:
table_B3Set4 = pd.read_excel(Set4, sheet_name='B3_4')
table_B3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  230.465141  223.522117  ...    A1  5C22556A-CB1C-49A8-B0F9-3013F60CF097.png
1  222.085058  217.052268  ...    A1  AEB14259-1749-43ED-901D-F78CF34D6098.png
2  229.628277  225.348430  ...    A1  0D6EAE6C-73F2-4F11-86DF-9A77825BE847.png
3  229.953413  223.214349  ...    A1  214213DB-44A4-43C8-8270-BDECBDE6838F.png
4  229.970213  224.270920  ...    A1  28A87DF6-4327-4573-AB9A-73CB7077ED8E.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf15=RandomForestClassifier()

In [ ]:
RGB_B3_Set3 = table_B3Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B3_Set4 = table_B3Set4

In [ ]:
RGB_B3_Set2 = table_B3Set2

In [ ]:
RGB_B3_Set1 = table_B3Set1

In [ ]:
RGB_B3_concat0 = pd.concat([RGB_B3_Set4,RGB_B3_Set2,RGB_B3_Set1])

In [ ]:
RGB_B3_concat2 = RGB_B3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B3_RGB = np.array(RGB_B3_Set3)

In [ ]:
y_B3_RGB =  table_B3Set3.iloc[:,14:15]

In [ ]:
y_test_B3_RGB = np.array(y_B3_RGB)

In [ ]:
X_train_B3_RGB = np.array(RGB_B3_concat2)

In [ ]:
y_train_B3RGB = RGB_B3_concat0.iloc[:,14:15]

In [ ]:
y_train_B3_RGB = np.array(y_train_B3RGB)

In [ ]:
clf15.fit(X_train_B3_RGB, y_train_B3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B3_RGB = clf15.predict(X_test_B3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))

Accuracy: 0.13209876543209875

###HSV

In [ ]:
clf16=RandomForestClassifier()

In [ ]:
HSV_B3_Set3 = table_B3Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B3_concat2 = RGB_B3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B3_HSV = np.array(HSV_B3_Set3)

In [ ]:
y_B3_HSV =  table_B3Set3.iloc[:,14:15]

In [ ]:
y_test_B3_HSV = np.array(y_B3_RGB)

In [ ]:
X_train_B3_HSV = np.array(HSV_B3_concat2)

In [ ]:
y_train_B3HSV = RGB_B3_concat0.iloc[:,14:15]

In [ ]:
y_train_B3_HSV = np.array(y_train_B3HSV)

In [ ]:
clf16.fit(X_train_B3_HSV, y_train_B3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B3_HSV = clf16.predict(X_test_B3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))

Accuracy: 0.16049382716049382

##B4

In [ ]:
table_B4Set1 = pd.read_excel(Set1 , sheet_name='B4_1')
table_B4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.309228  213.735573  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1  236.844574  213.760815  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2  233.043178  209.123042  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3  233.025485  209.200308  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4  236.346482  213.261992  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png

[5 rows x 16 columns]

In [ ]:
table_B4Set2 = pd.read_excel(Set2, sheet_name='B4_2')
table_B4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.498336  207.651733  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1  232.012255  206.596056  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2  233.085302  207.662365  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3  233.319698  208.411330  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4  233.285853  208.220842  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png

[5 rows x 16 columns]

In [ ]:
table_B4Set3 = pd.read_excel(Set3, sheet_name='B4_3')
table_B4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.910722  231.479182  ...    A1  15CF7C81-C401-4F9B-A9D6-BFF17DD5A41E.png
1  237.001299  231.455158  ...    A1  BB30E369-CADD-4E81-BE42-6B37C089DFDF.png
2  230.576171  224.961854  ...    A1  41EAF1E9-C9E9-4D7E-968E-75700ECAA674.png
3  236.788897  231.485107  ...    A1  C637E1DF-0ECB-4622-A3DD-67CDD073DACD.png
4  236.642075  231.492898  ...    A1  CD93A518-E887-42EC-8254-4B50FE6F9E71.png

[5 rows x 16 columns]

In [ ]:
table_B4Set4 = pd.read_excel(Set4, sheet_name='B4_4')
table_B4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  217.927279  206.897086  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1  226.203068  216.721695  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2  217.951303  206.870546  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3  224.833212  218.921597  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4  226.337473  216.971593  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf17=RandomForestClassifier()

In [ ]:
RGB_B4_Set3 = table_B4Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B4_Set4 = table_B4Set4

In [ ]:
RGB_B4_Set2 = table_B4Set2

In [ ]:
RGB_B4_Set1 = table_B4Set1

In [ ]:
RGB_B4_concat0 = pd.concat([RGB_B4_Set4,RGB_B4_Set2,RGB_B4_Set1])

In [ ]:
RGB_B4_concat2 = RGB_B4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B4_RGB = np.array(RGB_B4_Set3)

In [ ]:
y_B4_RGB =  table_B4Set3.iloc[:,14:15]

In [ ]:
y_test_B4_RGB = np.array(y_B4_RGB)

In [ ]:
X_train_B4_RGB = np.array(RGB_B4_concat2)

In [ ]:
y_train_B4RGB = RGB_B4_concat0.iloc[:,14:15]

In [ ]:
y_train_B4_RGB = np.array(y_train_B4RGB)

In [ ]:
clf17.fit(X_train_B4_RGB, y_train_B4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B4_RGB = clf17.predict(X_test_B4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))

Accuracy: 0.09012345679012346

###HSV

In [ ]:
clf18=RandomForestClassifier()

In [ ]:
HSV_B4_Set3 = table_B4Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B4_concat2 = RGB_B4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B4_HSV = np.array(HSV_B4_Set3)

In [ ]:
y_B4_HSV =  table_B4Set3.iloc[:,14:15]

In [ ]:
y_test_B4_HSV = np.array(y_B4_RGB)

In [ ]:
X_train_B4_HSV = np.array(HSV_B4_concat2)

In [ ]:
y_train_B4HSV = RGB_B4_concat0.iloc[:,14:15]

In [ ]:
y_train_B4_HSV = np.array(y_train_B4HSV)

In [ ]:
clf18.fit(X_train_B4_HSV, y_train_B4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B4_HSV = clf18.predict(X_test_B4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))

Accuracy: 0.2037037037037037

#CC

##C1

In [ ]:
table_C1Set1 = pd.read_excel(Set1 , sheet_name='C1_1')
table_C1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.238860  218.539810  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1  234.682574  218.671942  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2  235.917945  220.763169  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3  235.482266  220.350621  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4  232.222628  217.325623  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png

[5 rows x 16 columns]

In [ ]:
table_C1Set2 = pd.read_excel(Set2, sheet_name='C1_2')
table_C1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  229.340313  211.447447  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1  224.584612  204.774450  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2  224.985959  205.399886  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3  230.291291  212.894570  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4  230.758137  213.740687  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png

[5 rows x 16 columns]

In [ ]:
table_C1Set3 = pd.read_excel(Set3, sheet_name='C1_3')
table_C1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  227.818602  225.902118  ...    A1  1E917833-3707-473C-843B-5D63B350CBC4.png
1  227.561399  225.619024  ...    A1  A3CA5A69-EA09-4AC6-8695-83F9567E6484.png
2  234.851392  233.896193  ...    A1  80A2301F-B67E-45B2-BC09-8FA4D1A48A1F.png
3  234.923058  233.953738  ...    A1  78E24865-B50B-4EFD-BF2F-3CFD4D484A5A.png
4  234.920136  233.383329  ...    A1  4540C001-2AE9-44DB-BA99-C2A8E72A0F28.png

[5 rows x 16 columns]

In [ ]:
table_C1Set4 = pd.read_excel(Set4, sheet_name='C1_4')
table_C1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  224.528529  221.869897  ...    A1  2CF6DEF9-DF65-4D3E-BEC7-C1664402B848.png
1  223.437464  221.999757  ...    A1  D8408792-B96F-425D-B030-680398046CC9.png
2  222.904147  223.310933  ...    A1  A142A91A-E63C-40DA-A92E-5F3C75892CCC.png
3  222.528691  223.429429  ...    A1  B0BB3A91-5BC2-4617-8DCD-521894FD9820.png
4  222.280903  223.302654  ...    A1  B072BB25-1641-4167-A1A0-0570DB6D6C4B.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf19=RandomForestClassifier()

In [ ]:
RGB_C1_Set3 = table_C1Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C1_Set4 = table_C1Set4

In [ ]:
RGB_C1_Set2 = table_C1Set2

In [ ]:
RGB_C1_Set1 = table_C1Set1

In [ ]:
RGB_C1_concat0 = pd.concat([RGB_C1_Set4,RGB_C1_Set2,RGB_C1_Set1])

In [ ]:
RGB_C1_concat2 = RGB_B1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C1_RGB = np.array(RGB_C1_Set3)

In [ ]:
y_C1_RGB =  table_C1Set3.iloc[:,14:15]

In [ ]:
y_test_C1_RGB = np.array(y_C1_RGB)

In [ ]:
X_train_C1_RGB = np.array(RGB_C1_concat2)

In [ ]:
y_train_C1RGB = RGB_C1_concat0.iloc[:,14:15]

In [ ]:
y_train_C1_RGB = np.array(y_train_C1RGB)

In [ ]:
clf19.fit(X_train_C1_RGB, y_train_C1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C1_RGB = clf19.predict(X_test_C1_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))

Accuracy: 0.04814814814814815

###HSV

In [ ]:
clf20=RandomForestClassifier()

In [ ]:
HSV_C1_Set3 = table_C1Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C1_concat2 = RGB_C1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C1_HSV = np.array(HSV_C1_Set3)

In [ ]:
y_C1_HSV =  table_C1Set3.iloc[:,14:15]

In [ ]:
y_test_C1_HSV = np.array(y_C1_RGB)

In [ ]:
X_train_C1_HSV = np.array(HSV_C1_concat2)

In [ ]:
y_train_C1HSV = RGB_C1_concat0.iloc[:,14:15]

In [ ]:
y_train_C1_HSV = np.array(y_train_C1HSV)

In [ ]:
clf20.fit(X_train_C1_HSV, y_train_C1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C1_HSV = clf20.predict(X_test_C1_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))

Accuracy: 0.24444444444444444

##C2

In [ ]:
table_C2Set1 = pd.read_excel(Set1 , sheet_name='C2_1')
table_C2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.128399  209.481617  ...    A1  94B8BCF4-0790-415E-94D6-F74A6D812F9C.png
1  232.343803  214.231069  ...    A1  6C2D0804-8381-4BFF-BF38-C0AC1273E618.png
2  227.926467  209.045857  ...    A1  8BD8561A-0908-4A45-9B23-E1BB2A03640B.png
3  228.438276  209.707329  ...    A1  6021A5FE-EFB1-4650-84F4-27408DAFC2BA.png
4  231.572600  213.134729  ...    A1  1D2C4DD2-FF5D-446F-ADC8-BB6C6E19BF79.png

[5 rows x 16 columns]

In [ ]:
table_C2Set2 = pd.read_excel(Set2, sheet_name='C2_2')
table_C2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.834997  203.294132  ...    A1  374ED3C9-7FB3-4644-A77B-ABBC2258721E.png
1  224.786624  204.017937  ...    A1  64D55779-CEF4-4F38-97BC-1A3DE682F831.png
2  216.484052  194.257690  ...    A1  F118F5AE-2FE5-4E9C-9041-D0E6CBA214C1.png
3  217.360766  195.442740  ...    A1  8D1015B6-7F0D-4679-A728-EF724A18B2DB.png
4  217.773882  194.996023  ...    A1  A98B9E63-26D7-49D1-A84B-0E4BC3823C9A.png

[5 rows x 16 columns]

In [ ]:
table_C2Set3 = pd.read_excel(Set3, sheet_name='C2_3')
table_C2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  224.339502  221.420502  ...    A1  DAB2B542-FF26-450C-BCEE-FBBC6F0F0A5A.png
1  224.509212  221.405324  ...    A1  8D944785-B0B9-442C-9A61-E154610BF547.png
2  232.356546  230.652463  ...    A1  0F8A345A-32E7-44C0-A010-1E1E53B041D7.png
3  224.081325  220.816411  ...    A1  B7E55179-C0B2-42BB-8575-1A1AA5F17A1A.png
4  232.423748  230.300950  ...    A1  5A6D201F-9F7E-44D9-8B97-2AE2BDD7E590.png

[5 rows x 16 columns]

In [ ]:
table_C2Set4 = pd.read_excel(Set4, sheet_name='C2_4')
table_C2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  214.223196  206.460920  ...    A1  97434DCB-317D-460E-B141-4F5F00BD8237.png
1  212.681601  207.304927  ...    A1  86674BAB-7B95-47B9-B2F4-6A08EA9A553C.png
2  221.180992  216.522523  ...    A1  36D924E3-369D-4810-8013-7F212B48F6E7.png
3  220.357357  218.064280  ...    A1  7656ABAF-7260-4953-A918-AB1E537D8E13.png
4  212.290399  207.958364  ...    A1  19D7369E-892D-44FC-A9F2-7C097487F05A.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf21=RandomForestClassifier()

In [ ]:
RGB_C2_Set3 = table_C2Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C2_Set4 = table_C2Set4

In [ ]:
RGB_C2_Set2 = table_C2Set2

In [ ]:
RGB_C2_Set1 = table_C2Set1

In [ ]:
RGB_C2_concat0 = pd.concat([RGB_C2_Set4,RGB_C2_Set2,RGB_C2_Set1])

In [ ]:
RGB_C2_concat2 = RGB_C2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C2_RGB = np.array(RGB_C2_Set3)

In [ ]:
y_C2_RGB =  table_C2Set3.iloc[:,14:15]

In [ ]:
y_test_C2_RGB = np.array(y_B2_RGB)

In [ ]:
X_train_C2_RGB = np.array(RGB_C2_concat2)

In [ ]:
y_train_C2RGB = RGB_C2_concat0.iloc[:,14:15]

In [ ]:
y_train_C2_RGB = np.array(y_train_C2RGB)

In [ ]:
clf21.fit(X_train_C2_RGB, y_train_C2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C2_RGB = clf21.predict(X_test_C2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))

Accuracy: 0.20493827160493827

###HSV

In [ ]:
clf22=RandomForestClassifier()

In [ ]:
HSV_C2_Set3 = table_C2Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C2_concat2 = RGB_C2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C2_HSV = np.array(HSV_C2_Set3)

In [ ]:
y_C2_HSV =  table_C2Set3.iloc[:,14:15]

In [ ]:
y_test_C2_HSV = np.array(y_C2_RGB)

In [ ]:
X_train_C2_HSV = np.array(HSV_C2_concat2)

In [ ]:
y_train_C2HSV = RGB_C2_concat0.iloc[:,14:15]

In [ ]:
y_train_C2_HSV = np.array(y_train_C2HSV)

In [ ]:
clf22.fit(X_train_C2_HSV, y_train_C2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C2_HSV = clf22.predict(X_test_C2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))

Accuracy: 0.31234567901234567

##C3

In [ ]:
table_C3Set1 = pd.read_excel(Set1 , sheet_name='C3_1')
table_C3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.339177  207.544112  ...    A1  8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1  228.171577  207.106891  ...    A1  A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2  228.786219  207.199821  ...    A1  D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3  225.123448  203.137570  ...    A1  B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4  228.860807  207.235371  ...    A1  DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png

[5 rows x 16 columns]

In [ ]:
table_C3Set2 = pd.read_excel(Set2, sheet_name='C3_2')
table_C3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  215.469605  188.643535  ...    A1  458C8A30-28C6-4609-91F0-D2469DFEDA5B.png
1  222.640289  196.111111  ...    A1  07704C9B-608B-41B4-A3A4-C6DF8E2A8EC4.png
2  217.074994  188.451262  ...    A1  945887F0-416B-4C86-B18E-603E66F21AC1.png
3  224.116143  197.132132  ...    A1  3B522047-038B-4387-9487-718BC435AF50.png
4  223.621053  196.794091  ...    A1  EC132633-69E1-4804-B8DA-446EFB6FF262.png

[5 rows x 16 columns]

In [ ]:
table_C3Set3 = pd.read_excel(Set3, sheet_name='C3_3')
table_C3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.212158  224.712442  ...    A1  3FC4EFF4-2124-46E0-8229-DA2B35001036.png
1  221.601818  216.808457  ...    A1  E523862E-01DF-42D9-93CB-972A4CA079DB.png
2  227.920218  224.504261  ...    A1  C69133CE-D8A7-45E8-AA2C-E958093BB83D.png
3  222.139274  217.311744  ...    A1  F9412807-4065-46FC-B596-D5BA2113D00B.png
4  228.165327  224.586316  ...    A1  8A94704C-925E-4B15-8701-ED2E2A7AE8F7.png

[5 rows x 16 columns]

In [ ]:
table_C3Set4 = pd.read_excel(Set4, sheet_name='C3_4')
table_C3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  199.311338  188.579742  ...    A1  D4EECEDB-5CA4-46C9-B28C-63893A5BAF78.png
1  199.714471  191.414739  ...    A1  E89E9E85-D827-4D54-98B4-0E0F3DD6FDD0.png
2  209.306063  203.118416  ...    A1  D1227CC3-C06E-4905-A0CF-6A7B8EEFC412.png
3  209.418310  204.265401  ...    A1  45839274-7758-459E-B7AB-079108195369.png
4  198.527636  192.259395  ...    A1  4B027C83-D177-47FD-BBAE-4F98F0F0B1F0.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf23=RandomForestClassifier()

In [ ]:
RGB_C3_Set3 = table_C3Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C3_Set4 = table_C3Set4

In [ ]:
RGB_C3_Set2 = table_C3Set2

In [ ]:
RGB_C3_Set1 = table_C3Set1

In [ ]:
RGB_C3_concat0 = pd.concat([RGB_C3_Set4,RGB_C3_Set2,RGB_C3_Set1])

In [ ]:
RGB_C3_concat2 = RGB_C3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C3_RGB = np.array(RGB_C3_Set3)

In [ ]:
y_C3_RGB =  table_C3Set3.iloc[:,14:15]

In [ ]:
y_test_C3_RGB = np.array(y_C3_RGB)

In [ ]:
X_train_C3_RGB = np.array(RGB_C3_concat2)

In [ ]:
y_train_C3RGB = RGB_C3_concat0.iloc[:,14:15]

In [ ]:
y_train_C3_RGB = np.array(y_train_C3RGB)

In [ ]:
clf23.fit(X_train_C3_RGB, y_train_C3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C3_RGB = clf23.predict(X_test_C3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))

Accuracy: 0.14074074074074075

###HSV

In [ ]:
clf24=RandomForestClassifier()

In [ ]:
HSV_C3_Set3 = table_C3Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C3_concat2 = RGB_C3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C3_HSV = np.array(HSV_C3_Set3)

In [ ]:
y_C3_HSV =  table_C3Set3.iloc[:,14:15]

In [ ]:
y_test_C3_HSV = np.array(y_C3_RGB)

In [ ]:
X_train_C3_HSV = np.array(HSV_C3_concat2)

In [ ]:
y_train_C3HSV = RGB_C3_concat0.iloc[:,14:15]

In [ ]:
y_train_C3_HSV = np.array(y_train_C3HSV)

In [ ]:
clf24.fit(X_train_C3_HSV, y_train_C3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C3_HSV = clf24.predict(X_test_C3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))

Accuracy: 0.10617283950617284

##C4

In [ ]:
table_C4Set1 = pd.read_excel(Set1 , sheet_name='C4_1')
table_C4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  225.852853  200.187322  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1  225.812028  200.084084  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2  225.554825  199.871114  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3  227.168168  200.489327  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4  220.914780  195.137164  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png

[5 rows x 16 columns]

In [ ]:
table_C4Set2 = pd.read_excel(Set2, sheet_name='C4_2')
table_C4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  208.531450  176.759029  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1  215.254444  184.739632  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2  215.253470  184.610989  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3  216.750588  186.255336  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4  218.058031  188.345264  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png

[5 rows x 16 columns]

In [ ]:
table_C4Set3 = pd.read_excel(Set3, sheet_name='C4_3')
table_C4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.653194  218.266212  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1  223.801153  217.838812  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2  223.811704  218.155426  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3  224.080188  218.291048  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4  225.015502  219.103644  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png

[5 rows x 16 columns]

In [ ]:
table_C4Set4 = pd.read_excel(Set4, sheet_name='C4_4')
table_C4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  204.460758  191.779401  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1  203.112653  195.627546  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2  203.696616  196.178800  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3  204.336336  192.744826  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4  202.898628  195.274004  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf25=RandomForestClassifier()

In [ ]:
RGB_C4_Set3 = table_C4Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C4_Set4 = table_C4Set4

In [ ]:
RGB_C4_Set2 = table_C4Set2

In [ ]:
RGB_C4_Set1 = table_C4Set1

In [ ]:
RGB_C4_concat0 = pd.concat([RGB_C4_Set4,RGB_C4_Set2,RGB_C4_Set1])

In [ ]:
RGB_C4_concat2 = RGB_C4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C4_RGB = np.array(RGB_C4_Set3)

In [ ]:
y_C4_RGB =  table_C4Set3.iloc[:,14:15]

In [ ]:
y_test_C4_RGB = np.array(y_C4_RGB)

In [ ]:
X_train_C4_RGB = np.array(RGB_C4_concat2)

In [ ]:
y_train_C4RGB = RGB_C4_concat0.iloc[:,14:15]

In [ ]:
y_train_C4_RGB = np.array(y_train_C4RGB)

In [ ]:
clf25.fit(X_train_C4_RGB, y_train_C4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C4_RGB = clf25.predict(X_test_C4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))

Accuracy: 0.14814814814814814

###HSV

In [ ]:
clf26=RandomForestClassifier()

In [ ]:
HSV_C4_Set3 = table_C4Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C4_concat2 = RGB_C4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C4_HSV = np.array(HSV_C4_Set3)

In [ ]:
y_C4_HSV =  table_C4Set3.iloc[:,14:15]

In [ ]:
y_test_C4_HSV = np.array(y_C4_RGB)

In [ ]:
X_train_C4_HSV = np.array(HSV_C4_concat2)

In [ ]:
y_train_C4HSV = RGB_C4_concat0.iloc[:,14:15]

In [ ]:
y_train_C4_HSV = np.array(y_train_C4HSV)

In [ ]:
clf26.fit(X_train_C4_HSV, y_train_C4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C4_HSV = clf26.predict(X_test_C4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))

Accuracy: 0.2222222222222222

#DD

##D2

In [ ]:
table_D2Set1 = pd.read_excel(Set1 , sheet_name='D2_1')
table_D2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  229.583394  213.054785  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1  229.591592  213.256716  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2  225.561724  210.018992  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3  229.641101  213.017693  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4  230.944566  214.487866  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png

[5 rows x 16 columns]

In [ ]:
table_D2Set2 = pd.read_excel(Set2, sheet_name='D2_2')
table_D2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.870140  204.404269  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1  229.075562  211.141141  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2  228.920704  210.064605  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3  229.088629  210.121906  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4  225.360604  206.122474  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png

[5 rows x 16 columns]

In [ ]:
table_D2Set3 = pd.read_excel(Set3, sheet_name='D2_3')
table_D2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  224.047967  224.033520  ...    A1  3AADDE41-0882-4926-9B9C-6656A010A4EE.png
1  231.694343  231.112004  ...    A1  714B814C-2029-4CEC-A3D1-65155C21DB01.png
2  231.474474  230.964532  ...    A1  FF69DBAD-BCEF-42E0-83C9-26D79EA6F346.png
3  231.408977  231.515705  ...    A1  D42344C1-B458-48E7-AD35-55850D1E18D6.png
4  231.896843  231.149907  ...    A1  72143F35-55D4-4615-B8A3-072FC23D36C0.png

[5 rows x 16 columns]

In [ ]:
table_D2Set4 = pd.read_excel(Set4, sheet_name='D2_4')
table_D2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.479994  210.505316  ...    A1  57BFDCD4-3FCB-482B-8F6D-695AB03BA132.png
1  219.203555  219.187809  ...    A1  A825D098-CB80-4BA0-A769-BC31330B5A5C.png
2  218.680383  218.572762  ...    A1  320A36C6-A45F-4855-9C69-70F4995F981B.png
3  219.164354  219.247464  ...    A1  F5718C08-AC9E-4216-9E16-B19FC8625FC9.png
4  219.010957  218.934989  ...    A1  55184FAB-0359-4CF4-99A1-A38B75A169D0.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf27=RandomForestClassifier()

In [ ]:
RGB_D2_Set3 = table_D2Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D2_Set4 = table_D2Set4

In [ ]:
RGB_D2_Set2 = table_D2Set2

In [ ]:
RGB_D2_Set1 = table_D2Set1

In [ ]:
RGB_D2_concat0 = pd.concat([RGB_D2_Set4,RGB_D2_Set2,RGB_D2_Set1])

In [ ]:
RGB_D2_concat2 = RGB_D2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D2_RGB = np.array(RGB_D2_Set3)

In [ ]:
y_D2_RGB =  table_D2Set3.iloc[:,14:15]

In [ ]:
y_test_D2_RGB = np.array(y_D2_RGB)

In [ ]:
X_train_D2_RGB = np.array(RGB_D2_concat2)

In [ ]:
y_train_D2RGB = RGB_D2_concat0.iloc[:,14:15]

In [ ]:
y_train_D2_RGB = np.array(y_train_D2RGB)

In [ ]:
clf27.fit(X_train_D2_RGB, y_train_D2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D2_RGB = clf27.predict(X_test_D2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))

Accuracy: 0.1037037037037037

###HSV

In [ ]:
clf28=RandomForestClassifier()

In [ ]:
HSV_D2_Set3 = table_D2Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D2_concat2 = RGB_D2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D2_HSV = np.array(HSV_D2_Set3)

In [ ]:
y_D2_HSV =  table_D2Set3.iloc[:,14:15]

In [ ]:
y_test_D2_HSV = np.array(y_D2_RGB)

In [ ]:
X_train_D2_HSV = np.array(HSV_D2_concat2)

In [ ]:
y_train_D2HSV = RGB_D2_concat0.iloc[:,14:15]

In [ ]:
y_train_D2_HSV = np.array(y_train_D2HSV)

In [ ]:
clf28.fit(X_train_D2_HSV, y_train_D2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D2_HSV = clf28.predict(X_test_D2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))

Accuracy: 0.16913580246913582

##D3

In [ ]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3_1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.510511  211.399805  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  228.129129  211.503612  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.871520  211.994724  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  228.052187  210.838731  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  228.468063  211.528610  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [ ]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3_2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.070936  209.067283  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  231.924276  208.816249  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  231.976301  208.732814  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.108108  209.612856  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  232.364013  208.626410  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [ ]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3_3')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.749939  218.688256  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  223.229446  218.799286  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  231.389011  227.308011  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  231.245759  227.019154  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  231.607418  226.976706  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [ ]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3_4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  217.785164  210.489814  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  216.702622  211.844655  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  216.531288  212.261261  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  216.601331  212.061277  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  216.838487  211.749696  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf29=RandomForestClassifier()

In [ ]:
RGB_D3_Set3 = table_D3Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D3_Set4 = table_D3Set4

In [ ]:
RGB_D3_Set2 = table_D3Set2

In [ ]:
RGB_D3_Set1 = table_D3Set1

In [ ]:
RGB_D3_concat0 = pd.concat([RGB_D3_Set4,RGB_D3_Set2,RGB_D3_Set1])

In [ ]:
RGB_D3_concat2 = RGB_D3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB = np.array(RGB_D3_Set3)

In [ ]:
y_D3_RGB =  table_D3Set3.iloc[:,14:15]

In [ ]:
y_test_D3_RGB = np.array(y_D3_RGB)

In [ ]:
X_train_D3_RGB = np.array(RGB_D3_concat2)

In [ ]:
y_train_D3RGB = RGB_D3_concat0.iloc[:,14:15]

In [ ]:
y_train_D3_RGB = np.array(y_train_D3RGB)

In [ ]:
clf29.fit(X_train_D3_RGB, y_train_D3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB = clf29.predict(X_test_D3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

Accuracy: 0.2037037037037037

###HSV

In [ ]:
clf30=RandomForestClassifier()

In [ ]:
HSV_D3_Set3 = table_D3Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D3_concat2 = RGB_D3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_HSV = np.array(HSV_D3_Set3)

In [ ]:
y_D3_HSV =  table_D3Set3.iloc[:,14:15]

In [ ]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [ ]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [ ]:
y_train_D3HSV = RGB_D3_concat0.iloc[:,14:15]

In [ ]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [ ]:
clf30.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_HSV = clf30.predict(X_test_D3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.18888888888888888

##D4

In [ ]:
table_D4Set1 = pd.read_excel(Set1 , sheet_name='D4_1')
table_D4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  227.056245  211.571463  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1  233.195520  218.202419  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2  233.881828  218.251035  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3  234.888483  217.971512  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4  235.071910  217.812921  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png

[5 rows x 16 columns]

In [ ]:
table_D4Set2 = pd.read_excel(Set2, sheet_name='D4_2')
table_D4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  221.452966  198.663258  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1  225.967129  204.788329  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2  225.045532  203.394449  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3  227.891567  205.473095  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4  227.365311  204.793036  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png

[5 rows x 16 columns]

In [ ]:
table_D4Set3 = pd.read_excel(Set3, sheet_name='D4_3')
table_D4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  231.312718  229.332846  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1  231.009983  229.433163  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2  223.148933  221.010551  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3  223.467332  221.197305  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4  230.788654  229.074507  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png

[5 rows x 16 columns]

In [ ]:
table_D4Set4 = pd.read_excel(Set4, sheet_name='D4_4')
table_D4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  222.000649  215.940183  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1  213.700024  210.818278  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2  219.873630  217.722669  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3  213.412142  210.128723  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4  213.226524  210.383654  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf31=RandomForestClassifier()

In [ ]:
RGB_D4_Set3 = table_D4Set3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D4_Set4 = table_D4Set4

In [ ]:
RGB_D4_Set2 = table_D4Set2

In [ ]:
RGB_D4_Set1 = table_D4Set1

In [ ]:
RGB_D4_concat0 = pd.concat([RGB_D4_Set4,RGB_D4_Set2,RGB_D4_Set1])

In [ ]:
RGB_D4_concat2 = RGB_D4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D4_RGB = np.array(RGB_D4_Set3)

In [ ]:
y_D4_RGB =  table_D4Set3.iloc[:,14:15]

In [ ]:
y_test_D4_RGB = np.array(y_D4_RGB)

In [ ]:
X_train_D4_RGB = np.array(RGB_D4_concat2)

In [ ]:
y_train_D4RGB = RGB_D4_concat0.iloc[:,14:15]

In [ ]:
y_train_D4_RGB = np.array(y_train_D4RGB)

In [ ]:
clf31.fit(X_train_D4_RGB, y_train_D4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D4_RGB = clf31.predict(X_test_D4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

Accuracy: 0.2765432098765432

###HSV

In [ ]:
clf32=RandomForestClassifier()

In [ ]:
HSV_D4_Set3 = table_D4Set3.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D4_concat2 = RGB_D4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D4_HSV = np.array(HSV_D4_Set3)

In [ ]:
y_D4_HSV =  table_D4Set3.iloc[:,14:15]

In [ ]:
y_test_D4_HSV = np.array(y_D4_RGB)

In [ ]:
X_train_D4_HSV = np.array(HSV_D4_concat2)

In [ ]:
y_train_D4HSV = RGB_D4_concat0.iloc[:,14:15]

In [ ]:
y_train_D4_HSV = np.array(y_train_D4HSV)

In [ ]:
clf32.fit(X_train_D4_HSV, y_train_D4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D4_HSV = clf32.predict(X_test_D4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

Accuracy: 0.4222222222222222

#Accuracy

##RGB

In [ ]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

A1 มี Accuracy เท่ากับ: 0.5
A2 มี Accuracy เท่ากับ: 0.73875
A3 มี Accuracy เท่ากับ: 0.335
A3.5 มี Accuracy เท่ากับ: 0.07
A4 มี Accuracy เท่ากับ: 0.2975
B1 มี Accuracy เท่ากับ: 0.06049382716049383
B2 มี Accuracy เท่ากับ: 0.08271604938271605
B3 มี Accuracy เท่ากับ: 0.13209876543209875
B4 มี Accuracy เท่ากับ: 0.09012345679012346
C1 มี Accuracy เท่ากับ: 0.04814814814814815
C2 มี Accuracy เท่ากับ: 0.20493827160493827
C3 มี Accuracy เท่ากับ: 0.14074074074074075
C4 มี Accuracy เท่ากับ: 0.14814814814814814
D2 มี Accuracy เท่ากับ: 0.1037037037037037
D3 มี Accuracy เท่ากับ: 0.2037037037037037
D4 มี Accuracy เท่ากับ: 0.2765432098765432

In [ ]:
RGB_AC_A1 = metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB)
RGB_AC_A2 = metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB)
RGB_AC_A3 = metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB)
RGB_AC_A35 = metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB)
RGB_AC_A4 = metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB)
RGB_AC_B1 = metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB)
RGB_AC_B2 = metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB)
RGB_AC_B3 = metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB)
RGB_AC_B4 = metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB)
RGB_AC_C1 = metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB)
RGB_AC_C2 = metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB)
RGB_AC_C3 = metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB)
RGB_AC_C4 = metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB)
RGB_AC_D2 = metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB)
RGB_AC_D3 = metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB)
RGB_AC_D4 = metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB)

In [ ]:
RGB_AC =  (RGB_AC_A1,RGB_AC_A2,RGB_AC_A3,RGB_AC_A35,
           RGB_AC_A4,RGB_AC_B1,RGB_AC_B2,RGB_AC_B3,
           RGB_AC_B4,RGB_AC_C1,RGB_AC_C2,RGB_AC_C3,
           RGB_AC_C4,RGB_AC_D2,RGB_AC_D3,RGB_AC_D4)

In [ ]:
RGB_AC

(0.5,
 0.73875,
 0.335,
 0.07,
 0.2975,
 0.06049382716049383,
 0.08271604938271605,
 0.13209876543209875,
 0.09012345679012346,
 0.04814814814814815,
 0.20493827160493827,
 0.14074074074074075,
 0.14814814814814814,
 0.1037037037037037,
 0.2037037037037037,
 0.2765432098765432)

In [ ]:
list_RGB_AC = list()
list_RGB_AC.append(RGB_AC)

In [ ]:
Cols = ['Set3_rgb'] 
S1_1 = pd.DataFrame(RGB_AC,columns= Cols)
S1_1

    Set3_rgb
0   0.500000
1   0.738750
2   0.335000
3   0.070000
4   0.297500
5   0.060494
6   0.082716
7   0.132099
8   0.090123
9   0.048148
10  0.204938
11  0.140741
12  0.148148
13  0.103704
14  0.203704
15  0.276543

##HSV

In [ ]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

A1 มี Accuracy เท่ากับ: 0.19876543209876543
A2 มี Accuracy เท่ากับ: 0.0625
A3 มี Accuracy เท่ากับ: 0.295
A3.5 มี Accuracy เท่ากับ: 0.125
A4 มี Accuracy เท่ากับ: 0.40375
B1 มี Accuracy เท่ากับ: 0.06296296296296296
B2 มี Accuracy เท่ากับ: 0.11604938271604938
B3 มี Accuracy เท่ากับ: 0.16049382716049382
B4 มี Accuracy เท่ากับ: 0.2037037037037037
C1 มี Accuracy เท่ากับ: 0.24444444444444444
C2 มี Accuracy เท่ากับ: 0.31234567901234567
C3 มี Accuracy เท่ากับ: 0.10617283950617284
C4 มี Accuracy เท่ากับ: 0.2222222222222222
D2 มี Accuracy เท่ากับ: 0.16913580246913582
D3 มี Accuracy เท่ากับ: 0.18888888888888888
D4 มี Accuracy เท่ากับ: 0.4222222222222222

In [ ]:
HSV_AC_A1 = metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV)
HSV_AC_A2 = metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV)
HSV_AC_A3 = metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV)
HSV_AC_A35 = metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV)
HSV_AC_A4 = metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV)
HSV_AC_B1 = metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV)
HSV_AC_B2 = metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV)
HSV_AC_B3 = metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV)
HSV_AC_B4 = metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV)
HSV_AC_C1 = metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV)
HSV_AC_C2 = metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV)
HSV_AC_C3 = metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV)
HSV_AC_C4 = metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV)
HSV_AC_D2 = metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV)
HSV_AC_D3 = metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV)
HSV_AC_D4 = metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV)

In [ ]:
HSV_AC =  (HSV_AC_A1,HSV_AC_A2,HSV_AC_A3,HSV_AC_A35,
           HSV_AC_A4,HSV_AC_B1,HSV_AC_B2,HSV_AC_B3,
           HSV_AC_B4,HSV_AC_C1,HSV_AC_C2,HSV_AC_C3,
           HSV_AC_C4,HSV_AC_D2,HSV_AC_D3,HSV_AC_D4)

In [ ]:
list_HSV_AC = list()
list_HSV_AC.append(RGB_AC)

In [ ]:
Cols = ['Set3_hsv'] 
S1_2 = pd.DataFrame(HSV_AC,columns= Cols)
S1_2

    Set3_hsv
0   0.500000
1   0.738750
2   0.335000
3   0.070000
4   0.297500
5   0.060494
6   0.082716
7   0.132099
8   0.090123
9   0.048148
10  0.204938
11  0.140741
12  0.148148
13  0.103704
14  0.203704
15  0.276543

In [ ]:
name =  ('A1','A2','A3','A3.5','A4','B1','B2','B3','B4','C1','C2','C3','C4','D2','D3','D4')

In [ ]:
Cols = ['shade'] 
S1_3 = pd.DataFrame(name,columns= Cols)
S1_3

   shade
0     A1
1     A2
2     A3
3   A3.5
4     A4
5     B1
6     B2
7     B3
8     B4
9     C1
10    C2
11    C3
12    C4
13    D2
14    D3
15    D4

In [ ]:
Data_RF = pd.concat([S1_3,S1_1,S1_2], axis=1)
Data_RF

   shade  Set3_rgb  Set3_hsv
0     A1  0.500000  0.500000
1     A2  0.738750  0.738750
2     A3  0.335000  0.335000
3   A3.5  0.070000  0.070000
4     A4  0.297500  0.297500
5     B1  0.060494  0.060494
6     B2  0.082716  0.082716
7     B3  0.132099  0.132099
8     B4  0.090123  0.090123
9     C1  0.048148  0.048148
10    C2  0.204938  0.204938
11    C3  0.140741  0.140741
12    C4  0.148148  0.148148
13    D2  0.103704  0.103704
14    D3  0.203704  0.203704
15    D4  0.276543  0.276543

In [ ]:
Data_RF.to_csv('Data_Accuracyset3.csv', index=False)