<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/RF3_set2_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

In [ ]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [ ]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting4.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting2.xlsx',
 'D3set51.csv',
 'Setting1.xlsx',
 'CheckerDD.xlsx',
 'Setting3.xlsx',
 'Setting6.xlsx',
 'Setting5.xlsx',
 'checkerShad_A .xlsx',
 'checkerShad_B.xlsx',
 'checkerShad_C.xlsx',
 'D3Set5-61.xlsx',
 'checkerShad_D.xlsx',
 'Color-checkerDD.xlsx',
 'Datapoint_1.xlsx',
 'Datapoint_2.xlsx',
 'Datapoint_3.xlsx',
 'Datapoint_4.xlsx',
 'Datapoint_6.xlsx',
 'Datapoint_5.xlsx']

In [ ]:
Set1 = os.path.join(path,'Datapoint_1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_1.xlsx

In [ ]:
Set2 = os.path.join(path,'Datapoint_2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_2.xlsx

In [ ]:
Set3 = os.path.join(path,'Datapoint_3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_3.xlsx

In [ ]:
Set4 = os.path.join(path,'Datapoint_4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_4.xlsx

In [ ]:
Set6 = os.path.join(path,'Datapoint_6.xlsx')
print(Set6)

In [ ]:
import numpy as np

In [ ]:
from sklearn import metrics

In [ ]:
from sklearn import datasets

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#AA

##A1

In [ ]:
table_A1Set1 = pd.read_excel(Set1 , sheet_name='A1_1')

table_A1Set2 = pd.read_excel(Set2, sheet_name='A1_2')

table_A1Set3 = pd.read_excel(Set3, sheet_name='A1_3')

table_A1Set4 = pd.read_excel(Set4, sheet_name='A1_4')

table_A1Set6 = pd.read_excel(Set6, sheet_name='A1_6')

        R-ref       G-ref  ...  Shad                                       Img
0  239.489003  226.557990  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1  238.912751  225.914942  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2  239.195520  226.261586  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3  239.019317  226.444282  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4  238.941644  225.877932  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf1 =RandomForestClassifier()

In [ ]:
RGB_A1_Set2 = table_A1Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A1_Set1 = table_A1Set1

RGB_A1_Set3 = table_A1Set3

RGB_A1_Set4 = table_A1Set4

RGB_A1_Set6 = table_A1Set6

In [ ]:
RGB_A1_concat0 = pd.concat([RGB_A1_Set1,RGB_A1_Set3,RGB_A1_Set4,RGB_A1_Set6])

In [ ]:
RGB_A1_concat2 = RGB_A1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A1_RGB = np.array(RGB_A1_Set2)

In [ ]:
y_A1_RGB =  table_A1Set2.iloc[:,14:15]

In [ ]:
y_test_A1_RGB = np.array(y_A1_RGB)

In [ ]:
X_train_A1_RGB = np.array(RGB_A1_concat2)

In [ ]:
y_train_A1RGB = RGB_A1_concat0.iloc[:,14:15]

In [ ]:
y_train_A1_RGB = np.array(y_train_A1RGB)

In [ ]:
clf1.fit(X_train_A1_RGB, y_train_A1_RGB)

In [ ]:
y_pred_A1_RGB = clf1.predict(X_test_A1_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))

###HSV

In [ ]:
clf2 =RandomForestClassifier()

In [ ]:
HSV_A1_Set2 = table_A1Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A1_concat2 = RGB_A1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A1_HSV = np.array(HSV_A1_Set2)

In [ ]:
y_A1_HSV =  table_A1Set2.iloc[:,14:15]

In [ ]:
y_test_A1_HSV = np.array(y_A1_RGB)

In [ ]:
X_train_A1_HSV = np.array(HSV_A1_concat2)

In [ ]:
y_train_A1HSV = RGB_A1_concat0.iloc[:,14:15]

In [ ]:
y_train_A1_HSV = np.array(y_train_A1HSV)

In [ ]:
clf2.fit(X_train_A1_HSV, y_train_A1_HSV)

In [ ]:
y_pred_A1_HSV = clf2.predict(X_test_A1_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))

##A2

In [ ]:
table_A2Set1 = pd.read_excel(Set1 , sheet_name='A2_1')

table_A2Set5 = pd.read_excel(Set2 , sheet_name='A2_2')

table_A2Set3 = pd.read_excel(Set3 , sheet_name='A2_3')

table_A2Set4 = pd.read_excel(Set4 , sheet_name='A2_4')

table_A2Set6 = pd.read_excel(Set6 , sheet_name='A2_6')

      R-ref     G-ref  ...  Shad                                       Img
0  236.8857  219.6456  ...    A1  3055D600-52FE-426B-8FB7-F22AD0D97955.png
1  236.5746  219.3545  ...    A1  94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
2  236.5240  219.3535  ...    A1  61347A1C-5E5B-48EE-BB2D-AA9068046272.png
3  236.4670  219.8862  ...    A1  65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
4  238.0596  222.0011  ...    A1  86927B90-BCE2-4CA1-8556-398BF4B5A60E.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf3=RandomForestClassifier()

In [ ]:
RGB_A2_Set2 = table_A2Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A2_Set1 = table_A2Set1

RGB_A2_Set3 = table_A2Set3

RGB_A2_Set4 = table_A2Set4

RGB_A2_Set4 = table_A2Set4

RGB_A2_Set6 = table_A2Set6

In [ ]:
RGB_A2_concat0 = pd.concat([RGB_A2_Set1,RGB_A2_Set3,RGB_A2_Set4,RGB_A2_Set6])

In [ ]:
RGB_A2_concat2 = RGB_A2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A2_RGB = np.array(RGB_A2_Set2)

In [ ]:
y_A2_RGB =  table_A2Set2.iloc[:,14:15]

In [ ]:
y_test_A2_RGB = np.array(y_A2_RGB)

In [ ]:
X_train_A2_RGB = np.array(RGB_A2_concat2)

In [ ]:
y_train_A2RGB = RGB_A2_concat0.iloc[:,14:15]

In [ ]:
y_train_A2_RGB = np.array(y_train_A2RGB)

In [ ]:
clf3.fit(X_train_A2_RGB, y_train_A2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A2_RGB = clf3.predict(X_test_A2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))

Accuracy: 0.09625

###HSV

In [ ]:
clf4=RandomForestClassifier()

In [ ]:
HSV_A2_Set2 = table_A2Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A2_concat2 = RGB_A2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A2_HSV = np.array(HSV_A2_Set2)

In [ ]:
y_A2_HSV =  table_A2Set2.iloc[:,14:15]

In [ ]:
y_test_A2_HSV = np.array(y_A2_RGB)

In [ ]:
X_train_A2_HSV = np.array(HSV_A2_concat2)

In [ ]:
y_train_A2HSV = RGB_A2_concat0.iloc[:,14:15]

In [ ]:
y_train_A2_HSV = np.array(y_train_A2HSV)

In [ ]:
clf4.fit(X_train_A2_HSV, y_train_A2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A2_HSV = clf4.predict(X_test_A2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))

Accuracy: 0.0625

##A3

In [ ]:
table_A3Set1 = pd.read_excel(Set1 , sheet_name='A3_1')

table_A3Set2 = pd.read_excel(Set2 , sheet_name='A3_2')

table_A3Set3 = pd.read_excel(Set3 , sheet_name='A3_3')

table_A3Set4 = pd.read_excel(Set4 , sheet_name='A3_4')

table_A3Set6 = pd.read_excel(Set6 , sheet_name='A3_6')

        R-ref       G-ref  ...  Shad                                       Img
0  235.066066  216.606120  ...    A1  BAD1342F-482E-488F-8241-A393B4779E26.png
1  235.814301  217.723318  ...    A1  0E4BF624-DA48-45D7-8CEF-1F893F3E36A9.png
2  235.728756  217.884506  ...    A1  A5A67F7B-D2B1-4729-8A0B-9BE2F2DF55C6.png
3  236.672673  218.868923  ...    A1  35D1BEA8-E650-4D83-9D61-17AD65EABD39.png
4  238.918919  221.687769  ...    A1  18FE9FE4-F848-465E-B7FE-7792C8A083CB.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf5=RandomForestClassifier()

In [ ]:
RGB_A3_Set2 = table_A3Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A3_Set1 = table_A3Set1

RGB_A3_Set3 = table_A3Set3

RGB_A3_Set4 = table_A3Set4

RGB_A3_Set6 = table_A3Set6

In [ ]:
RGB_A3_concat0 = pd.concat([RGB_A3_Set1,RGB_A3_Set3,RGB_A3_Set4,RGB_A3_Set6])

In [ ]:
RGB_A3_concat2 = RGB_A3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_RGB = np.array(RGB_A3_Set2)

In [ ]:
y_A3_RGB =  table_A3Set2.iloc[:,14:15]

In [ ]:
y_test_A3_RGB = np.array(y_A3_RGB)

In [ ]:
X_train_A3_RGB = np.array(RGB_A3_concat2)

In [ ]:
y_train_A3RGB = RGB_A3_concat0.iloc[:,14:15]

In [ ]:
y_train_A3_RGB = np.array(y_train_A3RGB)

In [ ]:
clf5.fit(X_train_A3_RGB, y_train_A3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_RGB = clf5.predict(X_test_A3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))

Accuracy: 0.145

###HSV

In [ ]:
clf6=RandomForestClassifier()

In [ ]:
HSV_A3_Set2 = table_A3Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A3_concat2 = RGB_A3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_HSV = np.array(HSV_A3_Set2)

In [ ]:
y_A3_HSV =  table_A3Set1.iloc[:,14:15]

In [ ]:
y_test_A3_HSV = np.array(y_A3_RGB)

In [ ]:
X_train_A3_HSV = np.array(HSV_A3_concat2)

In [ ]:
y_train_A3HSV = RGB_A3_concat0.iloc[:,14:15]

In [ ]:
y_train_A3_HSV = np.array(y_train_A3HSV)

In [ ]:
clf6.fit(X_train_A3_HSV, y_train_A3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_HSV = clf6.predict(X_test_A3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))

Accuracy: 0.18875

##A3.5

In [ ]:
table_A3_5Set1 = pd.read_excel(Set1 , sheet_name='A3.5_1')

table_A3_5Set2 = pd.read_excel(Set2 , sheet_name='A3.5_2')

table_A3_5Set3 = pd.read_excel(Set3 , sheet_name='A3.5_3')

table_A3_5Set4 = pd.read_excel(Set4 , sheet_name='A3.5_4')

table_A3_5Set6 = pd.read_excel(Set6 , sheet_name='A3.5_6')

        R-ref       G-ref  ...  Shad                                       Img
0  236.521954  209.560425  ...    A1  2DD07CB7-0413-41D5-BE23-51CA3C9164F5.png
1  238.063794  210.368071  ...    A1  F28F074F-5B54-424C-8E70-EC56E06FC3E0.png
2  237.652463  210.789303  ...    A1  6ABA4B94-D8B3-48BA-B1FA-6B5A081F40D1.png
3  237.005763  210.512134  ...    A1  6B5870DF-9D32-4295-9D0E-F1DDA4ABD18F.png
4  237.200877  211.312393  ...    A1  9EBCADA0-A39C-4692-B684-A967FE6F59B5.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf7=RandomForestClassifier()

In [ ]:
RGB_A3_5_Set2 = table_A3_5Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A3_5_Set1 = table_A3_5Set1

RGB_A3_5_Set3 = table_A3_5Set3

RGB_A3_5_Set4 = table_A3_5Set4

RGB_A3_5_Set6 = table_A3_5Set6

In [ ]:
RGB_A3_5_concat0 = pd.concat([RGB_A3_5_Set1,RGB_A3_5_Set3,RGB_A3_5_Set4,RGB_A3_5_Set6])

In [ ]:
RGB_A3_5_concat2 = RGB_A3_5_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_5_RGB = np.array(RGB_A3_5_Set2)

In [ ]:
y_A3_5_RGB =  table_A3_5Set2.iloc[:,14:15]

In [ ]:
y_test_A3_5_RGB = np.array(y_A3_5_RGB)

In [ ]:
X_train_A3_5_RGB = np.array(RGB_A3_5_concat2)

In [ ]:
y_train_A3_5RGB = RGB_A3_5_concat0.iloc[:,14:15]

In [ ]:
y_train_A3_5_RGB = np.array(y_train_A3_5RGB)

In [ ]:
clf7.fit(X_train_A3_5_RGB, y_train_A3_5_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_5_RGB = clf7.predict(X_test_A3_5_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))

Accuracy: 0.08375

###HSV

In [ ]:
clf8=RandomForestClassifier()

In [ ]:
HSV_A3_5_Set2 = table_A3_5Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A3_5_concat2 = RGB_A3_5_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A3_5_HSV = np.array(HSV_A3_5_Set2)

In [ ]:
y_A3_5_HSV =  table_A3_5Set2.iloc[:,14:15]

In [ ]:
y_test_A3_5_HSV = np.array(y_A3_5_RGB)

In [ ]:
X_train_A3_5_HSV = np.array(HSV_A3_5_concat2)

In [ ]:
y_train_A3_5HSV = RGB_A3_5_concat0.iloc[:,14:15]

In [ ]:
y_train_A3_5_HSV = np.array(y_train_A3_5HSV)

In [ ]:
clf8.fit(X_train_A3_5_HSV, y_train_A3_5_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A3_5_HSV = clf8.predict(X_test_A3_5_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))

Accuracy: 0.105

##A4

In [ ]:
table_A4Set1 = pd.read_excel(Set1 , sheet_name='A4_1')

table_A4Set2 = pd.read_excel(Set2 , sheet_name='A4_2')

table_A4Set3 = pd.read_excel(Set3 , sheet_name='A4_3')

table_A4Set4 = pd.read_excel(Set4 , sheet_name='A4_4')

table_A4Set6 = pd.read_excel(Set6 , sheet_name='A4_6')

        R-ref       G-ref  ...  Shad                                       Img
0  231.225793  207.225306  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1  231.522523  206.851798  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2  230.894895  204.879961  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3  231.246084  206.003815  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4  232.597760  207.029868  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf9=RandomForestClassifier()

In [ ]:
RGB_A4_Set2 = table_A4Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_A4_Set1 = table_A4Set1

RGB_A4_Set3 = table_A4Set3

RGB_A4_Set4 = table_A4Set4

RGB_A4_Set6 = table_A4Set6

In [ ]:
RGB_A4_concat0 = pd.concat([RGB_A4_Set1,RGB_A4_Set3,RGB_A4_Set4,RGB_A4_Set6])

In [ ]:
RGB_A4_concat2 = RGB_A4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A4_RGB = np.array(RGB_A4_Set2)

In [ ]:
y_A4_RGB =  table_A4Set2.iloc[:,14:15]

In [ ]:
y_test_A4_RGB = np.array(y_A4_RGB)

In [ ]:
X_train_A4_RGB = np.array(RGB_A4_concat2)

In [ ]:
y_train_A4_RGB = RGB_A4_concat0.iloc[:,14:15]

In [ ]:
y_train_A4_RGB = np.array(y_train_A4_RGB)

In [ ]:
clf9.fit(X_train_A4_RGB, y_train_A4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A4_RGB = clf9.predict(X_test_A4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))

Accuracy: 0.165

###HSV

In [ ]:
clf10=RandomForestClassifier()

In [ ]:
HSV_A4_Set2 = table_A4Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_A4_concat2 = RGB_A4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_A4_HSV = np.array(HSV_A4_Set2)

In [ ]:
y_A4_HSV =  table_A4Set2.iloc[:,14:15]

In [ ]:
y_test_A4_HSV = np.array(y_A4_RGB)

In [ ]:
X_train_A4_HSV = np.array(HSV_A4_concat2)

In [ ]:
y_train_A4HSV = RGB_A4_concat0.iloc[:,14:15]

In [ ]:
y_train_A4_HSV = np.array(y_train_A4HSV)

In [ ]:
clf10.fit(X_train_A4_HSV, y_train_A4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_A4_HSV = clf10.predict(X_test_A4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))

Accuracy: 0.22

#BB

##B1

In [ ]:
table_B1Set1 = pd.read_excel(Set1 , sheet_name='B1_1')

table_B1Set2 = pd.read_excel(Set2 , sheet_name='B1_2')

table_B1Set3 = pd.read_excel(Set3 , sheet_name='B1_3')

table_B1Set4 = pd.read_excel(Set4 , sheet_name='B1_4')

table_B1Set6 = pd.read_excel(Set6 , sheet_name='B1_6')

        R-ref       G-ref  ...  Shad                                       Img
0  234.492330  224.346725  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1  230.950735  219.930769  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2  235.713497  225.486892  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3  234.890350  224.554500  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4  231.349403  220.936531  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf11=RandomForestClassifier()

In [ ]:
RGB_B1_Set2 = table_B1Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B1_Set1 = table_B1Set1

RGB_B1_Set3 = table_B1Set3

RGB_B1_Set4 = table_B1Set4

RGB_B1_Set6 = table_B1Set6

In [ ]:
RGB_B1_concat0 = pd.concat([RGB_B1_Set1,RGB_B1_Set3,RGB_B1_Set4,RGB_B1_Set6])

In [ ]:
RGB_B1_concat2 = RGB_B1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B1_RGB = np.array(RGB_B1_Set2)

In [ ]:
y_B1_RGB =  table_B1Set2.iloc[:,14:15]

In [ ]:
y_test_B1_RGB = np.array(y_B1_RGB)

In [ ]:
X_train_B1_RGB = np.array(RGB_B1_concat2)

In [ ]:
y_train_B1RGB = RGB_B1_concat0.iloc[:,14:15]

In [ ]:
y_train_B1_RGB = np.array(y_train_B1RGB)

In [ ]:
clf11.fit(X_train_B1_RGB, y_train_B1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B1_RGB = clf11.predict(X_test_B1_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))

Accuracy: 0.058385093167701865

###HSV

In [ ]:
clf12=RandomForestClassifier()

In [ ]:
HSV_B1_Set2 = table_B1Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B1_concat2 = RGB_B1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B1_HSV = np.array(HSV_B1_Set2)

In [ ]:
y_B1_HSV =  table_B1Set2.iloc[:,14:15]

In [ ]:
y_test_B1_HSV = np.array(y_B1_RGB)

In [ ]:
X_train_B1_HSV = np.array(HSV_B1_concat2)

In [ ]:
y_train_B1HSV = RGB_B1_concat0.iloc[:,14:15]

In [ ]:
y_train_B1_HSV = np.array(y_train_B1HSV)

In [ ]:
clf12.fit(X_train_B1_HSV, y_train_B1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B1_HSV = clf12.predict(X_test_B1_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))

Accuracy: 0.0670807453416149

##B2

In [ ]:
table_B2Set1 = pd.read_excel(Set1 , sheet_name='B2_1')

table_B2Set2 = pd.read_excel(Set2 , sheet_name='B2_2')

table_B2Set3 = pd.read_excel(Set3 , sheet_name='B2_3')

table_B2Set4 = pd.read_excel(Set4 , sheet_name='B2_4')

table_B2Set6 = pd.read_excel(Set6 , sheet_name='B2_6')

        R-ref       G-ref  ...  Shad                                       Img
0  234.290967  216.284149  ...    A1  8844784E-18F2-4180-BD56-22527F5B506A.png
1  237.340151  219.935882  ...    A1  9B82482F-3CCB-4D36-88DF-53EE592260BA.png
2  237.162730  219.137651  ...    A1  EBE10373-8135-4270-894B-9887BE25C44D.png
3  237.743365  219.889619  ...    A1  E371B8FC-E57F-49E3-8AF4-9DF8FDBFA8F3.png
4  237.651084  219.381706  ...    A1  238A6F42-0DF6-424E-9279-99FE08A655A8.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf13=RandomForestClassifier()

In [ ]:
RGB_B2_Set2 = table_B2Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B2_Set1 = table_B2Set1

RGB_B2_Set3 = table_B2Set3

RGB_B2_Set4 = table_B2Set4

RGB_B2_Set6 = table_B2Set6

In [ ]:
RGB_B2_concat0 = pd.concat([RGB_B2_Set1,RGB_B2_Set3,RGB_B2_Set4,RGB_B2_Set6])

In [ ]:
RGB_B2_concat2 = RGB_B2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B2_RGB = np.array(RGB_B2_Set2)

In [ ]:
y_B2_RGB =  table_B2Set2.iloc[:,14:15]

In [ ]:
y_test_B2_RGB = np.array(y_B2_RGB)

In [ ]:
X_train_B2_RGB = np.array(RGB_B2_concat2)

In [ ]:
y_train_B2RGB = RGB_B2_concat0.iloc[:,14:15]

In [ ]:
y_train_B2_RGB = np.array(y_train_B2RGB)

In [ ]:
clf13.fit(X_train_B2_RGB, y_train_B2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B2_RGB = clf13.predict(X_test_B2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))

Accuracy: 0.12173913043478261

###HSV

In [ ]:
clf14=RandomForestClassifier()

In [ ]:
HSV_B2_Set2 = table_B2Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B2_concat2 = RGB_B2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B2_HSV = np.array(HSV_B2_Set2)

In [ ]:
y_B2_HSV =  table_B2Set2.iloc[:,14:15]

In [ ]:
y_test_B2_HSV = np.array(y_B2_RGB)

In [ ]:
X_train_B2_HSV = np.array(HSV_B2_concat2)

In [ ]:
y_train_B2HSV = RGB_B2_concat0.iloc[:,14:15]

In [ ]:
y_train_B2_HSV = np.array(y_train_B2HSV)

In [ ]:
clf14.fit(X_train_B2_HSV, y_train_B2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B2_HSV = clf14.predict(X_test_B2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))

Accuracy: 0.1639751552795031

##B3

In [ ]:
table_B3Set1 = pd.read_excel(Set1 , sheet_name='B3_1')

table_B3Set2 = pd.read_excel(Set2 , sheet_name='B3_2')

table_B3Set3 = pd.read_excel(Set3 , sheet_name='B3_3')

table_B3Set4 = pd.read_excel(Set4 , sheet_name='B3_4')

table_B3Set6 = pd.read_excel(Set6 , sheet_name='B3_6')

        R-ref       G-ref  ...  Shad                                       Img
0  237.494684  208.533398  ...    A1  768ECDBF-055D-4AF1-9FB6-59F1D54C18F2.png
1  233.706923  204.090821  ...    A1  A2B09945-ABB4-4B6C-8880-C0859637306B.png
2  237.440711  210.784839  ...    A1  5C57C433-024F-4E4A-B661-2A33A270EE9D.png
3  237.416768  209.644509  ...    A1  6D8E199E-9FF6-46BF-A7CA-D491A179F0EB.png
4  236.176041  208.513270  ...    A1  09286B35-9904-4EE4-8AF2-92443DF8DA7D.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf15=RandomForestClassifier()

In [ ]:
RGB_B3_Set2 = table_B3Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B3_Set1 = table_B3Set1

RGB_B3_Set3 = table_B3Set3

RGB_B3_Set4 = table_B3Set4

RGB_B3_Set6 = table_B3Set6

In [ ]:
RGB_B3_concat0 = pd.concat([RGB_B3_Set1,RGB_B3_Set3,RGB_B3_Set4,RGB_B3_Set6])

In [ ]:
RGB_B3_concat2 = RGB_B3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B3_RGB = np.array(RGB_B3_Set2)

In [ ]:
y_B3_RGB =  table_B3Set2.iloc[:,14:15]

In [ ]:
y_test_B3_RGB = np.array(y_B3_RGB)

In [ ]:
X_train_B3_RGB = np.array(RGB_B3_concat2)

In [ ]:
y_train_B3RGB = RGB_B3_concat0.iloc[:,14:15]

In [ ]:
y_train_B3_RGB = np.array(y_train_B3RGB)

In [ ]:
clf15.fit(X_train_B3_RGB, y_train_B3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B3_RGB = clf15.predict(X_test_B3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))

Accuracy: 0.09565217391304348

###HSV

In [ ]:
clf16=RandomForestClassifier()

In [ ]:
HSV_B3_Set2 = table_B3Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B3_concat2 = RGB_B3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B3_HSV = np.array(HSV_B3_Set2)

In [ ]:
y_B3_HSV =  table_B3Set2.iloc[:,14:15]

In [ ]:
y_test_B3_HSV = np.array(y_B3_RGB)

In [ ]:
X_train_B3_HSV = np.array(HSV_B3_concat2)

In [ ]:
y_train_B3HSV = RGB_B3_concat0.iloc[:,14:15]

In [ ]:
y_train_B3_HSV = np.array(y_train_B3HSV)

In [ ]:
clf16.fit(X_train_B3_HSV, y_train_B3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B3_HSV = clf16.predict(X_test_B3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))

Accuracy: 0.10807453416149068

##B4

In [ ]:
table_B4Set1 = pd.read_excel(Set1 , sheet_name='B4_1')

table_B4Set2 = pd.read_excel(Set2 , sheet_name='B4_2')

table_B4Set3 = pd.read_excel(Set3 , sheet_name='B4_3')

table_B4Set4 = pd.read_excel(Set4 , sheet_name='B4_4')

table_B4Set6 = pd.read_excel(Set6 , sheet_name='B4_6')

        R-ref       G-ref  ...  Shad                                       Img
0  238.309228  213.735573  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1  236.844574  213.760815  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2  233.043178  209.123042  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3  233.025485  209.200308  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4  236.346482  213.261992  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf17=RandomForestClassifier()

In [ ]:
RGB_B4_Set2 = table_B4Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_B4_Set1 = table_B4Set1

RGB_B4_Set3 = table_B4Set3

RGB_B4_Set4 = table_B4Set4

RGB_B4_Set6 = table_B4Set6

In [ ]:
RGB_B4_concat0 = pd.concat([RGB_B4_Set1,RGB_B4_Set3,RGB_B4_Set4,RGB_B4_Set6])

In [ ]:
RGB_B4_concat2 = RGB_B4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B4_RGB = np.array(RGB_B4_Set2)

In [ ]:
y_B4_RGB =  table_B4Set2.iloc[:,14:15]

In [ ]:
y_test_B4_RGB = np.array(y_B4_RGB)

In [ ]:
X_train_B4_RGB = np.array(RGB_B4_concat2)

In [ ]:
y_train_B4RGB = RGB_B4_concat0.iloc[:,14:15]

In [ ]:
y_train_B4_RGB = np.array(y_train_B4RGB)

In [ ]:
clf17.fit(X_train_B4_RGB, y_train_B4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B4_RGB = clf17.predict(X_test_B4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))

Accuracy: 0.13291925465838508

###HSV

In [ ]:
clf18=RandomForestClassifier()

In [ ]:
HSV_B4_Set2 = table_B4Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_B4_concat2 = RGB_B4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_B4_HSV = np.array(HSV_B4_Set2)

In [ ]:
y_B4_HSV =  table_B4Set2.iloc[:,14:15]

In [ ]:
y_test_B4_HSV = np.array(y_B4_RGB)

In [ ]:
X_train_B4_HSV = np.array(HSV_B4_concat2)

In [ ]:
y_train_B4HSV = RGB_B4_concat0.iloc[:,14:15]

In [ ]:
y_train_B4_HSV = np.array(y_train_B4HSV)

In [ ]:
clf18.fit(X_train_B4_HSV, y_train_B4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_B4_HSV = clf18.predict(X_test_B4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))

Accuracy: 0.11677018633540373

#CC

##C1

In [ ]:
table_C1Set1 = pd.read_excel(Set1 , sheet_name='C1_1')

table_C1Set2 = pd.read_excel(Set2 , sheet_name='C1_2')

table_C1Set3 = pd.read_excel(Set3 , sheet_name='C1_3')

table_C1Set4 = pd.read_excel(Set4 , sheet_name='C1_4')

table_C1Set6 = pd.read_excel(Set6 , sheet_name='C1_6')

        R-ref       G-ref  ...  Shad                                       Img
0  234.238860  218.539810  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1  234.682574  218.671942  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2  235.917945  220.763169  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3  235.482266  220.350621  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4  232.222628  217.325623  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf19=RandomForestClassifier()

In [ ]:
RGB_C1_Set2 = table_C1Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C1_Set1 = table_C1Set1

RGB_C1_Set3 = table_C1Set3

RGB_C1_Set4 = table_C1Set4

RGB_C1_Set6 = table_C1Set6

In [ ]:
RGB_C1_concat0 = pd.concat([RGB_C1_Set1,RGB_C1_Set3,RGB_C1_Set4,RGB_C1_Set6])

In [ ]:
RGB_C1_concat2 = RGB_B1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C1_RGB = np.array(RGB_C1_Set2)

In [ ]:
y_C1_RGB =  table_C1Set2.iloc[:,14:15]

In [ ]:
y_test_C1_RGB = np.array(y_C1_RGB)

In [ ]:
X_train_C1_RGB = np.array(RGB_C1_concat2)

In [ ]:
y_train_C1RGB = RGB_C1_concat0.iloc[:,14:15]

In [ ]:
y_train_C1_RGB = np.array(y_train_C1RGB)

In [ ]:
clf19.fit(X_train_C1_RGB, y_train_C1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C1_RGB = clf19.predict(X_test_C1_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))

Accuracy: 0.03850931677018633

###HSV

In [ ]:
clf20=RandomForestClassifier()

In [ ]:
HSV_C1_Set2 = table_C1Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C1_concat2 = RGB_C1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C1_HSV = np.array(HSV_C1_Set2)

In [ ]:
y_C1_HSV =  table_C1Set1.iloc[:,14:15]

In [ ]:
y_test_C1_HSV = np.array(y_C1_RGB)

In [ ]:
X_train_C1_HSV = np.array(HSV_C1_concat2)

In [ ]:
y_train_C1HSV = RGB_C1_concat0.iloc[:,14:15]

In [ ]:
y_train_C1_HSV = np.array(y_train_C1HSV)

In [ ]:
clf20.fit(X_train_C1_HSV, y_train_C1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C1_HSV = clf20.predict(X_test_C1_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))

Accuracy: 0.0422360248447205

##C2

In [ ]:
table_C2Set1 = pd.read_excel(Set1 , sheet_name='C2_1')

table_C2Set2 = pd.read_excel(Set2 , sheet_name='C2_2')

table_C2Set3 = pd.read_excel(Set3 , sheet_name='C2_3')

table_C2Set4 = pd.read_excel(Set4 , sheet_name='C2_4')

table_C2Set6 = pd.read_excel(Set6 , sheet_name='C2_6')

        R-ref       G-ref  ...  Shad                                       Img
0  228.128399  209.481617  ...    A1  94B8BCF4-0790-415E-94D6-F74A6D812F9C.png
1  232.343803  214.231069  ...    A1  6C2D0804-8381-4BFF-BF38-C0AC1273E618.png
2  227.926467  209.045857  ...    A1  8BD8561A-0908-4A45-9B23-E1BB2A03640B.png
3  228.438276  209.707329  ...    A1  6021A5FE-EFB1-4650-84F4-27408DAFC2BA.png
4  231.572600  213.134729  ...    A1  1D2C4DD2-FF5D-446F-ADC8-BB6C6E19BF79.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf21=RandomForestClassifier()

In [ ]:
RGB_C2_Set2 = table_C2Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C2_Set1 = table_C2Set1

RGB_C2_Set3 = table_C2Set3

RGB_C2_Set4 = table_C2Set4

RGB_C2_Set6 = table_C2Set6

In [ ]:
RGB_C2_concat0 = pd.concat([RGB_C2_Set1,RGB_C2_Set3,RGB_C2_Set4,RGB_C2_Set6])

In [ ]:
RGB_C2_concat2 = RGB_C2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C2_RGB = np.array(RGB_C2_Set2)

In [ ]:
y_C2_RGB =  table_C2Set2.iloc[:,14:15]

In [ ]:
y_test_C2_RGB = np.array(y_B2_RGB)

In [ ]:
X_train_C2_RGB = np.array(RGB_C2_concat2)

In [ ]:
y_train_C2RGB = RGB_C2_concat0.iloc[:,14:15]

In [ ]:
y_train_C2_RGB = np.array(y_train_C2RGB)

In [ ]:
clf21.fit(X_train_C2_RGB, y_train_C2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C2_RGB = clf21.predict(X_test_C2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))

Accuracy: 0.05341614906832298

###HSV

In [ ]:
clf22=RandomForestClassifier()

In [ ]:
HSV_C2_Set2 = table_C2Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C2_concat2 = RGB_C2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C2_HSV = np.array(HSV_C2_Set2)

In [ ]:
y_C2_HSV =  table_C2Set2.iloc[:,14:15]

In [ ]:
y_test_C2_HSV = np.array(y_C2_RGB)

In [ ]:
X_train_C2_HSV = np.array(HSV_C2_concat2)

In [ ]:
y_train_C2HSV = RGB_C2_concat0.iloc[:,14:15]

In [ ]:
y_train_C2_HSV = np.array(y_train_C2HSV)

In [ ]:
clf22.fit(X_train_C2_HSV, y_train_C2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C2_HSV = clf22.predict(X_test_C2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))

Accuracy: 0.09565217391304348

##C3

In [ ]:
table_C3Set1 = pd.read_excel(Set1 , sheet_name='C3_1')

table_C3Set2 = pd.read_excel(Set2 , sheet_name='C3_2')

table_C3Set3 = pd.read_excel(Set3 , sheet_name='C3_3')

table_C3Set4 = pd.read_excel(Set4 , sheet_name='C3_4')

table_C3Set6 = pd.read_excel(Set6 , sheet_name='C3_6')

        R-ref       G-ref  ...  Shad                                       Img
0  228.339177  207.544112  ...    A1  8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1  228.171577  207.106891  ...    A1  A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2  228.786219  207.199821  ...    A1  D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3  225.123448  203.137570  ...    A1  B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4  228.860807  207.235371  ...    A1  DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf23=RandomForestClassifier()

In [ ]:
RGB_C3_Set2 = table_C3Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C3_Set1 = table_C3Set1

RGB_C3_Set3 = table_C3Set3

RGB_C3_Set4 = table_C3Set4

RGB_C3_Set6 = table_C3Set6

In [ ]:
RGB_C3_concat0 = pd.concat([RGB_C3_Set1,RGB_C3_Set3,RGB_C3_Set4,RGB_C3_Set6])

In [ ]:
RGB_C3_concat2 = RGB_C3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C3_RGB = np.array(RGB_C3_Set2)

In [ ]:
y_C3_RGB =  table_C3Set2.iloc[:,14:15]

In [ ]:
y_test_C3_RGB = np.array(y_C3_RGB)

In [ ]:
X_train_C3_RGB = np.array(RGB_C3_concat2)

In [ ]:
y_train_C3RGB = RGB_C3_concat0.iloc[:,14:15]

In [ ]:
y_train_C3_RGB = np.array(y_train_C3RGB)

In [ ]:
clf23.fit(X_train_C3_RGB, y_train_C3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C3_RGB = clf23.predict(X_test_C3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))

Accuracy: 0.08819875776397515

###HSV

In [ ]:
clf24=RandomForestClassifier()

In [ ]:
HSV_C3_Set2 = table_C3Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C3_concat2 = RGB_C3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C3_HSV = np.array(HSV_C3_Set2)

In [ ]:
y_C3_HSV =  table_C3Set2.iloc[:,14:15]

In [ ]:
y_test_C3_HSV = np.array(y_C3_RGB)

In [ ]:
X_train_C3_HSV = np.array(HSV_C3_concat2)

In [ ]:
y_train_C3HSV = RGB_C3_concat0.iloc[:,14:15]

In [ ]:
y_train_C3_HSV = np.array(y_train_C3HSV)

In [ ]:
clf24.fit(X_train_C3_HSV, y_train_C3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C3_HSV = clf24.predict(X_test_C3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))

Accuracy: 0.14037267080745341

##C4

In [ ]:
table_C4Set1 = pd.read_excel(Set1 , sheet_name='C4_1')

table_C4Set2 = pd.read_excel(Set2 , sheet_name='C4_2')

table_C4Set3 = pd.read_excel(Set3 , sheet_name='C4_3')

table_C4Set4 = pd.read_excel(Set4 , sheet_name='C4_4')

table_C4Set6 = pd.read_excel(Set6 , sheet_name='C4_6')

        R-ref       G-ref  ...  Shad                                       Img
0  225.852853  200.187322  ...    A1  D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1  225.812028  200.084084  ...    A1  0323B3D5-373A-4B67-8908-4387145AD384.png
2  225.554825  199.871114  ...    A1  4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3  227.168168  200.489327  ...    A1  9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4  220.914780  195.137164  ...    A1  EF49A765-DB1A-4F23-956C-3110E993E4A1.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf25=RandomForestClassifier()

In [ ]:
RGB_C4_Set2 = table_C4Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_C4_Set1 = table_C4Set1

RGB_C4_Set3 = table_C4Set3

RGB_C4_Set4 = table_C4Set4

RGB_C4_Set6 = table_C4Set6

In [ ]:
RGB_C4_concat0 = pd.concat([RGB_C4_Set1,RGB_C4_Set3,RGB_C4_Set4,RGB_C4_Set6])

In [ ]:
RGB_C4_concat2 = RGB_C4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C4_RGB = np.array(RGB_C4_Set2)

In [ ]:
y_C4_RGB =  table_C4Set2.iloc[:,14:15]

In [ ]:
y_test_C4_RGB = np.array(y_C4_RGB)

In [ ]:
X_train_C4_RGB = np.array(RGB_C4_concat2)

In [ ]:
y_train_C4RGB = RGB_C4_concat0.iloc[:,14:15]

In [ ]:
y_train_C4_RGB = np.array(y_train_C4RGB)

In [ ]:
clf25.fit(X_train_C4_RGB, y_train_C4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C4_RGB = clf25.predict(X_test_C4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))

Accuracy: 0.10559006211180125

###HSV

In [ ]:
clf26=RandomForestClassifier()

In [ ]:
HSV_C4_Set2 = table_C4Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_C4_concat2 = RGB_C4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_C4_HSV = np.array(HSV_C4_Set2)

In [ ]:
y_C4_HSV =  table_C4Set2.iloc[:,14:15]

In [ ]:
y_test_C4_HSV = np.array(y_C4_RGB)

In [ ]:
X_train_C4_HSV = np.array(HSV_C4_concat2)

In [ ]:
y_train_C4HSV = RGB_C4_concat0.iloc[:,14:15]

In [ ]:
y_train_C4_HSV = np.array(y_train_C4HSV)

In [ ]:
clf26.fit(X_train_C4_HSV, y_train_C4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_C4_HSV = clf26.predict(X_test_C4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))

Accuracy: 0.10559006211180125

#DD

##D2

In [ ]:
table_D2Set1 = pd.read_excel(Set1 , sheet_name='D2_1')

table_D2Set2 = pd.read_excel(Set2 , sheet_name='D2_2')

table_D2Set3 = pd.read_excel(Set3 , sheet_name='D2_3')

table_D2Set4 = pd.read_excel(Set4 , sheet_name='D2_4')

table_D2Set6 = pd.read_excel(Set6 , sheet_name='D2_6')

        R-ref       G-ref  ...  Shad                                       Img
0  229.583394  213.054785  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1  229.591592  213.256716  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2  225.561724  210.018992  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3  229.641101  213.017693  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4  230.944566  214.487866  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf27=RandomForestClassifier()

In [ ]:
RGB_D2_Set2 = table_D2Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D2_Set1 = table_D2Set1

RGB_D2_Set3 = table_D2Set3

RGB_D2_Set4 = table_D2Set4

RGB_D2_Set6 = table_D2Set6

In [ ]:
RGB_D2_concat0 = pd.concat([RGB_D2_Set1,RGB_D2_Set3,RGB_D2_Set4,RGB_D2_Set6])

In [ ]:
RGB_D2_concat2 = RGB_D2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D2_RGB = np.array(RGB_D2_Set2)

In [ ]:
y_D2_RGB =  table_D2Set2.iloc[:,14:15]

In [ ]:
y_test_D2_RGB = np.array(y_D2_RGB)

In [ ]:
X_train_D2_RGB = np.array(RGB_D2_concat2)

In [ ]:
y_train_D2RGB = RGB_D2_concat0.iloc[:,14:15]

In [ ]:
y_train_D2_RGB = np.array(y_train_D2RGB)

In [ ]:
clf27.fit(X_train_D2_RGB, y_train_D2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D2_RGB = clf27.predict(X_test_D2_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))

Accuracy: 0.13291925465838508

###HSV

In [ ]:
clf28=RandomForestClassifier()

In [ ]:
HSV_D2_Set2 = table_D2Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D2_concat2 = RGB_D2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D2_HSV = np.array(HSV_D2_Set2)

In [ ]:
y_D2_HSV =  table_D2Set2.iloc[:,14:15]

In [ ]:
y_test_D2_HSV = np.array(y_D2_RGB)

In [ ]:
X_train_D2_HSV = np.array(HSV_D2_concat2)

In [ ]:
y_train_D2HSV = RGB_D2_concat0.iloc[:,14:15]

In [ ]:
y_train_D2_HSV = np.array(y_train_D2HSV)

In [ ]:
clf28.fit(X_train_D2_HSV, y_train_D2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D2_HSV = clf28.predict(X_test_D2_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))

Accuracy: 0.18757763975155278

##D3

In [ ]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3_1')

table_D3Set2 = pd.read_excel(Set2 , sheet_name='D3_2')

table_D3Set3 = pd.read_excel(Set3 , sheet_name='D3_3')

table_D3Set4 = pd.read_excel(Set4 , sheet_name='D3_4')

table_D3Set6 = pd.read_excel(Set6 , sheet_name='D3_6')

        R-ref       G-ref  ...  Shad                                       Img
0  228.510511  211.399805  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  228.129129  211.503612  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.871520  211.994724  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  228.052187  210.838731  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  228.468063  211.528610  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf29=RandomForestClassifier()

In [ ]:
RGB_D3_Set2 = table_D3Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D3_Set1 = table_D3Set1

RGB_D3_Set3 = table_D3Set3

RGB_D3_Set4 = table_D3Set4

RGB_D3_Set6 = table_D3Set6

In [ ]:
RGB_D3_concat0 = pd.concat([RGB_D3_Set1,RGB_D3_Set3,RGB_D3_Set4])

In [ ]:
RGB_D3_concat2 = RGB_D3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB = np.array(RGB_D3_Set2)

In [ ]:
y_D3_RGB =  table_D3Set2.iloc[:,14:15]

In [ ]:
y_test_D3_RGB = np.array(y_D3_RGB)

In [ ]:
X_train_D3_RGB = np.array(RGB_D3_concat2)

In [ ]:
y_train_D3RGB = RGB_D3_concat0.iloc[:,14:15]

In [ ]:
y_train_D3_RGB = np.array(y_train_D3RGB)

In [ ]:
clf29.fit(X_train_D3_RGB, y_train_D3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB = clf29.predict(X_test_D3_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

Accuracy: 0.10186335403726708

###HSV

In [ ]:
clf30=RandomForestClassifier()

In [ ]:
HSV_D3_Set2 = table_D3Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D3_concat2 = RGB_D3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_HSV = np.array(HSV_D3_Set2)

In [ ]:
y_D3_HSV =  table_D3Set2.iloc[:,14:15]

In [ ]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [ ]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [ ]:
y_train_D3HSV = RGB_D3_concat0.iloc[:,14:15]

In [ ]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [ ]:
clf30.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_HSV = clf30.predict(X_test_D3_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.14037267080745341

##D4

In [ ]:
table_D4Set1 = pd.read_excel(Set1 , sheet_name='D4_1')

table_D4Set2 = pd.read_excel(Set2 , sheet_name='D4_2')

table_D4Set3 = pd.read_excel(Set3 , sheet_name='D4_3')

table_D4Set4 = pd.read_excel(Set4 , sheet_name='D4_4')

table_D4Set6 = pd.read_excel(Set6 , sheet_name='D4_6')

        R-ref       G-ref  ...  Shad                                       Img
0  227.056245  211.571463  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1  233.195520  218.202419  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2  233.881828  218.251035  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3  234.888483  217.971512  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4  235.071910  217.812921  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png

[5 rows x 16 columns]

###RGB

In [ ]:
clf31=RandomForestClassifier()

In [ ]:
RGB_D4_Set2 = table_D4Set2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D4_Set1 = table_D4Set1

RGB_D4_Set3 = table_D4Set3

RGB_D4_Set4 = table_D4Set4

RGB_D4_Set6 = table_D4Set6

In [ ]:
RGB_D4_concat0 = pd.concat([RGB_D4_Set1,RGB_D4_Set3,RGB_D4_Set4,RGB_D4_Set6])

In [ ]:
RGB_D4_concat2 = RGB_D4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D4_RGB = np.array(RGB_D4_Set2)

In [ ]:
y_D4_RGB =  table_D4Set2.iloc[:,14:15]

In [ ]:
y_test_D4_RGB = np.array(y_D4_RGB)

In [ ]:
X_train_D4_RGB = np.array(RGB_D4_concat2)

In [ ]:
y_train_D4RGB = RGB_D4_concat0.iloc[:,14:15]

In [ ]:
y_train_D4_RGB = np.array(y_train_D4RGB)

In [ ]:
clf31.fit(X_train_D4_RGB, y_train_D4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D4_RGB = clf31.predict(X_test_D4_RGB)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

Accuracy: 0.14285714285714285

###HSV

In [ ]:
clf32=RandomForestClassifier()

In [ ]:
HSV_D4_Set2 = table_D4Set2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D4_concat2 = RGB_D4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D4_HSV = np.array(HSV_D4_Set2)

In [ ]:
y_D4_HSV =  table_D4Set2.iloc[:,14:15]

In [ ]:
y_test_D4_HSV = np.array(y_D4_RGB)

In [ ]:
X_train_D4_HSV = np.array(HSV_D4_concat2)

In [ ]:
y_train_D4HSV = RGB_D4_concat0.iloc[:,14:15]

In [ ]:
y_train_D4_HSV = np.array(y_train_D4HSV)

In [ ]:
clf32.fit(X_train_D4_HSV, y_train_D4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D4_HSV = clf32.predict(X_test_D4_HSV)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

Accuracy: 0.10683229813664596

#Accuracy

##RGB

In [ ]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

A1 มี Accuracy เท่ากับ: 0.06375
A2 มี Accuracy เท่ากับ: 0.09625
A3 มี Accuracy เท่ากับ: 0.145
A3.5 มี Accuracy เท่ากับ: 0.08375
A4 มี Accuracy เท่ากับ: 0.165
B1 มี Accuracy เท่ากับ: 0.058385093167701865
B2 มี Accuracy เท่ากับ: 0.12173913043478261
B3 มี Accuracy เท่ากับ: 0.09565217391304348
B4 มี Accuracy เท่ากับ: 0.13291925465838508
C1 มี Accuracy เท่ากับ: 0.03850931677018633
C2 มี Accuracy เท่ากับ: 0.05341614906832298
C3 มี Accuracy เท่ากับ: 0.08819875776397515
C4 มี Accuracy เท่ากับ: 0.10559006211180125
D2 มี Accuracy เท่ากับ: 0.13291925465838508
D3 มี Accuracy เท่ากับ: 0.10186335403726708
D4 มี Accuracy เท่ากับ: 0.14285714285714285

In [ ]:
RGB_AC_A1 = metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB)
RGB_AC_A2 = metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB)
RGB_AC_A3 = metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB)
RGB_AC_A35 = metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB)
RGB_AC_A4 = metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB)
RGB_AC_B1 = metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB)
RGB_AC_B2 = metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB)
RGB_AC_B3 = metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB)
RGB_AC_B4 = metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB)
RGB_AC_C1 = metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB)
RGB_AC_C2 = metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB)
RGB_AC_C3 = metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB)
RGB_AC_C4 = metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB)
RGB_AC_D2 = metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB)
RGB_AC_D3 = metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB)
RGB_AC_D4 = metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB)

In [ ]:
RGB_AC =  (RGB_AC_A1,RGB_AC_A2,RGB_AC_A3,RGB_AC_A35,
           RGB_AC_A4,RGB_AC_B1,RGB_AC_B2,RGB_AC_B3,
           RGB_AC_B4,RGB_AC_C1,RGB_AC_C2,RGB_AC_C3,
           RGB_AC_C4,RGB_AC_D2,RGB_AC_D3,RGB_AC_D4)

In [ ]:
RGB_AC

(0.06375,
 0.09625,
 0.145,
 0.08375,
 0.165,
 0.058385093167701865,
 0.12173913043478261,
 0.09565217391304348,
 0.13291925465838508,
 0.03850931677018633,
 0.05341614906832298,
 0.08819875776397515,
 0.10559006211180125,
 0.13291925465838508,
 0.10186335403726708,
 0.14285714285714285)

In [ ]:
list_RGB_AC = list()
list_RGB_AC.append(RGB_AC)

In [ ]:
Cols = ['Set1_rgb'] 
S1_1 = pd.DataFrame(RGB_AC,columns= Cols)
S1_1

    Set1_rgb
0   0.063750
1   0.096250
2   0.145000
3   0.083750
4   0.165000
5   0.058385
6   0.121739
7   0.095652
8   0.132919
9   0.038509
10  0.053416
11  0.088199
12  0.105590
13  0.132919
14  0.101863
15  0.142857

##HSV

In [ ]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

A1 มี Accuracy เท่ากับ: 0.09875
A2 มี Accuracy เท่ากับ: 0.0625
A3 มี Accuracy เท่ากับ: 0.18875
A3.5 มี Accuracy เท่ากับ: 0.105
A4 มี Accuracy เท่ากับ: 0.22
B1 มี Accuracy เท่ากับ: 0.0670807453416149
B2 มี Accuracy เท่ากับ: 0.1639751552795031
B3 มี Accuracy เท่ากับ: 0.10807453416149068
B4 มี Accuracy เท่ากับ: 0.11677018633540373
C1 มี Accuracy เท่ากับ: 0.0422360248447205
C2 มี Accuracy เท่ากับ: 0.09565217391304348
C3 มี Accuracy เท่ากับ: 0.14037267080745341
C4 มี Accuracy เท่ากับ: 0.10559006211180125
D2 มี Accuracy เท่ากับ: 0.18757763975155278
D3 มี Accuracy เท่ากับ: 0.14037267080745341
D4 มี Accuracy เท่ากับ: 0.10683229813664596

In [ ]:
HSV_AC_A1 = metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV)
HSV_AC_A2 = metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV)
HSV_AC_A3 = metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV)
HSV_AC_A35 = metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV)
HSV_AC_A4 = metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV)
HSV_AC_B1 = metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV)
HSV_AC_B2 = metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV)
HSV_AC_B3 = metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV)
HSV_AC_B4 = metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV)
HSV_AC_C1 = metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV)
HSV_AC_C2 = metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV)
HSV_AC_C3 = metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV)
HSV_AC_C4 = metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV)
HSV_AC_D2 = metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV)
HSV_AC_D3 = metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV)
HSV_AC_D4 = metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV)

In [ ]:
HSV_AC =  (HSV_AC_A1,HSV_AC_A2,HSV_AC_A3,HSV_AC_A35,
           HSV_AC_A4,HSV_AC_B1,HSV_AC_B2,HSV_AC_B3,
           HSV_AC_B4,HSV_AC_C1,HSV_AC_C2,HSV_AC_C3,
           HSV_AC_C4,HSV_AC_D2,HSV_AC_D3,HSV_AC_D4)

In [ ]:
list_HSV_AC = list()
list_HSV_AC.append(RGB_AC)

In [ ]:
Cols = ['Set1_hsv'] 
S1_2 = pd.DataFrame(HSV_AC,columns= Cols)
S1_2

    Set1_hsv
0   0.098750
1   0.062500
2   0.188750
3   0.105000
4   0.220000
5   0.067081
6   0.163975
7   0.108075
8   0.116770
9   0.042236
10  0.095652
11  0.140373
12  0.105590
13  0.187578
14  0.140373
15  0.106832

In [ ]:
name =  ('A1','A2','A3','A3.5','A4','B1','B2','B3','B4','C1','C2','C3','C4','D2','D3','D4')

In [ ]:
Cols = ['shade'] 
S1_3 = pd.DataFrame(name,columns= Cols)
S1_3

   shade
0     A1
1     A2
2     A3
3   A3.5
4     A4
5     B1
6     B2
7     B3
8     B4
9     C1
10    C2
11    C3
12    C4
13    D2
14    D3
15    D4

In [ ]:
Data_RF = pd.concat([S1_3,S1_1,S1_2], axis=1)
Data_RF

   shade  Set1_rgb  Set1_hsv
0     A1  0.063750  0.098750
1     A2  0.096250  0.062500
2     A3  0.145000  0.188750
3   A3.5  0.083750  0.105000
4     A4  0.165000  0.220000
5     B1  0.058385  0.067081
6     B2  0.121739  0.163975
7     B3  0.095652  0.108075
8     B4  0.132919  0.116770
9     C1  0.038509  0.042236
10    C2  0.053416  0.095652
11    C3  0.088199  0.140373
12    C4  0.105590  0.105590
13    D2  0.132919  0.187578
14    D3  0.101863  0.140373
15    D4  0.142857  0.106832

In [ ]:
Data_RF.to_csv('AC_set1.csv', index=False)