<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/RF_D3_CC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [417]:
import pandas as pd

In [418]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [419]:
import os

In [420]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [421]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting1.xlsx',
 'Setting2.xlsx',
 'Setting3.xlsx',
 'Setting4.xlsx',
 'CheckerDD.xlsx',
 'Color-checkerDD.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting5.xlsx',
 'Setting6.xlsx']

In [422]:
CC1 = os.path.join(path,'CheckerDD.xlsx')
print(CC1)

/content/drive/My Drive/shadeimg/SVM shade/CheckerDD.xlsx

In [423]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [424]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [425]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [426]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [427]:
import numpy as np

In [428]:
from sklearn import metrics

In [429]:
from sklearn import datasets

In [430]:
from sklearn.ensemble import RandomForestClassifier

In [431]:
clf=RandomForestClassifier()

In [432]:
table_D3CC1 = pd.read_excel(CC1 , sheet_name='D3set5')
table_D3CC1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.533317  203.558640  ...    A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
1  224.624949  202.937586  ...    A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
2  225.539161  206.125964  ...    A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
3  224.508644  208.011363  ...    A1  9131592F-9798-4457-ACD3-8109CCA36224.png
4  225.235127  209.102021  ...    A1  653769F4-F724-4660-A3EE-76C3101A90E5.png

[5 rows x 16 columns]

In [433]:
table_D3CC2 = pd.read_excel(CC1 , sheet_name='D3set6')
table_D3CC2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.974434  221.510592  ...    A1  271DC401-D060-44CF-9035-B5163A38C82A.png
1  224.099505  229.098369  ...    A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
2  223.496388  229.110949  ...    A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
3  223.590861  229.145362  ...    A1  FD507C4E-07C8-4DCC-9DCB-F3FB2C76AAB4.png
4  223.864134  229.322052  ...    A1  10D62DA7-31C9-483A-A627-9AD9F089ECD0.png

[5 rows x 16 columns]

#DD

##D3

In [434]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [435]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [436]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [437]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

In [438]:
RGB_D3_CC1 = table_D3CC1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [439]:
HSV_D3_CC1 = table_D3CC1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [440]:
RGB_D3_CC2 = table_D3CC2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [441]:
HSV_D3_CC2 = table_D3CC2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

###RGB CC1

In [442]:
#ดึงตารางที่ต้องการใช้มาก่อน

In [443]:
RGB_D3_Set4 = table_D3Set4

In [444]:
RGB_D3_Set1 = table_D3Set1

In [445]:
RGB_D3_Set2 = table_D3Set2

In [446]:
RGB_D3_Set3 = table_D3Set3

In [447]:
RGB_D3_concat = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [448]:
RGB_D3_concat0 = pd.concat([RGB_D3_concat,RGB_D3_Set4])

In [449]:
RGB_D3_concat1 = pd.concat([RGB_D3_concat0,RGB_D3_Set3])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

In [450]:
RGB_D3_concat2 = RGB_D3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

In [451]:
X_test_D3_RGB = np.array(RGB_D3_CC1)

In [452]:
y_D3_RGB =  table_D3CC1.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

In [453]:
y_test_D3_RGB = np.array(y_D3_RGB)#เปลี่ยนให้ค่าในตารางเป็น array

In [454]:
X_train_D3_RGB = np.array(RGB_D3_concat2)#เปลี่ยนให้ค่าในตารางเป็น array

In [455]:
y_train_D3RGB = RGB_D3_concat1.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

In [456]:
y_train_D3_RGB = np.array(y_train_D3RGB)#เปลี่ยนให้ค่าในตารางเป็น array

In [457]:
clf.fit(X_train_D3_RGB, y_train_D3_RGB) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [458]:
y_pred_D3_RGB = clf.predict(X_test_D3_RGB) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [459]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
#หาค่า Accuracy ระหว่าง y_test และ y_pred ว่าฟันสามารถจับคู่กันได้มาที่สุดเท่าไหร่

Accuracy: 0.0825

###HSV CC1

In [460]:
HSV_D3_concat2 = RGB_D3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [461]:
X_test_D3_HSV = np.array(HSV_D3_CC1)

In [462]:
y_D3_HSV =  table_D3CC1.iloc[:,14:15]

In [463]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [464]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [465]:
y_train_D3HSV = RGB_D3_concat1.iloc[:,14:15]

In [466]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [467]:
clf.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [468]:
y_pred_D3_HSV = clf.predict(X_test_D3_HSV)

In [469]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.10625

###RGB CC2

In [470]:
RGB_D3_Set4 = table_D3Set4

In [471]:
RGB_D3_Set1 = table_D3Set1

In [472]:
RGB_D3_Set2 = table_D3Set2

In [473]:
RGB_D3_Set3 = table_D3Set3

In [474]:
RGB_D3_concat_2 = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [475]:
RGB_D3_concat0_2 = pd.concat([RGB_D3_concat_2,RGB_D3_Set4])

In [476]:
RGB_D3_concat1_2 = pd.concat([RGB_D3_concat0_2,RGB_D3_Set3])

In [477]:
RGB_D3_concat2_2 = RGB_D3_concat1_2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [478]:
X_test_D3_RGB_2 = np.array(RGB_D3_CC2)

In [480]:
y_D3_RGB_2 =  table_D3CC2.iloc[:,14:15]

In [481]:
y_test_D3_RGB_2 = np.array(y_D3_RGB_2)

In [482]:
X_train_D3_RGB_2 = np.array(RGB_D3_concat2_2)

In [483]:
y_train_D3RGB_2 = RGB_D3_concat1_2.iloc[:,14:15]

In [484]:
y_train_D3_RGB_2 = np.array(y_train_D3RGB_2)

In [485]:
clf.fit(X_train_D3_RGB_2, y_train_D3_RGB_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [486]:
y_pred_D3_RGB_2 = clf.predict(X_test_D3_RGB_2)

In [487]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

Accuracy: 0.085

###HSV CC2

In [488]:
HSV_D3_concat2_2 = RGB_D3_concat1_2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [489]:
X_test_D3_HSV_2 = np.array(HSV_D3_CC2)

In [490]:
y_D3_HSV_2 =  table_D3CC2.iloc[:,14:15]

In [491]:
y_test_D3_HSV_2 = np.array(y_D3_RGB_2)

In [492]:
X_train_D3_HSV_2 = np.array(HSV_D3_concat2_2)

In [493]:
y_train_D3HSV_2 = RGB_D3_concat1.iloc[:,14:15]

In [494]:
y_train_D3_HSV_2 = np.array(y_train_D3HSV_2)

In [495]:
clf.fit(X_train_D3_HSV_2, y_train_D3_HSV_2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [496]:
y_pred_D3_HSV_2 = clf.predict(X_test_D3_HSV_2)

In [497]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

Accuracy: 0.07875

#D3 Set1 ref

##RGB

In [538]:
RGB_D3_Set1_1 = table_D3Set1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [511]:
RGB_D3_concat0_3 = pd.concat([RGB_D3_Set2,RGB_D3_Set3])

In [512]:
RGB_D3_concat1_3 = pd.concat([RGB_D3_concat0_3,RGB_D3_Set4])

In [513]:
RGB_D3_concat2_3 = RGB_D3_concat1_3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [539]:
X_test_D3_RGB_3 = np.array(RGB_D3_Set1_1)

In [531]:
y_D3_RGB_3 =  table_D3Set1.iloc[:,14:15]

In [532]:
y_test_D3_RGB_3 = np.array(y_D3_RGB_3)

In [533]:
X_train_D3_RGB_3 = np.array(RGB_D3_concat2_3)

In [534]:
y_train_D3RGB_3 = RGB_D3_concat1_3.iloc[:,14:15]

In [535]:
y_train_D3_RGB_3 = np.array(y_train_D3RGB_3)

In [536]:
clf.fit(X_train_D3_RGB_3, y_train_D3_RGB_3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [540]:
y_pred_D3_RGB_3 = clf.predict(X_test_D3_RGB_3)

In [541]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_3, y_pred_D3_RGB_3))

Accuracy: 1.0

#Accuracy

##RGB

In [498]:
y_test_D3_RGB.shape

(800, 1)

In [499]:
y_pred_D3_RGB.shape

(800,)

In [500]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.0825

In [501]:
y_test_D3_RGB_2.shape

(800, 1)

In [502]:
y_pred_D3_RGB_2.shape

(800,)

In [503]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_2, y_pred_D3_RGB_2))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.085

##HSV

In [504]:
y_test_D3_HSV.shape

(800, 1)

In [505]:
y_pred_D3_HSV.shape

(800,)

In [506]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.10625

In [507]:
y_test_D3_HSV_2.shape

(800, 1)

In [508]:
y_pred_D3_HSV_2.shape

(800,)

In [509]:
print("เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV_2, y_pred_D3_HSV_2))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.07875