<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/RF_D3_CC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [5]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [6]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting1.xlsx',
 'Setting2.xlsx',
 'Setting3.xlsx',
 'Setting4.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerDD.xlsx',
 'CheckerDD.xlsx']

In [7]:
CC1 = os.path.join(path,'CheckerDD.xlsx')
print(CC1)

/content/drive/My Drive/shadeimg/SVM shade/CheckerDD.xlsx

In [8]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [9]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [10]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [11]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [12]:
import numpy as np

In [13]:
from sklearn import metrics

In [14]:
from sklearn import datasets

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
clf=RandomForestClassifier()

In [17]:
table_D3CC1 = pd.read_excel(CC1 , sheet_name='D3set6')
table_D3CC1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.974434  221.510592  ...    A1  271DC401-D060-44CF-9035-B5163A38C82A.png
1  224.099505  229.098369  ...    A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
2  223.496388  229.110949  ...    A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
3  223.590861  229.145362  ...    A1  FD507C4E-07C8-4DCC-9DCB-F3FB2C76AAB4.png
4  223.864134  229.322052  ...    A1  10D62DA7-31C9-483A-A627-9AD9F089ECD0.png

[5 rows x 16 columns]

#AA

##A1

In [18]:
table_A1Set1 = pd.read_excel(Set1 , sheet_name='A1Set1 ')
table_A1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.261911  226.772178  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1  238.432676  226.124909  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2  238.783134  226.525201  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3  238.943430  226.796039  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4  238.848145  226.354679  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png

[5 rows x 16 columns]

In [19]:
table_A1Set2 = pd.read_excel(Set2, sheet_name='A1Set2 ')
table_A1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.261911  226.772178  ...    A1  1665B5AE-934F-4116-AE19-3369544A125F.png
1  238.432676  226.124909  ...    A1  47C127AF-8872-4A1E-9F72-082F72252B3F.png
2  238.783134  226.525201  ...    A1  15991304-7501-4377-BE6E-1B9AF5258FC1.png
3  238.943430  226.796039  ...    A1  5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4  238.848145  226.354679  ...    A1  26A32C19-6890-4999-A7F2-D8399A56E3B5.png

[5 rows x 16 columns]

In [20]:
table_A1Set3 = pd.read_excel(Set3, sheet_name='A1Set3 ')
table_A1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  242.097708  230.045066  ...    A1  6CF2D4E8-1C13-4476-96FB-D618BCB119B7.png
1  241.384713  229.412879  ...    A1  787BE769-CA68-44C2-8899-D23018025CD8.png
2  241.642094  229.601301  ...    A1  E6125B9A-16C0-48C4-8EDD-9B488919BCCF.png
3  241.836053  229.881216  ...    A1  116812E7-7A6A-414F-876F-107C8BEF7D33.png
4  241.718434  229.483100  ...    A1  EF1A70C0-9B72-43EF-9272-24C3A1D0BFA8.png

[5 rows x 16 columns]

In [21]:
table_A1Set4 = pd.read_excel(Set4, sheet_name='A1Set4 ')
table_A1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  231.203768  214.152486  ...    A1  C3752024-70F6-407B-B596-E214E55D43EB.png
1  226.316628  208.979118  ...    A1  3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2  231.688520  213.571581  ...    A1  CA4551E2-6E87-4618-9646-2F81E76E705B.png
3  232.097902  213.545843  ...    A1  56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4  231.566045  212.888889  ...    A1  FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png

[5 rows x 16 columns]

###RGB

In [22]:
RGB_D3_CC1 = table_D3CC1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [23]:
RGB_A1_Set1 = table_A1Set1

In [24]:
RGB_A1_Set2 = table_A1Set2

In [25]:
RGB_A1_Set3 = table_A1Set3

In [26]:
RGB_A1_Set4 = table_A1Set4

In [27]:
RGB_A1_concat = pd.concat([RGB_A1_Set1,RGB_A1_Set2])

In [28]:
RGB_A1_concat0 = pd.concat([RGB_A1_concat,RGB_A1_Set4])

In [29]:
RGB_A1_concat1 = pd.concat([RGB_A1_concat0,RGB_A1_Set3])

In [30]:
RGB_A1_concat2 = RGB_A1_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [31]:
X_test_A1_RGB = np.array(RGB_D3_CC1)

In [32]:
y_A1_RGB =  table_D3CC1.iloc[:,14:15]

In [33]:
y_test_A1_RGB = np.array(y_A1_RGB)

In [34]:
X_train_A1_RGB = np.array(RGB_A1_concat2)

In [35]:
y_train_A1RGB = RGB_A1_concat1.iloc[:,14:15]

In [36]:
y_train_A1_RGB = np.array(y_train_A1RGB)

In [37]:
X_train_A1_RGB.shape

(3200, 6)

In [38]:
y_train_A1_RGB.shape

(3200, 1)

In [39]:
clf.fit(X_train_A1_RGB, y_train_A1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [40]:
y_pred_A1_RGB = clf.predict(X_test_A1_RGB)

In [41]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))

Accuracy: 0.0975

###HSV

In [42]:
HSV_D3_CC1 = table_D3CC1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [43]:
HSV_A1_concat2 = RGB_A1_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [44]:
X_test_A1_HSV = np.array(HSV_D3_CC1)

In [45]:
y_A1_HSV =  table_D3CC1.iloc[:,14:15]

In [46]:
y_test_A1_HSV = np.array(y_A1_RGB)

In [47]:
X_train_A1_HSV = np.array(HSV_A1_concat2)

In [48]:
y_train_A1HSV = RGB_A1_concat1.iloc[:,14:15]

In [49]:
y_train_A1_HSV = np.array(y_train_A1HSV)

In [50]:
clf.fit(X_train_A1_HSV, y_train_A1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [51]:
y_pred_A1_HSV = clf.predict(X_test_A1_HSV)

In [52]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))

Accuracy: 0.07125

##A2

In [53]:
table_A2Set1 = pd.read_excel(Set1 , sheet_name='A2Set1')
table_A2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.776127  228.569056  ...    A1  77308B8C-A458-48C0-A0EF-DD05DD0AEA75.png
1  240.009518  227.942113  ...    A1  DD37E60E-8484-48E3-8FB4-7E94B71553F4.png
2  240.346445  228.310120  ...    A1  0ED6DB80-7C02-41B3-88E9-CB382B96B37C.png
3  240.529040  228.597708  ...    A1  8B551D28-1E87-49BD-9E20-8B3F5F08FE8E.png
4  240.453768  228.207459  ...    A1  C12D1E9C-5BFA-4DD7-9D3F-194378F9673D.png

[5 rows x 16 columns]

In [54]:
table_A2Set2 = pd.read_excel(Set2, sheet_name='A2Set2')
table_A2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  242.097708  230.045066  ...    A1  498C8AAA-DF5D-452F-A34B-1BE1778A67FB.png
1  241.384713  229.412879  ...    A1  B6610BED-38BC-4978-B8A1-991530002FFD.png
2  241.642094  229.601301  ...    A1  FB80505B-1B14-48B6-9D07-03D0B6E36E03.png
3  241.836053  229.881216  ...    A1  7B8A2CF0-D4CF-40A3-B74E-B1AA9E33011E.png
4  241.718434  229.483100  ...    A1  E2D4FFA2-090A-4B46-B8C8-57E88EBAD5D2.png

[5 rows x 16 columns]

In [55]:
table_A2Set3 = pd.read_excel(Set3, sheet_name='A2Set3 ')
table_A2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.261911  226.772178  ...    A1  3055D600-52FE-426B-8FB7-F22AD0D97955.png
1  238.432676  226.124909  ...    A1  94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
2  238.783134  226.525201  ...    A1  61347A1C-5E5B-48EE-BB2D-AA9068046272.png
3  238.943430  226.796039  ...    A1  65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
4  238.848145  226.354679  ...    A1  86927B90-BCE2-4CA1-8556-398BF4B5A60E.png

[5 rows x 16 columns]

In [56]:
table_A2Set4 = pd.read_excel(Set4, sheet_name='A2Set4')
table_A2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  231.203768  214.152486  ...    A1  FE70379B-BE7C-4C2F-8F6B-BEC1809BF9B3.png
1  226.316628  208.979118  ...    A1  BA3AFF8D-AAA7-4A26-A99D-58E7730257A4.png
2  231.688520  213.571581  ...    A1  0F941597-744A-4ADE-973D-21AB168D1129.png
3  232.097902  213.545843  ...    A1  A63282AB-FC26-4DE4-8787-9276F2B800C0.png
4  231.566045  212.888889  ...    A1  D5F0E3B1-E9A0-4496-8806-ABEB0B70C533.png

[5 rows x 16 columns]

###RGB

In [57]:
RGB_A2_Set1 = table_A2Set1

In [58]:
RGB_A2_Set2 = table_A2Set2

In [59]:
RGB_A2_Set3 = table_A2Set3

In [60]:
RGB_A2_Set4 = table_A2Set4

In [61]:
RGB_A2_concat = pd.concat([RGB_A2_Set1,RGB_A2_Set2])

In [62]:
RGB_A2_concat0 = pd.concat([RGB_A2_concat,RGB_A2_Set4])

In [63]:
RGB_A2_concat1 = pd.concat([RGB_A2_concat0,RGB_A2_Set3])

In [64]:
RGB_A2_concat2 = RGB_A2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Ref','Shad','Img','Setting','Set4'], axis=1)

In [65]:
X_test_A2_RGB = np.array(RGB_D3_CC1)

In [66]:
y_A2_RGB =  table_D3CC1.iloc[:,14:15]

In [67]:
y_test_A2_RGB = np.array(y_A2_RGB)

In [68]:
X_train_A2_RGB = np.array(RGB_A2_concat2)

In [69]:
y_train_A2RGB = RGB_A2_concat1.iloc[:,14:15]

In [70]:
y_train_A2_RGB = np.array(y_train_A2RGB)

In [71]:
clf.fit(X_train_A2_RGB, y_train_A2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [72]:
y_pred_A2_RGB = clf.predict(X_test_A2_RGB)

In [73]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))

Accuracy: 0.095

###HSV

In [74]:
HSV_A2_concat2 = RGB_A2_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Ref','Shad','Img','Setting','Set4'], axis=1)

In [75]:
X_test_A2_HSV = np.array(HSV_D3_CC1)

In [76]:
y_A2_HSV =  table_D3CC1.iloc[:,14:15]

In [77]:
y_test_A2_HSV = np.array(y_A2_RGB)

In [78]:
X_train_A2_HSV = np.array(HSV_A2_concat2)

In [79]:
y_train_A2HSV = RGB_A2_concat1.iloc[:,14:15]

In [80]:
y_train_A2_HSV = np.array(y_train_A2HSV)

In [81]:
clf.fit(X_train_A2_HSV, y_train_A2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [82]:
y_pred_A2_HSV = clf.predict(X_test_A2_HSV)

In [83]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))

Accuracy: 0.0625

##A3

In [84]:
table_A3Set1 = pd.read_excel(Set1 , sheet_name='A3Set1 ')
table_A3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  242.097708  230.045066  ...    A1  BAD1342F-482E-488F-8241-A393B4779E26.png
1  241.384713  229.412879  ...    A1  0E4BF624-DA48-45D7-8CEF-1F893F3E36A9.png
2  241.642094  229.601301  ...    A1  A5A67F7B-D2B1-4729-8A0B-9BE2F2DF55C6.png
3  241.836053  229.881216  ...    A1  35D1BEA8-E650-4D83-9D61-17AD65EABD39.png
4  241.718434  229.483100  ...    A1  18FE9FE4-F848-465E-B7FE-7792C8A083CB.png

[5 rows x 16 columns]

In [85]:
table_A3Set2 = pd.read_excel(Set2, sheet_name='A3Set2 ')
table_A3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.103730  217.411713  ...    A1  DF15ABDE-6706-4DBF-B915-3A5A55675BE9.png
1  231.010587  213.546620  ...    A1  03CE5312-9117-494B-A20A-C13DED940437.png
2  234.168706  216.933664  ...    A1  9B833AEA-985E-456A-9772-D946B2ED95FF.png
3  234.541472  216.721251  ...    A1  D252705C-04AF-4E1A-8A27-F9EC7B5B9877.png
4  234.573524  216.957168  ...    A1  F93D031B-458C-4AC3-88ED-14FB49A9A804.png

[5 rows x 16 columns]

In [86]:
table_A3Set3 = pd.read_excel(Set3, sheet_name='A3Set3 ')
table_A3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  243.562937  231.555264  ...    A1  66373A06-43CB-4E73-84DA-6B504F4F1C45.png
1  242.855769  230.894619  ...    A1  F87BFB23-54A6-48EC-95AB-B690B56F7934.png
2  243.108197  231.144231  ...    A1  67DEF170-ED6C-468A-AC90-9DF1ED4C4091.png
3  243.268454  231.407828  ...    A1  861A0A06-2BEB-4C2D-9ECD-F753ACF6F036.png
4  243.186869  231.041278  ...    A1  BC54DA9B-E07D-4E21-8DB1-CC714427C684.png

[5 rows x 16 columns]

In [87]:
table_A3Set4 = pd.read_excel(Set4, sheet_name='A3Set4')
table_A3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.077603  204.519328  ...    A1  DC980AD2-81DD-4EAE-80D5-0CDDA83B06E7.png
1  231.544599  214.478370  ...    A1  5D10BAC5-8F2F-4EAC-86CE-FBA2AB6F50DD.png
2  226.812191  209.496226  ...    A1  E974AE96-AD14-4660-857A-2B63C16E8EB1.png
3  232.169223  214.141790  ...    A1  16DB511D-570A-4F94-808B-93F9C47B4CE9.png
4  232.451830  213.986852  ...    A1  1035897E-D1B4-4245-BE07-6C461520AF33.png

[5 rows x 16 columns]

###RGB

In [88]:
RGB_A3_Set4 = table_A3Set4

In [89]:
RGB_A3_Set1 = table_A3Set1

In [90]:
RGB_A3_Set2 = table_A3Set2

In [91]:
RGB_A3_Set3 = table_A3Set3

In [92]:
RGB_A3_concat = pd.concat([RGB_A3_Set1,RGB_A3_Set2])

In [93]:
RGB_A3_concat0 = pd.concat([RGB_A3_concat,RGB_A3_Set4])

In [94]:
RGB_A3_concat1 = pd.concat([RGB_A3_concat0,RGB_A3_Set3])

In [95]:
RGB_A3_concat2 = RGB_A3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Setting','Set4'], axis=1)

In [96]:
X_test_A3_RGB = np.array(RGB_D3_CC1)

In [97]:
y_A3_RGB =  table_D3CC1.iloc[:,14:15]

In [98]:
y_test_A3_RGB = np.array(y_A3_RGB)

In [99]:
X_train_A3_RGB = np.array(RGB_A3_concat2)

In [100]:
y_train_A3RGB = RGB_A3_concat1.iloc[:,14:15]

In [101]:
y_train_A3_RGB = np.array(y_train_A3RGB)

In [102]:
clf.fit(X_train_A3_RGB, y_train_A3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [103]:
y_pred_A3_RGB = clf.predict(X_test_A3_RGB)

In [104]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))

Accuracy: 0.1

###HSV

In [105]:
HSV_A3_concat2 = RGB_A3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [106]:
X_test_A3_HSV = np.array(HSV_D3_CC1)

In [107]:
y_A3_HSV =  table_D3CC1.iloc[:,14:15]

In [108]:
y_test_A3_HSV = np.array(y_A3_RGB)

In [109]:
X_train_A3_HSV = np.array(HSV_A3_concat2)

In [110]:
y_train_A3HSV = RGB_A3_concat1.iloc[:,14:15]

In [111]:
y_train_A3_HSV = np.array(y_train_A3HSV)

In [112]:
clf.fit(X_train_A3_HSV, y_train_A3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [113]:
y_pred_A3_HSV = clf.predict(X_test_A3_HSV)

In [114]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))

Accuracy: 0.07125

##A3.5

In [115]:
table_A3_5Set1 = pd.read_excel(Set1 , sheet_name='A3.5Set1 ')
table_A3_5Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  235.604172  216.610178  ...    A1  2DD07CB7-0413-41D5-BE23-51CA3C9164F5.png
1  243.562937  231.555264  ...    A1  F28F074F-5B54-424C-8E70-EC56E06FC3E0.png
2  242.855769  230.894619  ...    A1  6ABA4B94-D8B3-48BA-B1FA-6B5A081F40D1.png
3  243.108197  231.144231  ...    A1  6B5870DF-9D32-4295-9D0E-F1DDA4ABD18F.png
4  243.268454  231.407828  ...    A1  9EBCADA0-A39C-4692-B684-A967FE6F59B5.png

[5 rows x 16 columns]

In [116]:
table_A3_5Set2 = pd.read_excel(Set2, sheet_name='A3.5Set2 ')
table_A3_5Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.548368  219.008547  ...    A1  59331E47-9409-4752-859C-BD69B64F2FC6.png
1  239.642580  227.445610  ...    A1  271B26B6-1BC4-4A50-9198-127569C8BF3D.png
2  238.823135  226.798660  ...    A1  101CF038-4C3A-400E-9C2C-6CC2F63DEEEF.png
3  239.165016  227.221057  ...    A1  4CA308BF-F5D3-47CB-A3C0-4D0D3CBD97AA.png
4  239.322261  227.482032  ...    A1  C05E2226-6B18-40E3-966D-02DE782F3404.png

[5 rows x 16 columns]

In [117]:
table_A3_5Set3 = pd.read_excel(Set3, sheet_name='A3.5Set3  ')
table_A3_5Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.491259  215.427253  ...    A1  DD92C3DE-FED4-405C-A9BE-F6CB3CC67D3C.png
1  229.007673  211.568959  ...    A1  475DD7D4-D0A4-4875-8A88-515EC0BE2FEA.png
2  232.717852  214.911616  ...    A1  6A134D80-DECF-4205-B3F2-0FC7F87D6F47.png
3  233.155497  214.801573  ...    A1  3AF27BD7-16A3-47B3-A9D2-6F28AB0A73D4.png
4  233.052253  214.682595  ...    A1  F1DEE804-F5D7-48D6-A2AF-FB7B10C7C006.png

[5 rows x 16 columns]

In [118]:
table_A3_5Set4 = pd.read_excel(Set4, sheet_name='A3.5Set4')
table_A3_5Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.276520  204.980440  ...    A1  EA18B729-21CA-4CBD-9CD9-87A230B62A73.png
1  235.425991  219.263695  ...    A1  6F63F3BD-AD91-4D05-A01E-F262738EC089.png
2  232.456488  215.038753  ...    A1  C25C23A8-8D33-471D-9F99-1D7F0A5A2256.png
3  235.684538  218.972611  ...    A1  C7840948-E4E4-4326-9CA7-7249FD51E66F.png
4  235.963481  218.680458  ...    A1  6D2686E5-1F1E-46F5-8307-2588684AE288.png

[5 rows x 16 columns]

###RGB

In [119]:
RGB_A3_5_Set4 = table_A3_5Set4

In [120]:
RGB_A3_5_Set1 = table_A3_5Set1

In [121]:
RGB_A3_5_Set2 = table_A3_5Set2

In [122]:
RGB_A3_5_Set3 = table_A3_5Set3

In [123]:
RGB_A3_5_concat = pd.concat([RGB_A3_5_Set1,RGB_A3_5_Set2])

In [124]:
RGB_A3_5_concat0 = pd.concat([RGB_A3_5_concat,RGB_A3_5_Set4])

In [125]:
RGB_A3_5_concat1 = pd.concat([RGB_A3_5_concat0,RGB_A3_5_Set3])

In [126]:
RGB_A3_5_concat2 = RGB_A3_5_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [127]:
X_test_A3_5_RGB = np.array(RGB_D3_CC1)

In [128]:
y_A3_5_RGB =  table_D3CC1.iloc[:,14:15]

In [129]:
y_test_A3_5_RGB = np.array(y_A3_5_RGB)

In [130]:
X_train_A3_5_RGB = np.array(RGB_A3_5_concat2)

In [131]:
y_train_A3_5RGB = RGB_A3_5_concat1.iloc[:,14:15]

In [132]:
y_train_A3_5_RGB = np.array(y_train_A3_5RGB)

In [133]:
clf.fit(X_train_A3_5_RGB, y_train_A3_5_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [134]:
y_pred_A3_5_RGB = clf.predict(X_test_A3_5_RGB)

In [135]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))

Accuracy: 0.12625

###HSV

In [136]:
HSV_A3_5_concat2 = RGB_A3_5_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [137]:
X_test_A3_5_HSV = np.array(HSV_D3_CC1)

In [138]:
y_A3_5_HSV =  table_D3CC1.iloc[:,14:15]

In [139]:
y_test_A3_5_HSV = np.array(y_A3_5_RGB)

In [140]:
X_train_A3_5_HSV = np.array(HSV_A3_5_concat2)

In [141]:
y_train_A3_5HSV = RGB_A3_5_concat1.iloc[:,14:15]

In [142]:
y_train_A3_5_HSV = np.array(y_train_A3_5HSV)

In [143]:
clf.fit(X_train_A3_5_HSV, y_train_A3_5_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [144]:
y_pred_A3_5_HSV = clf.predict(X_test_A3_5_HSV)

In [145]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))

Accuracy: 0.06125

##A4

In [146]:
table_A4Set1 = pd.read_excel(Set1 , sheet_name='A4Set1 ')
table_A4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.491259  215.427253  ...    A1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1  229.007673  211.568959  ...    A1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2  232.717852  214.911616  ...    A1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3  233.155497  214.801573  ...    A1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4  233.052253  214.682595  ...    A1  606F71D4-DD41-4252-B152-C019C53AE874.png

[5 rows x 16 columns]

In [147]:
table_A4Set2 = pd.read_excel(Set2, sheet_name='A4Set2 ')
table_A4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  230.051476  207.380148  ...    A1  E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1  227.640929  204.685800  ...    A1  9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2  227.260198  205.114608  ...    A1  29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3  227.652098  206.428419  ...    A1  7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4  229.170357  206.154526  ...    A1  31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png

[5 rows x 16 columns]

In [148]:
table_A4Set3 = pd.read_excel(Set3, sheet_name='A4Set3 ')
table_A4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  226.000406  203.723886  ...    A1  F712701E-BE7E-4095-A77E-B995819EFFFD.png
1  226.466845  205.043665  ...    A1  CECCAFE3-FE35-40E3-A23C-E30AC0ED7305.png
2  228.276520  204.980440  ...    A1  030A48A3-45A8-46B5-BA6E-40DBF7924561.png
3  235.425991  219.263695  ...    A1  56F3B9ED-032B-4568-94F8-A20F8E7C590B.png
4  232.456488  215.038753  ...    A1  B39AAD6D-AA02-4E9A-9387-6545DE9848CE.png

[5 rows x 16 columns]

In [149]:
table_A4Set4 = pd.read_excel(Set4, sheet_name='A4Set4')
table_A4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  226.825466  208.749223  ...    A1  E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1  229.180847  211.616647  ...    A1  013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2  230.488636  212.745241  ...    A1  0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3  224.159091  206.104895  ...    A1  C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4  225.504759  207.478341  ...    A1  9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png

[5 rows x 16 columns]

###RGB

In [150]:
RGB_A4_Set4 = table_A4Set4

In [151]:
RGB_A4_Set1 = table_A4Set1

In [152]:
RGB_A4_Set2 = table_A4Set2

In [153]:
RGB_A4_Set3 = table_A4Set3

In [154]:
RGB_A4_concat = pd.concat([RGB_A4_Set1,RGB_A4_Set2])

In [155]:
RGB_A4_concat0 = pd.concat([RGB_A4_concat,RGB_A4_Set4])

In [156]:
RGB_A4_concat1 = pd.concat([RGB_A4_concat0,RGB_A4_Set3])

In [157]:
RGB_A4_concat2 = RGB_A4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [158]:
X_test_A4_RGB = np.array(RGB_D3_CC1)

In [159]:
y_A4_RGB =  table_D3CC1.iloc[:,14:15]

In [160]:
y_test_A4_RGB = np.array(y_A4_RGB)

In [161]:
X_train_A4_RGB = np.array(RGB_A4_concat2)

In [162]:
y_train_A4_RGB = RGB_A4_concat1.iloc[:,14:15]

In [163]:
y_train_A4_RGB = np.array(y_train_A4_RGB)

In [164]:
clf.fit(X_train_A4_RGB, y_train_A4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [165]:
y_pred_A4_RGB = clf.predict(X_test_A4_RGB)

In [166]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))

Accuracy: 0.01

###HSV

In [167]:
HSV_A4_concat2 = RGB_A4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img','Set4'], axis=1)

In [168]:
X_test_A4_HSV = np.array(HSV_D3_CC1)

In [169]:
y_A4_HSV =  table_D3CC1.iloc[:,14:15]

In [170]:
y_test_A4_HSV = np.array(y_A4_RGB)

In [171]:
X_train_A4_HSV = np.array(HSV_A4_concat2)

In [172]:
y_train_A4HSV = RGB_A4_concat1.iloc[:,14:15]

In [173]:
y_train_A4_HSV = np.array(y_train_A4HSV)

In [174]:
clf.fit(X_train_A4_HSV, y_train_A4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [175]:
y_pred_A4_HSV = clf.predict(X_test_A4_HSV)

In [176]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))

Accuracy: 0.08

#BB

##B1

In [177]:
table_B1Set1 = pd.read_excel(Set1 , sheet_name='B1Set1 ')
table_B1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.313326  216.689200  ...    A1  1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1  236.874709  224.246018  ...    A1  67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2  233.620047  221.292735  ...    A1  935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3  237.811480  225.270882  ...    A1  C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4  236.552836  224.011752  ...    A1  EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png

[5 rows x 16 columns]

In [178]:
table_B1Set2 = pd.read_excel(Set2, sheet_name='B1Set2')
table_B1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.815031  217.558477  ...    A1  AEF34645-B125-4481-B378-9F740119E34B.png
1  232.727620  216.042529  ...    A1  7B786FDA-1147-419F-870D-48EE311B41A7.png
2  226.770067  210.563347  ...    A1  14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3  225.828017  205.090171  ...    A1  03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4  224.204123  203.246003  ...    A1  E58BEC6B-47E4-4F24-A845-6C7065F6286F.png

[5 rows x 16 columns]

In [179]:
table_B1Set3 = pd.read_excel(Set3, sheet_name='B1Set3 ')
table_B1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  36131F69-AE53-43F0-9393-320FE9F7F062.png
1  233.620047  221.292735  ...    A1  3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2  237.811480  225.270882  ...    A1  13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3  236.552836  224.011752  ...    A1  73D24887-262D-44DF-BC51-1E2A687A29A0.png
4  233.531080  221.732129  ...    A1  59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png

[5 rows x 16 columns]

In [180]:
table_B1Set4 = pd.read_excel(Set4, sheet_name='B1Set4')
table_B1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.081682  221.755051  ...    A1  FE8C5C61-E1C3-43CD-89CA-1CC9F2F64918.png
1  235.952117  219.916764  ...    A1  D3A831B0-6702-4ED8-BCD2-DF3E93AE96AA.png
2  232.103632  215.131022  ...    A1  8A8341B2-51DF-4C76-9E21-423D884578F9.png
3  229.841492  209.444444  ...    A1  73445C43-E3BF-421B-9A97-1F1182DFFF9A.png
4  228.368395  207.523019  ...    A1  56FEB49F-EF2D-4F39-A5BC-CCD039F7C855.png

[5 rows x 16 columns]

###RGB

In [181]:
RGB_B1_Set1 = table_B1Set1

In [182]:
RGB_B1_Set2 = table_B1Set2

In [183]:
RGB_B1_Set3 = table_B1Set3

In [184]:
RGB_B1_Set4 = table_B1Set4

In [185]:
RGB_B1_concat = pd.concat([RGB_B1_Set1,RGB_B1_Set2])

In [186]:
RGB_B1_concat0 = pd.concat([RGB_B1_concat,RGB_B1_Set4])

In [187]:
RGB_B1_concat1 = pd.concat([RGB_B1_concat0,RGB_B1_Set3])

In [188]:
RGB_B1_concat2 = RGB_B1_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [189]:
X_test_B1_RGB = np.array(RGB_D3_CC1)

In [190]:
y_B1_RGB =  table_D3CC1.iloc[:,14:15]

In [191]:
y_test_B1_RGB = np.array(y_B1_RGB)

In [192]:
X_train_B1_RGB = np.array(RGB_B1_concat2)

In [193]:
y_train_B1RGB = RGB_B1_concat1.iloc[:,14:15]

In [194]:
y_train_B1_RGB = np.array(y_train_B1RGB)

In [195]:
clf.fit(X_train_B1_RGB, y_train_B1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [196]:
y_pred_B1_RGB = clf.predict(X_test_B1_RGB)

In [197]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))

Accuracy: 0.09

###HSV

In [198]:
HSV_B1_concat2 = RGB_B1_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [199]:
X_test_B1_HSV = np.array(HSV_D3_CC1)

In [200]:
y_B1_HSV =  table_D3CC1.iloc[:,14:15]

In [201]:
y_test_B1_HSV = np.array(y_B1_RGB)

In [202]:
X_train_B1_HSV = np.array(HSV_B1_concat2)

In [203]:
y_train_B1HSV = RGB_B1_concat1.iloc[:,14:15]

In [204]:
y_train_B1_HSV = np.array(y_train_B1HSV)

In [205]:
clf.fit(X_train_B1_HSV, y_train_B1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [206]:
y_pred_B1_HSV = clf.predict(X_test_B1_HSV)

In [207]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))

Accuracy: 0.0625

##B2

In [208]:
table_B2Set1 = pd.read_excel(Set1 , sheet_name='B2Set1 ')
table_B2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  8844784E-18F2-4180-BD56-22527F5B506A.png
1  233.620047  221.292735  ...    A1  9B82482F-3CCB-4D36-88DF-53EE592260BA.png
2  237.811480  225.270882  ...    A1  EBE10373-8135-4270-894B-9887BE25C44D.png
3  236.552836  224.011752  ...    A1  E371B8FC-E57F-49E3-8AF4-9DF8FDBFA8F3.png
4  233.531080  221.732129  ...    A1  238A6F42-0DF6-424E-9279-99FE08A655A8.png

[5 rows x 16 columns]

In [209]:
table_B2Set2 = pd.read_excel(Set2, sheet_name='B2Set2 ')
table_B2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  B1DA559A-D9F1-4AF3-8AF2-1244D61DE126.png
1  233.620047  221.292735  ...    A1  A92BD83A-0BC5-475A-806D-12AED89C8F25.png
2  237.811480  225.270882  ...    A1  3A2804B8-CBAC-40D4-9EC0-8EF3D3C52A9D.png
3  236.552836  224.011752  ...    A1  CFB4F284-CE02-4550-B81A-53E093EE4FBA.png
4  233.531080  221.732129  ...    A1  1A61C771-989D-4734-8138-2EC30D0E65DC.png

[5 rows x 16 columns]

In [210]:
table_B2Set3 = pd.read_excel(Set3, sheet_name='B2Set3  ')
table_B2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  250FC647-07B6-4795-B3EF-E2E97F609E10.png
1  233.620047  221.292735  ...    A1  829D716F-ABCB-494F-942F-92D985E969FC.png
2  237.811480  225.270882  ...    A1  31E84E1C-8996-478A-8C5B-DEB651BD8B7B.png
3  236.552836  224.011752  ...    A1  1096FB39-AC69-47B0-A58C-D5EAF4178133.png
4  233.531080  221.732129  ...    A1  561D36AA-0D94-45A1-88BE-C705DA5140C7.png

[5 rows x 16 columns]

In [211]:
table_B2Set4 = pd.read_excel(Set4, sheet_name='B2Set4')
table_B2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.592366  217.212024  ...    A1  5B0F9488-7F08-4BCE-A32E-55154984960A.png
1  232.555458  215.691822  ...    A1  0E6453D8-FF6B-407E-97CD-CD738C98FDF2.png
2  226.305750  210.198524  ...    A1  080A292F-0B63-4933-A09A-199874BA4870.png
3  225.616841  204.899087  ...    A1  3638FEC4-42D0-4824-AD26-F7E587220698.png
4  224.022339  203.058372  ...    A1  8D6E4CD1-034D-487B-80CB-3AE03EE1D093.png

[5 rows x 16 columns]

###RGB

In [212]:
RGB_B2_Set4 = table_B2Set4

In [213]:
RGB_B2_Set1 = table_B2Set1

In [214]:
RGB_B2_Set2 = table_B2Set2

In [215]:
RGB_B2_Set3 = table_B2Set3

In [216]:
RGB_B2_concat = pd.concat([RGB_B2_Set1,RGB_B2_Set2])

In [217]:
RGB_B2_concat0 = pd.concat([RGB_B2_concat,RGB_B2_Set4])

In [218]:
RGB_B2_concat1 = pd.concat([RGB_B2_concat0,RGB_B2_Set3])

In [219]:
RGB_B2_concat2 = RGB_B2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [220]:
X_test_B2_RGB = np.array(RGB_D3_CC1)

In [221]:
y_B2_RGB =  table_D3CC1.iloc[:,14:15]

In [222]:
y_test_B2_RGB = np.array(y_B2_RGB)

In [223]:
X_train_B2_RGB = np.array(RGB_B2_concat2)

In [224]:
y_train_B2RGB = RGB_B2_concat1.iloc[:,14:15]

In [225]:
y_train_B2_RGB = np.array(y_train_B2RGB)

In [226]:
clf.fit(X_train_B2_RGB, y_train_B2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [227]:
y_pred_B2_RGB = clf.predict(X_test_B2_RGB)

In [228]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))

Accuracy: 0.08625

###HSV

In [229]:
HSV_B2_concat2 = RGB_B2_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [230]:
X_test_B2_HSV = np.array(HSV_D3_CC1)

In [231]:
y_B2_HSV =  table_D3CC1.iloc[:,14:15]

In [232]:
y_test_B2_HSV = np.array(y_B2_RGB)

In [233]:
X_train_B2_HSV = np.array(HSV_B2_concat2)

In [234]:
y_train_B2HSV = RGB_B2_concat1.iloc[:,14:15]

In [235]:
y_train_B2_HSV = np.array(y_train_B2HSV)

In [236]:
clf.fit(X_train_B2_HSV, y_train_B2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [237]:
y_pred_B2_HSV = clf.predict(X_test_B2_HSV)

In [238]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))

Accuracy: 0.0625

##B3

In [239]:
table_B3Set1 = pd.read_excel(Set1 , sheet_name='B3Set1 ')
table_B3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.874709  224.246018  ...    A1  768ECDBF-055D-4AF1-9FB6-59F1D54C18F2.png
1  233.620047  221.292735  ...    A1  A2B09945-ABB4-4B6C-8880-C0859637306B.png
2  237.811480  225.270882  ...    A1  5C57C433-024F-4E4A-B661-2A33A270EE9D.png
3  236.552836  224.011752  ...    A1  6D8E199E-9FF6-46BF-A7CA-D491A179F0EB.png
4  233.531080  221.732129  ...    A1  09286B35-9904-4EE4-8AF2-92443DF8DA7D.png

[5 rows x 16 columns]

In [240]:
table_B3Set2 = pd.read_excel(Set2, sheet_name='B3Set2')
table_B3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.881605  224.382867  ...    A1  8E815009-4D5A-4F6E-B73E-3F02EEDF518E.png
1  238.117716  222.694736  ...    A1  71FB6161-2220-4F52-9DB9-988BEA1E6318.png
2  233.842075  216.756216  ...    A1  CE22D8CA-7FD1-4E9E-9A9A-6C3591E3B041.png
3  231.565365  211.148407  ...    A1  9311AA58-DD49-4827-BE81-DE9122D40F36.png
4  230.061772  209.351593  ...    A1  706F5A48-1CDB-468B-A380-D9DBE49855CB.png

[5 rows x 16 columns]

In [241]:
table_B3Set3 = pd.read_excel(Set3, sheet_name='B3Set3 ')
table_B3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.730963  217.195319  ...    A1  D30CE1BD-7348-4D4B-8B2A-9CF508F40709.png
1  239.266414  216.745435  ...    A1  A3174F21-0003-438F-AB9B-C9E9E4403930.png
2  239.713869  217.283508  ...    A1  F6329A93-CE40-40BD-82AD-EE38250C7659.png
3  239.313326  216.689200  ...    A1  0EA3962C-C625-411B-83E6-FE457309A3FA.png
4  236.874709  224.246018  ...    A1  EC8C9E12-CC68-4397-BBD7-6F464DD8A7F6.png

[5 rows x 16 columns]

In [242]:
table_B3Set4 = pd.read_excel(Set4, sheet_name='B3Set4')
table_B3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.081682  221.755051  ...    A1  5C22556A-CB1C-49A8-B0F9-3013F60CF097.png
1  235.952117  219.916764  ...    A1  AEB14259-1749-43ED-901D-F78CF34D6098.png
2  232.103632  215.131022  ...    A1  0D6EAE6C-73F2-4F11-86DF-9A77825BE847.png
3  229.841492  209.444444  ...    A1  214213DB-44A4-43C8-8270-BDECBDE6838F.png
4  228.368395  207.523019  ...    A1  28A87DF6-4327-4573-AB9A-73CB7077ED8E.png

[5 rows x 16 columns]

###RGB

In [243]:
RGB_B3_Set4 = table_B3Set4

In [244]:
RGB_B3_Set1 = table_B3Set1

In [245]:
RGB_B3_Set2 = table_B3Set2

In [246]:
RGB_B3_Set3 = table_B3Set3

In [247]:
RGB_B3_concat = pd.concat([RGB_B3_Set1,RGB_B3_Set2])

In [248]:
RGB_B3_concat0 = pd.concat([RGB_B3_concat,RGB_B3_Set4])

In [249]:
RGB_B3_concat1 = pd.concat([RGB_B3_concat0,RGB_B3_Set3])

In [250]:
RGB_B3_concat2 = RGB_B3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [251]:
X_test_B3_RGB = np.array(RGB_D3_CC1)

In [252]:
y_B3_RGB =  table_D3CC1.iloc[:,14:15]

In [253]:
y_test_B3_RGB = np.array(y_B3_RGB)

In [254]:
X_train_B3_RGB = np.array(RGB_B3_concat2)

In [255]:
y_train_B3RGB = RGB_B3_concat1.iloc[:,14:15]

In [256]:
y_train_B3_RGB = np.array(y_train_B3RGB)

In [257]:
clf.fit(X_train_B3_RGB, y_train_B3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [258]:
y_pred_B3_RGB = clf.predict(X_test_B3_RGB)

In [259]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))

Accuracy: 0.0725

###HSV

In [260]:
HSV_B3_concat2 = RGB_B3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [261]:
X_test_B3_HSV = np.array(HSV_D3_CC1)

In [262]:
y_B3_HSV =  table_D3CC1.iloc[:,14:15]

In [263]:
y_test_B3_HSV = np.array(y_B3_RGB)

In [264]:
X_train_B3_HSV = np.array(HSV_B3_concat2)

In [265]:
y_train_B3HSV = RGB_B3_concat1.iloc[:,14:15]

In [266]:
y_train_B3_HSV = np.array(y_train_B3HSV)

In [267]:
clf.fit(X_train_B3_HSV, y_train_B3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [268]:
y_pred_B3_HSV = clf.predict(X_test_B3_HSV)

In [269]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))

Accuracy: 0.0625

##B4

In [270]:
table_B4Set1 = pd.read_excel(Set1 , sheet_name='B4Set1 ')
table_B4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.266414  216.745435  ...    A1  34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1  239.713869  217.283508  ...    A1  749D68C6-4CBE-4281-936D-2E903F24C84B.png
2  239.313326  216.689200  ...    A1  FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3  236.874709  224.246018  ...    A1  94EA0AEE-7090-4878-B886-C6D839442A90.png
4  233.620047  221.292735  ...    A1  1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png

[5 rows x 16 columns]

In [271]:
table_B4Set2 = pd.read_excel(Set2, sheet_name='B4Set2 ')
table_B4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.081682  221.755051  ...    A1  CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1  235.952117  219.916764  ...    A1  6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2  232.103632  215.131022  ...    A1  0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3  229.841492  209.444444  ...    A1  FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4  228.368395  207.523019  ...    A1  E331F1F9-905A-4866-8928-26AEF36EAFF7.png

[5 rows x 16 columns]

In [272]:
table_B4Set3 = pd.read_excel(Set3, sheet_name='B4Set3 ')
table_B4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.313326  216.689200  ...    A1  15CF7C81-C401-4F9B-A9D6-BFF17DD5A41E.png
1  236.874709  224.246018  ...    A1  BB30E369-CADD-4E81-BE42-6B37C089DFDF.png
2  233.620047  221.292735  ...    A1  41EAF1E9-C9E9-4D7E-968E-75700ECAA674.png
3  237.811480  225.270882  ...    A1  C637E1DF-0ECB-4622-A3DD-67CDD073DACD.png
4  236.552836  224.011752  ...    A1  CD93A518-E887-42EC-8254-4B50FE6F9E71.png

[5 rows x 16 columns]

In [273]:
table_B4Set4 = pd.read_excel(Set4, sheet_name='B4Set4')
table_B4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.372863  219.322844  ...    A1  E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1  233.941239  217.435800  ...    A1  51A8D5DF-0265-4137-A97C-204933D83A2B.png
2  229.438908  212.935606  ...    A1  4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3  227.790890  207.271659  ...    A1  98C975EE-4F1C-4322-BE68-D0362677051C.png
4  226.350816  205.394134  ...    A1  154F666F-3A72-4532-BC86-922DEC7A5986.png

[5 rows x 16 columns]

###RGB

In [274]:
RGB_B4_Set4 = table_B4Set4

In [275]:
RGB_B4_Set1 = table_B4Set1

In [276]:
RGB_B4_Set2 = table_B4Set2

In [277]:
RGB_B4_Set3 = table_B4Set3

In [278]:
RGB_B4_concat = pd.concat([RGB_B4_Set1,RGB_B4_Set2])

In [279]:
RGB_B4_concat0 = pd.concat([RGB_B4_concat,RGB_B4_Set4])

In [280]:
RGB_B4_concat1 = pd.concat([RGB_B4_concat0,RGB_B4_Set3])

In [281]:
RGB_B4_concat2 = RGB_B4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [282]:
X_test_B4_RGB = np.array(RGB_D3_CC1)

In [283]:
y_B4_RGB =  table_D3CC1.iloc[:,14:15]

In [284]:
y_test_B4_RGB = np.array(y_B4_RGB)

In [285]:
X_train_B4_RGB = np.array(RGB_B4_concat2)

In [286]:
y_train_B4RGB = RGB_B4_concat1.iloc[:,14:15]

In [287]:
y_train_B4_RGB = np.array(y_train_B4RGB)

In [288]:
clf.fit(X_train_B4_RGB, y_train_B4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [289]:
y_pred_B4_RGB = clf.predict(X_test_B4_RGB)

In [290]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))

Accuracy: 0.07125

###HSV

In [291]:
HSV_B4_concat2 = RGB_B4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [292]:
X_test_B4_HSV = np.array(HSV_D3_CC1)

In [293]:
y_B4_HSV =  table_D3CC1.iloc[:,14:15]

In [294]:
y_test_B4_HSV = np.array(y_B4_RGB)

In [295]:
X_train_B4_HSV = np.array(HSV_B4_concat2)

In [296]:
y_train_B4HSV = RGB_B4_concat1.iloc[:,14:15]

In [297]:
y_train_B4_HSV = np.array(y_train_B4HSV)

In [298]:
clf.fit(X_train_B4_HSV, y_train_B4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [299]:
y_pred_B4_HSV = clf.predict(X_test_B4_HSV)

In [300]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))

Accuracy: 0.0625

#CC

##C1

In [301]:
table_C1Set1 = pd.read_excel(Set1 , sheet_name='C1Set1 ')
table_C1Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.821037  225.705543  ...    A1  998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1  239.015096  225.933366  ...    A1  C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2  239.849931  227.537051  ...    A1  95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3  239.325785  226.816573  ...    A1  770F3E42-0415-48C8-AE28-664827DCDAAE.png
4  236.398182  225.056083  ...    A1  AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png

[5 rows x 16 columns]

In [302]:
table_C1Set2 = pd.read_excel(Set2, sheet_name='C1Set2')
table_C1Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.518454  218.775253  ...    A1  B89A222A-3234-4967-A308-F5A62CCCD364.png
1  239.236500  226.574106  ...    A1  41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2  239.455614  226.906080  ...    A1  F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3  240.266900  228.472222  ...    A1  03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4  239.647145  227.612568  ...    A1  9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png

[5 rows x 16 columns]

In [303]:
table_C1Set3 = pd.read_excel(Set3, sheet_name='C1Set3 ')
table_C1Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  237.518454  218.775253  ...    A1  1E917833-3707-473C-843B-5D63B350CBC4.png
1  239.236500  226.574106  ...    A1  A3CA5A69-EA09-4AC6-8695-83F9567E6484.png
2  239.455614  226.906080  ...    A1  80A2301F-B67E-45B2-BC09-8FA4D1A48A1F.png
3  240.266900  228.472222  ...    A1  78E24865-B50B-4EFD-BF2F-3CFD4D484A5A.png
4  239.647145  227.612568  ...    A1  4540C001-2AE9-44DB-BA99-C2A8E72A0F28.png

[5 rows x 16 columns]

In [304]:
table_C1Set4 = pd.read_excel(Set4, sheet_name='C1Set4')
table_C1Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  241.886752  229.539627  ...    A1  2CF6DEF9-DF65-4D3E-BEC7-C1664402B848.png
1  242.135781  229.859848  ...    A1  D8408792-B96F-425D-B030-680398046CC9.png
2  242.884227  231.409771  ...    A1  A142A91A-E63C-40DA-A92E-5F3C75892CCC.png
3  242.349359  230.585082  ...    A1  B0BB3A91-5BC2-4617-8DCD-521894FD9820.png
4  239.753497  228.713967  ...    A1  B072BB25-1641-4167-A1A0-0570DB6D6C4B.png

[5 rows x 16 columns]

###RGB

In [305]:
RGB_C1_Set4 = table_C1Set4

In [306]:
RGB_C1_Set1 = table_C1Set1

In [307]:
RGB_C1_Set2 = table_C1Set2

In [308]:
RGB_C1_Set3 = table_C1Set3

In [309]:
RGB_C1_concat = pd.concat([RGB_C1_Set1,RGB_C1_Set2])

In [310]:
RGB_C1_concat0 = pd.concat([RGB_C1_concat,RGB_C1_Set4])

In [311]:
RGB_C1_concat1 = pd.concat([RGB_C1_concat0,RGB_C1_Set3])

In [312]:
RGB_C1_concat2 = RGB_B1_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [313]:
X_test_C1_RGB = np.array(RGB_D3_CC1)

In [314]:
y_C1_RGB =  table_D3CC1.iloc[:,14:15]

In [315]:
y_test_C1_RGB = np.array(y_C1_RGB)

In [316]:
X_train_C1_RGB = np.array(RGB_C1_concat2)

In [317]:
y_train_C1RGB = RGB_C1_concat1.iloc[:,14:15]

In [318]:
y_train_C1_RGB = np.array(y_train_C1RGB)

In [319]:
clf.fit(X_train_C1_RGB, y_train_C1_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [320]:
y_pred_C1_RGB = clf.predict(X_test_C1_RGB)

In [321]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))

Accuracy: 0.07

###HSV

In [322]:
HSV_C1_concat2 = RGB_C1_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [323]:
X_test_C1_HSV = np.array(HSV_D3_CC1)

In [324]:
y_C1_HSV =  table_D3CC1.iloc[:,14:15]

In [325]:
y_test_C1_HSV = np.array(y_C1_RGB)

In [326]:
X_train_C1_HSV = np.array(HSV_C1_concat2)

In [327]:
y_train_C1HSV = RGB_C1_concat1.iloc[:,14:15]

In [328]:
y_train_C1_HSV = np.array(y_train_C1HSV)

In [329]:
clf.fit(X_train_C1_HSV, y_train_C1_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [330]:
y_pred_C1_HSV = clf.predict(X_test_C1_HSV)

In [331]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))

Accuracy: 0.0625

##C2

In [332]:
table_C2Set1 = pd.read_excel(Set1 , sheet_name='C2Set1')
table_C2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  243.100913  230.901030  ...    A1  94B8BCF4-0790-415E-94D6-F74A6D812F9C.png
1  243.442211  231.243784  ...    A1  6C2D0804-8381-4BFF-BF38-C0AC1273E618.png
2  243.966006  232.617910  ...    A1  8BD8561A-0908-4A45-9B23-E1BB2A03640B.png
3  243.670552  232.004759  ...    A1  6021A5FE-EFB1-4650-84F4-27408DAFC2BA.png
4  241.015152  230.078866  ...    A1  1D2C4DD2-FF5D-446F-ADC8-BB6C6E19BF79.png

[5 rows x 16 columns]

In [333]:
table_C2Set2 = pd.read_excel(Set2, sheet_name='C2Set2')
table_C2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.821037  225.705543  ...    A1  374ED3C9-7FB3-4644-A77B-ABBC2258721E.png
1  239.015096  225.933366  ...    A1  64D55779-CEF4-4F38-97BC-1A3DE682F831.png
2  239.849931  227.537051  ...    A1  F118F5AE-2FE5-4E9C-9041-D0E6CBA214C1.png
3  239.325785  226.816573  ...    A1  8D1015B6-7F0D-4679-A728-EF724A18B2DB.png
4  236.398182  225.056083  ...    A1  A98B9E63-26D7-49D1-A84B-0E4BC3823C9A.png

[5 rows x 16 columns]

In [334]:
table_C2Set3 = pd.read_excel(Set3, sheet_name='C2Set3 ')
table_C2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  243.100913  230.901030  ...    A1  DAB2B542-FF26-450C-BCEE-FBBC6F0F0A5A.png
1  243.442211  231.243784  ...    A1  8D944785-B0B9-442C-9A61-E154610BF547.png
2  243.966006  232.617910  ...    A1  0F8A345A-32E7-44C0-A010-1E1E53B041D7.png
3  243.670552  232.004759  ...    A1  B7E55179-C0B2-42BB-8575-1A1AA5F17A1A.png
4  241.015152  230.078866  ...    A1  5A6D201F-9F7E-44D9-8B97-2AE2BDD7E590.png

[5 rows x 16 columns]

In [335]:
table_C2Set4 = pd.read_excel(Set4, sheet_name='C2Set4')
table_C2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  241.886752  229.539627  ...    A1  97434DCB-317D-460E-B141-4F5F00BD8237.png
1  242.135781  229.859848  ...    A1  86674BAB-7B95-47B9-B2F4-6A08EA9A553C.png
2  242.884227  231.409771  ...    A1  36D924E3-369D-4810-8013-7F212B48F6E7.png
3  242.349359  230.585082  ...    A1  7656ABAF-7260-4953-A918-AB1E537D8E13.png
4  239.753497  228.713967  ...    A1  19D7369E-892D-44FC-A9F2-7C097487F05A.png

[5 rows x 16 columns]

###RGB

In [336]:
RGB_C2_Set1 = table_C2Set1

In [337]:
RGB_C2_Set2 = table_C2Set2

In [338]:
RGB_C2_Set3 = table_C2Set3

In [339]:
RGB_C2_Set4 = table_C2Set4

In [340]:
RGB_C2_concat = pd.concat([RGB_C2_Set1,RGB_C2_Set2])

In [341]:
RGB_C2_concat0 = pd.concat([RGB_C2_concat,RGB_C2_Set4])

In [342]:
RGB_C2_concat1 = pd.concat([RGB_C2_concat0,RGB_C2_Set3])

In [343]:
RGB_C2_concat2 = RGB_C2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [344]:
X_test_C2_RGB = np.array(RGB_D3_CC1)

In [345]:
y_C2_RGB =  table_D3CC1.iloc[:,14:15]

In [346]:
y_test_C2_RGB = np.array(y_B2_RGB)

In [347]:
X_train_C2_RGB = np.array(RGB_C2_concat2)

In [348]:
y_train_C2RGB = RGB_C2_concat1.iloc[:,14:15]

In [349]:
y_train_C2_RGB = np.array(y_train_C2RGB)

In [350]:
clf.fit(X_train_C2_RGB, y_train_C2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [351]:
y_pred_C2_RGB = clf.predict(X_test_C2_RGB)

In [352]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))

Accuracy: 0.1125

###HSV

In [353]:
HSV_C2_concat2 = RGB_C2_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [354]:
X_test_C2_HSV = np.array(HSV_D3_CC1)

In [355]:
y_C2_HSV =  table_D3CC1.iloc[:,14:15]

In [356]:
y_test_C2_HSV = np.array(y_C2_RGB)

In [357]:
X_train_C2_HSV = np.array(HSV_C2_concat2)

In [358]:
y_train_C2HSV = RGB_C2_concat1.iloc[:,14:15]

In [359]:
y_train_C2_HSV = np.array(y_train_C2HSV)

In [360]:
clf.fit(X_train_C2_HSV, y_train_C2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [361]:
y_pred_C2_HSV = clf.predict(X_test_C2_HSV)

In [362]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))

Accuracy: 0.0625

##C3

In [363]:
table_C3Set1 = pd.read_excel(Set1 , sheet_name='C3Set1')
table_C3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.689782  228.253497  ...    A1  8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1  241.482032  229.891414  ...    A1  A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2  240.742521  228.815559  ...    A1  D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3  238.366453  227.380439  ...    A1  B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4  238.000194  226.535062  ...    A1  DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png

[5 rows x 16 columns]

In [364]:
table_C3Set2 = pd.read_excel(Set2, sheet_name='C3Set2')
table_C3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  241.886752  229.539627  ...    A1  458C8A30-28C6-4609-91F0-D2469DFEDA5B.png
1  242.135781  229.859848  ...    A1  07704C9B-608B-41B4-A3A4-C6DF8E2A8EC4.png
2  242.884227  231.409771  ...    A1  945887F0-416B-4C86-B18E-603E66F21AC1.png
3  242.349359  230.585082  ...    A1  3B522047-038B-4387-9487-718BC435AF50.png
4  239.753497  228.713967  ...    A1  EC132633-69E1-4804-B8DA-446EFB6FF262.png

[5 rows x 16 columns]

In [365]:
table_C3Set3 = pd.read_excel(Set3, sheet_name='C3Set3 ')
table_C3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.434246  227.901127  ...    A1  3FC4EFF4-2124-46E0-8229-DA2B35001036.png
1  240.689782  228.253497  ...    A1  E523862E-01DF-42D9-93CB-972A4CA079DB.png
2  241.482032  229.891414  ...    A1  C69133CE-D8A7-45E8-AA2C-E958093BB83D.png
3  240.742521  228.815559  ...    A1  F9412807-4065-46FC-B596-D5BA2113D00B.png
4  238.366453  227.380439  ...    A1  8A94704C-925E-4B15-8701-ED2E2A7AE8F7.png

[5 rows x 16 columns]

In [366]:
table_C3Set4 = pd.read_excel(Set4, sheet_name='C3Set4')
table_C3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  239.236500  226.574106  ...    A1  D4EECEDB-5CA4-46C9-B28C-63893A5BAF78.png
1  239.455614  226.906080  ...    A1  E89E9E85-D827-4D54-98B4-0E0F3DD6FDD0.png
2  240.266900  228.472222  ...    A1  D1227CC3-C06E-4905-A0CF-6A7B8EEFC412.png
3  239.647145  227.612568  ...    A1  45839274-7758-459E-B7AB-079108195369.png
4  236.769231  226.019619  ...    A1  4B027C83-D177-47FD-BBAE-4F98F0F0B1F0.png

[5 rows x 16 columns]

###RGB

In [367]:
RGB_C3_Set4 = table_C3Set4

In [368]:
RGB_C3_Set1 = table_C3Set1

In [369]:
RGB_C3_Set2 = table_C3Set2

In [370]:
RGB_C3_Set3 = table_C3Set3

In [371]:
RGB_C3_concat = pd.concat([RGB_C3_Set1,RGB_C3_Set2])

In [372]:
RGB_C3_concat0 = pd.concat([RGB_C3_concat,RGB_C3_Set4])

In [373]:
RGB_C3_concat1 = pd.concat([RGB_C3_concat0,RGB_C3_Set3])

In [374]:
RGB_C3_concat2 = RGB_C3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [375]:
X_test_C3_RGB = np.array(RGB_D3_CC1)

In [376]:
y_C3_RGB =  table_D3CC1.iloc[:,14:15]

In [377]:
y_test_C3_RGB = np.array(y_C3_RGB)

In [378]:
X_train_C3_RGB = np.array(RGB_C3_concat2)

In [379]:
y_train_C3RGB = RGB_C3_concat1.iloc[:,14:15]

In [380]:
y_train_C3_RGB = np.array(y_train_C3RGB)

In [381]:
clf.fit(X_train_C3_RGB, y_train_C3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [382]:
y_pred_C3_RGB = clf.predict(X_test_C3_RGB)

In [383]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))

Accuracy: 0.10125

###HSV

In [384]:
HSV_C3_concat2 = RGB_C3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [385]:
X_test_C3_HSV = np.array(HSV_D3_CC1)

In [386]:
y_C3_HSV =  table_D3CC1.iloc[:,14:15]

In [387]:
y_test_C3_HSV = np.array(y_C3_RGB)

In [388]:
X_train_C3_HSV = np.array(HSV_C3_concat2)

In [389]:
y_train_C3HSV = RGB_C3_concat1.iloc[:,14:15]

In [390]:
y_train_C3_HSV = np.array(y_train_C3HSV)

In [391]:
clf.fit(X_train_C3_HSV, y_train_C3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [392]:
y_pred_C3_HSV = clf.predict(X_test_C3_HSV)

In [393]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))

Accuracy: 0.0625

##C4

In [394]:
table_C4Set1 = pd.read_excel(Set1 , sheet_name='C4Set1')
table_C4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.689782  228.253497  ...    A1  8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1  241.482032  229.891414  ...    A1  A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2  240.742521  228.815559  ...    A1  D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3  238.366453  227.380439  ...    A1  B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4  238.000194  226.535062  ...    A1  DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png

[5 rows x 16 columns]

In [395]:
table_C4Set2 = pd.read_excel(Set2, sheet_name='C4Set2')
table_C4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.434246  227.901127  ...    A1  D458FCD6-5D52-48CD-B212-68184F5B135C.png
1  240.689782  228.253497  ...    A1  0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2  241.482032  229.891414  ...    A1  EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3  240.742521  228.815559  ...    A1  1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4  238.366453  227.380439  ...    A1  3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png

[5 rows x 16 columns]

In [396]:
table_C4Set3 = pd.read_excel(Set3, sheet_name='C4Set3 ')
table_C4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.927350  222.384810  ...    A1  1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1  241.886752  229.539627  ...    A1  96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2  242.135781  229.859848  ...    A1  2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3  242.884227  231.409771  ...    A1  130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4  242.349359  230.585082  ...    A1  B02AE283-B3E2-401F-AEE9-DC33E0828C79.png

[5 rows x 16 columns]

In [397]:
table_C4Set4 = pd.read_excel(Set4, sheet_name='C4Set4')
table_C4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.689782  228.253497  ...    A1  E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1  241.482032  229.891414  ...    A1  4820BBED-F65E-4F90-A5EA-283E55866371.png
2  240.742521  228.815559  ...    A1  2FC399A9-267E-4661-B647-4052082C40FD.png
3  238.366453  227.380439  ...    A1  93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4  238.000194  226.535062  ...    A1  A20513B8-796D-41B5-9512-94978DE63964.png

[5 rows x 16 columns]

###RGB

In [398]:
RGB_C4_Set4 = table_C4Set4

In [399]:
RGB_C4_Set1 = table_C4Set1

In [400]:
RGB_C4_Set2 = table_C4Set2

In [401]:
RGB_C4_Set3 = table_C4Set3

In [402]:
RGB_C4_concat = pd.concat([RGB_C4_Set1,RGB_C4_Set2])

In [403]:
RGB_C4_concat0 = pd.concat([RGB_C4_concat,RGB_C4_Set4])

In [404]:
RGB_C4_concat1 = pd.concat([RGB_C4_concat0,RGB_C4_Set3])

In [405]:
RGB_C4_concat2 = RGB_C4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [406]:
X_test_C4_RGB = np.array(RGB_D3_CC1)

In [407]:
y_C4_RGB =  table_D3CC1.iloc[:,14:15]

In [408]:
y_test_C4_RGB = np.array(y_C4_RGB)

In [409]:
X_train_C4_RGB = np.array(RGB_C4_concat2)

In [410]:
y_train_C4RGB = RGB_C4_concat1.iloc[:,14:15]

In [411]:
y_train_C4_RGB = np.array(y_train_C4RGB)

In [412]:
clf.fit(X_train_C4_RGB, y_train_C4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [413]:
y_pred_C4_RGB = clf.predict(X_test_C4_RGB)

In [414]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))

Accuracy: 0.09375

###HSV

In [415]:
HSV_C4_concat2 = RGB_C4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [416]:
X_test_C4_HSV = np.array(HSV_D3_CC1)

In [417]:
y_C4_HSV =  table_D3CC1.iloc[:,14:15]

In [418]:
y_test_C4_HSV = np.array(y_C4_RGB)

In [419]:
X_train_C4_HSV = np.array(HSV_C4_concat2)

In [420]:
y_train_C4HSV = RGB_C4_concat1.iloc[:,14:15]

In [421]:
y_train_C4_HSV = np.array(y_train_C4HSV)

In [422]:
clf.fit(X_train_C4_HSV, y_train_C4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [423]:
y_pred_C4_HSV = clf.predict(X_test_C4_HSV)

In [424]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))

Accuracy: 0.0625

#DD

##D2

In [425]:
table_D2Set1 = pd.read_excel(Set1 , sheet_name='D2Set1')
table_D2Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1  233.194140  219.034007  ...    A1  FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2  228.266131  215.102914  ...    A1  27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3  233.271975  219.056732  ...    A1  25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4  234.316776  220.035711  ...    A1  7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png

[5 rows x 16 columns]

In [426]:
table_D2Set2 = pd.read_excel(Set2, sheet_name='D2Set2')
table_D2Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  232.509907  214.456585  ...    A1  A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1  233.302836  214.512723  ...    A1  52B93F5E-D972-447C-AEDB-70944733A2A8.png
2  232.516220  214.503399  ...    A1  8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3  232.603244  214.845183  ...    A1  F1432EC0-7542-4437-B03B-DB680757388E.png
4  232.526030  204.917638  ...    A1  505DFE06-9B70-46E3-A447-DE5E271DD472.png

[5 rows x 16 columns]

In [427]:
table_D2Set3 = pd.read_excel(Set3, sheet_name='D2Set3 ')
table_D2Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  236.423757  222.193570  ...    A1  3AADDE41-0882-4926-9B9C-6656A010A4EE.png
1  236.370435  222.197552  ...    A1  714B814C-2029-4CEC-A3D1-65155C21DB01.png
2  232.111888  218.542929  ...    A1  FF69DBAD-BCEF-42E0-83C9-26D79EA6F346.png
3  236.398504  222.261558  ...    A1  D42344C1-B458-48E7-AD35-55850D1E18D6.png
4  237.294386  223.289336  ...    A1  72143F35-55D4-4615-B8A3-072FC23D36C0.png

[5 rows x 16 columns]

In [428]:
table_D2Set4 = pd.read_excel(Set4, sheet_name='D2Set4')
table_D2Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57BFDCD4-3FCB-482B-8F6D-695AB03BA132.png
1  233.194140  219.034007  ...    A1  A825D098-CB80-4BA0-A769-BC31330B5A5C.png
2  228.266131  215.102914  ...    A1  320A36C6-A45F-4855-9C69-70F4995F981B.png
3  233.271975  219.056732  ...    A1  F5718C08-AC9E-4216-9E16-B19FC8625FC9.png
4  234.316776  220.035711  ...    A1  55184FAB-0359-4CF4-99A1-A38B75A169D0.png

[5 rows x 16 columns]

###RGB

In [429]:
RGB_D2_Set4 = table_D2Set4

In [430]:
RGB_D2_Set1 = table_D2Set1

In [431]:
RGB_D2_Set2 = table_D2Set2

In [432]:
RGB_D2_Set3 = table_D2Set3

In [433]:
RGB_D2_concat = pd.concat([RGB_D2_Set1,RGB_D2_Set2])

In [434]:
RGB_D2_concat0 = pd.concat([RGB_D2_concat,RGB_D2_Set4])

In [435]:
RGB_D2_concat1 = pd.concat([RGB_D2_concat0,RGB_D2_Set3])

In [436]:
RGB_D2_concat2 = RGB_D2_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [437]:
X_test_D2_RGB = np.array(RGB_D3_CC1)

In [438]:
y_D2_RGB =  table_D3CC1.iloc[:,14:15]

In [439]:
y_test_D2_RGB = np.array(y_D2_RGB)

In [440]:
X_train_D2_RGB = np.array(RGB_D2_concat2)

In [441]:
y_train_D2RGB = RGB_D2_concat1.iloc[:,14:15]

In [442]:
y_train_D2_RGB = np.array(y_train_D2RGB)

In [443]:
clf.fit(X_train_D2_RGB, y_train_D2_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [444]:
y_pred_D2_RGB = clf.predict(X_test_D2_RGB)

In [445]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))

Accuracy: 0.0975

###HSV

In [446]:
HSV_D2_concat2 = RGB_D2_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [447]:
X_test_D2_HSV = np.array(HSV_D3_CC1)

In [448]:
y_D2_HSV =  table_D3CC1.iloc[:,14:15]

In [449]:
y_test_D2_HSV = np.array(y_D2_RGB)

In [450]:
X_train_D2_HSV = np.array(HSV_D2_concat2)

In [451]:
y_train_D2HSV = RGB_D2_concat1.iloc[:,14:15]

In [452]:
y_train_D2_HSV = np.array(y_train_D2HSV)

In [453]:
clf.fit(X_train_D2_HSV, y_train_D2_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [454]:
y_pred_D2_HSV = clf.predict(X_test_D2_HSV)

In [455]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))

Accuracy: 0.07625

##D3

In [456]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [457]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [458]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [459]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

###RGB

In [460]:
RGB_D3_Set4 = table_D3Set4

In [461]:
RGB_D3_Set1 = table_D3Set1

In [462]:
RGB_D3_Set2 = table_D3Set2

In [463]:
RGB_D3_Set3 = table_D3Set3

In [464]:
RGB_D3_concat = pd.concat([RGB_D3_Set1,RGB_D3_Set2])

In [465]:
RGB_D3_concat0 = pd.concat([RGB_D3_concat,RGB_D3_Set4])

In [466]:
RGB_D3_concat1 = pd.concat([RGB_D3_concat0,RGB_D3_Set3])

In [467]:
RGB_D3_concat2 = RGB_D3_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [468]:
X_test_D3_RGB = np.array(RGB_D3_CC1)

In [469]:
y_D3_RGB =  table_D3CC1.iloc[:,14:15]

In [470]:
y_test_D3_RGB = np.array(y_D3_RGB)

In [471]:
X_train_D3_RGB = np.array(RGB_D3_concat2)

In [472]:
y_train_D3RGB = RGB_D3_concat1.iloc[:,14:15]

In [473]:
y_train_D3_RGB = np.array(y_train_D3RGB)

In [474]:
clf.fit(X_train_D3_RGB, y_train_D3_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [475]:
y_pred_D3_RGB = clf.predict(X_test_D3_RGB)

In [476]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

Accuracy: 0.06875

###HSV

In [477]:
HSV_D3_concat2 = RGB_D3_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [478]:
X_test_D3_HSV = np.array(HSV_D3_CC1)

In [479]:
y_D3_HSV =  table_D3CC1.iloc[:,14:15]

In [480]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [481]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [482]:
y_train_D3HSV = RGB_D3_concat1.iloc[:,14:15]

In [483]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [484]:
clf.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [485]:
y_pred_D3_HSV = clf.predict(X_test_D3_HSV)

In [486]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.06875

##D4

In [487]:
table_D4Set1 = pd.read_excel(Set1 , sheet_name='D4Set1')
table_D4Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  238.088190  223.843531  ...    A1  D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1  238.053030  223.947455  ...    A1  63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2  233.654332  219.933955  ...    A1  779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3  238.016026  223.854701  ...    A1  18456DEB-40B5-49F7-B753-562994BE1B43.png
4  238.780109  224.845183  ...    A1  72376331-D805-4BAC-AE50-7A04A6729880.png

[5 rows x 16 columns]

In [488]:
table_D4Set2 = pd.read_excel(Set2, sheet_name='D4Set2')
table_D4Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  234.805556  220.733877  ...    A1  797683A5-C868-494F-A26C-B587A80C35FB.png
1  230.391123  217.092269  ...    A1  768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2  234.894037  220.797106  ...    A1  B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3  235.779332  221.742521  ...    A1  4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4  235.799048  221.630439  ...    A1  D5FF5062-E4EF-473A-B716-33BA16B096B9.png

[5 rows x 16 columns]

In [489]:
table_D4Set3 = pd.read_excel(Set3, sheet_name='D4Set3 ')
table_D4Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1  233.355381  219.439880  ...    A1  6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2  228.504662  215.655983  ...    A1  B319E47C-7852-49A4-B164-3542207CFA46.png
3  233.467172  219.479118  ...    A1  EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4  234.509615  220.490385  ...    A1  1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png

[5 rows x 16 columns]

In [490]:
table_D4Set4 = pd.read_excel(Set4, sheet_name='D4Set4')
table_D4Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  240.090618  212.450078  ...    A1  C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1  236.429487  207.597222  ...    A1  E1E6AA11-2B77-40D9-A177-059926CC439D.png
2  240.356449  212.529138  ...    A1  74A96958-C7AA-4963-AA46-D100224ADF7D.png
3  239.986791  212.474650  ...    A1  CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4  237.050699  208.271465  ...    A1  DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png

[5 rows x 16 columns]

###RGB

In [491]:
RGB_D4_Set4 = table_D4Set4

In [492]:
RGB_D4_Set1 = table_D4Set1

In [493]:
RGB_D4_Set2 = table_D4Set2

In [494]:
RGB_D4_Set3 = table_D4Set3

In [495]:
RGB_D4_concat = pd.concat([RGB_D4_Set1,RGB_D4_Set2])

In [496]:
RGB_D4_concat0 = pd.concat([RGB_D4_concat,RGB_D4_Set4])

In [497]:
RGB_D4_concat1 = pd.concat([RGB_D4_concat0,RGB_D4_Set3])

In [498]:
RGB_D4_concat2 = RGB_D4_concat1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [499]:
X_test_D4_RGB = np.array(RGB_D3_CC1)

In [500]:
y_D4_RGB =  table_D3CC1.iloc[:,14:15]

In [501]:
y_test_D4_RGB = np.array(y_D4_RGB)

In [502]:
X_train_D4_RGB = np.array(RGB_D4_concat2)

In [503]:
y_train_D4RGB = RGB_D4_concat1.iloc[:,14:15]

In [504]:
y_train_D4_RGB = np.array(y_train_D4RGB)

In [505]:
clf.fit(X_train_D4_RGB, y_train_D4_RGB)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [506]:
y_pred_D4_RGB = clf.predict(X_test_D4_RGB)

In [507]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

Accuracy: 0.0725

###HSV

In [508]:
HSV_D4_concat2 = RGB_D4_concat1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [509]:
X_test_D4_HSV = np.array(HSV_D3_CC1)

In [510]:
y_D4_HSV =  table_D3CC1.iloc[:,14:15]

In [511]:
y_test_D4_HSV = np.array(y_D4_RGB)

In [512]:
X_train_D4_HSV = np.array(HSV_D4_concat2)

In [513]:
y_train_D4HSV = RGB_D4_concat1.iloc[:,14:15]

In [514]:
y_train_D4_HSV = np.array(y_train_D4HSV)

In [515]:
clf.fit(X_train_D4_HSV, y_train_D4_HSV)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [516]:
y_pred_D4_HSV = clf.predict(X_test_D4_HSV)

In [517]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

Accuracy: 0.08125

#Accuracy

##RGB

In [518]:
print("A1  Accuracy :", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))
print("A2  Accuracy :", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))
print("A3  Accuracy :", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))
print("A3.5  Accuracy :", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))
print("A4  Accuracy :", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))
print("B1  Accuracy :", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))
print("B2  Accuracy :", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))
print("B3  Accuracy :", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))
print("B4  Accuracy :", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))
print("C1  Accuracy :", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))
print("C2  Accuracy :", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))
print("C3  Accuracy :", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))
print("C4  Accuracy :", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))
print("D2  Accuracy :", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))
print("D3  Accuracy :", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
print("D4  Accuracy :", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

A1  Accuracy : 0.0975
A2  Accuracy : 0.095
A3  Accuracy : 0.1
A3.5  Accuracy : 0.12625
A4  Accuracy : 0.01
B1  Accuracy : 0.09
B2  Accuracy : 0.08625
B3  Accuracy : 0.0725
B4  Accuracy : 0.07125
C1  Accuracy : 0.07
C2  Accuracy : 0.1125
C3  Accuracy : 0.10125
C4  Accuracy : 0.09375
D2  Accuracy : 0.0975
D3  Accuracy : 0.06875
D4  Accuracy : 0.0725

##HSV

In [519]:
print("A1  Accuracy :", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))
print("A2  Accuracy :", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))
print("A3  Accuracy :", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))
print("A3.5  Accuracy :", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))
print("A4  Accuracy :", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))
print("B1  Accuracy :", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))
print("B2  Accuracy :", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))
print("B3  Accuracy :", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))
print("B4  Accuracy :", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))
print("C1  Accuracy :", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))
print("C2  Accuracy :", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))
print("C3  Accuracy :", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))
print("C4  Accuracy :", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))
print("D2  Accuracy :", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))
print("D3  Accuracy :", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))
print("D4  Accuracy :", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

A1  Accuracy : 0.07125
A2  Accuracy : 0.0625
A3  Accuracy : 0.07125
A3.5  Accuracy : 0.06125
A4  Accuracy : 0.08
B1  Accuracy : 0.0625
B2  Accuracy : 0.0625
B3  Accuracy : 0.0625
B4  Accuracy : 0.0625
C1  Accuracy : 0.0625
C2  Accuracy : 0.0625
C3  Accuracy : 0.0625
C4  Accuracy : 0.0625
D2  Accuracy : 0.07625
D3  Accuracy : 0.06875
D4  Accuracy : 0.08125