<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/RF_RGB_CC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

In [ ]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [ ]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting1.xlsx',
 'Setting3.xlsx',
 'Setting4.xlsx',
 'CheckerDD.xlsx',
 'Color-checkerDD.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting5.xlsx',
 'Setting6.xlsx',
 'Setting2.xlsx',
 'D3set51.csv',
 'D3Set51.xlsx']

In [ ]:
CC1 = os.path.join(path,'CheckerDD.xlsx')
print(CC1)

/content/drive/My Drive/shadeimg/SVM shade/CheckerDD.xlsx

In [ ]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [ ]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [ ]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [ ]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [ ]:
import numpy as np

In [ ]:
from sklearn import metrics

In [ ]:
from sklearn import datasets

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
clf=RandomForestClassifier()

In [ ]:
table_D3CC1 = pd.read_excel(CC1 , sheet_name='D3set5')
table_D3CC1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  223.533317  203.558640  ...    A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
1  224.624949  202.937586  ...    A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
2  225.539161  206.125964  ...    A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
3  224.508644  208.011363  ...    A1  9131592F-9798-4457-ACD3-8109CCA36224.png
4  225.235127  209.102021  ...    A1  653769F4-F724-4660-A3EE-76C3101A90E5.png

[5 rows x 16 columns]

In [ ]:
table_D3CC2 = pd.read_excel(CC1 , sheet_name='D3set6')
table_D3CC2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  216.974434  221.510592  ...    A1  271DC401-D060-44CF-9035-B5163A38C82A.png
1  224.099505  229.098369  ...    A1  A3DE134D-4B70-47DE-9CEC-140F0D9A2A69.png
2  223.496388  229.110949  ...    A1  BFE57A76-6444-47E0-8266-3F9240EDE840.png
3  223.590861  229.145362  ...    A1  FD507C4E-07C8-4DCC-9DCB-F3FB2C76AAB4.png
4  223.864134  229.322052  ...    A1  10D62DA7-31C9-483A-A627-9AD9F089ECD0.png

[5 rows x 16 columns]

#DD

##D3

In [ ]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [ ]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [ ]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [ ]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

In [ ]:
RGB_D3_CC1 = table_D3CC1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D3_CC1 = table_D3CC1.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
RGB_D3_CC2 = table_D3CC2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
HSV_D3_CC2 = table_D3CC2.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

###RGB CC1 train Set1,2,3

In [ ]:
#ดึงตารางที่ต้องการใช้มาก่อน

In [ ]:
RGB_D3_Set4_s1 = table_D3Set4

In [ ]:
RGB_D3_Set1_s1 = table_D3Set1

In [ ]:
RGB_D3_Set2_s1 = table_D3Set2

In [ ]:
RGB_D3_Set3_s1 = table_D3Set3

In [ ]:
RGB_D3_concat0_s1 = pd.concat([RGB_D3_Set1_s1,RGB_D3_Set2_s1])

In [ ]:
RGB_D3_concat1_s1 = pd.concat([RGB_D3_concat0_s1,RGB_D3_Set4_s1])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

In [ ]:
RGB_D3_concat2_s1 = RGB_D3_concat1_s1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

In [ ]:
X_test_D3_RGB_s1 = np.array(RGB_D3_CC1)

In [ ]:
y_D3_RGB_s1 =  table_D3CC1.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_test_D3_RGB_s1 = np.array(y_D3_RGB_s1)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
X_train_D3_RGB_s1 = np.array(RGB_D3_concat2_s1)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3RGB_s1 = RGB_D3_concat1_s1.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_train_D3_RGB_s1 = np.array(y_train_D3RGB_s1)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3_RGB_s1.shape = (len(y_train_D3_RGB_s1),)

In [ ]:
clf.fit(X_train_D3_RGB_s1, y_train_D3_RGB_s1) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_s1 = clf.predict(X_test_D3_RGB_s1) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_s1, y_pred_D3_RGB_s1))
#หาค่า Accuracy ระหว่าง y_test และ y_pred ว่าฟันสามารถจับคู่กันได้มาที่สุดเท่าไหร่

Accuracy: 0.0775

###RGB CC1 train Set2,3,4

In [ ]:
#ดึงตารางที่ต้องการใช้มาก่อน

In [ ]:
RGB_D3_Set4_s2 = table_D3Set4

In [ ]:
RGB_D3_Set1_s2 = table_D3Set1

In [ ]:
RGB_D3_Set2_s2 = table_D3Set2

In [ ]:
RGB_D3_Set3_s2 = table_D3Set3

In [ ]:
RGB_D3_concat0_s2 = pd.concat([RGB_D3_Set3_s2,RGB_D3_Set2_s2])

In [ ]:
RGB_D3_concat1_s2 = pd.concat([RGB_D3_concat0_s2,RGB_D3_Set4_s2])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

In [ ]:
RGB_D3_concat2_s2 = RGB_D3_concat1_s2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

In [ ]:
X_test_D3_RGB_s2 = np.array(RGB_D3_CC1)

In [ ]:
y_D3_RGB_s2 =  table_D3CC1.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_test_D3_RGB_s2 = np.array(y_D3_RGB_s2)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
X_train_D3_RGB_s2 = np.array(RGB_D3_concat2_s2)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3RGB_s2 = RGB_D3_concat1_s2.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_train_D3_RGB_s2 = np.array(y_train_D3RGB_s2)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3_RGB_s2.shape = (len(y_train_D3_RGB_s2),)

In [ ]:
clf.fit(X_train_D3_RGB_s2, y_train_D3_RGB_s2) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_s2 = clf.predict(X_test_D3_RGB_s2) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_s2, y_pred_D3_RGB_s2))
#หาค่า Accuracy ระหว่าง y_test และ y_pred ว่าฟันสามารถจับคู่กันได้มาที่สุดเท่าไหร่

Accuracy: 0.0775

###RGB CC1 train Set1,2,4

In [ ]:
#ดึงตารางที่ต้องการใช้มาก่อน

In [ ]:
RGB_D3_Set4_s3 = table_D3Set4

In [ ]:
RGB_D3_Set1_s3 = table_D3Set1

In [ ]:
RGB_D3_Set2_s3 = table_D3Set2

In [ ]:
RGB_D3_Set3_s3 = table_D3Set3

In [ ]:
RGB_D3_concat0_s3 = pd.concat([RGB_D3_Set1_s3,RGB_D3_Set2_s3])

In [ ]:
RGB_D3_concat1_s3 = pd.concat([RGB_D3_concat0_s3,RGB_D3_Set4_s3])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

In [ ]:
RGB_D3_concat2_s3 = RGB_D3_concat1_s3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

In [ ]:
X_test_D3_RGB_s3 = np.array(RGB_D3_CC1_s3)

In [ ]:
y_D3_RGB_s3 =  table_D3CC1.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_test_D3_RGB_s3 = np.array(y_D3_RGB_s3)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
X_train_D3_RGB_s3 = np.array(RGB_D3_concat2_s3)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3RGB_s3 = RGB_D3_concat1_s3.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_train_D3_RGB_s3 = np.array(y_train_D3RGB_s3)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3_RGB_s3.shape = (len(y_train_D3_RGB_s3),)

In [ ]:
clf.fit(X_train_D3_RGB_s3, y_train_D3_RGB_s3) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_s3 = clf.predict(X_test_D3_RGB_s3) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_s3, y_pred_D3_RGB_s3))
#หาค่า Accuracy ระหว่าง y_test และ y_pred ว่าฟันสามารถจับคู่กันได้มาที่สุดเท่าไหร่

Accuracy: 0.0775

###RGB CC1 train Set1,4,3

In [ ]:
#ดึงตารางที่ต้องการใช้มาก่อน

In [ ]:
RGB_D3_Set4_s4 = table_D3Set4

In [ ]:
RGB_D3_Set1_s4 = table_D3Set1

In [ ]:
RGB_D3_Set2_s4 = table_D3Set2

In [ ]:
RGB_D3_Set3_s4 = table_D3Set3

In [ ]:
RGB_D3_concat0_s4 = pd.concat([RGB_D3_Set1_s4,RGB_D3_Set3_s4])

In [ ]:
RGB_D3_concat1_s4 = pd.concat([RGB_D3_concat0_s4,RGB_D3_Set4])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

In [ ]:
RGB_D3_concat2_s4 = RGB_D3_concat1_s4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

In [ ]:
X_test_D3_RGB_s4 = np.array(RGB_D3_CC1)

In [ ]:
y_D3_RGB_s4 =  table_D3CC1_s4.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_test_D3_RGB_s4 = np.array(y_D3_RGB_s4)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
X_train_D3_RGB_s4 = np.array(RGB_D3_concat2_s4)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3RGB_s4 = RGB_D3_concat1_s4.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

In [ ]:
y_train_D3_RGB_s4 = np.array(y_train_D3RGB_s4)#เปลี่ยนให้ค่าในตารางเป็น array

In [ ]:
y_train_D3_RGB_s4.shape = (len(y_train_D3_RGB_s4),)

In [ ]:
clf.fit(X_train_D3_RGB_s4, y_train_D3_RGB_s4) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_s4 = clf.predict(X_test_D3_RGB_s4) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_s4, y_pred_D3_RGB_s4))
#หาค่า Accuracy ระหว่าง y_test และ y_pred ว่าฟันสามารถจับคู่กันได้มาที่สุดเท่าไหร่

Accuracy: 0.0775

###RGB CC2 Set1,2,3

In [ ]:
RGB_D3_Set4_k1 = table_D3Set4

In [ ]:
RGB_D3_Set1_k1 = table_D3Set1

In [ ]:
RGB_D3_Set2_k1 = table_D3Set2

In [ ]:
RGB_D3_Set3_k1 = table_D3Set3

In [ ]:
RGB_D3_concat0_k1 = pd.concat([RGB_D3_Set1_k1,RGB_D3_Set2_k1])

In [ ]:
RGB_D3_concat1_k1 = pd.concat([RGB_D3_concat0_k1,RGB_D3_Set3_k1])

In [ ]:
RGB_D3_concat2_k1 = RGB_D3_concat1_k1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB_k1 = np.array(RGB_D3_CC2)

In [ ]:
y_D3_RGB_k1 =  table_D3CC2.iloc[:,14:15]

In [ ]:
y_test_D3_RGB_k1 = np.array(y_D3_RGB_k1)

In [ ]:
X_train_D3_RGB_k1 = np.array(RGB_D3_concat2_k1)

In [ ]:
y_train_D3RGB_k1 = RGB_D3_concat1_k1.iloc[:,14:15]

In [ ]:
y_train_D3_RGB_k1 = np.array(y_train_D3RGB_k1)

In [ ]:
y_train_D3_RGB_k1.shape = (len(y_train_D3_RGB_k1),)

In [ ]:
clf.fit(X_train_D3_RGB_k1, y_train_D3_RGB_k1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_k1 = clf.predict(X_test_D3_RGB_k1)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_k1, y_pred_D3_RGB_k1))

Accuracy: 0.06875

###RGB CC2 Set1,2,4

In [ ]:
RGB_D3_Set4_k2 = table_D3Set4

In [ ]:
RGB_D3_Set1_k2 = table_D3Set1

In [ ]:
RGB_D3_Set2_k2 = table_D3Set2

In [ ]:
RGB_D3_Set3_k2 = table_D3Set3

In [ ]:
RGB_D3_concat0_k2 = pd.concat([RGB_D3_Set1_k2,RGB_D3_Set2_k2])

In [ ]:
RGB_D3_concat1_k2 = pd.concat([RGB_D3_concat0_k2,RGB_D3_Set4_k2])

In [ ]:
RGB_D3_concat2_k2 = RGB_D3_concat1_k2.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB_k2 = np.array(RGB_D3_CC2)

In [ ]:
y_D3_RGB_k2 =  table_D3CC2.iloc[:,14:15]

In [ ]:
y_test_D3_RGB_k2 = np.array(y_D3_RGB_k2)

In [ ]:
X_train_D3_RGB_k2 = np.array(RGB_D3_concat2_k2)

In [ ]:
y_train_D3RGB_k2 = RGB_D3_concat1_k2.iloc[:,14:15]

In [ ]:
y_train_D3_RGB_k2 = np.array(y_train_D3RGB_k2)

In [ ]:
y_train_D3_RGB_k2.shape = (len(y_train_D3_RGB_k2),)

In [ ]:
clf.fit(X_train_D3_RGB_k2, y_train_D3_RGB_k2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_k2 = clf.predict(X_test_D3_RGB_k2)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_k2, y_pred_D3_RGB_k2))

Accuracy: 0.06875

###RGB CC2 Set1,3,4

In [ ]:
RGB_D3_Set4_k3 = table_D3Set4

In [ ]:
RGB_D3_Set1_k3 = table_D3Set1

In [ ]:
RGB_D3_Set2_k3 = table_D3Set2

In [ ]:
RGB_D3_Set3_k3 = table_D3Set3

In [ ]:
RGB_D3_concat0_k3 = pd.concat([RGB_D3_Set1_k3,RGB_D3_Set3_k3])

In [ ]:
RGB_D3_concat1_k3 = pd.concat([RGB_D3_concat0_k3,RGB_D3_Set4_k3])

In [ ]:
RGB_D3_concat2_k3 = RGB_D3_concat1_k3.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB_k3 = np.array(RGB_D3_CC2)

In [ ]:
y_D3_RGB_k3 =  table_D3CC2.iloc[:,14:15]

In [ ]:
y_test_D3_RGB_k3 = np.array(y_D3_RGB_k3)

In [ ]:
X_train_D3_RGB_k3 = np.array(RGB_D3_concat2_k3)

In [ ]:
y_train_D3RGB_k3 = RGB_D3_concat1_k3.iloc[:,14:15]

In [ ]:
y_train_D3_RGB_k3 = np.array(y_train_D3RGB_k3)

In [ ]:
y_train_D3_RGB_k3.shape = (len(y_train_D3_RGB_k3),)

In [ ]:
clf.fit(X_train_D3_RGB_k3, y_train_D3_RGB_k3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_k3 = clf.predict(X_test_D3_RGB_k3)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_k3, y_pred_D3_RGB_k3))

Accuracy: 0.06875

###RGB CC2 Set2,3,4

In [ ]:
RGB_D3_Set4_k4 = table_D3Set4

In [ ]:
RGB_D3_Set1_k4 = table_D3Set1

In [ ]:
RGB_D3_Set2_k4 = table_D3Set2

In [ ]:
RGB_D3_Set3_k4 = table_D3Set3

In [ ]:
RGB_D3_concat0_k4 = pd.concat([RGB_D3_Set2_k4,RGB_D3_Set3_k4])

In [ ]:
RGB_D3_concat1_k4 = pd.concat([RGB_D3_concat0_k3,RGB_D3_Set4_k4])

In [ ]:
RGB_D3_concat2_k4 = RGB_D3_concat1_k4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [ ]:
X_test_D3_RGB_k4 = np.array(RGB_D3_CC2)

In [ ]:
y_D3_RGB_k4 =  table_D3CC2.iloc[:,14:15]

In [ ]:
y_test_D3_RGB_k4 = np.array(y_D3_RGB_k4)

In [ ]:
X_train_D3_RGB_k4 = np.array(RGB_D3_concat2_k4)

In [ ]:
y_train_D3RGB_k4 = RGB_D3_concat1_k4.iloc[:,14:15]

In [ ]:
y_train_D3_RGB_k4 = np.array(y_train_D3RGB_k4)

In [ ]:
y_train_D3_RGB_k4.shape = (len(y_train_D3_RGB_k4),)

In [ ]:
clf.fit(X_train_D3_RGB_k4, y_train_D3_RGB_k4)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [ ]:
y_pred_D3_RGB_k4 = clf.predict(X_test_D3_RGB_k4)

In [ ]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB_k4, y_pred_D3_RGB_k4))

Accuracy: 0.06875

#Accuracy

##RGB

In [ ]:
print("เฉดไกด์อ้างอิง D3 Set5 model1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_s1, y_pred_D3_RGB_s1))
print("เฉดไกด์อ้างอิง D3 Set5 model2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_s2, y_pred_D3_RGB_s2))
print("เฉดไกด์อ้างอิง D3 Set5 model3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_s3, y_pred_D3_RGB_s3))
print("เฉดไกด์อ้างอิง D3 Set5 model4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_s4, y_pred_D3_RGB_s4))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.10375

In [ ]:
print("เฉดไกด์อ้างอิง D3 Set6 model5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_k1, y_pred_D3_RGB_k1))
print("เฉดไกด์อ้างอิง D3 Set6 model6 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_k1, y_pred_D3_RGB_k1))
print("เฉดไกด์อ้างอิง D3 Set6 model7 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_k1, y_pred_D3_RGB_k1))
print("เฉดไกด์อ้างอิง D3 Set6 model8 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB_k1, y_pred_D3_RGB_k1))

เฉดไกด์อ้างอิง D3 มี Accuracy เท่ากับ: 0.07125