<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [6]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [7]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'AA.xlsx',
 'Shade_AA.xlsx',
 'Shade_BB.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx']

In [9]:
AA = os.path.join(path,'Shade_AA.xlsx')
print(AA)

/content/drive/My Drive/shadeimg/SVM shade/Shade_AA.xlsx

In [18]:
import numpy as np

In [19]:
from sklearn import metrics

In [20]:
from sklearn import svm

In [21]:
clf = svm.SVC(kernel='linear')

#AA

##A1

In [13]:
table_A1= pd.read_excel(AA, sheet_name='A1')
table_A1

           R-ref       G-ref  ...  Setting                                       Img
0     237.172985  225.596383  ...     Set1  219558E6-E67A-4672-9E46-3D084D0D2032.png
1     239.246246  221.661797  ...     Set1  DDC4DC8E-B6F3-4C8E-B168-D77C99A200B0.png
2     237.328788  211.283256  ...     Set1  9C42EB3E-DDE7-43A2-91AE-4DCE60FCDAA9.png
3     236.773314  209.917864  ...     Set1  6305881D-3DFD-4ECE-BD1D-C5376038CD26.png
4     238.599951  222.450207  ...     Set1  07475504-D2B5-4A4F-960A-6AA5AE0EFFCF.png
...          ...         ...  ...      ...                                       ...
3195  219.796364  220.248600  ...     Set4  95DD0EB2-20EB-404E-BA97-3740D2D0DF96.png
3196  215.312718  216.245759  ...     Set4  2F670532-3760-42FC-A982-1670FEE99E66.png
3197  215.690610  216.009902  ...     Set4  547F5541-94BD-48D5-BD5B-25CBEFA4B8C9.png
3198  213.749290  210.436328  ...     Set4  E9149994-C281-48DA-AF5B-7A13ECD7E307.png
3199  211.214674  204.185537  ...     Set4  D360D9A0-603E-4947-A8FE-72EB861A079A.png

[3200 rows x 16 columns]

In [22]:
RGB_A1 = table_A1.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [23]:
X_A1 = np.array(RGB_A1)

In [24]:
y_A1 =  table_A1.iloc[:,13:14]

In [25]:
y_A1 = np.array(y_A1)
y_A1

array([['A1'],
       ['A1'],
       ['A1'],
       ...,
       ['D4'],
       ['D4'],
       ['D4']], dtype=object)

In [26]:
X_train_A1 = X_A1[:-2240,:]
X_test_A1 = X_A1[-2240:,:]

In [27]:
y_train_A1 = y_A1[:-2240:,:]
y_test_A1 = y_A1[-2240:,:]

In [29]:
clf.fit(X_train_A1, y_train_A1)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [30]:
y_pred_A1 = clf.predict(X_test_A1)

In [31]:
print("Accuracy:", metrics.accuracy_score(y_test_A1, y_pred_A1))

Accuracy: 0.10714285714285714

##A2

In [14]:
table_A2= pd.read_excel(AA, sheet_name='A2')
table_A2

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  77308B8C-A458-48C0-A0EF-DD05DD0AEA75.png
1     231.726077  211.455077  ...     Set1  DD37E60E-8484-48E3-8FB4-7E94B71553F4.png
2     226.100641  197.575278  ...     Set1  0ED6DB80-7C02-41B3-88E9-CB382B96B37C.png
3     230.612531  207.562373  ...     Set1  8B551D28-1E87-49BD-9E20-8B3F5F08FE8E.png
4     232.133431  209.823472  ...     Set1  C12D1E9C-5BFA-4DD7-9D3F-194378F9673D.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4                                       NaN
3196  235.903985  218.940670  ...     Set4                                       NaN
3197  232.175960  216.874036  ...     Set4                                       NaN
3198  231.726077  211.455077  ...     Set4                                       NaN
3199  226.100641  197.575278  ...     Set4                                       NaN

[3200 rows x 16 columns]

In [32]:
RGB_A2 = table_A2.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [33]:
X_A2 = np.array(RGB_A2)

In [34]:
y_A2 =  table_A1.iloc[:,13:14]

In [35]:
y_A2 = np.array(y_A2)
y_A2

array([['A1'],
       ['A1'],
       ['A1'],
       ...,
       ['D4'],
       ['D4'],
       ['D4']], dtype=object)

In [36]:
X_train_A2 = X_A2[:-2240,:]
X_test_A2 = X_A2[-2240:,:]

In [37]:
y_train_A2 = y_A2[:-2240:,:]
y_test_A2 = y_A2[-2240:,:]

In [38]:
clf.fit(X_train_A2, y_train_A2)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [39]:
y_pred_A2 = clf.predict(X_test_A2)

In [40]:
print("Accuracy:", metrics.accuracy_score(y_test_A2, y_pred_A2))

Accuracy: 0.15

##A3

In [15]:
table_A3= pd.read_excel(AA, sheet_name='A3')
table_A3

           R-ref       G-ref  ...  Setting                                       Img
0     240.865271  224.637854  ...     Set1  BAD1342F-482E-488F-8241-A393B4779E26.png
1     234.887834  223.690123  ...     Set1  0E4BF624-DA48-45D7-8CEF-1F893F3E36A9.png
2     237.374726  219.960149  ...     Set1  A5A67F7B-D2B1-4729-8A0B-9BE2F2DF55C6.png
3     240.543706  213.146498  ...     Set1  35D1BEA8-E650-4D83-9D61-17AD65EABD39.png
4     240.498498  229.602062  ...     Set1  18FE9FE4-F848-465E-B7FE-7792C8A083CB.png
...          ...         ...  ...      ...                                       ...
3195  215.312718  216.245759  ...     Set4  B83176D1-07D1-4ED0-AAE9-FCD4574B5C77.png
3196  215.690610  216.009902  ...     Set4  7240B378-683D-473E-892E-7495463896C9.png
3197  213.749290  210.436328  ...     Set4  39327F65-2360-4CAA-96AB-CED449DA5C6F.png
3198  211.214674  204.185537  ...     Set4  B8C1AF4E-061D-4CB7-BFB5-69B3DE73FE89.png
3199  221.403052  217.426426  ...     Set4  7E6D5A19-5AB2-4317-83F1-CC56829025EB.png

[3200 rows x 16 columns]

In [41]:
RGB_A3 = table_A3.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [42]:
X_A3 = np.array(RGB_A3)

In [43]:
y_A3 =  table_A3.iloc[:,13:14]

In [44]:
y_A3 = np.array(y_A3)
y_A3

array([['A1'],
       ['A1'],
       ['A1'],
       ...,
       ['D4'],
       ['D4'],
       ['D4']], dtype=object)

In [45]:
X_train_A3 = X_A3[:-2240,:]
X_test_A3 = X_A3[-2240:,:]

In [46]:
y_train_A3 = y_A3[:-2240:,:]
y_test_A3 = y_A3[-2240:,:]

In [47]:
clf.fit(X_train_A3, y_train_A3)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [48]:
y_pred_A3 = clf.predict(X_test_A3)

In [49]:
print("Accuracy:", metrics.accuracy_score(y_test_A3, y_pred_A3))

Accuracy: 0.1455357142857143

##A3.5

In [16]:
table_A3_5 = pd.read_excel(AA, sheet_name='A3_5')
table_A3_5

           R-ref       G-ref  ...  Setting                                       Img
0     235.799935  224.516030  ...     Set1  2DD07CB7-0413-41D5-BE23-51CA3C9164F5.png
1     238.009577  218.146498  ...     Set1  F28F074F-5B54-424C-8E70-EC56E06FC3E0.png
2     238.416687  212.713660  ...     Set1  6ABA4B94-D8B3-48BA-B1FA-6B5A081F40D1.png
3     239.417986  227.436572  ...     Set1  6B5870DF-9D32-4295-9D0E-F1DDA4ABD18F.png
4     239.556448  216.784027  ...     Set1  9EBCADA0-A39C-4692-B684-A967FE6F59B5.png
...          ...         ...  ...      ...                                       ...
3195  219.796364  220.248600  ...     Set4  3367950A-D8A9-40C8-801E-72E22D395C34.png
3196  215.312718  216.245759  ...     Set4  8BF2D842-EF44-47AB-AACC-56808B9B00FA.png
3197  215.690610  216.009902  ...     Set4  B9FB43E3-E88F-4DC7-BED4-D118E33499A7.png
3198  213.749290  210.436328  ...     Set4  F878BBCC-20A9-4948-A808-241864171B0C.png
3199  211.214674  204.185537  ...     Set4  990B353E-3527-4CD2-975B-05FF3A87C10F.png

[3200 rows x 16 columns]

In [50]:
RGB_A3_5 = table_A3_5.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [51]:
X_A3_5 = np.array(RGB_A3_5)

In [52]:
y_A3_5 =  table_A3_5.iloc[:,13:14]

In [53]:
y_A3_5 = np.array(y_A3_5)
y_A3_5

array([['A1'],
       ['A1'],
       ['A1'],
       ...,
       ['D4'],
       ['D4'],
       ['D4']], dtype=object)

In [54]:
X_train_A3_5 = X_A3_5[:-2240,:]
X_test_A3_5 = X_A3_5[-2240:,:]

In [55]:
y_train_A3_5 = y_A3_5[:-2240:,:]
y_test_A3_5 = y_A3_5[-2240:,:]

In [56]:
clf.fit(X_train_A3_5, y_train_A3_5)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [57]:
y_pred_A3_5 = clf.predict(X_test_A3_5)

In [58]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5, y_pred_A3_5))

Accuracy: 0.10714285714285714

##A4

In [17]:
table_A4 = pd.read_excel(AA, sheet_name='A4')
table_A4

           R-ref       G-ref  ...  Setting                                       Img
0     232.175960  216.874036  ...     Set1  C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1     231.726077  211.455077  ...     Set1  A3B3B5C2-1901-4D2C-8309-010408F66705.png
2     226.100641  197.575278  ...     Set1  4C428E15-84C8-4D96-BD24-DC9969741560.png
3     230.612531  207.562373  ...     Set1  91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4     232.133431  209.823472  ...     Set1  606F71D4-DD41-4252-B152-C019C53AE874.png
...          ...         ...  ...      ...                                       ...
3195  232.804642  209.441604  ...     Set4  CEA54866-3FAA-4D40-ACA2-5E40F032BBEC.png
3196  235.903985  218.940670  ...     Set4  FC5C7CD0-F1BD-4517-AB6B-763F93652B15.png
3197  232.175960  216.874036  ...     Set4  8CBEE509-A7E8-4E5C-86AA-496FABD350EC.png
3198  231.726077  211.455077  ...     Set4  4A3A9795-2840-4478-8A47-89091756F7E2.png
3199  226.100641  197.575278  ...     Set4  254E8DD4-F9A0-4BB8-A160-638EBD8EA693.png

[3200 rows x 16 columns]

In [59]:
RGB_A4 = table_A4.drop(['H-ref','S-ref','V-ref','S-Shad','V-Shad','Shade-ref','Setting','Img','Shade','H-Shad'], axis=1)

In [60]:
X_A4 = np.array(RGB_A4)

In [61]:
y_A4 =  table_A4.iloc[:,13:14]

In [62]:
y_A4 = np.array(y_A4)
y_A4

array([['A1'],
       ['A1'],
       ['A1'],
       ...,
       ['D4'],
       ['D4'],
       ['D4']], dtype=object)

In [63]:
X_train_A4 = X_A4[:-2240,:]
X_test_A4 = X_A4[-2240:,:]

In [64]:
y_train_A4 = y_A4[:-2240:,:]
y_test_A4 = y_A4[-2240:,:]

In [65]:
clf.fit(X_train_A4, y_train_A4)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [66]:
y_pred_A4 = clf.predict(X_test_A4)

In [67]:
print("Accuracy:", metrics.accuracy_score(y_test_A4, y_pred_A4))

Accuracy: 0.15