<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/SVM2_set4_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [5]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting4.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting2.xlsx',
 'D3set51.csv',
 'Setting1.xlsx',
 'CheckerDD.xlsx',
 'Setting3.xlsx',
 'Setting6.xlsx',
 'Setting5.xlsx',
 'checkerShad_A .xlsx',
 'checkerShad_B.xlsx',
 'checkerShad_C.xlsx',
 'D3Set5-61.xlsx',
 'checkerShad_D.xlsx',
 'Color-checkerDD.xlsx',
 'Datapoint_1.xlsx',
 'Datapoint_2.xlsx',
 'Datapoint_3.xlsx',
 'Datapoint_4.xlsx',
 'Datapoint_6.xlsx',
 'Datapoint_5.xlsx']

In [6]:
Set1 = os.path.join(path,'Datapoint_1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_1.xlsx

In [7]:
Set2 = os.path.join(path,'Datapoint_2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_2.xlsx

In [8]:
Set3 = os.path.join(path,'Datapoint_3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_3.xlsx

In [9]:
Set4 = os.path.join(path,'Datapoint_4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_4.xlsx

In [10]:
import numpy as np

In [11]:
from sklearn import metrics

In [12]:
from sklearn import datasets

In [13]:
from sklearn import svm

#AA

##A1

In [14]:
table_A1Set1 = pd.read_excel(Set1 , sheet_name='A1_1')
table_A1Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,239.489003,226.557990,192.833617,244.087331,232.348673,200.770960,21.588832,49.723156,239.489003,21.910965,45.318399,244.087331,Set1,A1,A1,1665B5AE-934F-4116-AE19-3369544A125F.png
1,238.912751,225.914942,192.314585,243.395098,231.692882,199.660742,21.527392,49.805048,238.912751,22.027757,45.914698,243.395098,Set1,A1,A1,47C127AF-8872-4A1E-9F72-082F72252B3F.png
2,239.195520,226.261586,192.730947,243.708384,231.981414,200.541190,21.533642,49.591754,239.195520,21.870140,45.244055,243.708384,Set1,A1,A1,15991304-7501-4377-BE6E-1B9AF5258FC1.png
3,239.019317,226.444282,192.215486,243.864865,232.282039,200.238130,21.930687,49.944485,239.019317,22.111842,45.708790,243.864865,Set1,A1,A1,5CE2CB9A-C765-4240-B3D3-E352B1581A1B.png
4,238.941644,225.877932,192.596461,243.859346,231.930119,200.289100,21.467576,49.520169,238.941644,21.852204,45.623651,243.859427,Set1,A1,A1,26A32C19-6890-4999-A7F2-D8399A56E3B5.png

In [15]:
table_A1Set2 = pd.read_excel(Set2, sheet_name='A1_2')
table_A1Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,233.568460,217.780781,175.767876,235.312475,219.189757,177.713903,22.033601,63.209155,233.568460,21.975408,62.546384,235.313367,Set2,A1,A1,34F0629C-69B1-4125-85F4-7E496A7847A0.png
1,230.780050,213.803182,170.706112,232.553445,215.226930,170.962016,21.915267,66.411980,230.780050,21.828910,67.545248,232.553689,Set2,A1,A1,75D1D3E7-592F-475B-9A9A-875F69F08B32.png
2,235.041880,218.480886,175.283824,235.717637,219.006006,176.210373,22.034737,64.869735,235.042286,21.950978,64.474312,235.720802,Set2,A1,A1,0269AD27-018D-4F5C-8420-0138CBE2F66D.png
3,235.433163,218.008279,175.301842,236.031329,218.845305,176.752212,21.634689,65.216297,235.433244,21.655142,64.153559,236.033033,Set2,A1,A1,23588608-16F4-4103-ABCE-12D22092B61E.png
4,234.928171,218.422125,176.561156,235.917377,219.142683,177.593215,21.887509,63.451019,234.928171,21.641263,63.162568,235.917377,Set2,A1,A1,7FD4DE28-0FF8-4A06-A8F0-172F77C0E69C.png

In [16]:
table_A1Set3 = pd.read_excel(Set3, sheet_name='A1_3')
table_A1Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,225.702135,224.767714,207.317426,223.789952,222.755864,203.451424,30.596867,21.053486,225.850580,29.428780,23.354760,223.852285,Set3,A1,A1,C3752024-70F6-407B-B596-E214E55D43EB.png
1,225.748559,224.811947,207.137002,223.751725,222.858047,203.477072,30.146011,21.248194,225.892622,29.545248,23.285042,223.834510,Set3,A1,A1,3251DE85-8D7F-4AED-B90C-7B20C3559811.png
2,225.281146,224.703595,206.723724,222.848957,222.357357,202.670157,31.065904,21.402565,225.592647,29.961529,23.510916,223.166626,Set3,A1,A1,CA4551E2-6E87-4618-9646-2F81E76E705B.png
3,224.369856,224.142196,206.575197,222.522279,221.823716,202.184157,31.081081,20.837757,224.881584,29.539891,23.561643,222.710413,Set3,A1,A1,56C5CD77-8D8E-4098-84F3-E1EAE1DB9B01.png
4,224.761302,224.014690,206.548332,222.248600,221.435679,202.017288,30.253470,20.965100,224.979141,29.309553,23.361659,222.362065,Set3,A1,A1,FBB7194F-AE4D-4A46-81F5-FCEB5994D3C5.png

In [17]:
table_A1Set4 = pd.read_excel(Set4, sheet_name='A1_4')
table_A1Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,234.408246,232.043828,215.394854,235.378703,232.987582,216.294862,27.353949,20.900657,234.443876,29.133593,21.026053,235.482104,Set4,A1,A1,2BFE464D-1D6D-46D6-99C7-4FCDC9358FEA.png
1,227.936775,225.815843,206.487217,228.748641,226.312880,206.886779,27.083922,23.883613,227.936775,26.710900,24.300219,228.749046,Set4,A1,A1,89D4705E-E69B-4FE0-BB8B-ED158F2155F8.png
2,227.494278,226.130022,206.082380,228.039283,226.539972,206.124909,28.381138,23.864621,227.502232,28.110543,24.423099,228.044558,Set4,A1,A1,9F9519D1-510E-4D8E-AE74-9911DFC3D27F.png
3,233.777778,232.819414,214.150475,234.798555,233.660904,215.611314,29.827287,21.573898,233.845548,31.178476,21.287233,234.974272,Set4,A1,A1,13A4FFF1-164D-4B22-B433-C4EA152F1366.png
4,227.613100,226.014285,206.382112,228.424154,226.297865,206.578119,27.829884,23.650678,227.613992,27.146822,24.317101,228.425452,Set4,A1,A1,89E19FAA-FD5D-4051-B0E7-B91CFDA3DADF.png

###RGB

In [18]:
clf1 =svm.SVC(kernel='poly')

In [19]:
RGB_A1_Set1 = table_A1Set1

In [20]:
RGB_A1_Set2 = table_A1Set2

In [21]:
RGB_A1_Set3 = table_A1Set3

In [22]:
RGB_A1_Set4 = table_A1Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [23]:
RGB_A1_concat0 = pd.concat([RGB_A1_Set2,RGB_A1_Set3,RGB_A1_Set1])

In [24]:
RGB_A1_concat2 = RGB_A1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [25]:
X_test_A1_RGB = np.array(RGB_A1_Set4)

In [26]:
y_A1_RGB =  table_A1Set4.iloc[:,14:15]

In [27]:
y_test_A1_RGB = np.array(y_A1_RGB)

In [28]:
X_train_A1_RGB = np.array(RGB_A1_concat2)

In [29]:
y_train_A1RGB = RGB_A1_concat0.iloc[:,14:15]

In [30]:
y_train_A1_RGB = np.array(y_train_A1RGB)

In [31]:
clf1.fit(X_train_A1_RGB, y_train_A1_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [32]:
y_pred_A1_RGB = clf1.predict(X_test_A1_RGB)

In [33]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))

Accuracy: 0.7675

###HSV

In [34]:
clf2=svm.SVC(kernel='poly')

In [35]:
HSV_A1_Set4 = table_A1Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [36]:
HSV_A1_concat2 = RGB_A1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [37]:
X_test_A1_HSV = np.array(HSV_A1_Set4)

In [38]:
y_A1_HSV =  table_A1Set4.iloc[:,14:15]

In [39]:
y_test_A1_HSV = np.array(y_A1_RGB)

In [40]:
X_train_A1_HSV = np.array(HSV_A1_concat2)

In [41]:
y_train_A1HSV = RGB_A1_concat0.iloc[:,14:15]

In [42]:
y_train_A1_HSV = np.array(y_train_A1HSV)

In [43]:
clf2.fit(X_train_A1_HSV, y_train_A1_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [44]:
y_pred_A1_HSV = clf2.predict(X_test_A1_HSV)

In [45]:
print("Accuracy:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))

Accuracy: 0.5325

##A2

In [46]:
table_A2Set1 = pd.read_excel(Set1 , sheet_name='A2_1')
table_A2Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,236.8857,219.6456,178.9067,240.1290,230.4967,199.8664,21.22734,62.49079,236.8858,22.96810,42.83865,240.1290,Set1,A2,A1,3055D600-52FE-426B-8FB7-F22AD0D97955.png
1,236.5746,219.3545,179.3893,239.5857,229.7970,199.5082,21.18895,61.69597,236.5752,22.82631,42.73841,239.5857,Set1,A2,A1,94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
2,236.5240,219.3535,178.9860,239.6360,230.0293,199.9317,21.23943,62.09715,236.5241,22.90114,42.35452,239.6360,Set1,A2,A1,61347A1C-5E5B-48EE-BB2D-AA9068046272.png
3,236.4670,219.8862,179.6011,239.8989,230.6030,201.2019,21.47529,61.40346,236.4670,22.98904,41.22271,239.9006,Set1,A2,A1,65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
4,238.0596,222.0011,183.8345,240.7766,231.9664,203.7104,21.28139,58.12280,238.0596,23.05795,39.33609,240.7771,Set1,A2,A1,86927B90-BCE2-4CA1-8556-398BF4B5A60E.png

In [47]:
table_A2Set2 = pd.read_excel(Set2, sheet_name='A2_2')
table_A2Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,222.796770,200.285204,154.209967,224.310364,206.788654,166.244298,20.017937,78.591754,222.796770,21.244461,66.062576,224.310364,Set2,A2,A1,77308B8C-A458-48C0-A0EF-DD05DD0AEA75.png
1,221.262398,199.009009,153.821200,221.822985,204.043341,164.173444,19.970944,77.775830,221.262398,20.898141,66.356627,221.822985,Set2,A2,A1,DD37E60E-8484-48E3-8FB4-7E94B71553F4.png
2,221.463923,199.526905,153.253064,222.073127,204.458161,164.190325,20.011038,78.593458,221.463923,21.109326,66.540216,222.073533,Set2,A2,A1,0ED6DB80-7C02-41B3-88E9-CB382B96B37C.png
3,221.655547,199.446717,153.485513,222.719909,204.629007,164.299976,20.023050,78.494846,221.655547,20.838000,66.940427,222.719909,Set2,A2,A1,8B551D28-1E87-49BD-9E20-8B3F5F08FE8E.png
4,222.655872,200.651327,153.816330,223.817466,206.100398,164.879880,20.213294,78.886211,222.655872,21.317913,67.198036,223.817710,Set2,A2,A1,C12D1E9C-5BFA-4DD7-9D3F-194378F9673D.png

In [48]:
table_A2Set3 = pd.read_excel(Set3, sheet_name='A2_3')
table_A2Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,225.514731,220.905771,191.515624,221.706842,221.237887,201.499797,26.026215,38.462544,225.514731,29.714228,23.648243,222.049103,Set3,A2,A1,FE70379B-BE7C-4C2F-8F6B-BEC1809BF9B3.png
1,231.205097,227.413603,202.064767,228.510673,227.883045,210.838974,29.309147,32.677218,231.386738,31.128723,20.135379,228.764061,Set3,A2,A1,BA3AFF8D-AAA7-4A26-A99D-58E7730257A4.png
2,225.359062,220.997240,191.766090,221.669264,221.329519,201.675513,26.185699,38.042610,225.364824,30.074994,23.487947,222.084409,Set3,A2,A1,0F941597-744A-4ADE-973D-21AB168D1129.png
3,224.590131,220.659281,191.343641,221.479912,221.031491,201.343073,26.306144,37.781349,224.593296,29.896924,23.595812,221.818684,Set3,A2,A1,A63282AB-FC26-4DE4-8787-9276F2B800C0.png
4,230.846198,227.143414,201.753835,226.388280,225.878338,208.010876,29.136434,32.707329,231.032221,29.982712,21.067689,226.686227,Set3,A2,A1,D5F0E3B1-E9A0-4496-8806-ABEB0B70C533.png

In [49]:
table_A2Set4 = pd.read_excel(Set4, sheet_name='A2_4')
table_A2Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,233.260774,227.901956,201.717150,230.029381,228.600519,211.502070,25.829235,34.711306,233.286665,29.192355,20.703758,230.123691,Set4,A2,A1,32311BEA-0470-4D35-AE74-307331146F6B.png
1,233.393231,227.774856,201.675432,229.662852,227.930038,210.893272,25.533155,34.890187,233.420826,28.522117,20.972892,229.728512,Set4,A2,A1,7F5A3DCA-19B2-4D09-8A4E-518F576D12C6.png
2,225.906339,220.894408,191.121175,222.150718,220.946352,200.736223,25.943592,39.249574,225.907232,28.622433,24.621946,222.151043,Set4,A2,A1,ADD7F30E-6D84-4B3A-9E24-47AD358C03B3.png
3,225.443389,220.425209,190.769012,221.999026,220.791088,200.795390,25.943511,39.176690,225.444201,28.561643,24.351757,221.999026,Set4,A2,A1,513F7C8E-CA13-40B5-9634-5F151E841C6B.png
4,232.792062,227.933853,201.091957,229.445175,228.540865,210.156968,26.390877,34.956659,232.816492,29.944160,21.598409,229.559614,Set4,A2,A1,06F92E7E-7005-426D-A897-6EB6FF43717C.png

###RGB

In [50]:
clf3=svm.SVC(kernel='poly')

In [51]:
RGB_A2_Set4 = table_A2Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [52]:
RGB_A2_Set2 = table_A2Set2

In [53]:
RGB_A2_Set3 = table_A2Set3

In [54]:
RGB_A2_Set1 = table_A2Set1

In [55]:
RGB_A2_concat0 = pd.concat([RGB_A2_Set2,RGB_A2_Set3,RGB_A2_Set1])

In [56]:
RGB_A2_concat2 = RGB_A2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [57]:
X_test_A2_RGB = np.array(RGB_A2_Set4)

In [58]:
y_A2_RGB =  table_A2Set4.iloc[:,14:15]

In [59]:
y_test_A2_RGB = np.array(y_A2_RGB)

In [60]:
X_train_A2_RGB = np.array(RGB_A2_concat2)

In [61]:
y_train_A2RGB = RGB_A2_concat0.iloc[:,14:15]

In [62]:
y_train_A2_RGB = np.array(y_train_A2RGB)

In [63]:
clf3.fit(X_train_A2_RGB, y_train_A2_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [64]:
y_pred_A2_RGB = clf3.predict(X_test_A2_RGB)

In [65]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))

Accuracy: 0.93

###HSV

In [66]:
clf4=svm.SVC(kernel='poly')

In [67]:
HSV_A2_Set4 = table_A2Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [68]:
HSV_A2_concat2 = RGB_A2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [69]:
X_test_A2_HSV = np.array(HSV_A2_Set4)

In [70]:
y_A2_HSV =  table_A2Set4.iloc[:,14:15]

In [71]:
y_test_A2_HSV = np.array(y_A2_RGB)

In [72]:
X_train_A2_HSV = np.array(HSV_A2_concat2)

In [73]:
y_train_A2HSV = RGB_A2_concat0.iloc[:,14:15]

In [74]:
y_train_A2_HSV = np.array(y_train_A2HSV)

In [75]:
clf4.fit(X_train_A2_HSV, y_train_A2_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [76]:
y_pred_A2_HSV = clf4.predict(X_test_A2_HSV)

In [77]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))

Accuracy: 0.59375

##A3

In [78]:
table_A3Set1 = pd.read_excel(Set1 , sheet_name='A3_1')
table_A3Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,235.066066,216.606120,177.962747,236.643454,225.915835,201.153559,20.256554,61.972161,235.066066,20.963315,38.314341,236.643454,Set1,A3,A1,BAD1342F-482E-488F-8241-A393B4779E26.png
1,235.814301,217.723318,181.219625,237.078890,227.103888,203.804886,19.814625,59.071910,235.814301,21.115656,35.865920,237.079701,Set1,A3,A1,0E4BF624-DA48-45D7-8CEF-1F893F3E36A9.png
2,235.728756,217.884506,180.981414,236.682737,226.482834,203.291697,20.037497,59.273679,235.728756,20.956578,36.046019,236.683143,Set1,A3,A1,A5A67F7B-D2B1-4729-8A0B-9BE2F2DF55C6.png
3,236.672673,218.868923,182.173444,237.241377,227.347780,203.872251,19.979872,58.762113,236.672673,21.258745,35.902118,237.241945,Set1,A3,A1,35D1BEA8-E650-4D83-9D61-17AD65EABD39.png
4,238.918919,221.687769,184.233341,239.064524,229.201282,205.047805,20.474961,58.428780,238.918919,21.436734,36.346887,239.065660,Set1,A3,A1,18FE9FE4-F848-465E-B7FE-7792C8A083CB.png

In [79]:
table_A3Set2 = pd.read_excel(Set2, sheet_name='A3_2')
table_A3Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,239.163136,220.169873,156.569191,238.941482,225.702378,177.258664,23.099424,88.107378,239.163867,23.393962,65.923789,238.941482,Set2,A3,A1,66373A06-43CB-4E73-84DA-6B504F4F1C45.png
1,243.948056,226.590293,168.771528,244.253957,232.572113,187.926142,23.350864,78.680221,243.948705,23.736060,58.854963,244.256635,Set2,A3,A1,F87BFB23-54A6-48EC-95AB-B690B56F7934.png
2,244.562049,228.064199,169.501988,244.579417,233.572356,188.072316,23.532343,78.351838,244.562617,24.159890,58.977031,244.582177,Set2,A3,A1,67DEF170-ED6C-468A-AC90-9DF1ED4C4091.png
3,244.414820,226.857560,168.400211,244.674945,232.996185,188.138463,23.291291,79.381057,244.416200,23.764629,58.988962,244.678435,Set2,A3,A1,861A0A06-2BEB-4C2D-9ECD-F753ACF6F036.png
4,240.356302,221.176203,159.268728,240.247383,226.984904,179.522766,23.124422,86.050970,240.356789,23.272786,64.500609,240.247383,Set2,A3,A1,BC54DA9B-E07D-4E21-8DB1-CC714427C684.png

In [80]:
table_A3Set3 = pd.read_excel(Set3, sheet_name='A3_3')
table_A3Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,240.753591,236.544355,202.201282,234.336742,233.706436,214.906095,27.558153,41.178557,240.781836,30.507751,21.537051,234.514974,Set3,A3,A1,DC980AD2-81DD-4EAE-80D5-0CDDA83B06E7.png
1,230.952277,227.044315,187.414658,224.544761,223.753429,203.332603,27.548007,48.120039,230.957714,29.357520,24.215648,224.663826,Set3,A3,A1,5D10BAC5-8F2F-4EAC-86CE-FBA2AB6F50DD.png
2,239.044315,235.193004,201.812678,233.721045,233.246084,215.078322,28.898466,40.093418,239.119065,31.191949,20.850905,234.030111,Set3,A3,A1,E974AE96-AD14-4660-857A-2B63C16E8EB1.png
3,236.327490,231.408165,198.848795,232.116955,231.276114,214.294132,27.797176,40.728269,236.385277,31.780943,19.974109,232.260937,Set3,A3,A1,16DB511D-570A-4F94-808B-93F9C47B4CE9.png
4,236.119390,231.342099,198.951790,232.325298,231.541433,214.735330,27.494522,40.443146,236.178800,32.354760,19.732246,232.497038,Set3,A3,A1,1035897E-D1B4-4245-BE07-6C461520AF33.png

In [81]:
table_A3Set4 = pd.read_excel(Set4, sheet_name='A3_4')
table_A3Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,227.620242,222.732165,183.910722,224.643211,223.240808,204.516273,26.944079,49.071179,227.620891,28.388929,22.886048,224.664962,Set4,A3,A1,099CF1A3-858D-4BA2-A8BC-C91A564396D7.png
1,233.414414,229.274085,194.013716,231.174580,230.676000,213.018505,27.785894,43.269702,233.453778,31.177745,20.424803,231.484539,Set4,A3,A1,9469517A-8B99-4786-9686-2CFEE6A31CE0.png
2,233.672916,228.515948,194.846928,231.270027,230.057788,213.578281,26.810324,42.559938,233.696859,29.412385,19.732570,231.363363,Set4,A3,A1,25B0DFEE-A7FC-43BC-A6B7-BB7D513F07E8.png
3,226.789465,221.794822,183.757406,224.543057,222.785407,204.182453,26.900739,48.476909,226.789627,27.672348,23.090983,224.548170,Set4,A3,A1,12160C42-A338-4723-AF9C-E0040D3CEFF9.png
4,233.572843,228.452317,194.478451,231.114276,229.895463,213.453940,26.793848,42.842464,233.589481,29.352244,19.680708,231.193897,Set4,A3,A1,B37CF291-B0F8-4DAB-B072-5B8DA68A31B5.png

###RGB

In [82]:
clf5=svm.SVC(kernel='poly')

In [83]:
RGB_A3_Set4 = table_A3Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [84]:
RGB_A3_Set2 = table_A3Set2

In [85]:
RGB_A3_Set3 = table_A3Set3

In [86]:
RGB_A3_Set1 = table_A3Set1

In [87]:
RGB_A3_concat = pd.concat([RGB_A3_Set2,RGB_A3_Set3,RGB_A3_Set1])

In [88]:
RGB_A3_concat2 = RGB_A3_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [89]:
X_test_A3_RGB = np.array(RGB_A3_Set4)

In [90]:
y_A3_RGB =  table_A3Set4.iloc[:,14:15]

In [91]:
y_test_A3_RGB = np.array(y_A3_RGB)

In [92]:
X_train_A3_RGB = np.array(RGB_A3_concat2)

In [93]:
y_train_A3RGB = RGB_A3_concat.iloc[:,14:15]

In [94]:
y_train_A3_RGB = np.array(y_train_A3RGB)

In [95]:
clf5.fit(X_train_A3_RGB, y_train_A3_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [96]:
y_pred_A3_RGB = clf5.predict(X_test_A3_RGB)

In [97]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))

Accuracy: 0.8925

###HSV

In [98]:
clf6=svm.SVC(kernel='poly')

In [99]:
HSV_A3_Set4 = table_A3Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [100]:
HSV_A3_concat2 = RGB_A3_concat.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [101]:
X_test_A3_HSV = np.array(HSV_A3_Set4)

In [102]:
y_A3_HSV =  table_A3Set4.iloc[:,14:15]

In [103]:
y_test_A3_HSV = np.array(y_A3_RGB)

In [104]:
X_train_A3_HSV = np.array(HSV_A3_concat2)

In [105]:
y_train_A3HSV = RGB_A3_concat.iloc[:,14:15]

In [106]:
y_train_A3_HSV = np.array(y_train_A3HSV)

In [107]:
clf6.fit(X_train_A3_HSV, y_train_A3_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [108]:
y_pred_A3_HSV = clf6.predict(X_test_A3_HSV)

In [109]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))

Accuracy: 0.54

##A3.5

In [110]:
clf7=svm.SVC(kernel='poly')

In [111]:
table_A3_5Set1 = pd.read_excel(Set1 , sheet_name='A3.5_1')
table_A3_5Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,236.521954,209.560425,156.946676,243.394530,228.810405,193.729405,19.985391,85.867056,236.521954,21.287801,52.127019,243.394530,Set1,A3.5,A1,2DD07CB7-0413-41D5-BE23-51CA3C9164F5.png
1,238.063794,210.368071,155.388605,244.828910,230.410437,192.981576,19.988394,88.619755,238.063794,21.822660,54.093905,244.828910,Set1,A3.5,A1,F28F074F-5B54-424C-8E70-EC56E06FC3E0.png
2,237.652463,210.789303,155.764873,244.605714,230.424966,193.343154,20.219138,87.943755,237.652463,21.876552,53.544680,244.605714,Set1,A3.5,A1,6ABA4B94-D8B3-48BA-B1FA-6B5A081F40D1.png
3,237.005763,210.512134,156.634932,243.224901,229.625436,193.792306,20.253632,86.534291,237.005763,21.880286,51.931743,243.224901,Set1,A3.5,A1,6B5870DF-9D32-4295-9D0E-F1DDA4ABD18F.png
4,237.200877,211.312393,157.905284,243.624625,230.534940,195.817791,20.422855,85.310040,237.200877,21.935395,50.146660,243.624625,Set1,A3.5,A1,9EBCADA0-A39C-4692-B684-A967FE6F59B5.png

In [112]:
table_A3_5Set2 = pd.read_excel(Set2, sheet_name='A3.5_2')
table_A3_5Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,230.525850,201.762276,143.723480,233.097232,215.519520,174.350296,20.053811,96.170035,230.525850,21.308254,64.395341,233.097476,Set2,A3.5,A1,DD92C3DE-FED4-405C-A9BE-F6CB3CC67D3C.png
1,227.598003,195.522928,133.524552,232.723237,212.633390,167.957796,19.533398,105.379028,227.598003,20.546141,71.021589,232.723318,Set2,A3.5,A1,475DD7D4-D0A4-4875-8A88-515EC0BE2FEA.png
2,230.512783,201.153965,142.168817,234.111355,215.418878,171.895463,19.983037,97.871682,230.512783,21.241620,67.883370,234.112085,Set2,A3.5,A1,6A134D80-DECF-4205-B3F2-0FC7F87D6F47.png
3,231.764629,202.156562,142.283013,234.933447,216.170765,172.677299,20.152423,98.609285,231.764629,21.052268,67.724779,234.935233,Set2,A3.5,A1,3AF27BD7-16A3-47B3-A9D2-6F28AB0A73D4.png
4,231.882721,202.259963,142.745394,234.805616,216.401510,173.300219,19.973135,98.174499,231.882721,21.227173,66.919000,234.806347,Set2,A3.5,A1,F1DEE804-F5D7-48D6-A2AF-FB7B10C7C006.png

In [113]:
table_A3_5Set3 = pd.read_excel(Set3, sheet_name='A3.5_3')
table_A3_5Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,234.789790,227.862511,192.009090,232.556773,231.819820,219.221816,28.267430,47.004870,234.865190,35.101047,15.556124,232.987988,Set3,A3.5,A1,EA18B729-21CA-4CBD-9CD9-87A230B62A73.png
1,225.381868,217.347861,174.858940,222.530395,222.311095,206.975246,25.473501,57.234884,225.382193,29.782891,18.370668,223.084571,Set3,A3.5,A1,6F63F3BD-AD91-4D05-A01E-F262738EC089.png
2,225.723074,217.551497,177.828098,221.912751,222.370181,209.080188,25.195926,54.222222,225.726483,31.620810,15.582826,222.632010,Set3,A3.5,A1,C25C23A8-8D33-471D-9F99-1D7F0A5A2256.png
3,234.848227,227.721938,192.168980,232.155182,231.702459,219.144469,27.598247,46.850580,234.917052,35.968834,15.483889,232.779158,Set3,A3.5,A1,C7840948-E4E4-4326-9CA7-7249FD51E66F.png
4,234.453291,227.748722,193.671049,230.745638,231.457430,220.141547,28.364743,44.927279,234.552796,39.213132,13.280659,231.667965,Set3,A3.5,A1,6D2686E5-1F1E-46F5-8307-2588684AE288.png

In [114]:
table_A3_5Set4 = pd.read_excel(Set4, sheet_name='A3.5_4')
table_A3_5Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,219.071829,202.284636,153.413684,217.003165,209.154127,186.799123,22.449882,76.533723,219.071991,22.143495,35.567405,217.003165,Set4,A3.5,A1,59331E47-9409-4752-859C-BD69B64F2FC6.png
1,218.764143,202.356140,154.260206,217.063388,209.804886,188.133755,22.482672,75.308011,218.764143,22.590293,34.072397,217.063388,Set4,A3.5,A1,271B26B6-1BC4-4A50-9198-127569C8BF3D.png
2,218.561399,202.688499,154.177826,216.792874,210.099911,188.036766,22.737197,75.188540,218.561399,23.140005,33.866245,216.793199,Set4,A3.5,A1,101CF038-4C3A-400E-9C2C-6CC2F63DEEEF.png
3,220.439818,205.936206,160.073046,220.855288,214.330898,193.493385,23.141709,70.030923,220.442659,23.827855,31.749128,220.861781,Set4,A3.5,A1,4CA308BF-F5D3-47CB-A3C0-4D0D3CBD97AA.png
4,220.497038,206.076942,160.544355,220.946514,214.425777,193.726402,23.040419,69.536969,220.498823,23.629170,31.591510,220.960068,Set4,A3.5,A1,C05E2226-6B18-40E3-966D-02DE782F3404.png

###RGB

In [115]:
RGB_A3_5_Set4 = table_A3_5Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [116]:
RGB_A3_5_Set2 = table_A3_5Set2

In [117]:
RGB_A3_5_Set3 = table_A3_5Set3

In [118]:
RGB_A3_5_Set1 = table_A3_5Set1

In [119]:
RGB_A3_5_concat0 = pd.concat([RGB_A3_5_Set2,RGB_A3_5_Set3,RGB_A3_5_Set1])

In [120]:
RGB_A3_5_concat2 = RGB_A3_5_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [121]:
X_test_A3_5_RGB = np.array(RGB_A3_5_Set4)

In [122]:
y_A3_5_RGB =  table_A3_5Set4.iloc[:,14:15]

In [123]:
y_test_A3_5_RGB = np.array(y_A3_5_RGB)

In [124]:
X_train_A3_5_RGB = np.array(RGB_A3_5_concat2)

In [125]:
y_train_A3_5RGB = RGB_A3_5_concat0.iloc[:,14:15]

In [126]:
y_train_A3_5_RGB = np.array(y_train_A3_5RGB)

In [127]:
clf7.fit(X_train_A3_5_RGB, y_train_A3_5_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [128]:
y_pred_A3_5_RGB = clf7.predict(X_test_A3_5_RGB)

In [129]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))

Accuracy: 0.355

###HSV

In [130]:
clf8=svm.SVC(kernel='poly')

In [131]:
HSV_A3_5_Set4 = table_A3_5Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [132]:
HSV_A3_5_concat2 = RGB_A3_5_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [133]:
X_test_A3_5_HSV = np.array(HSV_A3_5_Set4)

In [134]:
y_A3_5_HSV =  table_A3_5Set1.iloc[:,14:15]

In [135]:
y_test_A3_5_HSV = np.array(y_A3_5_RGB)

In [136]:
X_train_A3_5_HSV = np.array(HSV_A3_5_concat2)

In [137]:
y_train_A3_5HSV = RGB_A3_5_concat0.iloc[:,14:15]

In [138]:
y_train_A3_5_HSV = np.array(y_train_A3_5HSV)

In [139]:
clf8.fit(X_train_A3_5_HSV, y_train_A3_5_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [140]:
y_pred_A3_5_HSV = clf8.predict(X_test_A3_5_HSV)

In [141]:
print("Accuracy:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))

Accuracy: 0.23875

##A4

In [142]:
table_A4Set1 = pd.read_excel(Set1 , sheet_name='A4_1')
table_A4Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,231.225793,207.225306,163.194708,242.074426,231.760409,208.267186,19.478370,75.143495,231.225793,20.980440,35.674539,242.074507,Set1,A4,A1,E3173A1F-D34A-4D28-928B-E1C32CF79872.png
1,231.522523,206.851798,162.085870,241.816817,230.490950,205.902524,19.409382,76.557341,231.522523,20.550686,37.913075,241.816817,Set1,A4,A1,013F1BC6-5EF5-4A49-8F01-69FB54E775C3.png
2,230.894895,204.879961,159.071342,241.838000,229.495820,203.721208,19.183183,79.405000,230.894895,20.298190,40.262803,241.838000,Set1,A4,A1,0F4BD91E-9F4C-408D-BD77-1A2D48FD0758.png
3,231.246084,206.003815,159.512296,241.745638,229.942699,203.285204,19.544761,79.192517,231.246084,20.893028,40.626410,241.745638,Set1,A4,A1,C3FDAEEA-FA70-4C39-AF06-F3A68D515336.png
4,232.597760,207.029868,160.616995,242.765685,230.498742,204.188783,19.446636,78.970863,232.597760,20.506534,40.561237,242.765685,Set1,A4,A1,9C8F8D57-3A59-4F0F-8F7E-9F81D3456B62.png

In [143]:
table_A4Set2 = pd.read_excel(Set2, sheet_name='A4_2')
table_A4Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,216.645078,185.742553,128.334470,229.435598,211.204123,168.973460,19.285691,103.952520,216.645078,21.258096,67.239185,229.435598,Set2,A4,A1,E5CB5D38-826C-40B3-A02B-ADDE7D87BED2.png
1,224.198361,193.866813,137.009821,237.073290,218.199253,175.309147,19.535752,99.375457,224.198442,20.960717,66.531288,237.073290,Set2,A4,A1,9EBB65E8-F0D7-49DE-827B-2CE7EA7683A4.png
2,218.432595,186.328626,127.109407,233.201850,212.871926,169.258177,19.310608,106.613587,218.432595,20.324568,69.952358,233.201850,Set2,A4,A1,29B58A5F-59B3-4324-9F06-7C1267ED3E4F.png
3,219.579093,187.970700,128.021751,234.008684,214.499635,170.544112,19.700592,106.332035,219.579093,20.850905,69.195844,234.008684,Set2,A4,A1,7747C1F9-E3F2-4D88-974B-850F771E6B3B.png
4,219.786056,187.681357,128.328951,233.488191,213.398669,168.988150,19.318968,106.113384,219.786056,20.533236,70.478857,233.488191,Set2,A4,A1,31FD7994-9AAE-4CA3-8909-E63E70D1D59B.png

In [144]:
table_A4Set3 = pd.read_excel(Set3, sheet_name='A4_3')
table_A4Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,226.313936,219.841084,183.354192,230.757568,231.221898,217.002922,29.230014,49.414171,226.497200,37.384060,16.953900,231.827368,Set3,A4,A1,F712701E-BE7E-4095-A77E-B995819EFFFD.png
1,227.121987,220.647269,183.855612,230.858128,231.210454,216.321159,29.190082,49.616427,227.324892,35.226848,17.361415,231.736953,Set3,A4,A1,CECCAFE3-FE35-40E3-A23C-E30AC0ED7305.png
2,218.324811,210.629089,165.271163,223.875091,224.323107,207.548007,25.930038,62.056814,218.324811,31.493953,19.490707,224.647512,Set3,A4,A1,030A48A3-45A8-46B5-BA6E-40DBF7924561.png
3,226.866001,220.431296,183.539648,230.338122,230.806185,216.489165,29.477396,49.727782,227.058437,35.202013,16.676812,231.268160,Set3,A4,A1,56F3B9ED-032B-4568-94F8-A20F8E7C590B.png
4,226.753997,220.355166,183.134729,230.642561,231.158672,216.811785,29.641344,50.030111,226.936693,35.435598,16.675595,231.597435,Set3,A4,A1,B39AAD6D-AA02-4E9A-9387-6545DE9848CE.png

In [145]:
table_A4Set4 = pd.read_excel(Set4, sheet_name='A4_4')
table_A4Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,211.018505,198.340476,162.685496,221.528285,216.994806,201.722669,23.870546,59.034494,211.041230,24.488516,22.934177,221.542813,Set4,A4,A1,C6D0A6B4-EAD1-4C5F-9E6B-CE5E0923BCF0.png
1,207.639964,195.072559,155.867949,215.762195,212.870222,195.025404,23.771041,64.070692,207.663096,26.216784,24.654411,215.775262,Set4,A4,A1,A3B3B5C2-1901-4D2C-8309-010408F66705.png
2,210.950329,198.417417,162.600844,220.752780,217.545004,201.401591,24.316857,59.150069,210.987988,26.669994,22.567324,220.781836,Set4,A4,A1,4C428E15-84C8-4D96-BD24-DC9969741560.png
3,210.858697,198.275383,162.467576,220.309877,217.081081,201.148852,24.414252,59.234153,210.889619,26.324487,22.391040,220.337878,Set4,A4,A1,91F5B0B5-A4E2-4073-A924-AC7A2ECB236F.png
4,207.614561,195.007142,156.078565,216.125233,213.230744,195.647188,23.742878,63.809269,207.636555,26.232692,24.316046,216.133755,Set4,A4,A1,606F71D4-DD41-4252-B152-C019C53AE874.png

###RGB

In [146]:
clf9=svm.SVC(kernel='poly')

In [147]:
RGB_A4_Set4 = table_A4Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [148]:
RGB_A4_Set2 = table_A4Set2

In [149]:
RGB_A4_Set3 = table_A4Set3

In [150]:
RGB_A4_Set1 = table_A4Set1

In [151]:
RGB_A4_concat0 = pd.concat([RGB_A4_Set2,RGB_A4_Set3,RGB_A4_Set1])

In [152]:
RGB_A4_concat2 = RGB_A4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [153]:
X_test_A4_RGB = np.array(RGB_A4_Set4)

In [154]:
y_A4_RGB =  table_A4Set4.iloc[:,14:15]

In [155]:
y_test_A4_RGB = np.array(y_A4_RGB)

In [156]:
X_train_A4_RGB = np.array(RGB_A4_concat2)

In [157]:
y_train_A4_RGB = RGB_A4_concat0.iloc[:,14:15]

In [158]:
y_train_A4_RGB = np.array(y_train_A4_RGB)

In [159]:
clf9.fit(X_train_A4_RGB, y_train_A4_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [160]:
y_pred_A4_RGB = clf9.predict(X_test_A4_RGB)

In [161]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))

Accuracy: 0.7775

###HSV

In [162]:
clf10=svm.SVC(kernel='poly')

In [163]:
HSV_A4_Set4 = table_A4Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [164]:
HSV_A4_concat2 = RGB_A4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [165]:
X_test_A4_HSV = np.array(HSV_A4_Set4)

In [166]:
y_A4_HSV =  table_A4Set4.iloc[:,14:15]

In [167]:
y_test_A4_HSV = np.array(y_A4_RGB)

In [168]:
X_train_A4_HSV = np.array(HSV_A4_concat2)

In [169]:
y_train_A4HSV = RGB_A4_concat0.iloc[:,14:15]

In [170]:
y_train_A4_HSV = np.array(y_train_A4HSV)

In [171]:
clf10.fit(X_train_A4_HSV, y_train_A4_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [172]:
y_pred_A4_HSV = clf10.predict(X_test_A4_HSV)

In [173]:
print("Accuracy:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))

Accuracy: 0.47

#BB

##B1

In [174]:
table_B1Set1 = pd.read_excel(Set1 , sheet_name='B1_1')
table_B1Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,234.492330,224.346725,192.380489,240.971025,228.479507,194.079052,22.581446,45.847740,234.492330,22.087331,49.762600,240.971025,Set1,B1,A1,1CE4FFAC-5C8A-4C04-8A57-7BB28F25302D.png
1,230.950735,219.930769,185.020372,237.675189,224.627465,187.591186,22.769175,50.742391,230.950735,22.232368,53.826150,237.675189,Set1,B1,A1,67F8EDAB-A9C7-4B91-B07B-BFADEE915B61.png
2,235.713497,225.486892,193.015015,242.104780,229.496469,195.054216,22.739956,46.220680,235.713497,22.049265,49.724941,242.104943,Set1,B1,A1,935ACCF9-A4D6-4CB3-A437-6333758D46CD.png
3,234.890350,224.554500,191.764467,240.631686,228.004545,192.949923,22.747017,46.874767,234.890350,22.128561,50.651733,240.631686,Set1,B1,A1,C7A49040-51EF-4045-9394-5E8F4A17B8A2.png
4,231.349403,220.936531,187.469361,237.432595,225.213132,191.017937,22.831994,48.381706,231.349403,22.180261,49.971187,237.436004,Set1,B1,A1,EFCB2FF8-FACF-4778-946B-4DFEC0F8EB5D.png

In [175]:
table_B1Set2 = pd.read_excel(Set2, sheet_name='B1_2')
table_B1Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,238.072072,226.369694,192.161107,240.127019,224.804074,185.348998,22.378135,49.224901,238.072316,21.881909,58.279929,240.127262,Set2,B1,A1,AEF34645-B125-4481-B378-9F740119E34B.png
1,236.722669,224.961286,190.982956,238.482023,223.111111,183.977599,22.252902,49.326678,236.722831,21.714390,58.381463,238.482023,Set2,B1,A1,7B786FDA-1147-419F-870D-48EE311B41A7.png
2,232.850418,219.467738,184.083759,234.018830,217.136271,176.188134,21.849201,53.459946,232.850418,21.548413,63.023294,234.018830,Set2,B1,A1,14C23018-F05B-47AF-ADC6-277F5B8227F2.png
3,230.301680,213.231394,172.343803,232.031572,211.717474,168.018505,21.527473,64.229933,230.301680,20.343479,70.351919,232.031572,Set2,B1,A1,03F30AE6-EE62-4EB0-9349-3BAA28F5E850.png
4,229.089603,211.857398,171.658063,230.395666,209.816168,166.023375,21.308498,63.941563,229.089603,20.212807,71.279929,230.395666,Set2,B1,A1,E58BEC6B-47E4-4F24-A845-6C7065F6286F.png

In [176]:
table_B1Set3 = pd.read_excel(Set3, sheet_name='B1_3')
table_B1Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,232.826232,235.225875,222.755458,230.549225,231.258258,212.994887,39.524876,14.125720,235.403701,34.513919,20.819820,231.698645,Set3,B1,A1,36131F69-AE53-43F0-9393-320FE9F7F062.png
1,225.319049,227.629819,212.763412,223.055271,222.273598,202.114520,34.369207,16.719341,227.629819,29.243893,24.080756,223.185212,Set3,B1,A1,3E662E98-64FE-4DAE-9C23-6B9B46AFF938.png
2,232.356546,234.578119,222.297784,231.260612,230.668371,213.078646,38.673322,13.825582,234.718448,32.201282,20.561886,231.564321,Set3,B1,A1,13BDAEBC-84BE-4B57-BD10-B3BEBEC55479.png
3,232.310851,234.612288,221.945621,230.616346,230.228228,212.314828,38.724130,14.207694,234.740037,32.662040,20.927279,231.071666,Set3,B1,A1,73D24887-262D-44DF-BC51-1E2A687A29A0.png
4,232.525282,234.866975,222.247545,230.687850,230.922003,212.813570,39.009496,14.221005,235.019479,33.934908,20.887428,231.546547,Set3,B1,A1,59AB53AF-BFB4-4E7C-8C9A-5235F7B20C49.png

In [177]:
table_B1Set4 = pd.read_excel(Set4, sheet_name='B1_4')
table_B1Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,224.326759,221.108839,203.850093,219.784514,213.464573,190.317344,25.347537,23.311663,224.326759,23.720640,34.241863,219.784514,Set4,B1,A1,FE8C5C61-E1C3-43CD-89CA-1CC9F2F64918.png
1,229.503693,229.352812,212.427969,226.453453,222.675919,197.858128,30.464816,19.511241,229.940833,26.107134,32.314666,226.461570,Set4,B1,A1,D3A831B0-6702-4ED8-BCD2-DF3E93AE96AA.png
2,222.500609,223.042529,201.223521,218.539891,215.885805,187.822985,30.988637,25.075075,223.184888,27.346563,35.863891,218.539891,Set4,B1,A1,8A8341B2-51DF-4C76-9E21-423D884578F9.png
3,228.807077,230.561156,211.762763,226.170684,224.499148,197.844493,33.748235,20.870303,230.563022,28.464978,32.052431,226.188865,Set4,B1,A1,73445C43-E3BF-421B-9A97-1F1182DFFF9A.png
4,229.235695,230.981089,211.935720,225.856911,224.164516,197.202013,33.622271,21.117036,230.984417,28.327003,32.428212,225.861781,Set4,B1,A1,56FEB49F-EF2D-4F39-A5BC-CCD039F7C855.png

###RGB

In [178]:
clf11=svm.SVC(kernel='poly')

In [179]:
RGB_B1_Set4 = table_B1Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [180]:
RGB_B1_Set2 = table_B1Set2

In [181]:
RGB_B1_Set3 = table_B1Set3

In [182]:
RGB_B1_Set1 = table_B1Set1

In [183]:
RGB_B1_concat0 = pd.concat([RGB_B1_Set2,RGB_B1_Set3,RGB_B1_Set1])

In [184]:
RGB_B1_concat2 = RGB_B1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [185]:
X_test_B1_RGB = np.array(RGB_B1_Set4)

In [186]:
y_B1_RGB =  table_B1Set4.iloc[:,14:15]

In [187]:
y_test_B1_RGB = np.array(y_B1_RGB)

In [188]:
X_train_B1_RGB = np.array(RGB_B1_concat2)

In [189]:
y_train_B1RGB = RGB_B1_concat0.iloc[:,14:15]

In [190]:
y_train_B1_RGB = np.array(y_train_B1RGB)

In [191]:
clf11.fit(X_train_B1_RGB, y_train_B1_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [192]:
y_pred_B1_RGB = clf11.predict(X_test_B1_RGB)

In [193]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))

Accuracy: 0.57375

###HSV

In [194]:
clf12=svm.SVC(kernel='poly')

In [195]:
HSV_B1_Set4 = table_B1Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [196]:
HSV_B1_concat2 = RGB_B1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [197]:
X_test_B1_HSV = np.array(HSV_B1_Set4)

In [198]:
y_B1_HSV =  table_B1Set4.iloc[:,14:15]

In [199]:
y_test_B1_HSV = np.array(y_B1_RGB)

In [200]:
X_train_B1_HSV = np.array(HSV_B1_concat2)

In [201]:
y_train_B1HSV = RGB_B1_concat0.iloc[:,14:15]

In [202]:
y_train_B1_HSV = np.array(y_train_B1HSV)

In [203]:
clf12.fit(X_train_B1_HSV, y_train_B1_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [204]:
y_pred_B1_HSV = clf12.predict(X_test_B1_HSV)

In [205]:
print("Accuracy:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))

Accuracy: 0.37625

##B2

In [206]:
table_B2Set1 = pd.read_excel(Set1 , sheet_name='B2_1')
table_B2Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,234.290967,216.284149,169.783703,242.215405,227.033926,189.244217,21.769093,70.289343,234.290967,21.590455,55.858778,242.215729,Set1,B2,A1,8844784E-18F2-4180-BD56-22527F5B506A.png
1,237.340151,219.935882,172.906176,243.976463,229.429024,190.713578,21.995942,69.284717,237.340151,22.035224,55.816654,243.978979,Set1,B2,A1,9B82482F-3CCB-4D36-88DF-53EE592260BA.png
2,237.162730,219.137651,173.658794,243.294375,227.971756,189.755864,21.751644,68.339989,237.162730,21.630062,56.197387,243.294375,Set1,B2,A1,EBE10373-8135-4270-894B-9887BE25C44D.png
3,237.743365,219.889619,174.168087,244.002354,228.495171,189.719016,21.866813,68.223521,237.743365,21.657982,56.818115,244.002354,Set1,B2,A1,E371B8FC-E57F-49E3-8AF4-9DF8FDBFA8F3.png
4,237.651084,219.381706,174.512702,243.843195,227.961123,190.088142,21.558234,67.789222,237.651084,21.351595,56.300706,243.843195,Set1,B2,A1,238A6F42-0DF6-424E-9279-99FE08A655A8.png

In [207]:
table_B2Set2 = pd.read_excel(Set2, sheet_name='B2_2')
table_B2Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,234.642156,217.433001,170.136271,234.767714,218.243081,176.871358,22.081325,70.183021,234.642156,21.785407,62.998133,234.767714,Set2,B2,A1,B1DA559A-D9F1-4AF3-8AF2-1244D61DE126.png
1,229.238049,209.590618,158.819252,230.127587,211.668290,167.880123,21.820713,78.342829,229.238049,21.386982,69.008116,230.127587,Set2,B2,A1,A92BD83A-0BC5-475A-806D-12AED89C8F25.png
2,230.516598,212.658794,161.053161,231.568379,214.060953,170.158266,22.536320,76.902362,230.516598,21.760734,67.636961,231.568379,Set2,B2,A1,3A2804B8-CBAC-40D4-9EC0-8EF3D3C52A9D.png
3,234.527311,217.314910,169.497119,235.221086,218.034737,176.747667,22.240159,70.791007,234.527311,21.546790,63.474637,235.221086,Set2,B2,A1,CFB4F284-CE02-4550-B81A-53E093EE4FBA.png
4,230.832481,211.934421,160.924763,232.274815,213.881747,170.509942,22.209399,77.249655,230.832481,21.364824,67.803506,232.274815,Set2,B2,A1,1A61C771-989D-4734-8138-2EC30D0E65DC.png

In [208]:
table_B2Set3 = pd.read_excel(Set3, sheet_name='B2_3')
table_B2Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,235.322376,234.603117,207.618375,232.471390,231.802695,213.286584,31.250061,30.428699,235.506209,31.743933,21.484052,232.710413,Set3,B2,A1,250FC647-07B6-4795-B3EF-E2E97F609E10.png
1,235.070205,234.469442,207.389335,232.630549,232.063225,213.809106,31.428780,30.509699,235.308579,32.006006,21.132457,232.931256,Set3,B2,A1,829D716F-ABCB-494F-942F-92D985E969FC.png
2,235.587452,234.897817,207.989124,233.033277,232.447610,214.082055,31.299489,30.273273,235.767064,32.020534,21.183427,233.293807,Set3,B2,A1,31E84E1C-8996-478A-8C5B-DEB651BD8B7B.png
3,235.561318,234.892217,208.179531,233.306956,232.634202,214.502475,31.452074,30.069800,235.762682,31.844737,20.979466,233.522928,Set3,B2,A1,1096FB39-AC69-47B0-A58C-D5EAF4178133.png
4,234.912669,234.182534,206.925899,232.299651,231.659930,213.204367,30.956416,30.753591,235.073858,32.141303,21.354841,232.527230,Set3,B2,A1,561D36AA-0D94-45A1-88BE-C705DA5140C7.png

In [209]:
table_B2Set4 = pd.read_excel(Set4, sheet_name='B2_4')
table_B2Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,230.024024,223.702053,196.546547,225.821930,219.226930,200.151368,24.611152,37.253389,230.032384,23.084571,29.186754,225.827043,Set4,B2,A1,5B0F9488-7F08-4BCE-A32E-55154984960A.png
1,221.614236,222.497930,181.940752,216.772583,217.695642,185.979060,30.883695,46.488272,222.497930,30.923058,37.207370,217.733220,Set4,B2,A1,0E6453D8-FF6B-407E-97CD-CD738C98FDF2.png
2,224.173687,218.290561,185.797663,219.794984,213.752131,191.268079,25.613505,43.686308,224.173687,23.862349,33.074345,219.794984,Set4,B2,A1,080A292F-0B63-4933-A09A-199874BA4870.png
3,223.656927,219.788491,184.318318,218.983524,214.888727,188.910884,26.974759,44.941239,223.656927,25.869816,34.984498,218.983524,Set4,B2,A1,3638FEC4-42D0-4824-AD26-F7E587220698.png
4,223.816005,220.383086,184.133268,218.352406,216.356383,189.309715,27.434948,45.237887,223.816005,28.003977,33.867137,218.352406,Set4,B2,A1,8D6E4CD1-034D-487B-80CB-3AE03EE1D093.png

###RGB

In [210]:
clf13=svm.SVC(kernel='poly')

In [211]:
RGB_B2_Set4 = table_B2Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [212]:
RGB_B2_Set2 = table_B2Set2

In [213]:
RGB_B2_Set3 = table_B2Set3

In [214]:
RGB_B2_Set1 = table_B2Set1

In [215]:
RGB_B2_concat0 = pd.concat([RGB_B2_Set2,RGB_B2_Set3,RGB_B2_Set1])

In [216]:
RGB_B2_concat2 = RGB_B2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [217]:
X_test_B2_RGB = np.array(RGB_B2_Set4)

In [218]:
y_B2_RGB =  table_B2Set4.iloc[:,14:15]

In [219]:
y_test_B2_RGB = np.array(y_B2_RGB)

In [220]:
X_train_B2_RGB = np.array(RGB_B2_concat2)

In [221]:
y_train_B2RGB = RGB_B2_concat0.iloc[:,14:15]

In [222]:
y_train_B2_RGB = np.array(y_train_B2RGB)

In [223]:
clf13.fit(X_train_B2_RGB, y_train_B2_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [224]:
y_pred_B2_RGB = clf13.predict(X_test_B2_RGB)

In [225]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))

Accuracy: 0.55375

###HSV

In [226]:
clf14=svm.SVC(kernel='poly')

In [227]:
HSV_B2_Set4 = table_B2Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [228]:
HSV_B2_concat2 = RGB_B2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [229]:
X_test_B2_HSV = np.array(HSV_B2_Set4)

In [230]:
y_B2_HSV =  table_B2Set4.iloc[:,14:15]

In [231]:
y_test_B2_HSV = np.array(y_B2_RGB)

In [232]:
X_train_B2_HSV = np.array(HSV_B2_concat2)

In [233]:
y_train_B2HSV = RGB_B2_concat0.iloc[:,14:15]

In [234]:
y_train_B2_HSV = np.array(y_train_B2HSV)

In [235]:
clf14.fit(X_train_B2_HSV, y_train_B2_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [236]:
y_pred_B2_HSV = clf14.predict(X_test_B2_HSV)

In [237]:
print("Accuracy:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))

Accuracy: 0.46

##B3

In [238]:
table_B3Set1 = pd.read_excel(Set1 , sheet_name='B3_1')
table_B3Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,237.494684,208.533398,158.263534,241.452723,220.398507,187.469199,18.991072,85.135379,237.494684,18.275546,57.117279,241.452885,Set1,B3,A1,768ECDBF-055D-4AF1-9FB6-59F1D54C18F2.png
1,233.706923,204.090821,154.434867,238.934908,217.925655,185.930119,18.785732,86.572924,233.706923,18.004383,56.653843,238.934908,Set1,B3,A1,A2B09945-ABB4-4B6C-8880-C0859637306B.png
2,237.440711,210.784839,160.240646,241.434056,222.211996,189.821281,19.770554,83.044558,237.440711,18.910397,54.597922,241.434705,Set1,B3,A1,5C57C433-024F-4E4A-B661-2A33A270EE9D.png
3,237.416768,209.644509,160.474556,241.624219,221.237481,189.495820,19.218895,82.745394,237.416768,18.240808,55.121256,241.624219,Set1,B3,A1,6D8E199E-9FF6-46BF-A7CA-D491A179F0EB.png
4,236.176041,208.513270,158.338609,240.525931,220.440386,187.916484,19.459946,84.152423,236.176041,18.561643,55.879799,240.526581,Set1,B3,A1,09286B35-9904-4EE4-8AF2-92443DF8DA7D.png

In [239]:
table_B3Set2 = pd.read_excel(Set2, sheet_name='B3_2')
table_B3Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,234.164110,212.604496,155.235046,235.183670,220.016395,179.384628,21.885724,86.109894,234.164922,22.018018,60.636637,235.186105,Set2,B3,A1,8E815009-4D5A-4F6E-B73E-3F02EEDF518E.png
1,233.094960,210.277169,153.528366,234.479182,218.009983,176.335525,21.610584,87.151855,233.095934,21.839542,63.337554,234.480399,Set2,B3,A1,71FB6161-2220-4F52-9DB9-988BEA1E6318.png
2,232.942050,210.142846,153.425290,234.265725,217.921273,176.164841,21.525444,87.159078,232.942212,21.945621,63.358981,234.266943,Set2,B3,A1,CE22D8CA-7FD1-4E9E-9A9A-6C3591E3B041.png
3,234.085626,211.622677,152.596056,235.249249,218.894814,176.391283,21.800666,88.912101,234.085870,21.993832,63.888483,235.250548,Set2,B3,A1,9311AA58-DD49-4827-BE81-DE9122D40F36.png
4,231.313449,208.378297,151.554500,232.952601,216.453697,174.120445,21.619511,88.035143,231.313530,21.910640,64.515380,232.953088,Set2,B3,A1,706F5A48-1CDB-468B-A380-D9DBE49855CB.png

In [240]:
table_B3Set3 = pd.read_excel(Set3, sheet_name='B3_3')
table_B3Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,237.340313,233.514569,191.863729,233.376674,234.243649,215.575116,28.852122,49.186511,237.413927,32.288045,20.739226,234.519033,Set3,B3,A1,D30CE1BD-7348-4D4B-8B2A-9CF508F40709.png
1,237.545978,233.754160,192.734031,233.217758,233.586884,215.566431,29.089847,48.474231,237.632822,31.926873,20.244055,233.996023,Set3,B3,A1,A3174F21-0003-438F-AB9B-C9E9E4403930.png
2,237.174336,233.405243,192.453372,233.155020,234.003246,215.817385,28.720802,48.429998,237.245110,32.327246,20.171820,234.232124,Set3,B3,A1,F6329A93-CE40-40BD-82AD-EE38250C7659.png
3,237.443146,233.671131,192.249980,232.829397,233.345264,215.205097,28.985066,48.897086,237.518546,31.906501,20.323513,233.698401,Set3,B3,A1,0EA3962C-C625-411B-83E6-FE457309A3FA.png
4,237.280497,233.369207,192.365311,233.808538,233.826719,215.648486,28.871033,48.647512,237.364094,31.126775,20.505560,234.371967,Set3,B3,A1,EC8C9E12-CC68-4397-BBD7-6F464DD8A7F6.png

In [241]:
table_B3Set4 = pd.read_excel(Set4, sheet_name='B3_4')
table_B3Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,230.465141,223.522117,184.131726,227.858453,223.376025,206.984660,25.966318,51.586560,230.474718,27.394692,23.726159,227.938560,Set4,B3,A1,5C22556A-CB1C-49A8-B0F9-3013F60CF097.png
1,222.085058,217.052268,162.522604,218.049834,216.417904,188.949030,27.837757,68.419690,222.085058,28.368071,34.025810,218.049834,Set4,B3,A1,AEB14259-1749-43ED-901D-F78CF34D6098.png
2,229.628277,225.348430,177.526905,226.590861,225.277494,200.886454,27.939615,58.220518,229.655953,30.371236,29.406298,226.738982,Set4,B3,A1,0D6EAE6C-73F2-4F11-86DF-9A77825BE847.png
3,229.953413,223.214349,178.450856,227.699375,223.336742,202.377810,26.221167,57.464086,229.960555,25.837026,28.696534,227.734275,Set4,B3,A1,214213DB-44A4-43C8-8270-BDECBDE6838F.png
4,229.970213,224.270920,178.704894,227.796283,224.925737,202.630793,27.078484,57.181803,229.984498,28.688012,28.592241,227.916971,Set4,B3,A1,28A87DF6-4327-4573-AB9A-73CB7077ED8E.png

###RGB

In [242]:
clf15=svm.SVC(kernel='poly')

In [243]:
RGB_B3_Set4 = table_B3Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [244]:
RGB_B3_Set2 = table_B3Set2

In [245]:
RGB_B3_Set3 = table_B3Set3

In [246]:
RGB_B3_Set1 = table_B3Set1

In [247]:
RGB_B3_concat0 = pd.concat([RGB_B3_Set2,RGB_B3_Set3,RGB_B3_Set1])

In [248]:
RGB_B3_concat2 = RGB_B3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [249]:
X_test_B3_RGB = np.array(RGB_B3_Set4)

In [250]:
y_B3_RGB =  table_B3Set4.iloc[:,14:15]

In [251]:
y_test_B3_RGB = np.array(y_B3_RGB)

In [252]:
X_train_B3_RGB = np.array(RGB_B3_concat2)

In [253]:
y_train_B3RGB = RGB_B3_concat0.iloc[:,14:15]

In [254]:
y_train_B3_RGB = np.array(y_train_B3RGB)

In [255]:
clf15.fit(X_train_B3_RGB, y_train_B3_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [256]:
y_pred_B3_RGB = clf15.predict(X_test_B3_RGB)

In [257]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))

Accuracy: 0.76625

###HSV

In [258]:
clf16=svm.SVC(kernel='poly')

In [259]:
HSV_B3_Set4 = table_B3Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [260]:
HSV_B3_concat2 = RGB_B3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [261]:
X_test_B3_HSV = np.array(HSV_B3_Set4)

In [262]:
y_B3_HSV =  table_B3Set4.iloc[:,14:15]

In [263]:
y_test_B3_HSV = np.array(y_B3_RGB)

In [264]:
X_train_B3_HSV = np.array(HSV_B3_concat2)

In [265]:
y_train_B3HSV = RGB_B3_concat0.iloc[:,14:15]

In [266]:
y_train_B3_HSV = np.array(y_train_B3HSV)

In [267]:
clf16.fit(X_train_B3_HSV, y_train_B3_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [268]:
y_pred_B3_HSV = clf16.predict(X_test_B3_HSV)

In [269]:
print("Accuracy:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))

Accuracy: 0.41625

##B4

In [270]:
table_B4Set1 = pd.read_excel(Set1 , sheet_name='B4_1')
table_B4Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,238.309228,213.735573,158.551741,242.479344,228.752942,196.386495,20.967779,85.414577,238.309228,21.096258,48.553202,242.479344,Set1,B4,A1,34B2D0A4-AE20-440B-976D-34704AC67DBF.png
1,236.844574,213.760815,162.983281,241.450207,229.018586,201.484944,20.789546,79.582907,236.844574,20.665287,42.306387,241.450207,Set1,B4,A1,749D68C6-4CBE-4281-936D-2E903F24C84B.png
2,233.043178,209.123042,156.565863,239.474880,226.332116,198.275627,20.866001,83.728188,233.043178,20.369288,43.937343,239.474880,Set1,B4,A1,FF438080-DFCE-4992-80C7-BC7FD4258D18.png
3,233.025485,209.200308,156.447853,239.889619,226.524227,198.212483,20.887590,83.860644,233.025485,20.308498,44.375213,239.889619,Set1,B4,A1,94EA0AEE-7090-4878-B886-C6D839442A90.png
4,236.346482,213.261992,162.219219,241.479994,228.823229,200.937586,20.822579,80.041474,236.346482,20.604253,42.891080,241.479994,Set1,B4,A1,1F086831-AF5B-4D7E-8E33-15C8CE2CF0B7.png

In [271]:
table_B4Set2 = pd.read_excel(Set2, sheet_name='B4_2')
table_B4Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,232.498336,207.651733,143.646457,234.848876,218.742878,175.733463,21.777291,97.613262,232.501826,22.051782,64.264670,234.849363,Set2,B4,A1,CEFE92E4-E005-4DDF-BB31-F3105F314593.png
1,232.012255,206.596056,144.686714,235.169467,218.896762,176.088223,21.350864,96.138869,232.014934,22.053973,64.141547,235.170035,Set2,B4,A1,6CDF7A1D-59D6-42B3-8E72-D6D4A8079980.png
2,233.085302,207.662365,145.572113,235.375132,218.588020,176.433650,21.370911,95.895544,233.087006,21.829397,63.936775,235.376187,Set2,B4,A1,0FA330C4-7EAC-4F6B-9169-ADD778255E24.png
3,233.319698,208.411330,145.859833,236.193328,220.045045,177.213213,21.604983,95.768363,233.323350,22.068095,63.769986,236.194059,Set2,B4,A1,FD0E58A7-5CD5-42AB-984D-17E1C2695D0F.png
4,233.285853,208.220842,145.567730,235.652057,219.679328,176.805373,21.447285,96.041880,233.286259,22.089928,63.743852,235.652220,Set2,B4,A1,E331F1F9-905A-4866-8928-26AEF36EAFF7.png

In [272]:
table_B4Set3 = pd.read_excel(Set3, sheet_name='B4_3')
table_B4Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,236.910722,231.479182,183.407840,234.739469,235.610746,218.140735,27.814707,58.015745,236.968184,32.683061,19.275789,235.802370,Set3,B4,A1,15CF7C81-C401-4F9B-A9D6-BFF17DD5A41E.png
1,237.001299,231.455158,183.928253,234.816979,235.409058,218.146741,27.667397,57.510429,237.041312,32.418310,19.186511,235.700836,Set3,B4,A1,BB30E369-CADD-4E81-BE42-6B37C089DFDF.png
2,230.576171,224.961854,169.779807,228.262073,228.542326,209.711144,27.353462,67.426508,230.588832,30.909098,21.427644,228.998214,Set3,B4,A1,41EAF1E9-C9E9-4D7E-968E-75700ECAA674.png
3,236.788897,231.485107,183.863160,234.599464,235.479750,218.176284,27.678922,57.398263,236.824690,32.847415,19.131402,235.690528,Set3,B4,A1,C637E1DF-0ECB-4622-A3DD-67CDD073DACD.png
4,236.642075,231.492898,183.588426,234.588264,235.548576,217.890350,28.015421,57.584368,236.696453,32.742797,19.518870,235.747667,Set3,B4,A1,CD93A518-E887-42EC-8254-4B50FE6F9E71.png

In [273]:
table_B4Set4 = pd.read_excel(Set4, sheet_name='B4_4')
table_B4Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,217.927279,206.897086,153.472364,216.263534,211.589157,192.313205,24.834916,75.424073,217.927279,24.300219,28.248843,216.263534,Set4,B4,A1,E6FD1E47-41F1-4FC7-8EDA-377E52421795.png
1,226.203068,216.721695,169.172064,224.928821,220.550686,202.098693,26.093337,65.283662,226.215892,25.389822,26.258096,224.953819,Set4,B4,A1,51A8D5DF-0265-4137-A97C-204933D83A2B.png
2,217.951303,206.870546,151.967454,216.870384,211.877039,190.782323,24.946271,77.161107,217.951303,24.007386,30.745881,216.870384,Set4,B4,A1,4EEEE682-6A3A-4EA2-B0E8-F661EFF8F851.png
3,224.833212,218.921597,166.294944,222.539891,222.230338,199.189595,29.409139,67.500933,224.924925,31.633958,27.248275,222.685902,Set4,B4,A1,98C975EE-4F1C-4322-BE68-D0362677051C.png
4,226.337473,216.971593,169.574304,224.872494,220.630549,202.509861,26.140573,64.909991,226.357925,26.711712,25.750994,224.920623,Set4,B4,A1,154F666F-3A72-4532-BC86-922DEC7A5986.png

###RGB

In [274]:
clf17=svm.SVC(kernel='poly')

In [275]:
RGB_B4_Set4 = table_B4Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [276]:
RGB_B4_Set2 = table_B4Set2

In [277]:
RGB_B4_Set3 = table_B4Set3

In [278]:
RGB_B4_Set1 = table_B4Set1

In [279]:
RGB_B4_concat0 = pd.concat([RGB_B4_Set2,RGB_B4_Set3,RGB_B4_Set1])

In [280]:
RGB_B4_concat2 = RGB_B4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [281]:
X_test_B4_RGB = np.array(RGB_B4_Set4)

In [282]:
y_B4_RGB =  table_B4Set4.iloc[:,14:15]

In [283]:
y_test_B4_RGB = np.array(y_B4_RGB)

In [284]:
X_train_B4_RGB = np.array(RGB_B4_concat2)

In [285]:
y_train_B4RGB = RGB_B4_concat0.iloc[:,14:15]

In [286]:
y_train_B4_RGB = np.array(y_train_B4RGB)

In [287]:
clf17.fit(X_train_B4_RGB, y_train_B4_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [288]:
y_pred_B4_RGB = clf17.predict(X_test_B4_RGB)

In [289]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))

Accuracy: 0.53875

###HSV

In [290]:
clf18=svm.SVC(kernel='poly')

In [291]:
HSV_B4_Set4 = table_B4Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [292]:
HSV_B4_concat2 = RGB_B4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [293]:
X_test_B4_HSV = np.array(HSV_B4_Set4)

In [294]:
y_B4_HSV =  table_B4Set4.iloc[:,14:15]

In [295]:
y_test_B4_HSV = np.array(y_B4_RGB)

In [296]:
X_train_B4_HSV = np.array(HSV_B4_concat2)

In [297]:
y_train_B4HSV = RGB_B4_concat0.iloc[:,14:15]

In [298]:
y_train_B4_HSV = np.array(y_train_B4HSV)

In [299]:
clf18.fit(X_train_B4_HSV, y_train_B4_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [300]:
y_pred_B4_HSV = clf18.predict(X_test_B4_HSV)

In [301]:
print("Accuracy:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))

Accuracy: 0.2875

#CC

##C1

In [302]:
table_C1Set1 = pd.read_excel(Set1 , sheet_name='C1_1')
table_C1Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,234.238860,218.539810,178.142602,243.539080,231.739794,197.517734,21.850012,61.156805,234.238860,22.509942,48.325461,243.546952,Set1,C1,A1,998EA81C-77D0-4357-9197-D7AEAAAE4F91.png
1,234.682574,218.671942,177.768363,243.879555,232.024673,197.326191,21.797257,61.944242,234.682574,22.541596,48.810892,243.883289,Set1,C1,A1,C69EF426-D68B-4503-AFC0-A62E37CCB172.png
2,235.917945,220.763169,181.410600,244.233991,233.220355,201.094716,21.865595,58.999270,235.917945,22.687607,45.175229,244.242675,Set1,C1,A1,95C4078C-AD0D-4394-BCF6-9C2E1E7C2219.png
3,235.482266,220.350621,180.769093,244.104943,232.777128,199.619836,21.922896,59.314179,235.482266,22.532668,46.583557,244.107540,Set1,C1,A1,770F3E42-0415-48C8-AE28-664827DCDAAE.png
4,232.222628,217.325623,178.042367,241.885561,231.516192,200.039283,21.924763,59.560831,232.222628,22.896193,44.281146,241.899602,Set1,C1,A1,AFD98982-91EB-4E2A-BEA8-8FDCCC8F33E1.png

In [303]:
table_C1Set2 = pd.read_excel(Set2, sheet_name='C1_2')
table_C1Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,229.340313,211.447447,169.283662,235.627222,217.509537,176.528366,21.237318,66.888970,229.340313,21.071017,64.047074,235.627222,Set2,C1,A1,B89A222A-3234-4967-A308-F5A62CCCD364.png
1,224.584612,204.774450,160.101859,230.305657,211.288694,168.293320,20.685172,73.288775,224.584612,21.008766,68.718611,230.305657,Set2,C1,A1,41955A6C-4962-4CEC-B8F3-08A956E916B4.png
2,224.985959,205.399886,160.539567,229.573005,210.752699,167.527230,20.854070,73.111598,224.985959,21.160864,68.983037,229.573005,Set2,C1,A1,F65D6CFE-5C0F-4985-AC65-FF4C1D51EC64.png
3,230.291291,212.894570,170.803344,236.339907,218.195844,177.520331,21.506290,66.031897,230.291535,20.947001,63.543381,236.339907,Set2,C1,A1,03A1BF92-0BE6-4C5B-8E26-255D6E691A45.png
4,230.758137,213.740687,170.583313,236.379839,218.369451,176.877039,21.829153,66.632984,230.758137,21.190894,64.275708,236.379839,Set2,C1,A1,9690DDF5-C1FC-48E2-8B04-80FECD22D7AD.png

In [304]:
table_C1Set3 = pd.read_excel(Set3, sheet_name='C1_3')
table_C1Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,227.818602,225.902118,203.108108,223.420826,222.259719,202.638260,27.819008,27.672429,227.818602,28.438276,23.685415,223.424722,Set3,C1,A1,1E917833-3707-473C-843B-5D63B350CBC4.png
1,227.561399,225.619024,203.121662,223.814057,222.611963,203.133187,27.702053,27.371398,227.561399,28.367746,23.525850,223.814707,Set3,C1,A1,A3CA5A69-EA09-4AC6-8695-83F9567E6484.png
2,234.851392,233.896193,216.654573,231.597841,230.678760,213.613830,32.369775,20.360847,235.147066,30.703920,20.152098,231.757244,Set3,C1,A1,80A2301F-B67E-45B2-BC09-8FA4D1A48A1F.png
3,234.923058,233.953738,216.678354,231.912669,231.062170,213.953738,32.142277,20.379352,235.197630,30.510024,20.027757,232.034088,Set3,C1,A1,78E24865-B50B-4EFD-BF2F-3CFD4D484A5A.png
4,234.920136,233.383329,216.709683,231.419528,230.239510,213.071829,32.964532,20.282526,235.119227,30.087249,20.501502,231.532505,Set3,C1,A1,4540C001-2AE9-44DB-BA99-C2A8E72A0F28.png

In [305]:
table_C1Set4 = pd.read_excel(Set4, sheet_name='C1_4')
table_C1Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,224.528529,221.869897,201.528042,222.996591,221.016801,202.831426,29.969240,26.671618,224.662933,30.502394,23.629170,223.127587,Set4,C1,A1,2CF6DEF9-DF65-4D3E-BEC7-C1664402B848.png
1,223.437464,221.999757,200.332765,222.540216,221.338447,201.955848,31.870384,26.930444,223.615453,31.601575,24.259800,222.698726,Set4,C1,A1,D8408792-B96F-425D-B030-680398046CC9.png
2,222.904147,223.310933,199.236994,222.306550,222.753023,201.415794,33.566269,28.080188,223.489571,34.053242,25.029137,222.841003,Set4,C1,A1,A142A91A-E63C-40DA-A92E-5F3C75892CCC.png
3,222.528691,223.429429,197.865595,222.006736,222.575521,200.150799,33.797013,29.597679,223.472040,34.171577,26.250710,222.613100,Set4,C1,A1,B0BB3A91-5BC2-4617-8DCD-521894FD9820.png
4,222.280903,223.302654,197.358088,220.236507,222.493466,199.077591,33.617239,30.021508,223.324162,35.817710,27.366691,222.514650,Set4,C1,A1,B072BB25-1641-4167-A1A0-0570DB6D6C4B.png

###RGB

In [306]:
clf19=svm.SVC(kernel='poly')

In [307]:
RGB_C1_Set4 = table_C1Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [308]:
RGB_C1_Set2 = table_C1Set2

In [309]:
RGB_C1_Set3 = table_C1Set3

In [310]:
RGB_C1_Set1 = table_C1Set1

In [311]:
RGB_C1_concat0 = pd.concat([RGB_C1_Set2,RGB_C1_Set3,RGB_C1_Set1])

In [312]:
RGB_C1_concat2 = RGB_B1_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [313]:
X_test_C1_RGB = np.array(RGB_C1_Set4)

In [314]:
y_C1_RGB =  table_C1Set4.iloc[:,14:15]

In [315]:
y_test_C1_RGB = np.array(y_C1_RGB)

In [316]:
X_train_C1_RGB = np.array(RGB_C1_concat2)

In [317]:
y_train_C1RGB = RGB_C1_concat0.iloc[:,14:15]

In [318]:
y_train_C1_RGB = np.array(y_train_C1RGB)

In [319]:
clf19.fit(X_train_C1_RGB, y_train_C1_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [320]:
y_pred_C1_RGB = clf19.predict(X_test_C1_RGB)

In [321]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))

Accuracy: 0.09625

###HSV

In [322]:
clf20=svm.SVC(kernel='poly')

In [323]:
HSV_C1_Set4 = table_C1Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [324]:
HSV_C1_concat2 = RGB_C1_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [325]:
X_test_C1_HSV = np.array(HSV_C1_Set4)

In [326]:
y_C1_HSV =  table_C1Set4.iloc[:,14:15]

In [327]:
y_test_C1_HSV = np.array(y_C1_RGB)

In [328]:
X_train_C1_HSV = np.array(HSV_C1_concat2)

In [329]:
y_train_C1HSV = RGB_C1_concat0.iloc[:,14:15]

In [330]:
y_train_C1_HSV = np.array(y_train_C1HSV)

In [331]:
clf20.fit(X_train_C1_HSV, y_train_C1_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [332]:
y_pred_C1_HSV = clf20.predict(X_test_C1_HSV)

In [333]:
print("Accuracy:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))

Accuracy: 0.2675

##C2

In [334]:
table_C2Set1 = pd.read_excel(Set1 , sheet_name='C2_1')
table_C2Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,228.128399,209.481617,168.929551,238.900982,227.335687,196.292022,20.629007,66.230257,228.128399,21.892298,45.558883,238.900982,Set1,C2,A1,94B8BCF4-0790-415E-94D6-F74A6D812F9C.png
1,232.343803,214.231069,173.598328,241.553040,229.825258,198.621135,20.953413,64.534453,232.343803,21.823553,45.385521,241.553040,Set1,C2,A1,6C2D0804-8381-4BFF-BF38-C0AC1273E618.png
2,227.926467,209.045857,167.911290,239.013473,227.020615,195.775830,20.735573,67.206233,227.926467,21.711874,46.204772,239.013473,Set1,C2,A1,8BD8561A-0908-4A45-9B23-E1BB2A03640B.png
3,228.438276,209.707329,168.904472,239.703109,227.941320,196.619106,20.693369,66.508563,228.438276,21.818440,45.907313,239.703109,Set1,C2,A1,6021A5FE-EFB1-4650-84F4-27408DAFC2BA.png
4,231.572600,213.134729,171.677786,241.126532,228.892541,196.361902,20.992777,66.004464,231.572600,21.846035,47.391608,241.126532,Set1,C2,A1,1D2C4DD2-FF5D-446F-ADC8-BB6C6E19BF79.png

In [335]:
table_C2Set2 = pd.read_excel(Set2, sheet_name='C2_2')
table_C2Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,223.834997,203.294132,155.432838,233.741255,217.463436,175.532668,21.194140,78.050564,223.834997,21.964207,63.601006,233.741255,Set2,C2,A1,374ED3C9-7FB3-4644-A77B-ABBC2258721E.png
1,224.786624,204.017937,155.761302,234.882152,218.268566,176.222141,21.237643,78.439007,224.786624,21.884912,63.757568,234.882152,Set2,C2,A1,64D55779-CEF4-4F38-97BC-1A3DE682F831.png
2,216.484052,194.257690,144.569759,227.440549,210.377891,166.510916,20.974353,84.742716,216.484052,21.969483,68.348754,227.440549,Set2,C2,A1,F118F5AE-2FE5-4E9C-9041-D0E6CBA214C1.png
3,217.360766,195.442740,146.893840,228.777697,211.227985,169.192355,20.795552,82.686470,217.360766,21.562860,66.463355,228.777697,Set2,C2,A1,8D1015B6-7F0D-4679-A728-EF724A18B2DB.png
4,217.773882,194.996023,145.284636,228.916728,210.752455,167.680951,20.839705,84.911614,217.773882,21.446879,68.277981,228.916728,Set2,C2,A1,A98B9E63-26D7-49D1-A84B-0E4BC3823C9A.png

In [336]:
table_C2Set3 = pd.read_excel(Set3, sheet_name='C2_3')
table_C2Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,224.339502,221.420502,184.252252,226.546384,226.711387,201.594919,28.058518,45.579985,224.347699,30.401997,28.289506,226.731515,Set3,C2,A1,DAB2B542-FF26-450C-BCEE-FBBC6F0F0A5A.png
1,224.509212,221.405324,185.049184,226.622839,226.994887,202.495009,27.894002,44.885805,224.524146,30.819982,27.606850,227.009821,Set3,C2,A1,8D944785-B0B9-442C-9A61-E154610BF547.png
2,232.356546,230.652463,204.214593,234.186267,235.507426,216.451587,32.354111,31.782404,232.702216,34.162649,21.046831,235.704894,Set3,C2,A1,0F8A345A-32E7-44C0-A010-1E1E53B041D7.png
3,224.081325,220.816411,187.180018,226.355653,225.935720,205.252658,27.356383,42.099343,224.086032,29.972243,24.114763,226.686551,Set3,C2,A1,B7E55179-C0B2-42BB-8575-1A1AA5F17A1A.png
4,232.423748,230.300950,204.238374,234.490220,234.585504,216.386819,32.349485,31.873306,232.759110,32.626004,20.599545,235.178476,Set3,C2,A1,5A6D201F-9F7E-44D9-8B97-2AE2BDD7E590.png

In [337]:
table_C2Set4 = pd.read_excel(Set4, sheet_name='C2_4')
table_C2Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,214.223196,206.460920,171.776317,219.823472,214.976625,192.192517,24.837026,50.509942,214.223196,24.576820,32.089847,219.823472,Set4,C2,A1,97434DCB-317D-460E-B141-4F5F00BD8237.png
1,212.681601,207.304927,170.254444,217.632335,215.876796,189.451343,26.587615,50.842789,212.681601,28.227579,32.987501,217.632335,Set4,C2,A1,86674BAB-7B95-47B9-B2F4-6A08EA9A553C.png
2,221.180992,216.522523,184.700674,225.146254,223.309390,200.091632,28.391770,42.694262,221.243406,28.135784,28.562130,225.164110,Set4,C2,A1,36D924E3-369D-4810-8013-7F212B48F6E7.png
3,220.357357,218.064280,183.539485,224.517572,225.018343,198.871764,30.524146,43.355409,220.524795,31.154371,29.803425,225.041880,Set4,C2,A1,7656ABAF-7260-4953-A918-AB1E537D8E13.png
4,212.290399,207.958364,170.210373,217.551822,216.707816,189.454996,27.002110,50.616346,212.290399,29.156318,32.942537,217.552471,Set4,C2,A1,19D7369E-892D-44FC-A9F2-7C097487F05A.png

###RGB

In [338]:
clf21=svm.SVC(kernel='poly')

In [339]:
RGB_C2_Set4 = table_C2Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [340]:
RGB_C2_Set2 = table_C2Set2

In [341]:
RGB_C2_Set3 = table_C2Set3

In [342]:
RGB_C2_Set1 = table_C2Set1

In [343]:
RGB_C2_concat0 = pd.concat([RGB_C2_Set2,RGB_C2_Set3,RGB_C2_Set1])

In [344]:
RGB_C2_concat2 = RGB_C2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [345]:
X_test_C2_RGB = np.array(RGB_C2_Set4)

In [346]:
y_C2_RGB =  table_C2Set4.iloc[:,14:15]

In [347]:
y_test_C2_RGB = np.array(y_B2_RGB)

In [348]:
X_train_C2_RGB = np.array(RGB_C2_concat2)

In [349]:
y_train_C2RGB = RGB_C2_concat0.iloc[:,14:15]

In [350]:
y_train_C2_RGB = np.array(y_train_C2RGB)

In [351]:
clf21.fit(X_train_C2_RGB, y_train_C2_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [352]:
y_pred_C2_RGB = clf21.predict(X_test_C2_RGB)

In [353]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))

Accuracy: 0.8225

###HSV

In [354]:
clf22=svm.SVC(kernel='poly')

In [355]:
HSV_C2_Set4 = table_C2Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [356]:
HSV_C2_concat2 = RGB_C2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [357]:
X_test_C2_HSV = np.array(HSV_C2_Set4)

In [358]:
y_C2_HSV =  table_C2Set4.iloc[:,14:15]

In [359]:
y_test_C2_HSV = np.array(y_C2_RGB)

In [360]:
X_train_C2_HSV = np.array(HSV_C2_concat2)

In [361]:
y_train_C2HSV = RGB_C2_concat0.iloc[:,14:15]

In [362]:
y_train_C2_HSV = np.array(y_train_C2HSV)

In [363]:
clf22.fit(X_train_C2_HSV, y_train_C2_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [364]:
y_pred_C2_HSV = clf22.predict(X_test_C2_HSV)

In [365]:
print("Accuracy:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))

Accuracy: 0.3075

##C3

In [366]:
table_C3Set1 = pd.read_excel(Set1 , sheet_name='C3_1')
table_C3Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,228.339177,207.544112,163.680870,239.537619,227.646376,195.415470,20.288532,72.272705,228.339177,21.913725,47.061440,239.537619,Set1,C3,A1,8397A717-3D12-4648-BD3F-CE1F787AB8C2.png
1,228.171577,207.106891,161.981738,238.811460,226.681438,193.663014,20.299894,74.043178,228.171577,22.002354,48.269215,238.811460,Set1,C3,A1,A9FD8AA5-8101-465A-B35F-6E192FDA7776.png
2,228.786219,207.199821,161.594432,239.737765,227.060791,193.406136,20.157779,74.960717,228.786219,21.809106,49.353786,239.737765,Set1,C3,A1,D8B8E0A9-7FD9-444D-9917-BEC6A0BCA620.png
3,225.123448,203.137570,156.810730,236.348592,224.091226,189.985715,20.125396,77.433406,225.123448,22.101209,50.100722,236.348592,Set1,C3,A1,B6F793CB-821E-4980-BE99-FEE76D08FC11.png
4,228.860807,207.235371,160.406704,239.286665,226.509293,191.597111,20.407434,76.346887,228.860807,22.026784,50.895544,239.286665,Set1,C3,A1,DB93C8AE-E996-4EC9-9AD4-DBC68B6E726A.png

In [367]:
table_C3Set2 = pd.read_excel(Set2, sheet_name='C3_2')
table_C3Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,215.469605,188.643535,134.585586,228.624056,210.199821,165.529340,20.113059,95.799692,215.469605,21.562130,70.470903,228.624056,Set2,C3,A1,458C8A30-28C6-4609-91F0-D2469DFEDA5B.png
1,222.640289,196.111111,143.656846,236.571950,217.947082,174.435922,20.058599,90.571626,222.640289,21.277088,67.036929,236.571950,Set2,C3,A1,07704C9B-608B-41B4-A3A4-C6DF8E2A8EC4.png
2,217.074994,188.451262,134.943511,229.738414,209.495739,165.563834,19.459541,96.547196,217.074994,20.395585,71.276276,229.738414,Set2,C3,A1,945887F0-416B-4C86-B18E-603E66F21AC1.png
3,224.116143,197.132132,144.835809,237.816492,218.489571,175.799286,19.913725,90.287558,224.116143,20.751968,66.555880,237.816492,Set2,C3,A1,3B522047-038B-4387-9487-718BC435AF50.png
4,223.621053,196.794091,144.382680,237.161188,217.884831,174.220842,19.962178,90.444931,223.621053,20.955848,67.716094,237.161188,Set2,C3,A1,EC132633-69E1-4804-B8DA-446EFB6FF262.png

In [368]:
table_C3Set3 = pd.read_excel(Set3, sheet_name='C3_3')
table_C3Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,228.212158,224.712442,188.563834,233.111355,234.974434,216.331061,28.836620,44.808944,228.306956,35.841896,20.611476,235.011850,Set3,C3,A1,3FC4EFF4-2124-46E0-8229-DA2B35001036.png
1,221.601818,216.808457,176.526256,225.197468,227.044233,206.252739,27.287071,51.949436,221.624381,33.244055,23.343803,227.057219,Set3,C3,A1,E523862E-01DF-42D9-93CB-972A4CA079DB.png
2,227.920218,224.504261,188.484133,233.149744,235.116792,216.237887,28.969240,44.639315,228.036685,35.866001,20.822417,235.139518,Set3,C3,A1,C69133CE-D8A7-45E8-AA2C-E958093BB83D.png
3,222.139274,217.311744,177.135054,225.576495,227.546465,206.684279,27.281308,51.718611,222.157130,33.582258,23.339096,227.549874,Set3,C3,A1,F9412807-4065-46FC-B596-D5BA2113D00B.png
4,228.165327,224.586316,189.205178,233.475692,235.183832,216.601575,28.818927,44.038552,228.266374,35.343397,20.536564,235.258015,Set3,C3,A1,8A94704C-925E-4B15-8701-ED2E2A7AE8F7.png

In [369]:
table_C3Set4 = pd.read_excel(Set4, sheet_name='C3_4')
table_C3Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,199.311338,188.579742,151.778265,214.126207,208.775586,187.712118,23.025160,60.839948,199.311338,23.727295,31.535103,214.126207,Set4,C3,A1,D4EECEDB-5CA4-46C9-B28C-63893A5BAF78.png
1,199.714471,191.414739,146.359549,214.158185,210.944647,183.051132,25.632984,68.205422,199.714471,26.791007,37.068826,214.158835,Set4,C3,A1,E89E9E85-D827-4D54-98B4-0E0F3DD6FDD0.png
2,209.306063,203.118416,163.367746,219.686714,218.865758,190.291535,30.893190,57.990748,209.607743,30.091632,34.675757,219.921922,Set4,C3,A1,D1227CC3-C06E-4905-A0CF-6A7B8EEFC412.png
3,209.418310,204.265401,163.993426,219.638422,220.089197,190.624056,31.432757,57.436166,209.753754,31.469848,34.836539,220.495495,Set4,C3,A1,45839274-7758-459E-B7AB-079108195369.png
4,198.527636,192.259395,144.755539,212.014528,211.983605,180.581365,26.796607,69.132781,198.527636,29.969077,38.310283,212.483321,Set4,C3,A1,4B027C83-D177-47FD-BBAE-4F98F0F0B1F0.png

###RGB

In [370]:
clf23=svm.SVC(kernel='poly')

In [371]:
RGB_C3_Set4 = table_C3Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [372]:
RGB_C3_Set2 = table_C3Set2

In [373]:
RGB_C3_Set3 = table_C3Set3

In [374]:
RGB_C3_Set1 = table_C3Set1

In [375]:
RGB_C3_concat0 = pd.concat([RGB_C3_Set2,RGB_C3_Set3,RGB_C3_Set1])

In [376]:
RGB_C3_concat2 = RGB_C3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [377]:
X_test_C3_RGB = np.array(RGB_C3_Set4)

In [378]:
y_C3_RGB =  table_C3Set4.iloc[:,14:15]

In [379]:
y_test_C3_RGB = np.array(y_C3_RGB)

In [380]:
X_train_C3_RGB = np.array(RGB_C3_concat2)

In [381]:
y_train_C3RGB = RGB_C3_concat0.iloc[:,14:15]

In [382]:
y_train_C3_RGB = np.array(y_train_C3RGB)

In [383]:
clf23.fit(X_train_C3_RGB, y_train_C3_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [384]:
y_pred_C3_RGB = clf23.predict(X_test_C3_RGB)

In [385]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))

Accuracy: 0.33

###HSV

In [386]:
clf24=svm.SVC(kernel='poly')

In [387]:
HSV_C3_Set4 = table_C3Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [388]:
HSV_C3_concat2 = RGB_C3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [389]:
X_test_C3_HSV = np.array(HSV_C3_Set4)

In [390]:
y_C3_HSV =  table_C3Set4.iloc[:,14:15]

In [391]:
y_test_C3_HSV = np.array(y_C3_RGB)

In [392]:
X_train_C3_HSV = np.array(HSV_C3_concat2)

In [393]:
y_train_C3HSV = RGB_C3_concat0.iloc[:,14:15]

In [394]:
y_train_C3_HSV = np.array(y_train_C3HSV)

In [395]:
clf24.fit(X_train_C3_HSV, y_train_C3_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [396]:
y_pred_C3_HSV = clf24.predict(X_test_C3_HSV)

In [397]:
print("Accuracy:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))

Accuracy: 0.205

##C4

In [398]:
table_C4Set1 = pd.read_excel(Set1 , sheet_name='C4_1')
table_C4Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,225.852853,200.187322,158.156968,240.666829,227.906176,202.641669,18.446068,76.453940,225.852853,19.995211,40.334794,240.666829,Set1,C4,A1,D5D842D5-1273-4723-A726-1A56F4AE5B90.png
1,225.812028,200.084084,156.577226,240.615210,227.521143,201.248194,18.797419,78.206639,225.812028,20.062414,41.756351,240.615210,Set1,C4,A1,0323B3D5-373A-4B67-8908-4387145AD384.png
2,225.554825,199.871114,157.255418,240.093418,227.313449,201.876390,18.579336,77.253307,225.554825,19.998620,40.612694,240.093418,Set1,C4,A1,4059EA80-E8B2-4BD1-865B-98C77A4271AD.png
3,227.168168,200.489327,157.431215,241.935638,228.331629,201.508887,18.435760,78.328869,227.168168,19.982712,42.658145,241.935638,Set1,C4,A1,9DBC26C8-CA9B-4987-AF57-9BAF1BDBCA28.png
4,220.914780,195.137164,153.609528,236.367259,223.750345,197.916159,18.281065,77.737440,220.914780,20.161026,41.506858,236.367259,Set1,C4,A1,EF49A765-DB1A-4F23-956C-3110E993E4A1.png

In [399]:
table_C4Set2 = pd.read_excel(Set2, sheet_name='C4_2')
table_C4Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,208.531450,176.759029,120.602224,229.351838,209.378947,166.277494,19.044396,107.627546,208.531450,20.512945,70.183670,229.351838,Set2,C4,A1,D458FCD6-5D52-48CD-B212-68184F5B135C.png
1,215.254444,184.739632,129.886779,235.099911,215.718205,173.232043,19.155345,101.399968,215.254444,20.655629,67.184157,235.099911,Set2,C4,A1,0316EB79-14E9-4056-93AC-80D4D57B3DE1.png
2,215.253470,184.610989,129.389092,234.102995,214.648081,171.476909,19.158266,102.004220,215.253470,20.734924,68.300706,234.102995,Set2,C4,A1,EEF2F908-CA38-4AFA-AB84-8C1A9D2E54CC.png
3,216.750588,186.255336,131.347050,235.531775,216.268241,173.953088,19.140816,100.744988,216.750588,20.708871,66.739632,235.531775,Set2,C4,A1,1EA15613-AACE-4B44-A2A5-F480B1A912C4.png
4,218.058031,188.345264,133.296405,236.213781,217.083110,174.423748,19.369613,99.343073,218.058031,20.841003,66.794010,236.213781,Set2,C4,A1,3DA8E4D4-65A1-40BE-8906-DDBB40FA6647.png

In [400]:
table_C4Set3 = pd.read_excel(Set3, sheet_name='C4_3')
table_C4Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,223.653194,218.266212,170.170522,229.192273,230.856424,211.489246,27.817710,61.291616,223.691259,34.468874,21.533966,230.929795,Set3,C4,A1,1BDD234B-AF82-462E-AE9C-B9F424AF15CA.png
1,223.801153,217.838812,170.575440,229.542407,230.436004,211.713822,27.317831,60.943024,223.830290,33.232286,21.096421,230.753835,Set3,C4,A1,96AC2C34-161B-42E9-ADF7-84C2FB33D103.png
2,223.811704,218.155426,170.760166,229.387631,231.092281,211.781024,27.505965,60.743203,223.841247,34.479344,21.418229,231.143170,Set3,C4,A1,2B37D6CB-6E6B-4042-96AA-3A2B5FB871AC.png
3,224.080188,218.291048,171.307443,229.851635,231.511484,212.285285,27.451181,60.379758,224.122068,34.474150,21.356952,231.587615,Set3,C4,A1,130DCFB5-7AE9-49BB-A881-5A08A0ED63F8.png
4,225.015502,219.103644,172.707654,230.933690,232.079620,213.598003,27.314098,59.597111,225.054785,33.649460,20.631280,232.264670,Set3,C4,A1,B02AE283-B3E2-401F-AEE9-DC33E0828C79.png

In [401]:
table_C4Set4 = pd.read_excel(Set4, sheet_name='C4_4')
table_C4Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,204.460758,191.779401,152.960474,218.728918,213.325785,193.901794,27.087655,65.681357,204.528123,25.190325,29.276844,218.765685,Set4,C4,A1,E3CE1857-A5E9-4928-8A37-28BF6EAD7BCD.png
1,203.112653,195.627546,150.388848,217.082217,217.204123,191.091794,28.584774,67.642967,203.247951,31.467576,31.064524,217.320347,Set4,C4,A1,4820BBED-F65E-4F90-A5EA-283E55866371.png
2,203.696616,196.178800,151.406298,217.191137,217.276844,191.324487,28.645808,67.003896,203.834835,31.291535,30.869735,217.372859,Set4,C4,A1,2FC399A9-267E-4661-B647-4052082C40FD.png
3,204.336336,192.744826,152.782566,219.045451,214.668615,193.800828,27.093337,65.761302,204.420826,25.856992,29.693450,219.070530,Set4,C4,A1,93A6C829-4545-4D47-BFB4-721B7DB40A5D.png
4,202.898628,195.274004,150.578849,216.810080,216.768201,190.808701,28.501583,67.263209,203.041393,31.174174,31.090252,217.010389,Set4,C4,A1,A20513B8-796D-41B5-9512-94978DE63964.png

###RGB

In [402]:
clf25=svm.SVC(kernel='poly')

In [403]:
RGB_C4_Set4 = table_C4Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [404]:
RGB_C4_Set2 = table_C4Set2

In [405]:
RGB_C4_Set3 = table_C4Set3

In [406]:
RGB_C4_Set1 = table_C4Set1

In [407]:
RGB_C4_concat0 = pd.concat([RGB_C4_Set2,RGB_C4_Set3,RGB_C4_Set1])

In [408]:
RGB_C4_concat2 = RGB_C4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [409]:
X_test_C4_RGB = np.array(RGB_C4_Set4)

In [410]:
y_C4_RGB =  table_C4Set4.iloc[:,14:15]

In [411]:
y_test_C4_RGB = np.array(y_C4_RGB)

In [412]:
X_train_C4_RGB = np.array(RGB_C4_concat2)

In [413]:
y_train_C4RGB = RGB_C4_concat0.iloc[:,14:15]

In [414]:
y_train_C4_RGB = np.array(y_train_C4RGB)

In [415]:
clf25.fit(X_train_C4_RGB, y_train_C4_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [416]:
y_pred_C4_RGB = clf25.predict(X_test_C4_RGB)

In [417]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))

Accuracy: 0.40625

###HSV

In [418]:
clf26=svm.SVC(kernel='poly')

In [419]:
HSV_C4_Set4 = table_C4Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [420]:
HSV_C4_concat2 = RGB_C4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [421]:
X_test_C4_HSV = np.array(HSV_C4_Set4)

In [422]:
y_C4_HSV =  table_C4Set4.iloc[:,14:15]

In [423]:
y_test_C4_HSV = np.array(y_C4_RGB)

In [424]:
X_train_C4_HSV = np.array(HSV_C4_concat2)

In [425]:
y_train_C4HSV = RGB_C4_concat0.iloc[:,14:15]

In [426]:
y_train_C4_HSV = np.array(y_train_C4HSV)

In [427]:
clf26.fit(X_train_C4_HSV, y_train_C4_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [428]:
y_pred_C4_HSV = clf26.predict(X_test_C4_HSV)

In [429]:
print("Accuracy:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))

Accuracy: 0.39125

#DD

##D2

In [430]:
table_D2Set1 = pd.read_excel(Set1 , sheet_name='D2_1')
table_D2Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,229.583394,213.054785,176.437870,238.772421,224.774369,189.324649,20.675838,59.052674,229.583394,21.531856,52.912588,238.772421,Set1,D2,A1,BD87D607-5718-45C1-A0DB-D75E63316FD0.png
1,229.591592,213.256716,176.007223,238.752617,224.901144,188.755864,20.913075,59.534697,229.591592,21.802451,53.506371,238.752617,Set1,D2,A1,FC1BDDC8-C8A7-4C8D-90F6-E6B112FC674F.png
2,225.561724,210.018992,175.575278,234.206152,220.701079,185.125801,20.498255,56.504423,225.561724,21.809675,53.523172,234.206152,Set1,D2,A1,27DD78A7-D5F3-4BAB-BFE1-8D2D8AB88D29.png
3,229.641101,213.017693,175.801315,238.640451,224.732246,188.280172,20.738252,59.797500,229.641101,21.780050,53.933609,238.640451,Set1,D2,A1,25A38DEA-0A5E-4502-AE98-BDEB123DF4E5.png
4,230.944566,214.487866,178.085464,239.433325,225.713091,190.028650,20.642561,58.362146,230.944566,21.763493,52.720071,239.433325,Set1,D2,A1,7396F2FB-8C50-4ED7-AA8C-CDAE1624F900.png

In [431]:
table_D2Set2 = pd.read_excel(Set2, sheet_name='D2_2')
table_D2Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,223.870140,204.404269,166.035793,230.604091,211.606688,169.541920,19.496794,65.854395,223.870140,20.977518,67.536726,230.604091,Set2,D2,A1,A6D6A816-ECBC-4ED1-B85A-8F26782873EF.png
1,229.075562,211.141141,173.022401,236.169223,218.777047,179.655872,20.204610,62.463842,229.075562,20.870627,61.099180,236.170522,Set2,D2,A1,52B93F5E-D972-447C-AEDB-70944733A2A8.png
2,228.920704,210.064605,172.952277,235.362227,217.619511,179.418797,19.545735,62.396559,228.920704,20.456700,60.686389,235.363769,Set2,D2,A1,8370F6EB-C2ED-4089-AC6F-305D3AC1923F.png
3,229.088629,210.121906,173.959013,235.853421,217.836458,179.304277,19.504261,61.411330,229.088873,20.310446,61.215405,235.853908,Set2,D2,A1,F1432EC0-7542-4437-B03B-DB680757388E.png
4,225.360604,206.122474,166.622920,230.679571,211.719828,169.646295,19.893190,66.454427,225.360604,20.951708,67.486730,230.679571,Set2,D2,A1,505DFE06-9B70-46E3-A447-DE5E271DD472.png

In [432]:
table_D2Set3 = pd.read_excel(Set3, sheet_name='D2_3')
table_D2Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,224.047967,224.033520,207.333983,223.920623,224.360928,203.512621,30.058193,19.687444,224.575197,30.925087,24.168493,224.839867,Set3,D2,A1,3AADDE41-0882-4926-9B9C-6656A010A4EE.png
1,231.694343,231.112004,216.498255,232.533236,232.533561,214.600276,33.427969,17.646457,232.224657,32.275302,20.491437,233.153640,Set3,D2,A1,714B814C-2029-4CEC-A3D1-65155C21DB01.png
2,231.474474,230.964532,216.527960,232.049184,231.799286,213.397289,33.242837,17.464492,232.048779,31.347861,21.069962,232.469767,Set3,D2,A1,FF69DBAD-BCEF-42E0-83C9-26D79EA6F346.png
3,231.408977,231.515705,216.520899,231.553851,232.501015,213.941076,34.583881,17.636231,232.208912,33.395909,20.834348,232.785326,Set3,D2,A1,D42344C1-B458-48E7-AD35-55850D1E18D6.png
4,231.896843,231.149907,216.603117,231.761789,231.679328,213.081000,32.781187,17.713335,232.403052,31.429592,21.248194,232.328545,Set3,D2,A1,72143F35-55D4-4615-B8A3-072FC23D36C0.png

In [433]:
table_D2Set4 = pd.read_excel(Set4, sheet_name='D2_4')
table_D2Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,216.479994,210.505316,189.805373,219.211184,213.217434,189.106404,23.501015,31.425290,216.479994,24.000000,35.024998,219.211184,Set4,D2,A1,57BFDCD4-3FCB-482B-8F6D-695AB03BA132.png
1,219.203555,219.187809,191.554419,223.412223,224.409545,195.440549,30.992452,32.712361,219.496307,34.011119,33.579661,224.508481,Set4,D2,A1,A825D098-CB80-4BA0-A769-BC31330B5A5C.png
2,218.680383,218.572762,191.082055,222.532181,223.692882,194.622352,30.816168,32.708952,218.942618,34.348835,33.758705,223.726483,Set4,D2,A1,320A36C6-A45F-4855-9C69-70F4995F981B.png
3,219.164354,219.247464,192.305251,223.331872,224.525607,195.723074,31.092525,31.780781,219.425371,34.175148,33.268891,224.547115,Set4,D2,A1,F5718C08-AC9E-4216-9E16-B19FC8625FC9.png
4,219.010957,218.934989,192.454671,222.925574,223.953413,195.302411,30.990423,31.407921,219.218408,34.047723,33.232368,224.015096,Set4,D2,A1,55184FAB-0359-4CF4-99A1-A38B75A169D0.png

###RGB

In [434]:
clf27=svm.SVC(kernel='poly')

In [435]:
RGB_D2_Set4 = table_D2Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [436]:
RGB_D2_Set2 = table_D2Set2

In [437]:
RGB_D2_Set3 = table_D2Set3

In [438]:
RGB_D2_Set1 = table_D2Set1

In [439]:
RGB_D2_concat0 = pd.concat([RGB_D2_Set2,RGB_D2_Set3,RGB_D2_Set1])

In [440]:
RGB_D2_concat2 = RGB_D2_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [441]:
X_test_D2_RGB = np.array(RGB_D2_Set4)

In [442]:
y_D2_RGB =  table_D2Set4.iloc[:,14:15]

In [443]:
y_test_D2_RGB = np.array(y_D2_RGB)

In [444]:
X_train_D2_RGB = np.array(RGB_D2_concat2)

In [445]:
y_train_D2RGB = RGB_D2_concat0.iloc[:,14:15]

In [446]:
y_train_D2_RGB = np.array(y_train_D2RGB)

In [447]:
clf27.fit(X_train_D2_RGB, y_train_D2_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [448]:
y_pred_D2_RGB = clf27.predict(X_test_D2_RGB)

In [449]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))

Accuracy: 0.5025

###HSV

In [450]:
clf28=svm.SVC(kernel='poly')

In [451]:
HSV_D2_Set4 = table_D2Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [452]:
HSV_D2_concat2 = RGB_D2_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [453]:
X_test_D2_HSV = np.array(HSV_D2_Set4)

In [454]:
y_D2_HSV =  table_D2Set4.iloc[:,14:15]

In [455]:
y_test_D2_HSV = np.array(y_D2_RGB)

In [456]:
X_train_D2_HSV = np.array(HSV_D2_concat2)

In [457]:
y_train_D2HSV = RGB_D2_concat0.iloc[:,14:15]

In [458]:
y_train_D2_HSV = np.array(y_train_D2HSV)

In [459]:
clf28.fit(X_train_D2_HSV, y_train_D2_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [460]:
y_pred_D2_HSV = clf28.predict(X_test_D2_HSV)

In [461]:
print("Accuracy:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))

Accuracy: 0.15875

##D3

In [462]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3_1')
table_D3Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,228.510511,211.399805,175.184319,237.226199,228.016476,200.901469,20.272380,59.524146,228.510511,22.376836,39.147553,237.226199,Set1,D3,A1,57601EF7-37D5-4783-A278-238D30F60912.png
1,228.129129,211.503612,175.244136,236.603766,227.822904,200.566918,20.523496,59.110705,228.129129,22.657739,38.919893,236.603766,Set1,D3,A1,5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2,228.871520,211.994724,175.859914,237.001867,227.893028,200.972648,20.373590,59.093418,228.871520,22.452398,38.869410,237.001867,Set1,D3,A1,456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3,228.052187,210.838731,175.080513,236.595244,227.451100,200.969889,20.101534,59.246652,228.052187,22.265238,38.493791,236.595244,Set1,D3,A1,834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4,228.468063,211.528610,175.837919,236.582664,227.768688,201.413522,20.250872,58.743933,228.468063,22.447934,37.983524,236.582664,Set1,D3,A1,714E83ED-391B-480A-85E8-DC4AB8864683.png

In [463]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3_2')
table_D3Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,232.070936,209.067283,157.989692,239.136353,222.454022,182.198766,20.832481,81.497362,232.070936,21.497606,60.831426,239.136515,Set2,D3,A1,BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1,231.924276,208.816249,157.763737,238.650597,222.199740,181.596137,20.876796,81.647025,231.924763,21.632254,61.066472,238.650597,Set2,D3,A1,40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2,231.976301,208.732814,158.072884,238.462787,221.327652,181.318399,20.747910,81.345995,231.976788,21.251765,61.224170,238.463031,Set2,D3,A1,59338A02-6279-42FF-A2CA-E970BAE29C55.png
3,233.108108,209.612856,159.696940,239.666099,222.948381,182.487298,20.677867,80.425371,233.108514,21.529665,60.947407,239.666261,Set2,D3,A1,847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4,232.364013,208.626410,158.721776,238.341937,221.653194,181.328220,20.579498,80.896031,232.364094,21.536239,61.111273,238.342099,Set2,D3,A1,836F8028-4744-4B50-BFA8-DD71556DC524.png

In [464]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3_3')
table_D3Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,223.749939,218.688256,185.588670,224.648162,224.088467,204.161919,26.238455,43.511566,223.749939,29.548576,23.516030,224.913725,Set3,D3,A1,44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1,223.229446,218.799286,185.235695,223.347780,224.171090,204.055921,26.580229,43.402808,223.229446,31.396315,23.223602,224.513595,Set3,D3,A1,2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2,231.389011,227.308011,197.692720,232.099992,233.084652,214.497443,28.709358,37.558072,231.518546,33.361415,20.789222,233.360847,Set3,D3,A1,CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3,231.245759,227.019154,197.674864,231.538674,232.307686,214.288369,28.604740,37.467170,231.369694,33.379190,20.277007,232.606038,Set3,D3,A1,74C493A4-A4F6-472E-A771-763A75C24A4F.png
4,231.607418,226.976706,198.049671,231.928171,232.661472,214.373265,28.067770,37.334875,231.714634,33.294132,20.571220,233.012418,Set3,D3,A1,962C3361-D41F-42C8-B4E2-D58066BB75ED.png

In [465]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3_4')
table_D3Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,217.785164,210.489814,177.815599,219.728106,217.491113,196.398994,25.174418,47.126857,217.790845,28.017044,27.326922,219.753997,Set4,D3,A1,55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1,216.702622,211.844655,176.770717,219.304764,219.402484,195.478370,27.183670,47.346969,216.722506,31.401266,28.252820,219.528691,Set4,D3,A1,039D73E5-8D95-487A-9124-4544316E1B0B.png
2,216.531288,212.261261,176.254281,219.164272,219.511971,194.524876,27.714958,47.786868,216.571301,31.655791,29.340557,219.515624,Set4,D3,A1,FB040BAB-00C0-4A01-963B-59CF94123044.png
3,216.601331,212.061277,176.402808,219.089197,219.272867,194.946514,27.562779,47.670157,216.635419,31.411330,28.615859,219.292833,Set4,D3,A1,33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4,216.838487,211.749696,176.877283,219.165814,218.988718,195.300138,26.679166,47.329762,216.852853,30.968103,28.250710,219.335931,Set4,D3,A1,89130C74-286A-4614-9CCF-2423B2AC601B.png

###RGB

In [466]:
clf29=svm.SVC(kernel='poly')

In [467]:
RGB_D3_Set4 = table_D3Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [468]:
RGB_D3_Set2 = table_D3Set2

In [469]:
RGB_D3_Set3 = table_D3Set3

In [470]:
RGB_D3_Set1 = table_D3Set1

In [471]:
RGB_D3_concat0 = pd.concat([RGB_D3_Set2,RGB_D3_Set3,RGB_D3_Set1])

In [472]:
RGB_D3_concat2 = RGB_D3_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [473]:
X_test_D3_RGB = np.array(RGB_D3_Set4)

In [474]:
y_D3_RGB =  table_D3Set4.iloc[:,14:15]

In [475]:
y_test_D3_RGB = np.array(y_D3_RGB)

In [476]:
X_train_D3_RGB = np.array(RGB_D3_concat2)

In [477]:
y_train_D3RGB = RGB_D3_concat0.iloc[:,14:15]

In [478]:
y_train_D3_RGB = np.array(y_train_D3RGB)

In [479]:
clf29.fit(X_train_D3_RGB, y_train_D3_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [480]:
y_pred_D3_RGB = clf29.predict(X_test_D3_RGB)

In [481]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))

Accuracy: 0.64

###HSV

In [482]:
clf30=svm.SVC(kernel='poly')

In [483]:
HSV_D3_Set4 = table_D3Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [484]:
HSV_D3_concat2 = RGB_D3_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [485]:
X_test_D3_HSV = np.array(HSV_D3_Set4)

In [486]:
y_D3_HSV =  table_D3Set4.iloc[:,14:15]

In [487]:
y_test_D3_HSV = np.array(y_D3_RGB)

In [488]:
X_train_D3_HSV = np.array(HSV_D3_concat2)

In [489]:
y_train_D3HSV = RGB_D3_concat0.iloc[:,14:15]

In [490]:
y_train_D3_HSV = np.array(y_train_D3HSV)

In [491]:
clf30.fit(X_train_D3_HSV, y_train_D3_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [492]:
y_pred_D3_HSV = clf30.predict(X_test_D3_HSV)

In [493]:
print("Accuracy:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))

Accuracy: 0.39625

##D4

In [494]:
table_D4Set1 = pd.read_excel(Set1 , sheet_name='D4_1')
table_D4Set1.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,227.056245,211.571463,168.959419,237.027108,227.815437,201.336336,22.046668,65.277169,227.056245,22.217271,38.458648,237.027108,Set1,D4,A1,D47BC759-4BF1-40D8-9D68-52766A1B3358.png
1,233.195520,218.202419,174.711468,242.102995,233.097557,206.069962,22.280253,63.967535,233.195520,22.487866,37.996754,242.102995,Set1,D4,A1,63D0E875-9DA6-4483-BB03-E54DC1E8BC87.png
2,233.881828,218.251035,175.251684,242.403701,232.743771,206.657495,22.110624,63.980683,233.881828,22.006574,37.638341,242.403701,Set1,D4,A1,779692A7-DE00-4434-843B-AEB78B8B0AF8.png
3,234.888483,217.971512,172.875497,242.177908,231.738171,202.928740,22.057706,67.348186,234.888483,21.964938,41.334713,242.177908,Set1,D4,A1,18456DEB-40B5-49F7-B753-562994BE1B43.png
4,235.071910,217.812921,173.771285,241.939778,231.022644,203.341531,21.915023,66.522604,235.071910,21.506452,40.718611,241.939778,Set1,D4,A1,72376331-D805-4BAC-AE50-7A04A6729880.png

In [495]:
table_D4Set2 = pd.read_excel(Set2, sheet_name='D4_2')
table_D4Set2.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,221.452966,198.663258,140.723480,231.151368,212.407353,169.323269,21.725672,92.970944,221.452966,21.146822,68.220599,231.151368,Set2,D4,A1,797683A5-C868-494F-A26C-B587A80C35FB.png
1,225.967129,204.788329,149.623570,234.655060,217.866732,176.751238,21.869653,86.252739,225.967129,21.674945,63.030760,234.655060,Set2,D4,A1,768E32A5-C3FF-468D-A2DA-784E5201EAB8.png
2,225.045532,203.394449,148.004383,233.944485,216.094635,174.729162,21.779239,87.409220,225.045532,21.248438,64.638179,233.944485,Set2,D4,A1,B16EC514-E307-4DF1-B38E-4D502BECAE1E.png
3,227.891567,205.473095,150.025728,236.328139,218.400698,177.037659,21.584287,87.221654,227.891567,21.185293,64.026702,236.328220,Set2,D4,A1,4B4FB3F9-B796-4241-8FE6-890C04EEBA34.png
4,227.365311,204.793036,149.139599,235.596218,217.444039,175.850337,21.570571,87.843844,227.365311,21.106891,64.754322,235.596380,Set2,D4,A1,D5FF5062-E4EF-473A-B716-33BA16B096B9.png

In [496]:
table_D4Set3 = pd.read_excel(Set3, sheet_name='D4_3')
table_D4Set3.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,231.312718,229.332846,187.148121,234.541109,236.123610,217.425128,30.688824,49.165652,231.471228,35.281471,20.662446,236.251359,Set3,D4,A1,3A5F6D09-99D2-4DEF-A84E-1C755C8C0F51.png
1,231.009983,229.433163,186.349241,234.042204,235.769580,216.835646,30.641912,49.742878,231.160701,35.171902,20.849038,235.842139,Set3,D4,A1,6CE1839C-EF38-4BF3-9001-31D2061BB09F.png
2,223.148933,221.010551,172.842464,225.536645,226.867543,205.968834,28.866488,57.512215,223.148933,32.132700,23.575603,227.029218,Set3,D4,A1,B319E47C-7852-49A4-B164-3542207CFA46.png
3,223.467332,221.197305,173.193166,225.564970,226.801883,205.962097,28.783216,57.368314,223.467332,32.019154,23.550361,227.004058,Set3,D4,A1,EF20FEEB-0DB3-44BF-9EDC-D5125F2B28F5.png
4,230.788654,229.074507,186.421638,234.264427,235.860807,216.970944,30.631929,49.504586,230.957065,34.932392,20.844655,235.978898,Set3,D4,A1,1DEB6322-D495-4E37-AFC9-1FD3EE0103A4.png

In [497]:
table_D4Set4 = pd.read_excel(Set4, sheet_name='D4_4')
table_D4Set4.head()

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,222.000649,215.940183,169.227579,230.647025,225.388605,204.753023,27.807970,61.131889,222.041636,26.301355,28.931418,230.716906,Set4,D4,A1,C5F56A54-2D34-4B30-986F-F5C15CDF3EC4.png
1,213.700024,210.818278,155.321484,220.924681,219.924032,190.222547,28.318724,69.625842,213.700024,28.999351,35.383410,220.924681,Set4,D4,A1,E1E6AA11-2B77-40D9-A177-059926CC439D.png
2,219.873630,217.722669,167.356627,228.433325,227.523821,201.805941,30.037659,61.510592,219.985066,31.519033,30.358007,228.646214,Set4,D4,A1,74A96958-C7AA-4963-AA46-D100224ADF7D.png
3,213.412142,210.128723,155.428861,220.942050,219.982875,190.649704,28.015908,69.228634,213.412142,29.040825,34.900170,220.942537,Set4,D4,A1,CA71D6C8-B603-4820-8CBF-DE4735A760F9.png
4,213.226524,210.383654,155.314341,220.492006,219.883857,190.357276,28.151286,69.178476,213.226524,29.391851,34.873630,220.587777,Set4,D4,A1,DC8E94B0-D1C9-4C1B-910E-4CDC0E62706B.png

###RGB

In [498]:
clf31=svm.SVC(kernel='poly')

In [499]:
RGB_D4_Set4 = table_D4Set4.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [500]:
RGB_D4_Set2 = table_D4Set2

In [501]:
RGB_D4_Set3 = table_D4Set3

In [502]:
RGB_D4_Set1 = table_D4Set1

In [503]:
RGB_D4_concat0 = pd.concat([RGB_D4_Set2,RGB_D4_Set3,RGB_D4_Set1])

In [504]:
RGB_D4_concat2 = RGB_D4_concat0.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [505]:
X_test_D4_RGB = np.array(RGB_D4_Set4)

In [506]:
y_D4_RGB =  table_D4Set4.iloc[:,14:15]

In [507]:
y_test_D4_RGB = np.array(y_D4_RGB)

In [508]:
X_train_D4_RGB = np.array(RGB_D4_concat2)

In [509]:
y_train_D4RGB = RGB_D4_concat0.iloc[:,14:15]

In [510]:
y_train_D4_RGB = np.array(y_train_D4RGB)

In [511]:
clf31.fit(X_train_D4_RGB, y_train_D4_RGB)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [512]:
y_pred_D4_RGB = clf31.predict(X_test_D4_RGB)

In [513]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

Accuracy: 0.7425

###HSV

In [514]:
clf32=svm.SVC(kernel='poly')

In [515]:
HSV_D4_Set4 = table_D4Set4.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [516]:
HSV_D4_concat2 = RGB_D4_concat0.drop(['R-ref','G-ref','B-ref','R-Shad','G-Shad','B-Shad','Setting','Ref','Shad','Img'], axis=1)

In [517]:
X_test_D4_HSV = np.array(HSV_D4_Set4)

In [518]:
y_D4_HSV =  table_D4Set4.iloc[:,14:15]

In [519]:
y_test_D4_HSV = np.array(y_D4_RGB)

In [520]:
X_train_D4_HSV = np.array(HSV_D4_concat2)

In [521]:
y_train_D4HSV = RGB_D4_concat0.iloc[:,14:15]

In [522]:
y_train_D4_HSV = np.array(y_train_D4HSV)

In [523]:
clf32.fit(X_train_D4_HSV, y_train_D4_HSV)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='poly')

In [524]:
y_pred_D4_HSV = clf32.predict(X_test_D4_HSV)

In [525]:
print("Accuracy:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

Accuracy: 0.55

#Accuracy

##RGB

In [526]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB))

A1 มี Accuracy เท่ากับ: 0.7675
A2 มี Accuracy เท่ากับ: 0.93
A3 มี Accuracy เท่ากับ: 0.8925
A3.5 มี Accuracy เท่ากับ: 0.355
A4 มี Accuracy เท่ากับ: 0.7775
B1 มี Accuracy เท่ากับ: 0.57375
B2 มี Accuracy เท่ากับ: 0.55375
B3 มี Accuracy เท่ากับ: 0.76625
B4 มี Accuracy เท่ากับ: 0.53875
C1 มี Accuracy เท่ากับ: 0.09625
C2 มี Accuracy เท่ากับ: 0.8225
C3 มี Accuracy เท่ากับ: 0.33
C4 มี Accuracy เท่ากับ: 0.40625
D2 มี Accuracy เท่ากับ: 0.5025
D3 มี Accuracy เท่ากับ: 0.64
D4 มี Accuracy เท่ากับ: 0.7425

In [527]:
RGB_AC_A1 = metrics.accuracy_score(y_test_A1_RGB, y_pred_A1_RGB)
RGB_AC_A2 = metrics.accuracy_score(y_test_A2_RGB, y_pred_A2_RGB)
RGB_AC_A3 = metrics.accuracy_score(y_test_A3_RGB, y_pred_A3_RGB)
RGB_AC_A35 = metrics.accuracy_score(y_test_A3_5_RGB, y_pred_A3_5_RGB)
RGB_AC_A4 = metrics.accuracy_score(y_test_A4_RGB, y_pred_A4_RGB)
RGB_AC_B1 = metrics.accuracy_score(y_test_B1_RGB, y_pred_B1_RGB)
RGB_AC_B2 = metrics.accuracy_score(y_test_B2_RGB, y_pred_B2_RGB)
RGB_AC_B3 = metrics.accuracy_score(y_test_B3_RGB, y_pred_B3_RGB)
RGB_AC_B4 = metrics.accuracy_score(y_test_B4_RGB, y_pred_B4_RGB)
RGB_AC_C1 = metrics.accuracy_score(y_test_C1_RGB, y_pred_C1_RGB)
RGB_AC_C2 = metrics.accuracy_score(y_test_C2_RGB, y_pred_C2_RGB)
RGB_AC_C3 = metrics.accuracy_score(y_test_C3_RGB, y_pred_C3_RGB)
RGB_AC_C4 = metrics.accuracy_score(y_test_C4_RGB, y_pred_C4_RGB)
RGB_AC_D2 = metrics.accuracy_score(y_test_D2_RGB, y_pred_D2_RGB)
RGB_AC_D3 = metrics.accuracy_score(y_test_D3_RGB, y_pred_D3_RGB)
RGB_AC_D4 = metrics.accuracy_score(y_test_D4_RGB, y_pred_D4_RGB)

In [528]:
RGB_AC =  (RGB_AC_A1,RGB_AC_A2,RGB_AC_A3,RGB_AC_A35,
           RGB_AC_A4,RGB_AC_B1,RGB_AC_B2,RGB_AC_B3,
           RGB_AC_B4,RGB_AC_C1,RGB_AC_C2,RGB_AC_C3,
           RGB_AC_C4,RGB_AC_D2,RGB_AC_D3,RGB_AC_D4)

In [529]:
RGB_AC

(0.7675,
 0.93,
 0.8925,
 0.355,
 0.7775,
 0.57375,
 0.55375,
 0.76625,
 0.53875,
 0.09625,
 0.8225,
 0.33,
 0.40625,
 0.5025,
 0.64,
 0.7425)

In [530]:
list_RGB_AC = list()
list_RGB_AC.append(RGB_AC)

In [531]:
Cols = ['Set4_rgb'] 
S1_1 = pd.DataFrame(RGB_AC,columns= Cols)
S1_1

    Set4_rgb
0    0.76750
1    0.93000
2    0.89250
3    0.35500
4    0.77750
5    0.57375
6    0.55375
7    0.76625
8    0.53875
9    0.09625
10   0.82250
11   0.33000
12   0.40625
13   0.50250
14   0.64000
15   0.74250

##HSV

In [532]:
print("A1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV))
print("A2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV))
print("A3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV))
print("A3.5 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV))
print("A4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV))
print("B1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV))
print("B2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV))
print("B3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV))
print("B4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV))
print("C1 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV))
print("C2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV))
print("C3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV))
print("C4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV))
print("D2 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV))
print("D3 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV))
print("D4 มี Accuracy เท่ากับ:", metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV))

A1 มี Accuracy เท่ากับ: 0.5325
A2 มี Accuracy เท่ากับ: 0.59375
A3 มี Accuracy เท่ากับ: 0.54
A3.5 มี Accuracy เท่ากับ: 0.23875
A4 มี Accuracy เท่ากับ: 0.47
B1 มี Accuracy เท่ากับ: 0.37625
B2 มี Accuracy เท่ากับ: 0.46
B3 มี Accuracy เท่ากับ: 0.41625
B4 มี Accuracy เท่ากับ: 0.2875
C1 มี Accuracy เท่ากับ: 0.2675
C2 มี Accuracy เท่ากับ: 0.3075
C3 มี Accuracy เท่ากับ: 0.205
C4 มี Accuracy เท่ากับ: 0.39125
D2 มี Accuracy เท่ากับ: 0.15875
D3 มี Accuracy เท่ากับ: 0.39625
D4 มี Accuracy เท่ากับ: 0.55

In [533]:
HSV_AC_A1 = metrics.accuracy_score(y_test_A1_HSV, y_pred_A1_HSV)
HSV_AC_A2 = metrics.accuracy_score(y_test_A2_HSV, y_pred_A2_HSV)
HSV_AC_A3 = metrics.accuracy_score(y_test_A3_HSV, y_pred_A3_HSV)
HSV_AC_A35 = metrics.accuracy_score(y_test_A3_5_HSV, y_pred_A3_5_HSV)
HSV_AC_A4 = metrics.accuracy_score(y_test_A4_HSV, y_pred_A4_HSV)
HSV_AC_B1 = metrics.accuracy_score(y_test_B1_HSV, y_pred_B1_HSV)
HSV_AC_B2 = metrics.accuracy_score(y_test_B2_HSV, y_pred_B2_HSV)
HSV_AC_B3 = metrics.accuracy_score(y_test_B3_HSV, y_pred_B3_HSV)
HSV_AC_B4 = metrics.accuracy_score(y_test_B4_HSV, y_pred_B4_HSV)
HSV_AC_C1 = metrics.accuracy_score(y_test_C1_HSV, y_pred_C1_HSV)
HSV_AC_C2 = metrics.accuracy_score(y_test_C2_HSV, y_pred_C2_HSV)
HSV_AC_C3 = metrics.accuracy_score(y_test_C3_HSV, y_pred_C3_HSV)
HSV_AC_C4 = metrics.accuracy_score(y_test_C4_HSV, y_pred_C4_HSV)
HSV_AC_D2 = metrics.accuracy_score(y_test_D2_HSV, y_pred_D2_HSV)
HSV_AC_D3 = metrics.accuracy_score(y_test_D3_HSV, y_pred_D3_HSV)
HSV_AC_D4 = metrics.accuracy_score(y_test_D4_HSV, y_pred_D4_HSV)

In [534]:
HSV_AC =  (HSV_AC_A1,HSV_AC_A2,HSV_AC_A3,HSV_AC_A35,
           HSV_AC_A4,HSV_AC_B1,HSV_AC_B2,HSV_AC_B3,
           HSV_AC_B4,HSV_AC_C1,HSV_AC_C2,HSV_AC_C3,
           HSV_AC_C4,HSV_AC_D2,HSV_AC_D3,HSV_AC_D4)

In [535]:
list_HSV_AC = list()
list_HSV_AC.append(RGB_AC)

In [536]:
Cols = ['Set4_hsv'] 
S1_2 = pd.DataFrame(HSV_AC,columns= Cols)
S1_2

    Set4_hsv
0    0.53250
1    0.59375
2    0.54000
3    0.23875
4    0.47000
5    0.37625
6    0.46000
7    0.41625
8    0.28750
9    0.26750
10   0.30750
11   0.20500
12   0.39125
13   0.15875
14   0.39625
15   0.55000

In [537]:
name =  ('A1','A2','A3','A3.5','A4','B1','B2','B3','B4','C1','C2','C3','C4','D2','D3','D4')

In [538]:
Cols = ['shade'] 
S1_3 = pd.DataFrame(name,columns= Cols)
S1_3

   shade
0     A1
1     A2
2     A3
3   A3.5
4     A4
5     B1
6     B2
7     B3
8     B4
9     C1
10    C2
11    C3
12    C4
13    D2
14    D3
15    D4

In [539]:
Data_RF = pd.concat([S1_3,S1_1,S1_2], axis=1)
Data_RF

   shade  Set4_rgb  Set4_hsv
0     A1   0.76750   0.53250
1     A2   0.93000   0.59375
2     A3   0.89250   0.54000
3   A3.5   0.35500   0.23875
4     A4   0.77750   0.47000
5     B1   0.57375   0.37625
6     B2   0.55375   0.46000
7     B3   0.76625   0.41625
8     B4   0.53875   0.28750
9     C1   0.09625   0.26750
10    C2   0.82250   0.30750
11    C3   0.33000   0.20500
12    C4   0.40625   0.39125
13    D2   0.50250   0.15875
14    D3   0.64000   0.39625
15    D4   0.74250   0.55000

In [540]:
Data_RF.to_csv('Data_AcSVMset4.csv', index=False)