<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/Test_datapoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import cv2
import numpy as np

In [2]:
!pip install azure-storage-blob==2.1.0

Collecting azure-storage-blob==2.1.0
  Downloading azure_storage_blob-2.1.0-py2.py3-none-any.whl (88 kB)
     |████████████████████████████████| 88 kB 6.3 MB/s
Collecting azure-common>=1.1.5
  Downloading azure_common-1.1.28-py2.py3-none-any.whl (14 kB)
Collecting azure-storage-common~=2.1
  Downloading azure_storage_common-2.1.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 5.1 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.23.0)
Collecting cryptography
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 25.4 MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.8.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.21)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->azure-storage-common~=2.1->azure-storage-blob==2.1.0) (2.10)
Installing collected packages: cryptography, azure-common, azure-storage-common, azure-storage-blob
Successfully installed azure-common-1.1.28 azure-storage-blob-2.1.0 azure-storage-common-2.1.0 cryptography-36.0.1

In [3]:
from azure.storage.blob import BlockBlobService
import os
blob_service_client = BlockBlobService(account_name='dent01', account_key='CuShY0B4TZJ84TjzPpaHxyrHOpO73aGXeCpdVq7x26OjIlQ1HOz+3DVc9pDEj9BdcEL8odFuTRF0mOAE+aCgiw==')

In [ ]:
img = 'D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png'

In [ ]:
list_total1 = list()
list_total2 = list()
list_total3 = list()
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
S5meanrefA1_1 =  S5RGB_imgA1A1_1[1769:1881,2019:2131] #ลองดูพิกัดใหม่
S5meanA1_2 = S5RGB_imgA1A1_1[1770:1880,2015:2145]
S5meanrefA1_1 = np.array(S5meanrefA1_1[0])
S5meanA1_2 = np.array(S5meanA1_2[0])
S5rgbrefA1_1 = list()
S5rgbA1_2 = list()
for i in range(3):
  S5rgbrefA1_1.append(S5meanrefA1_1[:,i].mean())
  S5rgbA1_2.append(S5meanA1_2[:,i].mean())
list_total1.append(S5rgbrefA1_1)
list_total2.append(S5rgbA1_2)
list_total1[0].extend(list_total2[0])
list_total3 = list_total1

In [ ]:
list_total3

[[231.90178571428572,
  215.35714285714286,
  184.02678571428572,
  231.0,
  214.5076923076923,
  182.98461538461538]]

In [ ]:
S5rgbrefA1_1

[231.90178571428572, 215.35714285714286, 184.02678571428572]

In [ ]:
list_total3

[[231.90178571428572,
  215.35714285714286,
  184.02678571428572,
  231.0,
  214.5076923076923,
  182.98461538461538]]

In [ ]:
list_total

[([231.90178571428572, 215.35714285714286, 184.02678571428572],
  [231.0, 214.5076923076923, 182.98461538461538])]

In [ ]:
S5meanrefA1_1.shape

(112, 3)

In [ ]:
G1[0]

array([[225, 206, 176],
       [226, 207, 177],
       [225, 206, 176],
       ...,
       [ 57,  55,  58],
       [ 62,  60,  63],
       [ 63,  61,  64]], dtype=uint8)

In [ ]:
# list_total = list()
# S5_double = img
# full_path_to_file2 = os.path.join(S5_double) 
# blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
# imagee = cv2.imread(S5_double)
# S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
# S5meanrefA1_1 = list()
# for i in range(S5RGB_imgA1A1_1.shape[0]): 
#     for j in range(S5RGB_imgA1A1_1.shape[1]): 
#           if 1769<i<1881 and 2019<j<2131 :
#              new_img = S5RGB_imgA1A1_1[i][j]
#           if 1770<i<1880 and 2015<j<2145 :
#              new_img = S5RGB_imgA1A1_1[i][j]
# S5meanrefA1_1 = np.array(S5meanrefA1_1)
# S5meanA1_2 = np.array(S5meanrefA1_1)
# S5rgbrefA1_1 = list()
# for i in range(3):
#   S5rgbrefA1_1.append(S5meanrefA1_1[:,i].mean())
#   S5rgbrefA1_1.append(S5meanA1_2[:,i].mean())
# list_total.append(S5rgbrefA1_1)

In [ ]:
new_img

array([225, 206, 176], dtype=uint8)

In [ ]:
S5RGB_imgA1A1_1.shape

(3024, 4032, 3)

In [ ]:
# list_total = list()
# S5_double = img
# full_path_to_file2 = os.path.join(S5_double) 
# blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
# imagee = cv2.imread(S5_double)
# S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)
# S5meanrefA1_1 = list()
# for i in range(S5RGB_imgA1A1_1.shape[0]): 
#   for j in range(S5RGB_imgA1A1_1.shape[1]): 
#       if 1769<i<1881 and 2019<j<2131 :
#           S5meanrefA1_1.append(S5RGB_imgA1A1_1[i][j]) 
#       if 1770<i<1880 and 2015<j<2145 :
#           S5meanrefA1_1.append(S5RGB_imgA1A1_1[i][j])
# S5meanrefA1_1 = np.array(S5meanrefA1_1)
# S5meanA1_2 = np.array(S5meanrefA1_1)
# S5rgbrefA1_1 = list()
# for i in range(3):
#   S5rgbrefA1_1.append(S5meanrefA1_1[:,i].mean())
#   S5rgbrefA1_1.append(S5meanA1_2[:,i].mean())
# list_total.append(S5rgbrefA1_1)

In [ ]:
S5meanrefA1_1

array([[230, 214, 181],
       [231, 215, 182],
       [233, 217, 184],
       ...,
       [222, 203, 173],
       [222, 203, 173],
       [225, 206, 176]], dtype=uint8)

In [ ]:
S5meanrefA1_1.shape

(26382, 3)

In [ ]:
list_total12 = list()
list_total22 = list()
S5_double2 = img
image2  = cv2.imread(S5_double2) #RGB
S1RGB_imgA1A1_12= cv2.cvtColor(image2, cv2.COLOR_BGR2RGB)
S1meanrefA1_12 = list()
for i in range(S1RGB_imgA1A1_12.shape[0]): 
  for j in range(S1RGB_imgA1A1_12.shape[1]): 
        if 1769<i<1881 and 2019<j<2131 :
          S1meanrefA1_12.append(S1RGB_imgA1A1_12[i][j]) 
S1meanrefA1_12 = np.array(S1meanrefA1_12)
S1rgbrefA1_12 = list()
for i in range(3):
   S1rgbrefA1_12.append(S1meanrefA1_12[:,i].mean())
list_total12.append(S1rgbrefA1_12)

S1meanA1_22 = list()
for i in range(S1RGB_imgA1A1_12.shape[0]): 
  for j in range(S1RGB_imgA1A1_12.shape[1]): 
      if 1770<i<1880 and 2015<j<2145 :
        S1meanA1_22.append(S1RGB_imgA1A1_12[i][j])  
S1meanA1_22 = np.array(S1meanA1_22)
# S1rgbA1_2 = list()
# for i in range(3):
#   S1rgbA1_2.append(S1meanA1_2[:,i].mean())
# list_total2.append(S1rgbA1_2)
# list_total1[0].extend(list_total2[0])
# list_total3 = list_total1

In [ ]:
list_total3

[[227.33065497930363,
  209.00048697345994,
  176.54403051700348,
  227.05412132849727,
  208.74084346774768,
  176.32529692056042]]

In [ ]:
S1meanrefA1_12

array([[230, 214, 181],
       [231, 215, 182],
       [233, 217, 184],
       ...,
       [222, 203, 173],
       [222, 203, 173],
       [225, 206, 176]], dtype=uint8)

In [ ]:
S1meanrefA1_12.shape

(12321, 3)

In [ ]:
# list_total1 = list()
# for img in A1_set11['Img']:
#   S1_double = img
#   full_path_to_file2 = os.path.join(S1_double) 
#   blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
#   imgS1_A1A1_1  = cv2.imread(S1_double) #RGB
#   S1RGB_imgA1A1_1= cv2.cvtColor(imgS1_A1A1_1, cv2.COLOR_BGR2RGB)
#   S1meanrefA1_1 = list()
#   S1meanrefA1_2 = list()
#   for i in range(S1RGB_imgA1A1_1.shape[0]): 
#      for j in range(S1RGB_imgA1A1_1.shape[1]): 
#                 if 1769<i<1881 and 2019<j<2131 :
#                   S1meanrefA1_1.append(S1RGB_imgA1A1_1[i][j]) 
#                 if 1770<i<1880 and 2015<j<2145 :
#                   S1meanrefA1_2.append(S1RGB_imgA1A1_1[i][j])
#   S1meanrefA1_1 = np.array(S1meanrefA1_1)
#   S1meanrefA1_2 = np.array(S1meanrefA1_2)
#   S1rgbrefA1_1 = list()
#   S1rgbrefA1_2 = list()
#   for i in range(3):
#     S1rgbrefA1_1.append(S1meanrefA1_1[:,i].mean())
#     S1rgbrefA1_2.append(S1meanrefA1_2[:,i].mean())
#   list_total1.append((S1rgbrefA1_1,S1rgbrefA1_2))

In [ ]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)

S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)

In [ ]:
print("Rref:", Rref)
print("Gref:", Gref)
print("Bref:", Bref)
print("R:", R)
print("G:", G)
print("B:", B)

Rref: 223.53331710088466
Gref: 203.5586397208019
Bref: 165.84230176122068
R: 223.5033781381125
G: 203.4553018988692
B: 165.91209729037763

In [ ]:
list_total

[227.33065497930363,
 209.00048697345994,
 176.54403051700348,
 227.05412132849727,
 208.74084346774768,
 176.32529692056042]

In [ ]:
list_total2 = list()
list_total2.append(list_total)

In [ ]:
list_total2

[[227.33065497930363,
  209.00048697345994,
  176.54403051700348,
  227.05412132849727,
  208.74084346774768,
  176.32529692056042]]

#ตาราง

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [ ]:
import os

In [ ]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting4.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting2.xlsx',
 'D3set51.csv',
 'Setting1.xlsx',
 'CheckerDD.xlsx',
 'Setting3.xlsx',
 'Setting6.xlsx',
 'Setting5.xlsx',
 'checkerShad_A .xlsx',
 'checkerShad_B.xlsx',
 'checkerShad_C.xlsx',
 'D3Set5-61.xlsx',
 'checkerShad_D.xlsx',
 'Color-checkerDD.xlsx']

In [ ]:
AA = os.path.join(path,'Color-checkerDD.xlsx')

In [ ]:
A1_set1= pd.read_excel(AA, sheet_name='D3_1')
A1_set1

                               ชื่อไฟล์ข้อมูล  ...                หมายเหตุ
0                                         NaN  ...                     NaN
1    6914F243-996E-49C6-B061-4B5873910254.png  ...  Duration 1/100 ISO 630
2    0F4CC07F-2FB9-430D-8A7D-256916A5E5AC.png  ...  Duration 1/100 ISO 630
3    D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png  ...  Duration 1/100 ISO 630
4    3AD826D5-B618-4F47-BB57-2052C33EFAAE.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
160  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png  ...  Duration 1/100 ISO 630
161  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png  ...  Duration 1/100 ISO 630
162  8D59BE41-F7B8-48AA-80D2-89C33B5C1139.png  ...  Duration 1/100 ISO 630
163  1CFB9D44-9FE7-404B-AC34-F96C5CF881C8.png  ...  Duration 1/100 ISO 630
164  95F3176B-A2FF-4A86-A11C-65F69D4900DE.png  ...  Duration 1/100 ISO 630

[165 rows x 7 columns]

In [ ]:
A1_set1.rename(columns={"รหัสเฉดไกด์": "Ref"},inplace=True)

In [ ]:
A1_set1.rename(columns={"Unnamed: 2":"Shad"},inplace=True)

In [ ]:
A1_set1.rename(columns={"ชื่อไฟล์ข้อมูล":"Img"},inplace=True)

In [ ]:
A1_set1 = A1_set1.iloc[3:162,:]

In [ ]:
table1= A1_set1[['Ref', 'Shad','Img']]
table1

    Ref Shad                                       Img
3    D3   A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
4    D3   A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
5    D3   A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
6    D3   A1  9131592F-9798-4457-ACD3-8109CCA36224.png
7    D3   A1  653769F4-F724-4660-A3EE-76C3101A90E5.png
..   ..  ...                                       ...
157  D3   D4  6FDBB895-E3C9-419F-9B20-3FBB5B0A3A2B.png
158  D3   D4  2F892491-DF86-4A29-9407-01669B26879A.png
159  D3   D4  B9632EBA-E90D-4574-8ED0-6E880ECBAD76.png
160  D3   D4  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png
161  D3   D4  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png

[159 rows x 3 columns]

In [ ]:
A1_set11 = A1_set1
A1_set11

                                          Img  ...                หมายเหตุ
3    D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png  ...  Duration 1/100 ISO 630
4    3AD826D5-B618-4F47-BB57-2052C33EFAAE.png  ...  Duration 1/100 ISO 630
5    14BDB65A-A5B9-48B4-9F79-1C078570A88D.png  ...  Duration 1/100 ISO 630
6    9131592F-9798-4457-ACD3-8109CCA36224.png  ...  Duration 1/100 ISO 630
7    653769F4-F724-4660-A3EE-76C3101A90E5.png  ...  Duration 1/100 ISO 630
..                                        ...  ...                     ...
157  6FDBB895-E3C9-419F-9B20-3FBB5B0A3A2B.png  ...  Duration 1/100 ISO 630
158  2F892491-DF86-4A29-9407-01669B26879A.png  ...  Duration 1/100 ISO 630
159  B9632EBA-E90D-4574-8ED0-6E880ECBAD76.png  ...  Duration 1/100 ISO 630
160  4BA3C8CF-5469-4252-A5C9-D702506A49EB.png  ...  Duration 1/100 ISO 630
161  FAAE3E0E-8887-4F38-B98A-BB9B3AC9DDE9.png  ...  Duration 1/100 ISO 630

[159 rows x 7 columns]

In [4]:
import pandas as pd

In [ ]:
for img in A1_set11['Img']:
    S5_double = img
    full_path_to_file2 = os.path.join(S5_double) 
    blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
    imagee = cv2.imread(S5_double)
    S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)

    S5meanrefA1_1 =  S5RGB_imgA1A1_1[1769:1881,2019:2131]
    S5meanA1_2 = S5RGB_imgA1A1_1[1770:1880,2015:2145]
    S5refA1_1 = np.array(S5meanrefA1_1[0])
    S5refA1_2 = np.array(S5meanA1_2[0])
    Rref = S5refA1_1[:,0].mean()
    Gref = S5refA1_1[:,1].mean()
    Bref = S5refA1_1[:,2].mean()
    R = S5refA1_2[:,0].mean()
    G = S5refA1_2[:,1].mean()
    B = S5refA1_2[:,2].mean()
    
    list_total = list()
    list_total.append(Rref)
    list_total.append(Gref)
    list_total.append(Bref)
    list_total.append(R)
    list_total.append(G)
    list_total.append(B)
    list_total2 = list()
    list_total2.append(list_total)

In [ ]:
list_total2

[[224.55357142857142,
  202.25892857142858,
  151.08035714285714,
  224.93846153846152,
  202.53076923076924,
  151.5]]

In [ ]:
cols=['R-ref', 'G-ref' , 'B-ref', 'R-Shad', 'G-Shad', 'B-Shad']
S1=pd.DataFrame(list_total2,columns=cols)
S1['Setting']='Set1'
S1

        R-ref       G-ref       B-ref      R-Shad      G-Shad  B-Shad Setting
0  224.553571  202.258929  151.080357  224.938462  202.530769   151.5    Set1

In [ ]:
pd.concat([S1,table1], axis=1)

#test model 160 รูป

In [45]:
#load model
import pickle
with open('Model_D3_V5.pkl', 'rb') as pickle_file :
      new_data = pickle.load(pickle_file )

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

In [7]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import os

In [34]:
from sklearn import metrics

In [37]:
from sklearn import datasets

In [38]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [10]:
CC1 = os.path.join(path,'D3Set5-61.xlsx')
print(CC1)

/content/drive/My Drive/shadeimg/SVM shade/D3Set5-61.xlsx

In [12]:
table_D3CC1 = pd.read_excel(CC1 , sheet_name='D3Set51')
table_D3CC1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  228.266131  215.102914  ...    A1  D31A6339-9324-4718-8F1D-F9C86FF1CAC1.png
1  233.271975  219.056732  ...    A1  3AD826D5-B618-4F47-BB57-2052C33EFAAE.png
2  234.316776  220.035711  ...    A1  14BDB65A-A5B9-48B4-9F79-1C078570A88D.png
3  234.348592  219.904878  ...    A1  9131592F-9798-4457-ACD3-8109CCA36224.png
4  233.769986  220.210373  ...    A1  653769F4-F724-4660-A3EE-76C3101A90E5.png

[5 rows x 16 columns]

In [17]:
Set1 = os.path.join(path,'Setting1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Setting1.xlsx

In [18]:
Set2 = os.path.join(path,'Setting2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Setting2.xlsx

In [19]:
Set3 = os.path.join(path,'Setting3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Setting3.xlsx

In [20]:
Set4 = os.path.join(path,'Setting4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Setting4.xlsx

In [21]:
table_D3Set1 = pd.read_excel(Set1 , sheet_name='D3Set1')
table_D3Set1.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  57601EF7-37D5-4783-A278-238D30F60912.png
1  233.194140  219.034007  ...    A1  5412037F-4AF3-43A2-A4ED-CADFEC0751E7.png
2  228.266131  215.102914  ...    A1  456A44EC-FCBD-4487-B70C-F0E01333D15C.png
3  233.271975  219.056732  ...    A1  834A3691-A011-4D07-8652-E2A2C8F1E3F7.png
4  234.316776  220.035711  ...    A1  714E83ED-391B-480A-85E8-DC4AB8864683.png

[5 rows x 16 columns]

In [22]:
table_D3Set2 = pd.read_excel(Set2, sheet_name='D3Set2')
table_D3Set2.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  BA355DCE-C148-4BBE-8A48-F96D2DDEB36B.png
1  233.355381  219.439880  ...    A1  40E1D41D-38C4-42B0-B31F-CA1712DB393E.png
2  228.504662  215.655983  ...    A1  59338A02-6279-42FF-A2CA-E970BAE29C55.png
3  233.467172  219.479118  ...    A1  847D87DE-CDA4-49D8-8411-34DFEAD6A06F.png
4  234.509615  220.490385  ...    A1  836F8028-4744-4B50-BFA8-DD71556DC524.png

[5 rows x 16 columns]

In [23]:
table_D3Set3 = pd.read_excel(Set3, sheet_name='D3Set3 ')
table_D3Set3.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.315883  219.042529  ...    A1  44F32CB2-4AC3-4AA4-B00C-0873A77C39FB.png
1  233.194140  219.034007  ...    A1  2CDD72C1-95CD-437D-861D-22AF8E89C9CD.png
2  228.266131  215.102914  ...    A1  CBFB3E49-B585-4DE7-996B-CB1409AD9FBA.png
3  233.271975  219.056732  ...    A1  74C493A4-A4F6-472E-A771-763A75C24A4F.png
4  234.316776  220.035711  ...    A1  962C3361-D41F-42C8-B4E2-D58066BB75ED.png

[5 rows x 16 columns]

In [24]:
table_D3Set4 = pd.read_excel(Set4, sheet_name='D3Set4')
table_D3Set4.head()

        R-ref       G-ref  ...  Shad                                       Img
0  233.496795  219.459984  ...    A1  55D1922F-F23E-42B3-9163-13EDAA8937B9.png
1  233.355381  219.439880  ...    A1  039D73E5-8D95-487A-9124-4544316E1B0B.png
2  228.504662  215.655983  ...    A1  FB040BAB-00C0-4A01-963B-59CF94123044.png
3  233.467172  219.479118  ...    A1  33D7101E-615D-4D53-BBF4-1FFC799B1FAF.png
4  234.509615  220.490385  ...    A1  89130C74-286A-4614-9CCF-2423B2AC601B.png

[5 rows x 16 columns]

In [14]:
RGB_D3_Set1_tt = table_D3CC1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [41]:
clf=RandomForestClassifier()

In [49]:
RGB_D3_Set4_w1 = table_D3Set4

RGB_D3_Set1_w1 = table_D3Set1

RGB_D3_Set2_w1 = table_D3Set2

RGB_D3_Set3_w1 = table_D3Set3

RGB_D3_concat0_w1 = pd.concat([RGB_D3_Set1_w1,RGB_D3_Set2_w1,RGB_D3_Set3_w1])

RGB_D3_concat1_w1 = pd.concat([RGB_D3_concat0_w1,RGB_D3_Set4_w1])
#รวมตารางของแต่ละ setting เข้าด้วยกันเพื่อใช้ในการ train ข้อมูล

RGB_D3_concat2_w1 = RGB_D3_concat1_w1.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)
#เอาเฉพาะตัวตารางที่เป็น RGB ออกมา

X_test_D3_RGB_w1 = np.array(RGB_D3_Set1_tt)

y_D3_RGB_w1 =  table_D3CC1.iloc[:,14:15]
#ใช้เฉพาะ column shad ในการจับคู่

y_test_D3_RGB_w1 = np.array(y_D3_RGB_w1)#เปลี่ยนให้ค่าในตารางเป็น array 

X_train_D3_RGB_w1 = np.array(RGB_D3_concat2_w1)#เปลี่ยนให้ค่าในตารางเป็น array 

y_train_D3RGB_w1 = RGB_D3_concat1_w1.iloc[:,14:15]#ใช้เฉพาะ column shad ในการจับคู่

y_train_D3_RGB_w1 = np.array(y_train_D3RGB_w1)#เปลี่ยนให้ค่าในตารางเป็น array 

y_train_D3_RGB_w1.shape = (len(y_train_D3_RGB_w1),)

In [50]:
y_train_D3_RGB_w1

array(['A1', 'A1', 'A1', ..., 'D4', 'D4', 'D4'], dtype=object)

In [52]:
clf.fit(X_train_D3_RGB_w1, y_train_D3_RGB_w1) #หาค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของ x_train y_train

RandomForestClassifier()

In [53]:
y_pred_D3_RGB_w1 = clf.predict(X_test_D3_RGB_w1) #ทำการจับคู่สีฟันด้วยวิธี random forest โดยใช้ X_test

In [54]:
metrics.accuracy_score(y_test_D3_RGB_w1, y_pred_D3_RGB_w1)

0.86875

In [55]:
import pickle
with open('Model_D3_V6.pkl', 'wb') as pickle_file :
       pickle.dump(clf, pickle_file )

In [56]:
#load model
import pickle
with open('Model_D3_V6.pkl', 'rb') as pickle_file :
      new_data = pickle.load(pickle_file )

In [57]:
print(new_data)

RandomForestClassifier()

In [58]:
img = 'B42D66D8-5C0A-40B1-AA84-00261E79E347.png' #A3

In [65]:
img = '3C9EFF45-7D0C-49E3-88C4-C2C75ED8262C.png' #B4

In [70]:
img = 'D3803668-F57C-4D0C-989F-A8B28512A28D.png' #A1

In [75]:
img = 'F083945A-EC0A-4B4B-ABEA-8D2D838F071C.png' #C1

In [80]:
img = '84BB9A93-0F2B-4BCE-AF1A-B27245EFC6C8.png' #D3

In [85]:
img = '23117DA5-24D7-456F-BF3E-85F246E21BB8.png' #C2

In [86]:
S5_double = img
full_path_to_file2 = os.path.join(S5_double) 
blob_service_client.get_blob_to_path('shadeimg', full_path_to_file2, full_path_to_file2)
imagee = cv2.imread(S5_double)
S5RGB_imgA1A1_1 = cv2.cvtColor(imagee, cv2.COLOR_BGR2RGB)

S5meanrefA1_1 =  S5RGB_imgA1A1_1[1770:1881,2020:2131]  
S5meanA1_2 = S5RGB_imgA1A1_1[1771:1880,2016:2145]
S5refA1_1 = np.reshape(S5meanrefA1_1,(111*111, 3))
S5refA1_2 = np.reshape(S5meanA1_2,(109*129, 3))
S5refA1_3 = np.array(S5refA1_1)
S5refA1_4 = np.array(S5refA1_2)
Rref = S5refA1_1[:,0].mean()
Gref = S5refA1_1[:,1].mean()
Bref = S5refA1_1[:,2].mean()
R = S5refA1_2[:,0].mean()
G = S5refA1_2[:,1].mean()
B = S5refA1_2[:,2].mean()

list_total = list()
list_total.append(Rref)
list_total.append(Gref)
list_total.append(Bref)
list_total.append(R)
list_total.append(G)
list_total.append(B)

In [87]:
list_total2 = list()
list_total2.append(list_total)

In [88]:
predic_model= new_data.predict(list_total2)

In [89]:
predic_model

array(['C4'], dtype=object)