<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/testoutput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = 'B1'

In [ ]:
data

'B1'

In [4]:
df = pd.read_csv('OUTPUT.csv')

In [5]:
df

   ชื่อเฉดไกด์  ... เทียบเท่าเฉดไกด์ 3D Master
0           A1  ...                    0M1 0M3
1           A2  ...                    0M2 1M2
2           A3  ...                    1M2 0M2
3         A3.5  ...                  2R1.5 2M2
4           A4  ...                 2M3 2R2.5
5           B1  ...                    0M1 0M3
6           B2  ...                    1M1 1M2
7           B3  ...                  2R2.5 2M2
8           B4  ...                    1M1 1M2
9           C1  ...                  2R2.5 2M2
10          C2  ...                  2R2.5 2M2
11          C3  ...                  2R1.5 2M2
12          C4  ...                3R2.5 3R1.5
13          D2  ...                    1M2 0M2
14          D3  ...                  1M1 2R1.5
15          D4  ...                  2R1.5 2M2

[16 rows x 5 columns]

In [10]:
N = df[df['ชื่อเฉดไกด์']== data]

In [11]:
N

  ชื่อเฉดไกด์  ... เทียบเท่าเฉดไกด์ 3D Master
5          B1  ...                    0M1 0M3

[1 rows x 5 columns]

In [15]:
print("เฉดไกด์ที่จับคู่ได้ คือ", N['ชื่อเฉดไกด์'])
print("ค่าสี CIE l a b คือ",N['ค่าสี CIE l a b'])
print("อยู่ในโทนสี คือ", N['โทนสี'])
print("เฉดไกด์ที่จับคู่ได้ใกล้เคียง คือ", N['ชื่อเฉดไกด์ที่ใกล้เคียง'])
print("เทียบเท่าเฉดไกด์ 3D Master คือ", N['เทียบเท่าเฉดไกด์ 3D Master'])

เฉดไกด์ที่จับคู่ได้ คือ 5    B1
Name: ชื่อเฉดไกด์, dtype: object
ค่าสี CIE l a b คือ 5    (78.9,-1.76,12.33)
Name: ค่าสี CIE l a b, dtype: object
อยู่ในโทนสี คือ 5    Reddish-yellowish
Name: โทนสี, dtype: object
เฉดไกด์ที่จับคู่ได้ใกล้เคียง คือ 5    A1 B2
Name: ชื่อเฉดไกด์ที่ใกล้เคียง, dtype: object
เทียบเท่าเฉดไกด์ 3D Master คือ 5    0M1 0M3
Name: เทียบเท่าเฉดไกด์ 3D Master, dtype: object