<a href="https://colab.research.google.com/github/Kggzzz/Project_2021_matchingcolor/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import

In [69]:
import numpy as np
from sklearn import metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import pickle

In [36]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
import os

##Prepare data

In [38]:
path = '/content/drive/My Drive/shadeimg/SVM shade'

In [39]:
os.listdir(path)

['DD.xlsx',
 'CC.xlsx',
 'BB.xlsx',
 'Shade_AA.xlsx',
 'Shade_CC.xlsx',
 'Shade_DD.xlsx',
 'Shade_BB.xlsx',
 'AA.xlsx',
 'AA_2.xlsx',
 'Shad_A.xlsx',
 'Shad_B.xlsx',
 'Shad_C.xlsx',
 'Shad_D.xlsx',
 'Setting4.xlsx',
 'Color-checkerAA.xlsx',
 'Color-checkerBB.xlsx',
 'Color-checkerCC.xlsx',
 'Setting2.xlsx',
 'D3set51.csv',
 'Setting1.xlsx',
 'CheckerDD.xlsx',
 'Setting3.xlsx',
 'Setting6.xlsx',
 'Setting5.xlsx',
 'checkerShad_A .xlsx',
 'checkerShad_B.xlsx',
 'checkerShad_C.xlsx',
 'D3Set5-61.xlsx',
 'checkerShad_D.xlsx',
 'Color-checkerDD.xlsx',
 'Datapoint_1.xlsx',
 'Datapoint_2.xlsx',
 'Datapoint_3.xlsx',
 'Datapoint_4.xlsx',
 'Datapoint_6.xlsx',
 'Datapoint_5.xlsx']

In [40]:
Set1 = os.path.join(path,'Datapoint_1.xlsx')
print(Set1)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_1.xlsx

In [41]:
Set2 = os.path.join(path,'Datapoint_2.xlsx')
print(Set2)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_2.xlsx

In [42]:
Set3 = os.path.join(path,'Datapoint_3.xlsx')
print(Set3)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_3.xlsx

In [43]:
Set4 = os.path.join(path,'Datapoint_4.xlsx')
print(Set4)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_4.xlsx

In [44]:
Set5 = os.path.join(path,'Datapoint_5.xlsx')
print(Set5)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_5.xlsx

In [45]:
Set6 = os.path.join(path,'Datapoint_6.xlsx')
print(Set6)

/content/drive/My Drive/shadeimg/SVM shade/Datapoint_6.xlsx

##train

In [70]:
with open('Model_A2_rgb2.pkl', 'rb') as pickle_file :
    new_data = pickle.load(pickle_file)

###poit1

In [46]:
table_A2Set1 = pd.read_excel(Set1, sheet_name='A2_1')
new_table_A2Set1 = table_A2Set1.iloc[:160,]
new_table_A2Set1

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,236.8857,219.6456,178.9067,240.1290,230.4967,199.8664,21.22734,62.49079,236.8858,22.96810,42.83865,240.1290,Set1,A2,A1,3055D600-52FE-426B-8FB7-F22AD0D97955.png
1,236.5746,219.3545,179.3893,239.5857,229.7970,199.5082,21.18895,61.69597,236.5752,22.82631,42.73841,239.5857,Set1,A2,A1,94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
2,236.5240,219.3535,178.9860,239.6360,230.0293,199.9317,21.23943,62.09715,236.5241,22.90114,42.35452,239.6360,Set1,A2,A1,61347A1C-5E5B-48EE-BB2D-AA9068046272.png
3,236.4670,219.8862,179.6011,239.8989,230.6030,201.2019,21.47529,61.40346,236.4670,22.98904,41.22271,239.9006,Set1,A2,A1,65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
4,238.0596,222.0011,183.8345,240.7766,231.9664,203.7104,21.28139,58.12280,238.0596,23.05795,39.33609,240.7771,Set1,A2,A1,86927B90-BCE2-4CA1-8556-398BF4B5A60E.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,240.9995,224.7844,192.2238,237.3730,221.8348,180.1320,19.92923,51.66480,240.9995,22.07613,61.59890,237.3730,Set1,A2,D4,FA8CE0FA-5EF4-4885-830D-AA08ECF4450F.png
156,236.5861,219.6648,186.6973,233.4462,217.7792,175.7048,19.70384,53.83305,236.5861,22.04691,63.17961,233.4462,Set1,A2,D4,B9C06B5D-7271-4C65-BCED-14D68A9D60B0.png
157,240.6883,225.0318,192.1344,236.9627,222.0253,180.3591,20.21110,51.50767,240.6883,22.25826,60.98807,236.9627,Set1,A2,D4,59A178D0-BB96-4793-898F-CA6B76BE4683.png
158,239.6615,224.4515,191.7407,235.8880,221.6189,179.7123,20.49963,51.04699,239.6615,22.45021,60.79279,235.8880,Set1,A2,D4,E1462C7E-E182-4EC0-8C0B-3D06AE76CB36.png
159,239.7426,224.4548,193.9450,236.2872,221.4411,181.7861,19.95114,48.77047,239.7426,22.01615,58.92314,236.2872,Set1,A2,D4,3C4DEBAA-627D-4A6B-B192-29FDE3C05C13.png

In [47]:
table_A2Set2 = pd.read_excel(Set2, sheet_name='A2_2')
new_table_A2Set2 = table_A2Set2.iloc[:160,]
new_table_A2Set2

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,222.796770,200.285204,154.209967,224.310364,206.788654,166.244298,20.017937,78.591754,222.796770,21.244461,66.062576,224.310364,Set2,A2,A1,77308B8C-A458-48C0-A0EF-DD05DD0AEA75.png
1,221.262398,199.009009,153.821200,221.822985,204.043341,164.173444,19.970944,77.775830,221.262398,20.898141,66.356627,221.822985,Set2,A2,A1,DD37E60E-8484-48E3-8FB4-7E94B71553F4.png
2,221.463923,199.526905,153.253064,222.073127,204.458161,164.190325,20.011038,78.593458,221.463923,21.109326,66.540216,222.073533,Set2,A2,A1,0ED6DB80-7C02-41B3-88E9-CB382B96B37C.png
3,221.655547,199.446717,153.485513,222.719909,204.629007,164.299976,20.023050,78.494846,221.655547,20.838000,66.940427,222.719909,Set2,A2,A1,8B551D28-1E87-49BD-9E20-8B3F5F08FE8E.png
4,222.655872,200.651327,153.816330,223.817466,206.100398,164.879880,20.213294,78.886211,222.655872,21.317913,67.198036,223.817710,Set2,A2,A1,C12D1E9C-5BFA-4DD7-9D3F-194378F9673D.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,228.882721,206.998214,161.164435,221.900982,196.452642,147.627059,20.273841,75.604334,228.885155,19.988881,85.483727,221.900982,Set2,A2,D3,771A753E-C81B-4DD7-9364-9163F1C92B5B.png
156,225.031572,201.984498,153.688580,218.831913,192.929389,143.177908,20.388848,80.863972,225.031572,19.986852,88.178232,218.831913,Set2,A2,D3,CDD795D8-115B-4F51-A584-EB6874CDA492.png
157,228.715445,206.500203,160.958283,222.039039,196.545410,147.586560,20.179369,75.712361,228.718448,20.017937,85.622109,222.039283,Set2,A2,D3,C2F8A153-009F-43D2-A189-FAB96489520F.png
158,230.498255,208.951465,161.863079,223.146498,198.442821,148.491275,20.708222,76.032384,230.500365,20.362958,85.394043,223.147553,Set2,A2,D3,E360EFD0-6600-4AB3-BA41-FAE0EA4D2F39.png
159,228.804886,207.103563,161.011687,221.832643,196.545004,147.276763,20.414577,75.689798,228.807159,20.123935,85.803182,221.832643,Set2,A2,D3,B9F27F17-B4F2-4249-A06B-AFBD9BA9AE2A.png

In [48]:
table_A2Set3 = pd.read_excel(Set3, sheet_name='A2_3')
new_table_A2Set3 = table_A2Set3.iloc[:160,]
new_table_A2Set3

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,225.514731,220.905771,191.515624,221.706842,221.237887,201.499797,26.026215,38.462544,225.514731,29.714228,23.648243,222.049103,Set3,A2,A1,FE70379B-BE7C-4C2F-8F6B-BEC1809BF9B3.png
1,231.205097,227.413603,202.064767,228.510673,227.883045,210.838974,29.309147,32.677218,231.386738,31.128723,20.135379,228.764061,Set3,A2,A1,BA3AFF8D-AAA7-4A26-A99D-58E7730257A4.png
2,225.359062,220.997240,191.766090,221.669264,221.329519,201.675513,26.185699,38.042610,225.364824,30.074994,23.487947,222.084409,Set3,A2,A1,0F941597-744A-4ADE-973D-21AB168D1129.png
3,224.590131,220.659281,191.343641,221.479912,221.031491,201.343073,26.306144,37.781349,224.593296,29.896924,23.595812,221.818684,Set3,A2,A1,A63282AB-FC26-4DE4-8787-9276F2B800C0.png
4,230.846198,227.143414,201.753835,226.388280,225.878338,208.010876,29.136434,32.707329,231.032221,29.982712,21.067689,226.686227,Set3,A2,A1,D5F0E3B1-E9A0-4496-8806-ABEB0B70C533.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,233.826800,230.433406,207.365230,223.355572,220.359143,182.350946,31.290642,29.552390,234.062738,29.219057,47.414658,223.473014,Set3,A2,D4,47AABEB2-763C-4499-819F-1C1B69D62F3F.png
156,228.682737,224.253064,196.271488,219.313205,215.734924,174.256067,26.055109,36.180586,228.691989,27.863160,52.534453,219.331954,Set3,A2,D4,1A54A166-89D5-4DA5-8B73-901D8130228A.png
157,228.682737,224.253064,196.271488,219.313205,215.734924,174.256067,26.055109,36.180586,228.691989,27.863160,52.534453,219.331954,Set3,A2,D4,1A54A166-89D5-4DA5-8B73-901D8130228A.png
158,233.573574,230.367584,207.247951,222.879880,219.856424,180.777859,30.762438,29.462462,233.821605,28.672835,48.660823,222.958688,Set3,A2,D4,12EC0F1C-14E0-42EA-83EB-9AF3236183D1.png
159,233.378865,229.832481,206.509374,222.252577,219.154371,179.574710,30.727295,30.112329,233.623326,28.435760,49.397208,222.317344,Set3,A2,D4,D1AEF618-C893-49A6-8EA7-27A5B69AAF53.png

In [49]:
table_A2Set4 = pd.read_excel(Set4, sheet_name='A2_4')
new_table_A2Set4 = table_A2Set4.iloc[:160,]
new_table_A2Set4

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,233.260774,227.901956,201.717150,230.029381,228.600519,211.502070,25.829235,34.711306,233.286665,29.192355,20.703758,230.123691,Set4,A2,A1,32311BEA-0470-4D35-AE74-307331146F6B.png
1,233.393231,227.774856,201.675432,229.662852,227.930038,210.893272,25.533155,34.890187,233.420826,28.522117,20.972892,229.728512,Set4,A2,A1,7F5A3DCA-19B2-4D09-8A4E-518F576D12C6.png
2,225.906339,220.894408,191.121175,222.150718,220.946352,200.736223,25.943592,39.249574,225.907232,28.622433,24.621946,222.151043,Set4,A2,A1,ADD7F30E-6D84-4B3A-9E24-47AD358C03B3.png
3,225.443389,220.425209,190.769012,221.999026,220.791088,200.795390,25.943511,39.176690,225.444201,28.561643,24.351757,221.999026,Set4,A2,A1,513F7C8E-CA13-40B5-9634-5F151E841C6B.png
4,232.792062,227.933853,201.091957,229.445175,228.540865,210.156968,26.390877,34.956659,232.816492,29.944160,21.598409,229.559614,Set4,A2,A1,06F92E7E-7005-426D-A897-6EB6FF43717C.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,235.199497,229.134161,204.395991,225.734112,221.598166,184.542732,24.984823,33.596137,235.219950,28.711874,47.198604,225.787274,Set4,A2,D4,26F479B7-B1EC-41D6-AE88-97E1E9BA1EBB.png
156,234.512702,228.967779,203.467495,225.043259,220.996348,183.544193,25.577713,33.960312,234.528934,28.690447,47.704001,225.096827,Set4,A2,D4,671A73FF-83EE-4ADF-9C3F-7DA857A9AA4C.png
157,234.867706,229.779645,203.902443,225.566431,222.095447,183.808863,26.090739,33.839380,234.895544,29.344290,47.941320,225.649217,Set4,A2,D4,3F7B713E-6C5C-4299-BEDD-F1AC7F0BDC0E.png
158,235.168574,229.168493,204.243893,225.499229,221.389011,184.348916,25.095203,33.733707,235.193166,27.891567,47.186835,225.535590,Set4,A2,D4,B61CCB3E-822C-4BAD-BF81-7D467B2F6D3D.png
159,234.983686,229.240808,203.916159,225.496713,221.617077,184.072965,25.174336,33.882477,235.001542,28.855369,47.535022,225.553445,Set4,A2,D4,C9A67F8E-4B99-4546-A9E2-639899679179.png

In [50]:
table_A2Set6 = pd.read_excel(Set6, sheet_name='A2_6')
new_table_A2Set6 = table_A2Set6.iloc[:160,]
new_table_A2Set6

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,237.162893,234.868679,205.338852,231.399318,233.423667,212.102833,28.038877,34.378541,237.240484,33.596948,23.320185,233.424154,Set6,A2,A1,5E9854E6-E73F-4634-B836-4C9ED89FD883.png
1,236.810243,234.806428,205.561399,231.608879,233.665774,212.158023,28.296161,33.804480,236.866488,33.760003,23.504505,233.667397,Set6,A2,A1,EE39414A-F794-49DA-BF45-8E94A9984753.png
2,237.115981,235.015827,205.429348,231.106810,233.214674,211.803506,28.233341,34.251765,237.209317,33.822823,23.451749,233.215080,Set6,A2,A1,C369F1C9-7A1D-4BBF-8F6B-DA937D120A2B.png
3,236.954062,234.870546,205.320510,231.426264,233.535427,212.138706,28.145930,34.203068,237.018262,33.749533,23.382112,233.536077,Set6,A2,A1,6B5E313E-647E-4399-86AA-359DAB736EDE.png
4,236.960961,234.713984,204.943998,231.136434,233.188621,211.709277,27.960312,34.590780,237.009658,33.632092,23.502557,233.189270,Set6,A2,A1,13216B76-7C70-476E-8151-9CD34B98173D.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,240.753754,238.656116,211.196656,231.376999,230.424560,188.490545,28.557098,31.566107,240.856262,30.126938,47.675838,231.512215,Set6,A2,D4,698DEBFB-68A1-46B1-B404-A689504B9D41.png
156,241.319049,239.254119,211.279847,231.937911,231.098531,188.930363,28.579011,31.981333,241.415794,29.957471,47.634851,232.046181,Set6,A2,D4,402E5CB5-10DD-4C36-B760-CFD2237DD396.png
157,240.818278,239.163461,211.035387,232.029462,231.217352,189.022725,29.000974,31.804805,240.939615,29.999513,47.656765,232.182777,Set6,A2,D4,1D781982-AADE-4B07-ACB8-9ED4B2B81EE3.png
158,240.973622,239.234884,211.084328,231.768282,231.056327,189.112897,28.895869,31.857317,241.077023,30.221654,47.390959,231.946271,Set6,A2,D4,66376937-0F74-4311-8740-03BE69BE6C9F.png
159,240.806753,238.773476,211.028488,231.210535,230.326110,188.183264,28.507589,31.759435,240.885805,30.011687,47.845305,231.357114,Set6,A2,D4,1F9AC0E9-6A21-4384-9FCD-314188F68124.png

In [51]:
table_A2Set5 = pd.read_excel(Set5, sheet_name='A2_5')

In [52]:
new_table_A2Set5 = table_A2Set5.iloc[:160,]
new_table_A2Set5

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
0,223.318805,204.174418,166.735168,223.576414,208.508806,177.371236,19.772827,64.672348,223.320266,20.210778,52.774288,223.576414,Set5,A2,A1,C4093ADA-6443-440D-B7AC-1D3E878D640B.png
1,221.329600,202.393231,164.799773,222.592728,207.029462,175.209399,19.759679,65.191137,221.329600,20.118903,54.355815,222.592728,Set5,A2,A1,79A4D8A0-D173-4DEA-8B61-99EBCDC80199.png
2,223.389254,204.653600,166.307443,223.210860,208.685659,175.893596,19.990585,65.243568,223.390228,20.908855,54.139843,223.210860,Set5,A2,A1,42EE8644-5BA9-42CC-8C12-31F46BC5EFF0.png
3,217.798718,198.748316,158.586560,218.528042,203.303060,170.470416,20.218732,69.361091,217.798718,20.542975,56.106323,218.528042,Set5,A2,A1,9E4952FE-BA52-40EA-A8C8-ECC3444652F7.png
4,219.040175,197.388848,158.234802,218.657495,202.405487,169.728593,19.330817,70.812515,219.040175,19.843113,57.134892,218.657495,Set5,A2,A1,A0703C50-64A5-4914-9402-B0C8BF9D222D.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,226.419690,206.605146,169.554906,219.599545,199.766334,154.301842,19.425696,64.117766,226.420177,21.018505,76.003652,219.599545,Set5,A2,D4,E6C77F68-F191-4E02-9E7C-8ABCB7E3DB82.png
156,222.628115,201.449152,162.907719,214.887347,193.536807,145.864865,19.233179,68.420015,222.628115,20.836864,82.003409,214.887347,Set5,A2,D4,97C9A236-6006-4D42-8ED8-20E5A8869B9F.png
157,221.831751,200.852609,162.419852,214.631199,193.348916,146.433406,19.257690,68.317507,221.831751,20.637205,81.109813,214.631199,Set5,A2,D4,5E001E19-04ED-4406-94D8-20CB84FBD6E9.png
158,225.242594,206.541920,171.609853,218.942781,199.925493,155.361821,19.413684,60.735086,225.242594,21.125233,74.233666,218.942781,Set5,A2,D4,1937F978-145F-4AF2-95AF-77DEBF2A418D.png
159,227.084328,207.595569,171.293807,219.233423,199.645808,154.792306,19.355896,62.716176,227.084328,21.091632,75.157049,219.233423,Set5,A2,D4,7C629EB4-5F5F-4177-B965-60DB81BE1BB2.png

In [53]:
RGB_A2_Set1 = new_table_A2Set1
RGB_A2_Set2 = new_table_A2Set2
RGB_A2_Set3 = new_table_A2Set3
RGB_A2_Set4 = new_table_A2Set4
RGB_A2_Set6 = new_table_A2Set6

In [54]:
RGB_A2_concat = pd.concat([RGB_A2_Set1,RGB_A2_Set2,RGB_A2_Set3,RGB_A2_Set4,RGB_A2_Set6])

In [55]:
RGB_A2_concat0 = RGB_A2_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [56]:
RGB_A2_Set5 = new_table_A2Set5.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [57]:
X_test_A2_RGB_S5 = np.array(RGB_A2_Set5)

In [58]:
y_A2_RGB_S5 =  new_table_A2Set5.iloc[:,14:15]

In [59]:
y_test_A2_RGB_S5 = np.array(y_A2_RGB_S5)

In [60]:
X_train_A2_RGB_S5 = np.array(RGB_A2_concat0)

In [61]:
y_train_A2RGB_S5 = RGB_A2_concat.iloc[:,14:15]

In [62]:
y_train_A2_RGB_S5 = np.array(y_train_A2RGB_S5)

In [71]:
new_data.fit(X_train_A2_RGB_S5, y_train_A2_RGB_S5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [72]:
y_pred_A2_RGB_S5 = new_data.predict(X_test_A2_RGB_S5)

In [73]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB_S5, y_pred_A2_RGB_S5))

Accuracy: 0.26875

###point2

In [77]:
new2_table_A2Set1 = table_A2Set1.iloc[160:320,]
new2_table_A2Set1

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
159,239.7426,224.4548,193.9450,236.2872,221.4411,181.7861,19.951140,48.770470,239.742600,22.016150,58.923140,236.287200,Set1,A2,D4,3C4DEBAA-627D-4A6B-B192-29FDE3C05C13.png
160,236.7755,219.5086,178.7732,240.0282,230.3983,199.7789,21.213376,62.542975,236.775505,22.966318,42.841896,240.028244,Set1,A2,A1,3055D600-52FE-426B-8FB7-F22AD0D97955.png
161,236.4715,219.2284,179.2693,239.4961,229.7002,199.4159,21.176853,61.738495,236.471471,22.820956,42.757731,239.496064,Set1,A2,A1,94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
162,236.4169,219.2230,178.8504,239.5392,229.9269,199.8427,21.229202,62.153965,236.416930,22.894327,42.362958,239.539242,Set1,A2,A1,61347A1C-5E5B-48EE-BB2D-AA9068046272.png
163,236.3588,219.7539,179.4595,239.8005,230.5046,201.1056,21.464816,61.466115,236.358818,22.986852,41.237481,239.802126,Set1,A2,A1,65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,240.8994,224.6700,192.0952,237.2935,221.7430,180.0381,19.926467,51.717150,240.899359,22.072640,61.636799,237.293483,Set1,A2,D4,FA8CE0FA-5EF4-4885-830D-AA08ECF4450F.png
316,236.4606,219.5204,186.5375,233.3320,217.6554,175.5825,19.697914,53.897330,236.460596,22.043016,63.218570,233.332035,Set1,A2,D4,B9C06B5D-7271-4C65-BCED-14D68A9D60B0.png
317,240.5929,224.9216,192.0209,236.8868,221.9359,180.2685,20.204610,51.547602,240.592890,22.253226,61.023943,236.886779,Set1,A2,D4,59A178D0-BB96-4793-898F-CA6B76BE4683.png
318,239.5686,224.3406,191.6337,235.8029,221.5280,179.6159,20.489165,51.080756,239.568623,22.448340,60.827449,235.802857,Set1,A2,D4,E1462C7E-E182-4EC0-8C0B-3D06AE76CB36.png
319,239.6469,224.3383,193.8160,236.2075,221.3539,181.6966,19.944323,48.825745,239.646863,22.014041,58.955280,236.207451,Set1,A2,D4,3C4DEBAA-627D-4A6B-B192-29FDE3C05C13.png

In [78]:
new2_table_A2Set2 = table_A2Set2.iloc[160:320,]

In [79]:
new2_table_A2Set3 = table_A2Set3.iloc[160:320,]

In [80]:
new2_table_A2Set4 = table_A2Set4.iloc[160:320,]

In [81]:
new2_table_A2Set5 = table_A2Set5.iloc[160:320,]

In [82]:
new2_table_A2Set6 = table_A2Set6.iloc[160:320,]

In [83]:
RGB2_A2_Set1 = new2_table_A2Set1
RGB2_A2_Set2 = new2_table_A2Set2
RGB2_A2_Set3 = new2_table_A2Set3
RGB2_A2_Set4 = new2_table_A2Set4
RGB2_A2_Set6 = new2_table_A2Set6

In [84]:
RGB2_A2_concat = pd.concat([RGB2_A2_Set1,RGB2_A2_Set2,RGB2_A2_Set3,RGB2_A2_Set4,RGB2_A2_Set6])

In [85]:
RGB2_A2_concat0 = RGB2_A2_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [86]:
RGB2_A2_Set5 = new2_table_A2Set5.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [87]:
X_test_A2_RGB2_S5 = np.array(RGB2_A2_Set5)

In [88]:
y_A2_RGB2_S5 =  new2_table_A2Set5.iloc[:,14:15]

In [89]:
y_test_A2_RGB2_S5 = np.array(y_A2_RGB2_S5)

In [90]:
X_train_A2_RGB2_S5 = np.array(RGB2_A2_concat0)

In [91]:
y_train_A2RGB2_S5 = RGB2_A2_concat.iloc[:,14:15]

In [92]:
y_train_A2_RGB2_S5 = np.array(y_train_A2RGB2_S5)

In [93]:
new_data.fit(X_train_A2_RGB2_S5, y_train_A2_RGB2_S5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [94]:
y_pred_A2_RGB2_S5 = new_data.predict(X_test_A2_RGB2_S5)

In [95]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB2_S5, y_pred_A2_RGB2_S5))

Accuracy: 0.30625

###point3

In [99]:
new3_table_A2Set1 = table_A2Set1.iloc[320:480,]
new3_table_A2Set1

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
320,234.9998,217.4647,176.7638,238.5111,229.0219,198.7096,21.05308,63.25152,234.9998,22.99472,42.64394,238.5111,Set1,A2,A1,3055D600-52FE-426B-8FB7-F22AD0D97955.png
321,234.7259,217.3156,177.4641,238.1367,228.3477,198.3803,21.07629,62.25696,234.7259,22.76926,42.66245,238.1367,Set1,A2,A1,94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
322,234.6931,217.2617,176.9364,238.0801,228.5827,198.8339,21.11403,62.80196,234.6931,22.90342,42.14682,238.0801,Set1,A2,A1,61347A1C-5E5B-48EE-BB2D-AA9068046272.png
323,234.6162,217.7160,177.5337,238.3502,229.1912,200.0214,21.29608,62.11947,234.6162,23.02386,41.10413,238.3508,Set1,A2,A1,65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
324,236.5542,220.2482,182.3346,239.3288,230.4774,202.5845,21.10235,58.48397,236.5542,22.94911,39.23269,239.3288,Set1,A2,A1,86927B90-BCE2-4CA1-8556-398BF4B5A60E.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,239.1576,222.5458,189.7777,235.8271,220.0493,178.3152,19.80391,52.70400,239.1576,21.97614,62.30338,235.8271,Set1,A2,D4,FA8CE0FA-5EF4-4885-830D-AA08ECF4450F.png
476,234.6170,217.3143,184.1494,231.6448,215.8671,173.9361,19.59589,54.92387,234.6170,21.96851,63.62949,231.6448,Set1,A2,D4,B9C06B5D-7271-4C65-BCED-14D68A9D60B0.png
477,238.8353,222.8070,189.8890,235.5211,220.2777,178.5814,20.03449,52.32270,238.8353,22.13968,61.72786,235.5211,Set1,A2,D4,59A178D0-BB96-4793-898F-CA6B76BE4683.png
478,237.9113,222.2835,189.5703,234.3637,219.9298,177.8900,20.28845,51.86397,237.9113,22.40232,61.51660,234.3637,Set1,A2,D4,E1462C7E-E182-4EC0-8C0B-3D06AE76CB36.png
479,237.8886,222.2613,191.6043,234.7104,219.6948,180.0161,19.82461,49.66594,237.8886,21.95358,59.54265,234.7104,Set1,A2,D4,3C4DEBAA-627D-4A6B-B192-29FDE3C05C13.png

In [100]:
new3_table_A2Set2 = table_A2Set2.iloc[320:480,]

In [101]:
new3_table_A2Set3 = table_A2Set3.iloc[320:480,]

In [102]:
new3_table_A2Set4 = table_A2Set4.iloc[320:480,]

In [103]:
new3_table_A2Set5 = table_A2Set5.iloc[320:480,]

In [104]:
new3_table_A2Set6 = table_A2Set6.iloc[320:480,]

In [105]:
RGB3_A2_Set1 = new3_table_A2Set1
RGB3_A2_Set2 = new3_table_A2Set2
RGB3_A2_Set3 = new3_table_A2Set3
RGB3_A2_Set4 = new3_table_A2Set4
RGB3_A2_Set6 = new3_table_A2Set6

In [106]:
RGB3_A2_concat = pd.concat([RGB3_A2_Set1,RGB3_A2_Set2,RGB3_A2_Set3,RGB3_A2_Set4,RGB3_A2_Set6])

In [107]:
RGB3_A2_concat0 = RGB3_A2_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [108]:
RGB3_A2_Set5 = new3_table_A2Set5.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [109]:
X_test_A2_RGB3_S5 = np.array(RGB3_A2_Set5)

In [110]:
y_A2_RGB3_S5 =  new3_table_A2Set5.iloc[:,14:15]

In [111]:
y_test_A2_RGB3_S5 = np.array(y_A2_RGB3_S5)

In [112]:
X_train_A2_RGB3_S5 = np.array(RGB3_A2_concat0)

In [113]:
y_train_A2RGB3_S5 = RGB3_A2_concat.iloc[:,14:15]

In [114]:
y_train_A2_RGB3_S5 = np.array(y_train_A2RGB3_S5)

In [115]:
new_data.fit(X_train_A2_RGB3_S5, y_train_A2_RGB3_S5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [116]:
y_pred_A2_RGB3_S5 = new_data.predict(X_test_A2_RGB3_S5)

In [117]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB3_S5, y_pred_A2_RGB3_S5))

Accuracy: 0.35

###point4

In [119]:
new4_table_A2Set1 = table_A2Set1.iloc[480:640,]
new4_table_A2Set1

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
480,233.0742,215.3437,174.9176,237.0184,227.6698,197.8987,20.89303,63.67154,233.0742,22.99229,42.18294,237.0184,Set1,A2,A1,3055D600-52FE-426B-8FB7-F22AD0D97955.png
481,232.8412,215.3118,175.6642,236.6412,227.0157,197.5852,20.96478,62.66431,232.8412,22.76195,42.17377,236.6412,Set1,A2,A1,94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
482,232.8600,215.3131,175.3396,236.5843,227.2924,198.0181,20.97354,63.02459,232.8600,22.94814,41.67819,236.5843,Set1,A2,A1,61347A1C-5E5B-48EE-BB2D-AA9068046272.png
483,232.7296,215.6715,175.8926,236.8152,227.9620,199.3181,21.12905,62.33682,232.7296,23.12515,40.47009,236.8152,Set1,A2,A1,65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
484,234.8085,218.3611,180.9666,238.0004,229.2053,201.9182,20.91527,58.48868,234.8085,22.90423,38.73298,238.0004,Set1,A2,A1,86927B90-BCE2-4CA1-8556-398BF4B5A60E.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,237.0815,219.9877,186.9122,233.9554,217.9653,176.2386,19.67908,54.02865,237.0815,21.85788,63.01566,233.9554,Set1,A2,D4,FA8CE0FA-5EF4-4885-830D-AA08ECF4450F.png
636,232.4711,214.8431,181.4982,229.8464,214.1342,172.6158,19.51067,55.96096,232.4711,21.91778,63.60109,229.8464,Set1,A2,D4,B9C06B5D-7271-4C65-BCED-14D68A9D60B0.png
637,236.6660,220.2238,187.0955,233.6567,218.2359,176.5828,19.89140,53.47983,236.6660,22.08944,62.37927,233.6567,Set1,A2,D4,59A178D0-BB96-4793-898F-CA6B76BE4683.png
638,235.8369,219.7718,186.8453,232.5337,217.9795,175.8147,20.10681,53.03084,235.8369,22.37538,62.28106,232.5337,Set1,A2,D4,E1462C7E-E182-4EC0-8C0B-3D06AE76CB36.png
639,235.7639,219.6278,188.7437,232.7868,217.6913,177.8820,19.67219,50.93028,235.7639,21.93864,60.28529,232.7868,Set1,A2,D4,3C4DEBAA-627D-4A6B-B192-29FDE3C05C13.png

In [120]:
new4_table_A2Set2 = table_A2Set2.iloc[480:640,]

In [121]:
new4_table_A2Set3 = table_A2Set3.iloc[480:640,]

In [122]:
new4_table_A2Set4 = table_A2Set4.iloc[480:640,]

In [123]:
new4_table_A2Set5 = table_A2Set5.iloc[480:640,]

In [124]:
new4_table_A2Set6 = table_A2Set6.iloc[480:640,]

In [125]:
RGB4_A2_Set1 = new4_table_A2Set1
RGB4_A2_Set2 = new4_table_A2Set2
RGB4_A2_Set3 = new4_table_A2Set3
RGB4_A2_Set4 = new4_table_A2Set4
RGB4_A2_Set6 = new4_table_A2Set6

In [126]:
RGB4_A2_concat = pd.concat([RGB4_A2_Set1,RGB4_A2_Set2,RGB4_A2_Set3,RGB4_A2_Set4,RGB4_A2_Set6])

In [127]:
RGB4_A2_concat0 = RGB4_A2_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [128]:
RGB4_A2_Set5 = new4_table_A2Set5.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [129]:
X_test_A2_RGB4_S5 = np.array(RGB4_A2_Set5)

In [130]:
y_A2_RGB4_S5 =  new4_table_A2Set5.iloc[:,14:15]

In [131]:
y_test_A2_RGB4_S5 = np.array(y_A2_RGB4_S5)

In [132]:
X_train_A2_RGB4_S5 = np.array(RGB4_A2_concat0)

In [133]:
y_train_A2RGB4_S5 = RGB4_A2_concat.iloc[:,14:15]

In [134]:
y_train_A2_RGB4_S5 = np.array(y_train_A2RGB4_S5)

In [135]:
new_data.fit(X_train_A2_RGB4_S5, y_train_A2_RGB4_S5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [136]:
y_pred_A2_RGB4_S5 = new_data.predict(X_test_A2_RGB4_S5)

In [137]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB4_S5, y_pred_A2_RGB4_S5))

Accuracy: 0.325

###point5

In [140]:
new5_table_A2Set1 = table_A2Set1.iloc[640:800,]
new5_table_A2Set1

,R-ref,G-ref,B-ref,R-Shad,G-Shad,B-Shad,H-ref,S-ref,V-ref,H-Shad,S-Shad,V-Shad,Setting,Ref,Shad,Img
640,230.7913,213.0903,173.4306,235.1499,226.1728,197.4767,20.73403,63.38033,230.7913,23.01112,40.92614,235.1499,Set1,A2,A1,3055D600-52FE-426B-8FB7-F22AD0D97955.png
641,230.5675,213.2373,174.1919,234.7704,225.5580,196.9459,20.86998,62.36588,230.5675,22.86340,41.15445,234.7704,Set1,A2,A1,94BB667C-3B1E-4BA5-AE10-E00383CAD122.png
642,230.6254,213.2230,174.0991,234.7133,225.8620,197.5289,20.82396,62.49525,230.6254,23.03311,40.48860,234.7133,Set1,A2,A1,61347A1C-5E5B-48EE-BB2D-AA9068046272.png
643,230.4540,213.4905,174.4948,234.9242,226.5877,198.8379,20.99099,61.93848,230.4540,23.30493,39.25412,234.9242,Set1,A2,A1,65C3FBE9-9D9F-4123-BB24-B798E9A2DF43.png
644,232.6147,216.3595,179.8725,236.2268,227.8167,201.4888,20.80245,57.80058,232.6147,22.99245,37.55101,236.2268,Set1,A2,A1,86927B90-BCE2-4CA1-8556-398BF4B5A60E.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,235.1614,217.6240,184.2801,232.1821,216.0084,174.3427,19.57390,55.24852,235.1614,21.76844,63.61667,232.1821,Set1,A2,D4,FA8CE0FA-5EF4-4885-830D-AA08ECF4450F.png
796,229.9563,212.3277,179.4637,227.8234,212.5661,172.2837,19.44444,56.00950,229.9563,21.90837,62.24568,227.8234,Set1,A2,D4,B9C06B5D-7271-4C65-BCED-14D68A9D60B0.png
797,234.7150,217.9560,184.5581,231.8934,216.3508,174.7627,19.80123,54.56181,234.7150,22.05186,62.93677,231.8934,Set1,A2,D4,59A178D0-BB96-4793-898F-CA6B76BE4683.png
798,233.9101,217.5358,184.3463,230.7329,216.0412,173.9520,20.01217,54.08863,233.9101,22.33074,62.85464,230.7329,Set1,A2,D4,E1462C7E-E182-4EC0-8C0B-3D06AE76CB36.png
799,233.7805,217.2376,186.0988,230.8309,215.8056,176.0144,19.57950,52.08952,233.7805,21.96267,60.70449,230.8309,Set1,A2,D4,3C4DEBAA-627D-4A6B-B192-29FDE3C05C13.png

In [141]:
new5_table_A2Set2 = table_A2Set2.iloc[640:800,]

In [142]:
new5_table_A2Set3 = table_A2Set3.iloc[640:800,]

In [143]:
new5_table_A2Set4 = table_A2Set4.iloc[640:800,]

In [144]:
new5_table_A2Set5 = table_A2Set5.iloc[640:800,]

In [145]:
new5_table_A2Set6 = table_A2Set6.iloc[640:800,]

In [146]:
RGB5_A2_Set1 = new5_table_A2Set1
RGB5_A2_Set2 = new5_table_A2Set2
RGB5_A2_Set3 = new5_table_A2Set3
RGB5_A2_Set4 = new5_table_A2Set4
RGB5_A2_Set6 = new5_table_A2Set6

In [147]:
RGB5_A2_concat = pd.concat([RGB5_A2_Set1,RGB5_A2_Set2,RGB5_A2_Set3,RGB5_A2_Set4,RGB5_A2_Set6])

In [148]:
RGB5_A2_concat0 = RGB5_A2_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [149]:
RGB5_A2_Set5 = new5_table_A2Set5.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [150]:
X_test_A2_RGB5_S5 = np.array(RGB5_A2_Set5)

In [151]:
y_A2_RGB5_S5 =  new5_table_A2Set5.iloc[:,14:15]

In [152]:
y_test_A2_RGB5_S5 = np.array(y_A2_RGB5_S5)

In [153]:
X_train_A2_RGB5_S5 = np.array(RGB5_A2_concat0)

In [154]:
y_train_A2RGB5_S5 = RGB5_A2_concat.iloc[:,14:15]

In [155]:
y_train_A2_RGB5_S5 = np.array(y_train_A2RGB5_S5)

In [156]:
new_data.fit(X_train_A2_RGB5_S5, y_train_A2_RGB5_S5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [157]:
y_pred_A2_RGB5_S5 = new_data.predict(X_test_A2_RGB5_S5)

In [158]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB5_S5, y_pred_A2_RGB5_S5))

Accuracy: 0.3

##all

In [159]:
RGB_A2_Set1 = table_A2Set1

In [160]:
RGB_A2_Set2 = table_A2Set2

In [161]:
RGB_A2_Set3 = table_A2Set3

In [162]:
RGB_A2_Set4 = table_A2Set4

In [163]:
RGB_A2_Set6 = table_A2Set6

In [164]:
RGB_A2_concat = pd.concat([RGB_A2_Set1,RGB_A2_Set2,RGB_A2_Set3,RGB_A2_Set4,RGB_A2_Set6])

In [165]:
RGB_A2_concat0 = RGB_A2_concat.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [166]:
RGB_A2_s5 = table_A2Set5.drop(['H-ref','S-ref','V-ref','H-Shad','S-Shad','V-Shad','Setting','Ref','Shad','Img'], axis=1)

In [167]:
X_test_A2_RGB_s5 = np.array(RGB_A2_s5)

In [168]:
y_A2_RGB_s5 =  table_A2Set5.iloc[:,14:15]

In [169]:
y_test_A2_RGB_s5 = np.array(y_A2_RGB_s5)

In [170]:
X_train_A2_RGB_s5 = np.array(RGB_A2_concat0)

In [171]:
y_train_A2RGB_s5 = RGB_A2_concat.iloc[:,14:15]

In [172]:
y_train_A2_RGB_s5 = np.array(y_train_A2RGB_s5)

In [173]:
new_data.fit(X_train_A2_RGB_s5, y_train_A2_RGB_s5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier()

In [174]:
y_pred_A2_RGB_s5 = new_data.predict(X_test_A2_RGB_s5)

In [175]:
print("Accuracy:", metrics.accuracy_score(y_test_A2_RGB_s5, y_pred_A2_RGB_s5))

Accuracy: 0.38125

##confusion

In [176]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from matplotlib.pyplot import savefig
import itertools
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels

In [183]:
shade_names = ['A1','A2','A3','A3.5','A4','B1','B2','B3','B4','C1','C2','C3','C4','D2','D3','D4']

In [182]:
y_test_A2_RGB_s5

array([['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A1'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A2'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A3.5'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['A4'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B1'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B2'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B3'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['B4'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C1'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C2'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C3'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['C4'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D2'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D3'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4'],
       ['D4']], dtype=object)

In [181]:
y_pred_A2_RGB_s5

array(['B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'C1',
       'C1', 'C1', 'C1', 'B2', 'C1', 'B2', 'C1', 'C1', 'B2', 'A2', 'A2',
       'B2', 'A3', 'A3', 'A3', 'A2', 'A3', 'B3', 'B3', 'B3', 'D3', 'D3',
       'A3.5', 'A3.5', 'B3', 'B3', 'A3.5', 'A3.5', 'B3', 'A4', 'C3', 'A4',
       'C3', 'D3', 'A4', 'C3', 'A4', 'A4', 'C3', 'B1', 'B1', 'B1', 'B1',
       'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'D3', 'B3', 'C1', 'B3',
       'B2', 'C2', 'D3', 'D3', 'D3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3',
       'B3', 'B3', 'A3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3',
       'B3', 'B3', 'B3', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'B1', 'B1',
       'B1', 'B1', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'C2', 'D2',
       'D2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'A4', 'A4', 'C4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'C1',
       'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'B3', 'B3',
       'D3', 'C2', 'D4', 'B3', 'C2', 'D3', 'B3', 'D2', 'B3', 'B3', 'B3',
       'B3', 'B3', 'B3', 'C2', 'C2', 'D2', 'B3', 'B1', 'B1', 'B1', 'B1',
       'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'C1', 'C1', 'C1', 'C1', 'C1',
       'C1', 'A1', 'C1', 'C1', 'B2', 'A2', 'A2', 'B2', 'A3', 'A3', 'A3',
       'A2', 'A3', 'B3', 'B3', 'B3', 'D3', 'D3', 'A3.5', 'A3.5', 'B3',
       'B3', 'A3.5', 'A3.5', 'B3', 'A4', 'C3', 'A4', 'C3', 'C3', 'A4',
       'C3', 'A4', 'A4', 'C3', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1',
       'B1', 'B1', 'B1', 'B1', 'D3', 'B3', 'C1', 'B3', 'B2', 'D3', 'D3',
       'D3', 'D3', 'A3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'A3',
       'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3',
       'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'B1', 'B1', 'B1', 'B1', 'D2',
       'D2', 'D2', 'D2', 'D2', 'D2', 'D2', 'C2', 'D2', 'D2', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'A4', 'A4', 'C4',
       'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'C1', 'C1', 'C1', 'C1',
       'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'B3', 'B3', 'C2', 'C2', 'D4',
       'B3', 'C2', 'D3', 'B3', 'D2', 'B3', 'D2', 'B3', 'B3', 'B3', 'B3',
       'C2', 'C2', 'B3', 'B3', 'B1', 'B1', 'B1', 'B1', 'C1', 'B1', 'B1',
       'B1', 'B1', 'B1', 'C1', 'C1', 'C1', 'C1', 'B2', 'C1', 'C1', 'B2',
       'C1', 'B2', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3',
       'A3', 'B3', 'D3', 'B3', 'A3.5', 'A3.5', 'B3', 'B3', 'A3.5', 'A3.5',
       'B3', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4',
       'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'C1',
       'A1', 'B2', 'C1', 'B2', 'B2', 'D3', 'A1', 'A1', 'A1', 'B3', 'B3',
       'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'A3', 'B3', 'B3', 'B3', 'B3',
       'B3', 'B4', 'B4', 'B3', 'B3', 'B3', 'B3', 'C1', 'C1', 'C1', 'C1',
       'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C2', 'C2', 'C2', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'A4', 'A4', 'C4', 'A4', 'A4', 'A4', 'A4',
       'A4', 'A4', 'A4', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1',
       'C1', 'C1', 'D4', 'D4', 'C2', 'C2', 'C2', 'C2', 'C2', 'D3', 'B3',
       'B3', 'C2', 'C2', 'C2', 'C2', 'D4', 'C2', 'C2', 'C2', 'C2', 'C2',
       'B1', 'B1', 'B1', 'C1', 'C1', 'B1', 'B1', 'B1', 'B1', 'B1', 'C1',
       'C1', 'C1', 'C1', 'B2', 'C1', 'B2', 'B2', 'C1', 'A2', 'A3', 'A3',
       'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3', 'B4', 'B4', 'B4',
       'A3.5', 'A3.5', 'B3', 'B3', 'A3.5', 'A3.5', 'B4', 'A4', 'A4', 'A4',
       'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'B1', 'B1', 'B1', 'B1',
       'B1', 'B1', 'B1', 'B1', 'B1', 'B1', 'C1', 'A1', 'B2', 'C1', 'B2',
       'C1', 'A1', 'A1', 'B2', 'A1', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3',
       'B3', 'B3', 'B3', 'B3', 'A3.5', 'B3', 'B3', 'B4', 'B4', 'B4', 'B3',
       'B4', 'B4', 'B4', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1',
       'C1', 'C1', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'A4', 'A4', 'A4', 'A4', 'A4', 'C4', 'A4', 'A4', 'A4', 'A4', 'C1',
       'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'B1', 'C1', 'B1', 'C1',
       'C1', 'B1', 'C1', 'B1', 'B1', 'C1', 'B2', 'B2', 'B2', 'B2', 'A3',
       'C1', 'C1', 'C1', 'C1', 'A2', 'A3', 'A3', 'A3', 'A3', 'A3', 'A3',
       'A3', 'A3', 'A3', 'A3', 'A3.5', 'B4', 'A3.5', 'A3.5', 'A3.5',
       'A3.5', 'A3.5', 'A3.5', 'A3.5', 'A3.5', 'A4', 'A4', 'A4', 'A4',
       'A4', 'A4', 'A4', 'A4', 'A4', 'A4', 'B1', 'B1', 'B1', 'B1', 'B1',
       'B1', 'B1', 'B1', 'B1', 'B1', 'C1', 'C1', 'B2', 'C1', 'B2', 'C1',
       'B2', 'C1', 'B2', 'C1', 'B3', 'B3', 'B3', 'B3', 'B3', 'B3', 'A3.5',
       'B3', 'B3', 'B3', 'A3.5', 'A3.5', 'A3.5', 'B3', 'A3.5', 'A3.5',
       'B3', 'B3', 'A3.5', 'B3', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1',
       'C1', 'C1', 'C1', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'C2', 'C4', 'A4', 'A4', 'A4', 'A4', 'C4', 'A4', 'A4', 'A4', 'A4',
       'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2',
       'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2', 'C2'], dtype=object)

In [184]:
y_pred = y_pred_A2_RGB_s5          #ค่า predict 
y_true  = y_test_A2_RGB_s5 
y_test = y_test_A2_RGB_s5
class_names = np.array(shade_names)                           # ชื่อคลาสว่ามีไรบ้าง --> ['Abnormal' , 'Normal]


def plot_confusion_matrix(y_true, y_pred, classes,
                          normalize=False,
                          title=None,
                          cmap=plt.cm.OrRd):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting normalize=True.
    """
    if not title:
        if normalize:
            title = 'Normalized confusion matrix'
        else:
            title = 'Confusion matrix, without normalization'

    # Compute confusion matrix
    cm = confusion_matrix(y_true, y_pred)
    # Only use the labels that appear in the data
    classes = classes[unique_labels(y_true, y_pred)]
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    fig, ax = plt.subplots()
    im = ax.imshow(cm, interpolation='nearest', cmap=cmap)
    ax.figure.colorbar(im, ax=ax)
    # We want to show all ticks...
    ax.set(xticks=np.arange(cm.shape[1]),
           yticks=np.arange(cm.shape[0]),
           # ... and label them with the respective list entries
           xticklabels=classes, yticklabels=classes,
           title=title,
           ylabel='True label',
           xlabel='Predicted label')

    # Rotate the tick labels and set their alignment.
    plt.setp(ax.get_xticklabels(), rotation=45, ha="right",
             rotation_mode="anchor")

    # Loop over data dimensions and create text annotations.
    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i in range(cm.shape[0]):
        for j in range(cm.shape[1]):
            ax.text(j, i, format(cm[i, j], fmt),
                    ha="center", va="center",
                    color="white" if cm[i, j] > thresh else "black")
    fig.tight_layout()
    return ax


np.set_printoptions(precision=2)

# Plot non-normalized confusion matrix
plot_confusion_matrix(y_test, y_pred, classes=class_names,
                      title='Confusion matrix, without normalization')

# Plot normalized confusion matrix
plot_confusion_matrix(y_test, y_pred, classes=class_names, normalize=True,
                      title='Normalized confusion matrix')

plt.show()

IndexError: ignored